<!DOCTYPE html>
<html>
<head>
<title>Notice List</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">

    <!-- component -->
    <div class="type-light">
        <div class="cp-notice-list">
            <div class="cp-notice-list__inner">
                <div class="cp-notice-list__header">
                    <div class="cm-search-tool">
                        <div class="cm-search-tool__left">
                            <div class="cm-select type2 js-select-wrap">
                                <a href="#" class="cm-select__placeholder" aria-expanded="false">
                                    <span>All</span>
                                </a>
                                <div class="cm-select__options" role="listbox" style="display: none;">
                                    <ul role="presentation">
                                    <li role="presentation"><a href="#" role="option">option1 option1 option1 option1 option1</a></li>
                                    <li role="presentation"><a href="#" role="option">option2</a></li>
                                    <li role="presentation"><a href="#" role="option">option3</a></li>
                                    <li role="presentation"><a href="#" role="option">option4</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cm-search-tool__right">
                            <div class="cm-input-text type-search js-input-text-wrap">
                                <input type="text" id="inp2" name="inp2" class="cm-input-text__input">
                                <label for="inp2" class="cm-input-text__label">Enter search term</label>
                                <button type="button" class="ico-search">
                                    <span class="blind">search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cp-notice-list__contents">
                    <!-- [D] 검색 결과, 목록이 있는 경우 -->
                    <!-- [D] 활성화 시 : display:block 처리 -->
                    <div class="cp-notice-list__list" style="display: block">
                        <ul class="cp-notice-list__list-inner">
                        <li class="cp-notice-list__box full-type">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">GENESISs opens in Australia! 2019 President's Cup Official Vehicle Supporter 2019 Cup's Official Vehicle Supporter</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">Genesis Connected Services New Login Event</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                        <em class="cm-label"><span class="text">Genesis Connect Service</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">Genesis Connected Services New Login Event</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                        <em class="cm-label"><span class="text">Genesis Connect Service</span></em>
                                        <em class="cm-label"><span class="text">G80</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">GENESISs opens in Australia! 2019 President's Cup Official Vehicle Supporter 2019 Cup's Official Vehicle Supporter</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">Genesis Connected Services New Login Event</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">Genesis Connected Services New Login Event</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">Genesis Connected Services New Login Event</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">Genesis Connected Services New Login Event</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="cp-notice-list__box">
                            <div class="cp-notice-list__box-inner">
                                <div class="notice-list-box js-animate">
                                    <div class="notice-label">
                                        <em class="cm-label"><span class="text">GV80</span></em>
                                        <em class="cm-label"><span class="text">G70</span></em>
                                    </div>
                                    <div class="notice-title">
                                        <a href="#">Genesis Connected Services New Login Event</a>
                                    </div>
                                    <div class="notice-desc">
                                        <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                    </div>
                                    <div class="notice-date"><span class="blind">Registration date</span><span>2020.03.09</span></div>
                                </div>
                            </div>
                        </li>
                        </ul>
                    </div>
                    <!-- [D] 검색 결과가 없는 타입 -->
                    <!-- [D] 활성화 시 : display:block 처리 -->
                    <div class="cp-notice-list__list" style="display: none">
                        <div class="cm-results-section">
                            <p class="cm-results-title">There are a total of <strong>‘0’</strong>results</p>
                            <p class="cm-results-desc">Sorry. Your search results were not found. Please refer to the following when searching.</p>
                            <ul class="cm-results-tips-list">
                            <li class="cm-results-tips">Please make sure your search terms are entered correctly.</li>
                            <li class="cm-results-tips">Try entering a different search term.</li>
                            <li class="cm-results-tips">Use spaces for more than one word.</li>
                            </ul>
                        </div>
                        <div class="cp-notice-list__cta">
                            <a href="#" class="cm-btn"><span class="text">Notice</span><span class="masker"><span>Notice</span></span></a>
                        </div>
                    </div>
                </div>
                <div class="cp-notice-list__paging">
                    <!-- /* [D] 375~767 구간 : page number 최대 5개 노출 */ -->
                    <!-- /* [D] 768~ 구간 : page number 최대 10개 노출 */ -->
                    <div class="is-pc">
                        <div class="cm-pagination">
                            <button type="button" class="btn btn-prev"><span class="blind">Go to previous page</span></button>
                            <!-- /* [D] 페이지 활성화 : on 클래스 추가 */ -->
                            <a href="javascript:;" class="page-num on" data-page="1" title="Page 1"><span>1</span></a>
                            <a href="javascript:;" class="page-num" data-page="2" title="Page 2"><span>2</span></a>
                            <a href="javascript:;" class="page-num" data-page="3" title="Page 3"><span>3</span></a>
                            <a href="javascript:;" class="page-num" data-page="4" title="Page 4"><span>4</span></a>
                            <a href="javascript:;" class="page-num" data-page="5" title="Page 5"><span>5</span></a>
                            <a href="javascript:;" class="page-num" data-page="6" title="Page 6"><span>6</span></a>
                            <a href="javascript:;" class="page-num" data-page="7" title="Page 7"><span>7</span></a>
                            <a href="javascript:;" class="page-num" data-page="8" title="Page 8"><span>8</span></a>
                            <a href="javascript:;" class="page-num" data-page="9" title="Page 9"><span>9</span></a>
                            <a href="javascript:;" class="page-num" data-page="10" title="Page 10"><span>10</span></a>
                            <button type="button" class="btn btn-next"><span class="blind">Go to next page</span></button>
                        </div>
                    </div>
                    <div class="is-mo">
                        <div class="cm-pagination">
                            <button type="button" class="btn btn-prev"><span class="blind">Go to previous page</span></button>
                            <!-- /* [D] 페이지 활성화 : on 클래스 추가 */ -->
                            <a href="javascript:;" class="page-num on" data-page="1" title="Page 1"><span>1</span></a>
                            <a href="javascript:;" class="page-num" data-page="2" title="Page 2"><span>2</span></a>
                            <a href="javascript:;" class="page-num" data-page="3" title="Page 3"><span>3</span></a>
                            <a href="javascript:;" class="page-num" data-page="4" title="Page 4"><span>4</span></a>
                            <a href="javascript:;" class="page-num" data-page="5" title="Page 5"><span>5</span></a>
                            <button type="button" class="btn btn-next"><span class="blind">Go to next page</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* support js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>

<!--  마크업 검수용 코드 -->
<style>
.uio-box{position:fixed;top:80px;right:0;z-index:9999;width:120px;border-bottom:1px solid #999}
.uio-box a{display:block;padding:4px 10px;margin-top:-1px;border:1px solid #999;border-width:1px 0 0 1px;background:rgba(0,0,0,0.7);color:#fff;font-size:13px;}
.uio-box a:hover{background:rgba(255,255,255,0.6);color:#000;font-weight:bold}
</style>
<script>
$(function () {
    showList = function (idx) {
        $('.cp-notice-list__list').eq(0).show().siblings().hide();
        $('.cp-notice-list__paging').show();
    };
    showNoResult = function () {
        $('.cp-notice-list__list').eq(1).show().siblings().hide();
        $('.cp-notice-list__paging').hide();
    };
});
</script>
<div class="uio-box">
<a href="javascript:void(0);" onclick="showList();">공지사항 목록</a>
<a href="javascript:void(0);" onclick="showNoResult();">결과없는 경우</a>
</div>
<!-- // 마크업 검수용 코드 -->
</body>
</html>
