<!DOCTYPE html>
<html>
<head>
<title>Icon Links</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-dark">
        <div class="cp-icon-links">
            <div class="cp-icon-links__inner">
                <ul class="cp-icon-links__item-list">
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="imgs/@icon1.png" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="imgs/@icon2.png" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="imgs/@icon3.png" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="imgs/@icon4.png" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-light">
        <div class="cp-icon-links">
            <div class="cp-icon-links__inner">
                <ul class="cp-icon-links__item-list">
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="http://via.placeholder.com/60x60" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="http://via.placeholder.com/60x60" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="http://via.placeholder.com/60x60" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                <li class="cp-icon-links__item">
                    <a href="#" class="cp-icon-links__item-inner" title="Genesis global text">
                        <div class="cp-icon-links__icon">
                            <img src="http://via.placeholder.com/60x60" alt="">
                        </div>
                        <div class="cp-icon-links__text">
                            <em class="icon-title">Genesis global text</em>
                        </div>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
