/* svg */
.drawsvg * {
	font-family: 'genesis-head-regular', sans-serif;
}
.drawsvg,
.drawsvg :where(*, svg) {
	-webkit-transition: none;
	transition: none;
	display: inline-block;
	min-width: 400px;
	height: 50px;
}

.stroke {
	stroke: #666;
	stroke-width: 0.01px;
	stroke-dasharray: 0 250;
	stroke-opacity: 1;
	fill: none;
	-webkit-animation: stroke_offset 6s infinite;
	animation: stroke_offset 6s infinite;
	-webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-direction: alternate;
	-webkit-transition: none;
	transition: none;
}

@-webkit-keyframes stroke_offset {
	100%,
	25% {
		stroke-dasharray: 0 250;
		stroke-opacity: 1
	}
	50%,
	75% {
		stroke-dasharray: 250 0;
		stroke-opacity: .75
	}
	55%,
	70% {
		stroke-dasharray: 250 0;
		stroke-opacity: 0
	}
}

@keyframes stroke_offset {
	100%,
	25% {
		stroke-dasharray: 0 250;
		stroke-opacity: 1
	}
	50%,
	75% {
		stroke-dasharray: 250 0;
		stroke-opacity: .75
	}
	55%,
	70% {
		stroke-dasharray: 250 0;
		stroke-opacity: 0
	}
}

.fill {
	fill: #000;
	fill-opacity: 0;
	-webkit-animation: fill_offset 6s infinite;
	animation: fill_offset 6s infinite;
	-webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@-webkit-keyframes fill_offset {
	100%,
	25%,
	35%,
	90% {
		fill-opacity: 0;
	}
	50%,
	70% {
		fill-opacity: 1;
	}
}

@keyframes fill_offset {
	100%,
	25%,
	35%,
	90% {
		fill-opacity: 0;
	}
	50%,
	70% {
		fill-opacity: 1;
	}
}

#fade-text {
	font-size: 40px;
	font-weight: bold;
}

.drawsvg svg {
	position: absolute;
}