<!DOCTYPE html>
<html>
<head>
<title>Text & Image Overlay</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1920px;margin:0 auto;font-size:16px;padding:20px 0">
        <p>1) 텍스트 좌/우 정렬 : (default 정렬) / .align-right</p>
    </div>

    <!-- component -->
    <div class="type-dark">
        <div class="cp-overlay">
            <div class="cp-overlay__inner">
                <div class="cp-overlay__img-wrap">
                    <div class="cp-overlay__bg">
                        <div class="js-picture">
                            <img data-media="(min-width: 1600px)" data-srcset="http://via.placeholder.com/800x496" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/460x425" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x280/ff0000" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                    <div class="cp-overlay__img">
                        <div class="js-picture">
                            <img data-media="(min-width: 768px)" data-srcset="imgs/@image.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x416" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                </div>
                <div class="cp-overlay__content">
                    <div class="cp-overlay__eyebrow">
                        <strong class="el-eyebrow">We strive to create the finest</strong>
                    </div>
                    <div class="cp-overlay__title">
                        <h2 class="el-title">We strive to create the fines automobilest</h2>
                    </div>
                    <div class="cp-overlay__desc">
                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe. We strive to create the finest automobiles and related products.</p>
                    </div>
                    <div class="cp-overlay__cta">
                        <a href="#" class="cm-btn">
                            <span class="text">Primary Button</span>
                            <span class="masker"><span>Primary Button</span></span>
                        </a>
                        <a href="#" class="cm-btn type-white">
                            <span class="text">Secondary Button</span>
                            <span class="masker"><span>Secondary Button</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-dark">
        <div class="cp-overlay align-right">
            <div class="cp-overlay__inner">
                <div class="cp-overlay__img-wrap">
                    <div class="cp-overlay__bg">
                        <div class="js-picture">
                            <img data-media="(min-width: 1600px)" data-srcset="http://via.placeholder.com/800x496" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/460x425" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x280/ff0000" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                    <div class="cp-overlay__img">
                        <div class="js-picture">
                            <img data-media="(min-width: 768px)" data-srcset="imgs/@image.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x416" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                </div>
                <div class="cp-overlay__content">
                    <div class="cp-overlay__eyebrow">
                        <strong class="el-eyebrow">We strive to create the finest</strong>
                    </div>
                    <div class="cp-overlay__title">
                        <h2 class="el-title">We strive to create the fines automobilest</h2>
                    </div>
                    <div class="cp-overlay__desc">
                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe. We strive to create the finest automobiles and related products.</p>
                    </div>
                    <div class="cp-overlay__cta">
                        <a href="#" class="cm-btn">
                            <span class="text">Primary Button</span>
                            <span class="masker"><span>Primary Button</span></span>
                        </a>
                        <a href="#" class="cm-btn type-white">
                            <span class="text">Secondary Button</span>
                            <span class="masker"><span>Secondary Button</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-light">
        <div class="cp-overlay">
            <div class="cp-overlay__inner">
                <div class="cp-overlay__img-wrap">
                    <div class="cp-overlay__bg">
                        <div class="js-picture">
                            <img data-media="(min-width: 1600px)" data-srcset="http://via.placeholder.com/800x496" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/460x425" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x280/ff0000" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                    <div class="cp-overlay__img">
                        <div class="js-picture">
                            <img data-media="(min-width: 768px)" data-srcset="imgs/@image.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x416" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                </div>
                <div class="cp-overlay__content">
                    <div class="cp-overlay__eyebrow">
                        <strong class="el-eyebrow">We strive to create the finest</strong>
                    </div>
                    <div class="cp-overlay__title">
                        <h2 class="el-title">We strive to create the fines automobilest</h2>
                    </div>
                    <div class="cp-overlay__desc">
                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe. We strive to create the finest automobiles and related products.</p>
                    </div>
                    <div class="cp-overlay__cta">
                        <a href="#" class="cm-btn">
                            <span class="text">Primary Button</span>
                            <span class="masker"><span>Primary Button</span></span>
                        </a>
                        <a href="#" class="cm-btn type-white">
                            <span class="text">Secondary Button</span>
                            <span class="masker"><span>Secondary Button</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
