.cp-event-detail__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 80px;
  padding: 0rem 8rem;
}

.cp-event-detail__body {
  padding: 80px 0 150px;
  padding: 8rem 0 15rem;
}

.cp-event-detail__body > :first-child {
  margin-top: 0 !important;
}

.cp-event-detail__body > :last-child {
  margin-bottom: 0 !important;
}

.cp-event-detail caption {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.cp-event-detail .color-point {
  color: #996449;
}

.cp-event-detail .info-precautions {
  position: relative;
  padding-left: 22px;
  padding-left: 2.2rem;
}

.cp-event-detail .info-precautions:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '\203B';
}

.cp-event-detail .is-mo {
  display: none;
}

.evt-d-kv {
  margin: 95px 0;
  margin: 9.5rem 0;
}

.evt-d-kv img {
  width: 100%;
  height: auto;
}

.evt-d-title {
  margin: 27px 0;
  margin: 2.7rem 0;
}

.evt-d-title__head {
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 54px;
  font-size: 5.4rem;
  line-height: 62px;
  line-height: 6.2rem;
  font-weight: normal;
  letter-spacing: -0.025em;
}

.evt-d-text {
  margin: 27px 0;
  margin: 2.7rem 0;
}

.evt-d-text p {
  color: #262626;
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
}

.evt-d-table {
  position: relative;
}

.evt-d-table th {
  width: 240px;
  width: 24rem;
  line-height: 30px;
  line-height: 3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.evt-d-table td {
  color: #262626;
  line-height: 30px;
  line-height: 3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.evt-d-table .table-cont {
  letter-spacing: -5px;
}

.evt-d-table .table-cont-title, .evt-d-table .table-cont-text {
  display: inline-block;
  letter-spacing: 0;
  vertical-align: top;
  background-origin: border-box;
}

.evt-d-table .table-cont-title {
  padding-right: 5px;
  padding-right: 0.5rem;
}

.evt-d-table dl {
  margin-top: 10px;
  margin-top: 1rem;
}

.evt-d-table dl:first-child {
  margin-top: 0;
}

.evt-d-table.table-type01 {
  margin: 84px 0;
  margin: 8.4rem 0;
}

.evt-d-table.table-type01 table {
  width: 100%;
  border-collapse: collapse;
}

.evt-d-table.table-type01 th, .evt-d-table.table-type01 td {
  position: relative;
  height: 98px;
  height: 9.8rem;
  padding: 15px 0 43px;
  padding: 1.5rem 0 4.3rem;
  line-height: 15px 0 43px;
  line-height: 1.5rem 0 4.3rem;
  text-align: left;
  vertical-align: top;
}

.evt-d-table.table-type01 th:before, .evt-d-table.table-type01 td:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
  content: '';
}

.evt-d-table.table-type01 th {
  font-family: "genesis-text-office-medium", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
}

.evt-d-table.table-type01 td {
  font-size: 18px;
  font-size: 1.8rem;
}

.evt-d-table.table-type01 thead th:not(:first-child), .evt-d-table.table-type01 td {
  padding-left: 40px;
  padding-left: 4rem;
}

.evt-d-table.table-type01 thead th:not(:first-child):before, .evt-d-table.table-type01 td:before {
  left: 40px;
  left: 4rem;
}

.evt-d-table.table-type01 thead {
  position: relative;
}

.evt-d-table.table-type01 thead:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
  content: '';
}

.evt-d-table.table-type01 thead th:before, .evt-d-table.table-type01 thead td:before {
  display: none;
}

.evt-d-table.table-type01.vertical-align-middle th, .evt-d-table.table-type01.vertical-align-middle td {
  vertical-align: middle;
  padding-bottom: 15px;
  padding-bottom: 1.5rem;
}

.evt-d-table.table-type02 {
  margin: 74px 0;
  margin: 7.4rem 0;
}

.evt-d-table.table-type02 table {
  width: 100%;
  border-collapse: collapse;
}

.evt-d-table.table-type02 th, .evt-d-table.table-type02 td {
  padding: 14px 35px;
  padding: 1.4rem 3.5rem;
  border: 1px solid #e5e5e5;
  border-width: 1px 0 1px 0;
}

.evt-d-table.table-type02 th {
  background: #f8f8f8;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
}

.evt-d-table.table-type02 td {
  font-size: 16px;
  font-size: 1.6rem;
}

.evt-d-table.table-type02.type-column th, .evt-d-table.table-type02.type-column td {
  padding-right: 10px;
  padding-right: 1rem;
  padding-left: 10px;
  padding-left: 1rem;
  border-left: 1px solid #e5e5e5;
  text-align: center;
}

.evt-d-table.table-type02.type-column th:first-child, .evt-d-table.table-type02.type-column td:first-child {
  border-left: 0;
}

.evt-d-table.table-type02.type-column tbody tr:first-child th, .evt-d-table.table-type02.type-column tbody tr:first-child td {
  border-top: 0;
}

.evt-d-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  margin: 150px 0 100px;
  margin: 15rem 0 10rem;
}

.evt-d-image__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 38.8%;
  min-height: 600px;
  min-height: 60rem;
  padding: 34px 60px 30px;
  padding: 3.4rem 6rem 3rem;
  background: #111;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.evt-d-image__eyebrow {
  margin-bottom: 52px;
  margin-bottom: 5.2rem;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
}

.evt-d-image__title {
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.27;
  letter-spacing: -0.025em;
}

.evt-d-image__title strong {
  font-weight: normal;
}

.evt-d-image__desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 84px;
  height: 8.4rem;
  margin-top: 27px;
  margin-top: 2.7rem;
  color: #ccc;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.evt-d-image__bg {
  position: relative;
  float: left;
  width: 61.2%;
}

.evt-d-image__bg .js-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.evt-d-colimg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 100px -20px;
  margin: 10rem -2rem;
}

.evt-d-colimg__item {
  width: 50%;
  padding: 0 20px;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.evt-d-colimg__img img {
  width: 100%;
  height: auto;
}

.evt-d-colimg__info {
  margin: 13px 0 45px;
  margin: 1.3rem 0 4.5rem;
  color: #262626;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.evt-d-rowimg {
  margin: 100px 0;
  margin: 10rem 0;
}

.evt-d-rowimg__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.evt-d-rowimg__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.evt-d-rowimg__img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50%;
}

.evt-d-rowimg__img img {
  width: 100%;
  height: auto;
}

.evt-d-rowimg__info {
  width: 50%;
  padding: 50px;
  padding: 5rem;
  color: #262626;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.evt-d-step {
  margin: 150px 0;
  margin: 15rem 0;
}

.evt-d-step__title .el-title {
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.75;
  letter-spacing: -0.025em;
}

.evt-d-step__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.evt-d-step__item {
  word-break: keep-all;
}

.evt-d-step__item.item-ico {
  position: relative;
}

.evt-d-step__item.item-ico:before {
  position: absolute;
  left: 6px;
  left: 0.6rem;
  bottom: 3px;
  bottom: 0.3rem;
  width: 10px;
  width: 1rem;
  height: 10px;
  height: 1rem;
  border: 2px solid #a2a2a2;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
}

.evt-d-step .el-item-title {
  color: #996449;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 30px;
  line-height: 3rem;
  letter-spacing: -0.025em;
  text-transform: uppercase;
}

.evt-d-step .el-item-desc {
  line-height: 1.5;
}

.evt-d-step.type-default .evt-d-step__listwrap {
  margin-top: 8px;
  margin-top: 0.8rem;
  padding-top: 32px;
  padding-top: 3.2rem;
  border-top: 1px solid #e5e5e5;
}

.evt-d-step.type-default .evt-d-step__item.item-ico {
  width: 30px;
  width: 3rem;
  height: 42px;
  height: 4.2rem;
}

.evt-d-step.type-default .el-item-desc {
  margin-top: 5px;
  margin-top: 0.5rem;
  font-size: 18px;
  font-size: 1.8rem;
}

.evt-d-step.type-02 .evt-d-step__listwrap {
  margin-top: 28px;
  margin-top: 2.8rem;
}

.evt-d-step.type-02 .evt-d-step__item:not(.item-ico) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  width: 20rem;
  height: 200px;
  height: 20rem;
  padding: 20px;
  padding: 2rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.evt-d-step.type-02 .evt-d-step__item.item-ico {
  position: relative;
  width: 30px;
  width: 3rem;
  height: 200px;
  height: 20rem;
}

.evt-d-step.type-02 .evt-d-step__item.item-ico:before {
  top: 50%;
  bottom: auto;
  margin-top: -5px;
  margin-top: -0.5rem;
}

.evt-d-step.type-02 .el-item-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 36px;
  min-height: 3.6rem;
  margin-top: 1px;
  margin-top: 0.1rem;
  font-size: 16px;
  font-size: 1.6rem;
}

.evt-d-notice {
  margin: 100px 0;
  margin: 10rem 0;
  padding: 73px 140px 74px;
  padding: 7.3rem 14rem 7.4rem;
  background: #f8f8f8;
}

.evt-d-notice__title .el-title {
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: -0.025em;
}

.evt-d-notice__content {
  margin-top: 31px;
  margin-top: 3.1rem;
}

.evt-d-notice__content:first-child {
  margin-top: 0;
}

.evt-d-notice__list-numbered {
  margin-top: 24px;
  margin-top: 2.4rem;
}

.evt-d-notice__list-numbered > li {
  margin-top: 24px;
  margin-top: 2.4rem;
}

.evt-d-notice__list-numbered > li:first-child {
  margin-top: 0;
}

.evt-d-notice__list-numbered > li > .el-text {
  color: #262626;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  line-height: 2.8rem;
}

.evt-d-notice__list-numbered > li .evt-d-notice__list-bullet {
  margin-top: 10px;
  margin-top: 1rem;
}

.evt-d-notice__list-bullet {
  margin-top: 24px;
  margin-top: 2.4rem;
}

.evt-d-notice__list-bullet > li {
  margin-top: 7px;
  margin-top: 0.7rem;
}

.evt-d-notice__list-bullet > li > .el-text {
  position: relative;
  padding-left: 15px;
  padding-left: 1.5rem;
  color: #262626;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  line-height: 2.8rem;
}

.evt-d-notice__list-bullet > li > .el-text:before {
  position: absolute;
  top: 10px;
  top: 1rem;
  left: 2px;
  width: 3px;
  height: 3px;
  background: #a2a2a2;
  content: '';
}

.evt-d-subtitle {
  margin: 27px 0;
  margin: 2.7rem 0;
}

.evt-d-subtitle__head {
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  font-weight: normal;
  line-height: 36px;
  line-height: 3.6rem;
  letter-spacing: -0.025em;
}

.evt-d-list {
  margin: 27px 0;
  margin: 2.7rem 0;
}

.evt-d-list li {
  position: relative;
  margin-top: 9px;
  margin-top: 0.9rem;
  padding-left: 13px;
  padding-left: 1.3rem;
  color: #262626;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  line-height: 2.8rem;
}

.evt-d-list li:before {
  position: absolute;
  top: 11px;
  top: 1.1rem;
  left: 0;
  width: 3px;
  height: 3px;
  background: #a2a2a2;
  content: '';
}

.evt-d-list li:first-child {
  margin-top: 0;
}

.evt-d-result-table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin: 50px 0;
  margin: 5rem 0;
}

.evt-d-result-table__item {
  width: 25%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.evt-d-result-table__item + .evt-d-result-table__item {
  border-left: 1px solid #e5e5e5;
}

.evt-d-result-table table {
  width: 100%;
  border-collapse: collapse;
}

.evt-d-result-table th, .evt-d-result-table td {
  width: 50%;
  height: 60px;
  height: 6rem;
  padding: 22px 5px;
  padding: 2.2rem 0.5rem;
  border: 1px solid #e5e5e5;
  border-width: 1px 0 1px 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  line-height: 2rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.evt-d-result-table th {
  background: #f8f8f8;
  border-bottom: 0;
  font-weight: normal;
}

.evt-d-result-table td {
  color: #262626;
}

.evt-d-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
  margin-top: 8rem;
}

.evt-d-cta + .evt-d-cta {
  margin-top: 38px;
  margin-top: 3.8rem;
}

.evt-d-cta__item {
  margin: 0 10px;
  margin: 0 1rem;
}

.evt-d-cta .cm-btn-more {
  padding-bottom: 0;
}

.evt-d-launch {
  margin: 84px 0;
  margin: 8.4rem 0;
}

.evt-d-launch__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.evt-d-launch__item {
  display: table-row;
}

.evt-d-launch__title, .evt-d-launch__content {
  display: table-cell;
  height: 74px;
  height: 7.4rem;
  padding: 15px 0 30px;
  padding: 1.5rem 0 3rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 30px;
  line-height: 3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.evt-d-launch__title {
  width: 95px;
  width: 9.5rem;
  font-family: "genesis-text-office-medium", sans-serif;
  font-weight: normal;
}

.evt-d-launch__content {
  padding-left: 40px;
  padding-left: 4rem;
  color: #262626;
}

.evt-d-launch .evt-d-step {
  margin: 0;
}

.evt-d-launch .evt-d-step em {
  display: block;
  border: 0;
  font-style: normal;
}

.evt-d-launch .evt-d-step .el-item-desc-sub {
  margin-top: 5px;
  margin-top: 0.5rem;
  font-size: 16px;
  font-size: 1.6rem;
}

.evt-d-launch .evt-d-step.type-default .evt-d-step__listwrap {
  margin: 0;
  padding: 0;
  border: 0;
}

.evt-d-launch .evt-d-step.type-default .evt-d-step__item.item-ico {
  width: 75px;
  width: 7.5rem;
}

.evt-d-launch__list li {
  position: relative;
  padding-left: 11px;
  padding-left: 1.1rem;
}

.evt-d-launch__list li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '\002D';
}

.evt-d-launch .evt-d-list {
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  .cp-event-detail__inner {
    padding-left: 58px;
    padding-left: 5.8rem;
    padding-right: 58px;
    padding-right: 5.8rem;
  }
  .cp-event-detail__body {
    padding-bottom: 60px;
    padding-bottom: 6rem;
  }
  .cp-event-detail .info-precautions {
    padding-left: 20px;
    padding-left: 2rem;
  }
  .evt-d-kv {
    margin: 76px 0;
    margin: 7.6rem 0;
  }
  .evt-d-title {
    margin: 18px 0;
    margin: 1.8rem 0;
  }
  .evt-d-title__head {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 50px;
    line-height: 5rem;
  }
  .evt-d-text {
    margin: 18px 0;
    margin: 1.8rem 0;
  }
  .evt-d-text p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .evt-d-table th {
    width: 190px;
    width: 19rem;
  }
  .evt-d-table.table-type01 {
    margin: 64px 0;
    margin: 6.4rem 0;
  }
  .evt-d-table.table-type01 th, .evt-d-table.table-type01 td {
    height: 81px;
    height: 8.1rem;
    padding-top: 16px;
    padding-top: 1.6rem;
    padding-bottom: 29px;
    padding-bottom: 2.9rem;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .evt-d-table.table-type01.vertical-align-middle th, .evt-d-table.table-type01.vertical-align-middle td {
    padding-bottom: 16px;
    padding-bottom: 1.6rem;
  }
  .evt-d-table.table-type02 {
    margin: 64px 0;
    margin: 6.4rem 0;
  }
  .evt-d-table.table-type02 th, .evt-d-table.table-type02 td {
    padding: 7px 18px 5px;
    padding: 0.7rem 1.8rem 0.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-image {
    margin: 120px 0 80px;
    margin: 12rem 0 8rem;
  }
  .evt-d-image__info {
    width: 37.9%;
    min-height: 368px;
    min-height: 36.8rem;
    padding: 22px 17px 20px;
    padding: 2.2rem 1.7rem 2rem;
  }
  .evt-d-image__eyebrow {
    margin-bottom: 42px;
    margin-bottom: 4.2rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-image__title {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .evt-d-image__desc {
    -webkit-line-clamp: 4;
    height: 96px;
    height: 9.6rem;
    margin-top: 17px;
    margin-top: 1.7rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-image__bg {
    width: 62.1%;
  }
  .evt-d-colimg {
    margin-top: 60px;
    margin-top: 6rem;
    margin-bottom: 60px;
    margin-bottom: 6rem;
  }
  .evt-d-colimg__info {
    margin: 32px 0 30px;
    margin: 3.2rem 0 3rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-rowimg {
    margin: 60px 0;
    margin: 6rem 0;
  }
  .evt-d-rowimg__info {
    padding: 10px 20px;
    padding: 1rem 2rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-step {
    margin: 120px 0;
    margin: 12rem 0;
  }
  .evt-d-step__title .el-title {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .evt-d-step .el-item-title {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-step.type-default .evt-d-step__listwrap {
    margin-top: 22px;
    margin-top: 2.2rem;
    padding-top: 34px;
    padding-top: 3.4rem;
  }
  .evt-d-step.type-default .evt-d-step__item:not(.item-ico) {
    width: 20.4%;
  }
  .evt-d-step.type-default .evt-d-step__item:not(.item-ico):first-child {
    width: 17%;
  }
  .evt-d-step.type-default .evt-d-step__item.item-ico {
    width: 40px;
    width: 4rem;
    height: 39px;
    height: 3.9rem;
  }
  .evt-d-step.type-default .evt-d-step__item.item-ico:nth-child(2) {
    width: 60px;
    width: 6rem;
  }
  .evt-d-step.type-default .evt-d-step__item.item-ico:before {
    left: -2px;
  }
  .evt-d-step.type-default .el-item-desc {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .evt-d-step.type-02 .evt-d-step__listwrap {
    margin-top: 25px;
    margin-top: 2.5rem;
  }
  .evt-d-step.type-02 .evt-d-step__item:not(.item-ico) {
    width: 130px;
    width: 13rem;
    height: 130px;
    height: 13rem;
    padding: 10px;
    padding: 1rem;
  }
  .evt-d-step.type-02 .evt-d-step__item.item-ico {
    width: -webkit-calc((100% - 521px) / 3);
    width: calc((100% - 521px) / 3);
    height: 130px;
    height: 13rem;
  }
  .evt-d-step.type-02 .evt-d-step__item.item-ico:before {
    left: 50%;
    margin-left: -8px;
    margin-left: -0.8rem;
  }
  .evt-d-step.type-02 .el-item-desc {
    min-height: 0;
    margin-top: 7px;
    margin-top: 0.7rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-notice {
    padding: 58px 57px 58px;
    padding: 5.8rem 5.7rem 5.8rem;
  }
  .evt-d-notice__title .el-title {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-notice__content {
    margin-top: 37px;
    margin-top: 3.7rem;
    padding-left: 2px;
    padding-left: 0.2rem;
  }
  .evt-d-notice__list-numbered {
    margin-top: 19px;
    margin-top: 1.9rem;
  }
  .evt-d-notice__list-numbered > li {
    margin-top: 19px;
    margin-top: 1.9rem;
  }
  .evt-d-notice__list-numbered > li > .el-text {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .evt-d-notice__list-numbered > li .evt-d-notice__list-bullet {
    margin-top: 9px;
    margin-top: 0.9rem;
  }
  .evt-d-notice__list-bullet {
    margin-top: 19px;
    margin-top: 1.9rem;
  }
  .evt-d-notice__list-bullet > li {
    margin-top: 0;
  }
  .evt-d-notice__list-bullet > li > .el-text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-notice__list-bullet > li > .el-text:before {
    top: 11px;
    top: 1.1rem;
  }
  .evt-d-subtitle__head {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .evt-d-list li {
    margin-top: 14px;
    margin-top: 1.4rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 25px;
    line-height: 2.5rem;
  }
  .evt-d-result-table th, .evt-d-result-table td {
    padding: 20px 5px;
    padding: 2rem 0.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .evt-d-cta {
    margin-top: 60px;
    margin-top: 6rem;
  }
  .evt-d-cta + .evt-d-cta {
    margin-top: 28px;
    margin-top: 2.8rem;
  }
  .evt-d-cta .cm-btn:not(.type2) {
    min-width: 188px;
    min-width: 18.8rem;
  }
  .evt-d-launch {
    margin: 64px 0;
    margin: 6.4rem 0;
  }
  .evt-d-launch__title, .evt-d-launch__content {
    height: 60px;
    height: 6rem;
    padding-top: 16px;
    padding-top: 1.6rem;
    padding-bottom: 16px;
    padding-bottom: 1.6rem;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .evt-d-launch__title {
    width: 65px;
    width: 6.5rem;
  }
  .evt-d-launch .evt-d-step .el-item-desc-sub {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .evt-d-launch__list li {
    padding-left: 10px;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .cp-event-detail__inner {
    padding: 0px 30px;
    padding: 0rem 3rem;
  }
  .cp-event-detail__body {
    padding: 40px 0 75px;
    padding: 4rem 0 7.5rem;
  }
  .cp-event-detail .info-precautions {
    padding-left: 22px;
    padding-left: 2.2rem;
  }
  .cp-event-detail .is-pc {
    display: none;
  }
  .cp-event-detail .is-mo {
    display: block;
  }
  .evt-d-kv {
    margin: 62px -30px;
    margin: 6.2rem -3rem;
  }
  .evt-d-title {
    margin: 37px 0;
    margin: 3.7rem 0;
  }
  .evt-d-title__head {
    font-size: 40px;
    font-size: 4rem;
    line-height: 45px;
    line-height: 4.5rem;
  }
  .evt-d-text {
    margin: 37px 0;
    margin: 3.7rem 0;
  }
  .evt-d-text p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .evt-d-table .table-cont-title {
    min-width: 55px;
    min-width: 5.5rem;
  }
  .evt-d-table.table-type01 {
    margin: 69px 0;
    margin: 6.9rem 0;
  }
  .evt-d-table.table-type01 th, .evt-d-table.table-type01 td {
    height: 75px;
    height: 7.5rem;
    padding-top: 6px;
    padding-top: 0.6rem;
    padding-bottom: 25px;
    padding-bottom: 2.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-table.table-type01 th {
    width: 33.33%;
  }
  .evt-d-table.table-type01 thead th:not(:first-child), .evt-d-table.table-type01 td {
    padding-left: 25px;
    padding-left: 2.5rem;
  }
  .evt-d-table.table-type01 thead th:not(:first-child):before, .evt-d-table.table-type01 td:before {
    left: 25px;
    left: 2.5rem;
  }
  .evt-d-table.table-type01.vertical-align-middle th, .evt-d-table.table-type01.vertical-align-middle td {
    padding-bottom: 6px;
    padding-bottom: 0.6rem;
  }
  .evt-d-table.table-type01.vertical-align-middle th {
    width: auto;
  }
  .evt-d-table.table-type02 {
    margin: 69px 0;
    margin: 6.9rem 0;
  }
  .evt-d-table.table-type02 th, .evt-d-table.table-type02 td {
    height: 54px;
    height: 5.4rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-table.table-type02 th {
    width: 36.5%;
    padding: 15px 10px;
    padding: 1.5rem 1rem;
  }
  .evt-d-table.table-type02 td {
    padding: 15px;
    padding: 1.5rem;
  }
  .evt-d-table.table-type02.type-column th {
    width: auto;
  }
  .evt-d-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 75px -30px;
    margin: 7.5rem -3rem;
  }
  .evt-d-image__info {
    width: 100%;
    min-height: 0;
    padding: 37px 30px 44px;
    padding: 3.7rem 3rem 4.4rem;
  }
  .evt-d-image__eyebrow {
    margin-bottom: 20px;
    margin-bottom: 2rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .evt-d-image__title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .evt-d-image__desc {
    display: block;
    height: auto;
    margin-top: 12px;
    margin-top: 1.2rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-image__bg {
    width: 100%;
    height: 340px;
    height: 34rem;
  }
  .evt-d-colimg {
    display: block;
    margin: 70px 0;
    margin: 7rem 0;
  }
  .evt-d-colimg__item {
    width: auto;
    padding: 0;
    margin-top: 44px;
    margin-top: 4.4rem;
  }
  .evt-d-colimg__info {
    margin: 10px 0 0;
    margin: 1rem 0 0;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-rowimg {
    margin: 70px 0;
    margin: 7rem 0;
  }
  .evt-d-rowimg__item {
    display: block;
    margin-top: 55px;
    margin-top: 5.5rem;
  }
  .evt-d-rowimg__img {
    width: 100%;
  }
  .evt-d-rowimg__info {
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-top: 1rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-step {
    margin: 70px 0 60px;
    margin: 7rem 0 6rem;
  }
  .evt-d-step__title .el-title {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .evt-d-step__list {
    display: block;
  }
  .evt-d-step .el-item-title {
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-step.type-default .evt-d-step__listwrap {
    margin-top: 36px;
    margin-top: 3.6rem;
    padding-top: 0;
  }
  .evt-d-step.type-default .evt-d-step__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75px;
    height: 7.5rem;
    border-bottom: 1px solid #e5e5e5;
  }
  .evt-d-step.type-default .evt-d-step__item:not(.item-ico) {
    width: 100%;
  }
  .evt-d-step.type-default .evt-d-step__item:not(.item-ico):first-child {
    width: 100%;
  }
  .evt-d-step.type-default .evt-d-step__item.item-ico {
    display: none;
  }
  .evt-d-step.type-default .el-item-title {
    width: 77px;
    width: 7.7rem;
  }
  .evt-d-step.type-default .el-item-desc {
    margin-top: 0;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-step.type-02 .evt-d-step__listwrap {
    margin-top: 37px;
    margin-top: 3.7rem;
  }
  .evt-d-step.type-02 .evt-d-step__item {
    position: relative;
  }
  .evt-d-step.type-02 .evt-d-step__item:not(.item-ico) {
    width: 100%;
    height: 96px;
    height: 9.6rem;
    padding: 12px 30px;
    padding: 1.2rem 3rem;
    -webkit-border-radius: 99em;
    border-radius: 99em;
  }
  .evt-d-step.type-02 .evt-d-step__item.item-ico {
    width: 100%;
    height: 48px;
    height: 4.8rem;
  }
  .evt-d-step.type-02 .evt-d-step__item.item-ico:before {
    width: 7px;
    width: 0.7rem;
    height: 7px;
    height: 0.7rem;
    margin-top: -7px;
    margin-top: -0.7rem;
    margin-left: -4px;
    margin-left: -0.4rem;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .evt-d-step.type-02 .evt-d-step__item:first-child {
    margin-top: 0;
  }
  .evt-d-step.type-02 .el-item-desc {
    margin-top: 0;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .evt-d-notice {
    padding: 56px 30px 55px;
    padding: 5.6rem 3rem 5.5rem;
    margin: 75px -30px 40px;
    margin: 7.5rem -3rem 4rem;
  }
  .evt-d-notice__title .el-title {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .evt-d-notice__content {
    margin-top: 40px;
    margin-top: 4rem;
    padding: 0;
  }
  .evt-d-notice__list-numbered {
    margin-top: 39px;
    margin-top: 3.9rem;
  }
  .evt-d-notice__list-numbered > li {
    margin-top: 39px;
    margin-top: 3.9rem;
  }
  .evt-d-notice__list-numbered > li > .el-text {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .evt-d-notice__list-numbered > li .evt-d-notice__list-bullet {
    margin-top: 15px;
    margin-top: 1.5rem;
  }
  .evt-d-notice__list-bullet {
    margin-top: 39px;
    margin-top: 3.9rem;
  }
  .evt-d-notice__list-bullet > li {
    margin-top: 13px;
    margin-top: 1.3rem;
  }
  .evt-d-notice__list-bullet > li > .el-text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 25px;
    line-height: 2.5rem;
  }
  .evt-d-notice__list-bullet > li > .el-text:before {
    top: 11px;
    top: 1.1rem;
    width: 2px;
    height: 2px;
  }
  .evt-d-subtitle {
    margin: 50px 0 28px;
    margin: 5rem 0 2.8rem;
  }
  .evt-d-subtitle__head {
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .evt-d-list {
    margin: 28px 0;
    margin: 2.8rem 0;
  }
  .evt-d-list li {
    margin-top: 15px;
    margin-top: 1.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 25px;
    line-height: 2.5rem;
  }
  .evt-d-result-table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 34px 0;
    margin: 3.4rem 0;
  }
  .evt-d-result-table__item {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
  .evt-d-result-table__item + .evt-d-result-table__item {
    border-left: 0;
  }
  .evt-d-result-table__item:not(:first-child) {
    margin-top: -1px;
  }
  .evt-d-result-table__item:not(:first-child) thead {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .evt-d-result-table th, .evt-d-result-table td {
    height: 44px;
    height: 4.4rem;
    padding: 20px 15px;
    padding: 2rem 1.5rem;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .evt-d-cta {
    display: block;
    margin-top: 40px;
    margin-top: 4rem;
  }
  .evt-d-cta__item {
    margin: 0;
    margin-top: 10px;
    margin-top: 1rem;
  }
  .evt-d-cta__item:first-child {
    margin-top: 0;
  }
  .evt-d-cta__item .cm-btn {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .evt-d-launch {
    margin: 69 0;
    margin: 69 0;
  }
  .evt-d-launch__inner {
    display: block;
  }
  .evt-d-launch__item {
    display: block;
    margin-top: 25px;
    margin-top: 2.5rem;
  }
  .evt-d-launch__item:first-child {
    margin-top: 0;
  }
  .evt-d-launch__title, .evt-d-launch__content {
    display: block;
    height: auto;
    padding: 0;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 30px;
    line-height: 3rem;
  }
  .evt-d-launch__title {
    width: auto;
  }
  .evt-d-launch__content {
    min-height: 74px;
    min-height: 7.4rem;
    margin-top: 10px;
    margin-top: 1rem;
  }
  .evt-d-launch .evt-d-step .el-item-desc-sub {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .evt-d-launch .evt-d-step.type-default .evt-d-step__item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    height: auto;
    min-height: 75px;
    min-height: 7.5rem;
    padding: 10px 0;
    padding: 1rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .evt-d-launch .evt-d-step.type-default .evt-d-step__item:first-child {
    border-top: 1px solid #e5e5e5;
  }
}
