.cp-related-contents__title {
  margin-bottom: 38px;
  margin-bottom: 3.8rem;
  text-align: center;
}

.cp-related-contents__title .el-title {
  font-size: 30px;
  font-size: 3rem;
  font-family: "genesis-Head-office", sans-serif;
  font-weight: 400;
}

.cp-related-contents__inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 140px;
  padding: 0 14rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-related-contents__item-wrap {
  margin-left: -40px;
  margin-left: -4rem;
  font-size: 0;
  text-align: center;
}

.cp-related-contents__item {
  display: inline-block;
  width: 33.3%;
  padding-left: 40px;
  padding-left: 4rem;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

.cp-related-contents__item-img {
  width: 100%;
}

.cp-related-contents__item-img img {
  width: 100%;
}

.cp-related-contents__item-desc {
  margin-top: 26px;
  margin-top: 2.6rem;
}

.cp-related-contents__item-desc .item-title strong {
  font-size: 20px;
  font-size: 2rem;
  font-family: "genesis-Head-office", sans-serif;
  font-weight: 400;
  letter-spacing: -.025em;
  text-transform: uppercase;
}

.cp-related-contents__item-desc .item-text {
  margin-top: 15px;
  margin-top: 1.5rem;
}

.cp-related-contents__item-desc .item-text p {
  font-size: 18px;
  font-size: 1.8rem;
  color: #262626;
  line-height: 1.556;
}

.cp-related-contents__item-desc .item-text .cm-tooltip-opener:after {
  background: #333;
}

.cp-related-contents__item-desc .item-cta {
  margin-top: 16px;
  margin-top: 1.6rem;
}

.cp-related-contents__item-desc .item-cta .cm-btn-more:after {
  top: -2px;
  top: -0.2rem;
}

.cp-related-contents__item-desc .item-cta .is-default span:before {
  width: 100%;
}

@media screen and (max-width: 1919px) {
  .cp-related-contents__inner {
    padding: 0 120px;
    padding: 0 12rem;
  }
}

@media screen and (max-width: 1599px) {
  .cp-related-contents__inner {
    padding: 0 100px;
    padding: 0 10rem;
  }
  .cp-related-contents__item-desc {
    margin-top: 28px;
    margin-top: 2.8rem;
  }
  .cp-related-contents__item-desc .item-title strong {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.111;
  }
  .cp-related-contents__item-desc .item-text {
    margin-top: 20px;
    margin-top: 2rem;
  }
  .cp-related-contents__item-desc .item-text p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .cp-related-contents__item-desc .item-cta {
    margin-top: 19px;
    margin-top: 1.9rem;
  }
}

.type-dark .cp-related-contents .cp-related-contents__title .el-title {
  color: #fff;
}

.type-dark .cp-related-contents .cp-related-contents__item-desc .item-title strong {
  color: #fff;
}

.type-dark .cp-related-contents .cp-related-contents__item-desc .item-text p {
  color: #ccc;
}

.type-dark .cp-related-contents .cp-related-contents__item-desc .item-text .cm-tooltip-opener:after {
  background: #ccc;
}

.type-dark .cp-related-contents .cm-btn-more {
  color: #fff;
}

.type-dark .cp-related-contents .cm-btn-more span:before {
  background: #fff;
}

@media screen and (max-width: 1359px) {
  .cp-related-contents__inner {
    padding: 0 76px;
    padding: 0 7.6rem;
  }
  .cp-related-contents__title .el-title {
    font-size: 28px;
    font-size: 2.8rem;
  }
  .cp-related-contents__item-desc .item-title strong {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .cp-related-contents__item-desc .item-text p {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .cp-related-contents .display-pc {
    display: none;
  }
  .cp-related-contents .display-mo {
    display: block;
  }
  .cp-related-contents__inner {
    padding: 0 30px;
    padding: 0 3rem;
  }
  .cp-related-contents__title {
    margin-bottom: 14px;
    margin-bottom: 1.4rem;
  }
  .cp-related-contents__item {
    display: block;
    width: 100%;
    margin-top: 74px;
    margin-top: 7.4rem;
    padding-left: 0;
  }
  .cp-related-contents__item:first-child {
    margin-top: 0;
  }
  .cp-related-contents__item-wrap {
    margin-left: 0;
  }
  .cp-related-contents__item-desc {
    margin-top: 28px;
    margin-top: 2.8rem;
  }
  .cp-related-contents__item-desc .item-title strong {
    font-size: 20px;
    font-size: 2rem;
  }
  .cp-related-contents__item-desc .item-text {
    margin-top: 13px;
    margin-top: 1.3rem;
  }
  .cp-related-contents__item-desc .item-text p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.556;
  }
  .cp-related-contents__item-desc .item-cta {
    margin-top: 7px;
    margin-top: 0.7rem;
  }
}
