@charset "utf-8";
.form-qa .slt-box {
	flex:1;
}
.form-qa .item-cont {
	flex-wrap: wrap;
	justify-content: flex-start;
}
.form-qa .item-cont .inp-textarea {
	flex:1;
	height:216px;
}
.form-qa .item-cont .inp-textarea textarea {
	height:160px;
}

.form-qa .error-msg + .caution {
	margin-top:8px;
}
.contact .form-qa + .cta-outer {
	margin-top:64px;
}
.mo .contact .complete-area {
	padding:0 20px;
}
.pop-contact .layer-cont .form-qa:first-child {
	margin-top:0;
}
.pop-contact .form-qa .inp-outer-box:first-child {
	margin-top:0;
}
.pop-contact .box-product {
	display:flex;
	align-items: center;
}
.pop-contact .box-product .box-img {
	width: 160px;
	height:160px;
	border: solid 1px #e9e9e9;
	overflow: hidden;
}
.pop-contact .box-product .box-img img {
	display: block;
	width: 100%;
	height: 100%;
}
.pop-contact .box-product .name {
	flex:1 1;
	padding-left:32px;
	width: auto;
	font-size:16px;
	font-weight:500;
	line-height:26px;
}
.pop-contact .form-qa {
	margin-top:40px;
	overflow-x: hidden;
}
.pop-contact .caution-box {
	padding-right:88px;
}

.pop-contact .order-num {
	display:flex;
	flex-wrap: wrap;
	padding-bottom: 8px;
	border-bottom:1px solid #999;
	line-height:22px;
	font-size:14px;
	font-weight:500;
}
.pop-contact .order-num dd {
	padding-left:8px;
	color:#1c6bba;
	font-weight:500;
}
.pop-contact .item-product .inp-area {
	max-width:444px;
}
.pop-contact .item-product .select-items li {
	position:relative;
	display:flex;
	flex-wrap: nowrap;
	padding:16px;
	align-items: center;
	color:#191919;
}
.item-product .select-items li:hover, 
.item-product .select-items li.selected {
	color:#0793ea;
}
.pop-contact .item-product li + li {
	border-top:none;
}
.pop-contact .item-product li:not(:first-child)::before {
	content:'';
	position:absolute;
	top:0;
	left:16px;
	right:16px;
	height: 1px;
	background:#e9e9e9;
}
.pop-contact .item-product li:hover::before,
.pop-contact .item-product li:hover + li::before {
	display:none;
}

.pop-contact .item-product .box-img {
	width:80px;
	height:80px;
	border:1px solid #e9e9e9;
}
.pop-contact .item-product .box-img img {
	display:block;
	width: 100%;
	height: 100%;
}
.pop-contact .item-product .tit {
	flex:1;
	padding-left:16px;
}
.pop-contact .item-cont .inp-textarea {
	height:184px;
}
.pop-contact .form-qa .inp-textarea textarea {
	height:132px;
}
.pc .pop-contact-end .btn-tel::after {
	display:none;	
}
.pc .pop-contact-end .btn-tel {
	pointer-events: none;
	color:#666;
}
.pop-contact-end .caution {
	margin-top:16px;
}


@media screen and (max-width:1119px) {	
	.contact .form-qa {
		margin-top:0;
		padding:40px 20px 0;
	}
	.contact .form-qa + .cta-outer {
		margin-top:32px;
		padding:0 20px;
	}
	.form-qa .inp-outer-box:first-child {
		margin-top:0;
	}
	.form-qa .item-cont .inp-textarea {
		height:148px;
	}
	.form-qa .item-cont .inp-textarea textarea {
		height:100px;
	}
	.form-qa .caution {
		margin-left:0;
	}
	.pop-contact div.caution.type2 {
		margin:40px -20px 0;
	}
	.pop-contact .box-product {
		min-height:96px;
	}
	.pop-contact .item-product .tit {
		padding-left:16px;
	}
	.pop-contact .caution-box {
		padding-right:0;
	}
	.pop-contact .box-product .box-img {
		width:96px;
		height: 96px;
	}
	.pop-contact .box-product .name {
		padding-left:16px;
	}
	.pop-contact .item-cont .inp-textarea {
		height:184px;
	}
	.pop-contact .form-qa .inp-textarea textarea {
		height:130px;
	}
}

/* popShippingList */
.shipping .new-address {
	text-align: right;
	margin-bottom: 8px;
	margin-top: 0;
}
.shipping .list {
	border-top: 1px solid #999;
}
.shipping .list li {
	padding: 24px 0;
	position: relative;
}
.shipping .list li + li {
	border-top: 1px solid #e9e9e9;
}
.shipping .list li .radio span.tit {
	font-weight: 500;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.shipping .list li .radio .text-flag {
	margin-right: 8px;
	font-weight: normal;
}
.shipping .list li .detail {
	margin-top: 16px;
	padding-left: 32px;
}
.shipping .list li .detail p + p {
	margin-top: 8px;
}
.shipping .list li .cta-outer {
	position: absolute;
	top: 24px;
	right: 0;
}

@media screen and (max-width: 1119px) {
	.shipping .new-address {
		justify-content: right;
	}
	.shipping .list {
		border-bottom: 1px solid #e9e9e9;
	}
}

/* popShippingRegist */
.shipping > .radio-group {
	margin-bottom: 16px;
}
.shipping > .list-type1 {
	border-top: 1px solid #999;
}
.shipping > .list-type1 .inp-outer-box:first-of-type {
	margin-top: 24px;
}
.shipping .inp-outer-box.post-type .check-terms {
    margin-top: 16px;
}

/* S: FAQ */
.faq .btns-list {
	margin-bottom:24px;
}
.faq .btns-list button {
    padding-right:16px;
    color:#666;
}
.faq .btns-list button.on {
    color: #1c6bba;
    font-weight:500;
}
.faq .btns-list button:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 16px;
    background-color: #e9e9e9;
}

.faq .cont-search {
	display:flex;
	align-items: center;
	justify-content: center;
	margin-bottom:40px;
	width: 100%;
	height: 145px;
	border:1px solid #e9e9e9;
	border-radius:8px;
}
.faq .cont-search .inp-area {
	position:relative;
	width:560px;
}
.faq .cont-search .inp-area .inp-item {
	padding-right:48px;
	border-bottom:2px solid #ccc;
}
.faq .cont-search .inp-area .btn-srch {
	position:absolute;
	right:0;
	top:0;
	width:48px;
	height:48px;
	background:url('../images/common/ico_inp_search.svg') no-repeat center;
}
.faq .toggle .item .tit-btn {
	padding:20px 115px 20px 0;
	color:#191919;
	line-height:22px;
	font-size:14px;
}
.faq .toggle .item.active .tit-btn {
	font-weight: 400;
}
.faq .toggle .tit-btn .type {
	color:#999;
}
.faq .toggle .cont {
	padding:48px;
	background:#fafafa;
	color:#666;
}
.faq .box-contact {
	margin-top:40px;
	padding:32px;
	border:1px solid #ccc;
	border-radius:8px;
}
.faq .box-contact p {
	position:relative;
	padding-left:32px;
	font-size:16px;
	font-weight:500;
}
.faq .box-contact p::before {
	content:'';
	position:absolute;
	top:-1px;
	left:0;
	width:24px;
	height:24px;
	background:url('../images/common/ico_dash03.svg') no-repeat;
}

.faq .box-contact .btn-text2 {
	font-size:16px;
}
.faq .slt-box {
	display:none;
}
.faq .search-count {
	margin-bottom:8px;
	line-height:30px;
	vertical-align: middle;
	font-size:18px;
	font-weight:500;
}
.faq .search-count .fc-color3 {
	padding-left:8px;
	font-size:14px;
	vertical-align: middle;
}

@media screen and (max-width: 1119px) {
	.faq .cont-search {
		margin-bottom:0;
		padding:0 20px;
		height:130px;
		border:none;
	}
	.faq .cont-search .inp-area {
		width:1005;
	}
	.faq .slt-box {
		display:block;
		margin:0 20px 24px;
	}
	.faq .toggle .item .tit-btn {
		padding:24px 60px 24px 20px;
	}
	.faq .toggle .cont {
		padding:24px;
	}	
	.faq .box-contact {
		margin:40px 20px 0;
		padding:16px;
	}
	.faq .box-contact p {
		padding:0 0 0 32px;
	}
	.faq .box-contact p::before {
		top:0;
	}
	.faq .search-count  {
		padding-left:20px;
		line-height:26px;
		font-size:16px;
	}
	.faq .search-count .fc-color3 {
		font-size:12px;
	}
	.faq .hmj-pagination:before {
		display:none;
	}
}
/* E : FAQ */

/* S: 상세 페이지 */
.detail-page{
	padding: 0 20px;
}
.detail-page .title{
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 72px 0 48px;
    border-bottom: 1px solid #ccc;
    align-items: flex-start;
}
.detail-page .title .cont-text2{
    width: 100%;
    margin-bottom: 16px;
    color: #999;
}
.detail-page .title h3{
    width: calc(100% - 96px);
    font-weight: 500;
}
.detail-page .title .share{
    width: 32px;
    line-height: 52px;
    background: url('../images/common/ico_share.svg') no-repeat center;
    font-size: 0;
}
.detail-page .cont-wrap {
	padding-top: 40px;
}
.detail-page .cont-wrap .attach-file {
	margin-top: 120px;
	padding: 17px 16px;
	background: #fafafa;
	font-size: 0;
}
.detail-page .cont-wrap .attach-file .tit {
	display: inline-block;
	padding-left: 28px;
	margin-right: 16px;
	background: url('../images/common/ico_down_file.svg') no-repeat 0 center;
	font-size: 14px;
	color: #666;
	vertical-align: top;
}
.detail-page .cont-wrap .attach-file .files {
	display: inline-block;
	width: calc(100% - 128px);
}
.detail-page .cont-wrap .attach-file button {
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	color: #191919;
}
.detail-page .cont-wrap .attach-file button + button {
	margin-top: 16px;
}
.detail-page .cont-wrap .attach-file button span {
	display: block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail-page .page-list {
	margin-top: 40px;
	padding: 24px 0;
	border: 1px solid #e9e9e9;
	border-left: none;
	border-right: none;
}
.detail-page .page-list li {
	display: flex;
}
.detail-page .page-list > li+li {
	margin-top: 16px;
}
.detail-page .page-list li > span {
	flex: none;
	width: 88px;
	color: #999;
}
.detail-page .page-list .tit-wrap {
	display: flex;
	width: calc(100% - 88px);
}
.detail-page .page-list .tit {
	padding: 0 24px 0 16px;
	font-weight: 500;
	color: #191919;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail-page .page-list .date {
	flex: none;
	width: 80px;
	margin-left: auto;
	font-size: 12px;
	color: #999;
}
.detail-page .cta-outer{
    margin-top: 32px;
}

@media screen and (max-width: 1119px) {
	.detail-page {
		padding:0;
	}
	.detail-page .title {
        padding: 40px 0 16px;
    }
    .detail-page .title .cont-text2{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .detail-page .title h3{
        width: calc(100% - 48px);
        font-size: 18px;
        line-height: 30px;
    }
    .detail-page .title .share{
        line-height: 32px;
        background-size: 24px;
    }
    .detail-page .cont-wrap{
        padding: 32px 0 0;
    }
    .detail-page .cont-wrap .attach-file {
		margin-top: 120px;
	}
	.detail-page .cont-wrap .attach-file .tit {
		background-position: 0 -3px;
	}
	.detail-page .page-list li {
		display: block;
	}
	.detail-page .page-list li > span {
		display: block;
		width: auto;
		margin-bottom: 8px;
	}
	.detail-page .page-list .tit-wrap {
		width: 100%;
	}
	.detail-page .page-list .tit {
		padding-left: 0;
		margin-left: 0;
	}
	.detail-page .page-list .date {
		margin-bottom: 0;
	}
	.detail-page .page-list > li+li {
		margin-top: 24px;
	}
}
/* E: 상세 페이지 */

/* S: 공지사항 */
.notice .tbl-box{
	margin-top: 72px;
}
.tbl-box.num-file .num {
	width: 144px;
}
.tbl-box.num-file td.num {
	color: #999;
}
.tbl-box.num-file .flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tbl-box.num-file .flex .tit {
	padding-right: 32px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 1.57;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 3.14em; 
}
.tbl-box.num-file .flex .date {
	flex: none;
	width: 128px;
	color: #999;
}
.tbl-box .auto-width {
	width:160px;
}
.tbl-box .auto-width button.file span {
	display: inline-block;
	width: 24px;
	background:url('../../assets/images/common/ico_down_file.svg') no-repeat center;
	background-size: 24px;
	color: transparent;
}
.ie11 .tbl-box.num-file .auto-width {
	padding: 13px 10px;
}

@media screen and (max-width: 1119px) {
	.notice .hmj-content .cont-outer {
		padding: 0 20px;
	}
	.notice .hmj-pagination {
		margin: 0 -20px;
	}
	.notice .tbl-box {
		margin: 40px 0 32px 0;
	}
	.tbl-box.num-file .num {
		display: none;
	}
	.tbl-box.num-file table {
		width: 100%;
	}
	.tbl-box.num-file thead {
		display: none;
	}
	.tbl-box.num-file .flex {
		display: table-cell;
		text-align: left;
	}
	.tbl-box.num-file .flex > * {
		display: block;
	}
	.tbl-box.num-file .flex .tit {
		width: 100%;
		padding-right: 0;
		font-size: 12px;
		line-height: 1.67;
	}
	.tbl-box.num-file .flex .date {
		width: auto;
		margin-top: 8px;
		font-size: 12px;
		line-height: 1.67;
	}
	.tbl-box.num-file .auto-width {
		width: 64px;
	}
	.tbl-box .auto-width button.file span {
		width: 32px;
		height: 32px;
		padding-left: 0;
		background-size: 32px;
	}
	.ie11 .tbl-box .auto-width {
		padding: 0;
	}
}
/* E: 공지사항 */


/* S: 사이트맵 */
@media screen and (min-width: 1119px) {
	.sitemap  .hmj-content .top-visual .top-visual-text .top-title {
		color: #fff;
	}
	.sitemap .hmj-content .top-visual .top-visual-text .top-desc {
		color: #fff;
	}
	.sitemap .toggle {
		border: none;
	}
	.sitemap .toggle .item  {
		display: flex;
		padding: 55px 0;
		pointer-events: none;
		border-bottom: solid 1px #e9e9e9;
	}
	.sitemap .toggle .item:first-child {
		padding-top: 0;
	}
	.sitemap .toggle .item:last-child {
		border-bottom: none;
	}
	.sitemap .toggle .item.active .tit-btn{
		border: none;
	}
	.sitemap .toggle .tit-btn {
		flex: none;
		display: block;
		width: 256px;
		padding: 0;
		margin-right: 32px;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.58;
		border: none;
	}
	.sitemap .toggle .tit-btn:before {
		display: none;
	}
	.sitemap .toggle .cont {
		display: block;
		width: 100%;
		position: static;
		overflow: visible;
		visibility: visible;
		z-index: 1;
		-webkit-transform: none;
		transform: none;
		transition: all .15s ease-in;
		height: auto;
	}
	.sitemap .toggle .cont > ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		pointer-events: visible;
	}
	.sitemap .toggle .cont .tit {
		display: block;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.67;
	}
	.sitemap .toggle .cont .depth > li {
		width: 256px;
	}
	.sitemap .toggle .cont .depth > li + li {
		margin-top: 56px;
	}
	.sitemap .toggle .cont .depth > li:nth-child(2),
	.sitemap .toggle .cont .depth > li:nth-child(3) {
		margin-top: 0;
	}
	.sitemap .toggle .cont .depth .menu {
		margin-top: 8px;
	}
	.sitemap .toggle .cont .depth .menu li + li {
		margin-top: 8px;
	}
	.sitemap .toggle .cont .depth .menu li a {
		font-size: 14px;
		line-height: 1.57;
		color: #666;
	}
	.sitemap .toggle .cont .depth.type2 > li {
		width: 100%;
	}
	.sitemap .toggle .cont .depth.type2 .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
	}
	.sitemap .toggle .cont .depth.type2 .menu li {
		width: 256px;
	}
	.sitemap .toggle .cont .depth.type2 .menu li:nth-child(2),
	.sitemap .toggle .cont .depth.type2 .menu li:nth-child(3) {
		margin-top: 0;
	}
	.sitemap .toggle .cont .depth .col2 {
		width: 544px;
	}
	.sitemap .toggle .cont .depth .col2 .menu {
		display: flex;
		flex-wrap: wrap;
	}
	.sitemap .toggle .cont .depth .col2 .menu > li {
		width: 256px;
	}
	.sitemap .toggle .cont .depth .col2 .menu > li:nth-child(2) {
		margin-top: 0;
	}
}

@media screen and (max-width: 1119px) {
	.sitemap .toggle .tit-btn {
		display: block;
		height: 62px;
		padding: 20px;
		font-size: 16px;
		line-height: 26px;
	}
	.sitemap .toggle .item:first-child .tit-btn {
		border-top: none;
	}
	.sitemap .toggle .item > .cont {
		padding: 32px 20px;
	}
	.sitemap .toggle .cont .tit {
		font-size: 15px;
		font-weight: 500;
		line-height: 1.47;
		color: #191919;
	}
	.sitemap .toggle .cont .depth .menu {
		margin-top: 8px;
	}
	.sitemap .toggle .cont .depth .menu li + li {
		margin-top: 8px;
	}
	.sitemap .toggle .cont .depth .menu li a  {
		font-size: 14px;
		line-height: 1.57;
		color: #666;
	}
	.sitemap .toggle .cont .depth > li + li {
		margin-top: 40px;
	}
	.sitemap .toggle .cont .depth.type2 .menu {
		margin-top: 0;
	}
	.sitemap .toggle .cont .depth.type2 .menu li+li {
		margin-top: 8px;
	}
	
}

/* E: 사이트맵 */