.main .hmj-header {
	transition: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
	background-color: transparent;
}
.main .hmj-header .header-outer {
    background: transparent;
    border: none;
}
.main .hmj-header.on .header-outer {
    background: rgba(25,25,25,0.7);
}
.main .hmj-container {
    min-height: auto;
    padding-bottom: 0;
}
.main .hmj-header.scr-chk {
	transition: all .3s ease-in-out;
	top: -72px;
	background-color: transparent;
}
.main .hmj-header.active {
	transition: background-color .4s, top .4s cubic-bezier(0.645, 0.045, 0.355, 1);
	background-color: rgba(0, 0, 0, .35);
	-webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
}
.main .hmj-header.active.none-blur {
	backdrop-filter: unset;
}
.main .hmj-header .gnb-mid-menu .mid-list li a {
    color: #fff;
}

.main-swiper-num01 .swiper-container .swiper-slide {
	height: 100vh;
}
.main-swiper-num01 .swiper-container .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main-swiper-num01 .swiper-pagination {
	transform: translateX(-50%);
	bottom: 40px;
	left: 50%;
}
.main-swiper-num01 .swiper-pagination-clickable .swiper-pagination-bullet {
	opacity: .3;
	width: 12px;
	height: 12px;
	background-color: #fff;
}
.main-swiper-num01 .swiper-pagination-clickable .swiper-pagination-bullet + .swiper-pagination-bullet {
	margin-left: 8px;
}
.main-swiper-num01 .swiper-pagination-clickable .swiper-pagination-bullet-active {
	opacity: 1;
}

.section-wrap .lineup-wrap {
    padding: 120px 0 86px;
	background-color: #f5f5f5;
}
.section-wrap > div .top-tit-cont {
    text-align: center;
}
.section-wrap > div .top-tit-cont h2 {
    font-size: 20px;
    font-weight: 500;
    color: #191919;
    line-height: 32px;
}
.section-wrap > div .top-tit-cont .top-desc {
	margin-top: 12px;
    font-size: 32px;
	font-weight: 500;
	line-height: 52px;
}
.media-wrap {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.media-wrap .video-cont {
    width: 100%;
    height: 100%;
}
.media-wrap video {
    width: 100%;
	max-width: none;
    height: 100vh;
    object-fit: cover;
}
.ie11 .media-wrap video {
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}
.media-wrap .txt-cont {
	transform: translateX(-50%);
    position: absolute;
    top:0;
    left: 50%;
    width: 1120px;
	max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 0 120px;
	padding: 0 6.25vw;
	text-align: center;
}
.media-wrap .txt-cont .tit {
    display: block;
    font-size: 56px;
    font-weight: 500;
    line-height: 90px;
    color: #fff;
}
.media-wrap .txt-cont .tit-txt {
	font-size: 32px;
	font-weight: 500;
    color: #fff;
	line-height: 52px;
}
.media-wrap .txt-cont .cta-outer {
    width: 100%;
    margin-top: 56px;
}
.media-wrap .txt-cont .cta-outer .btn {
    min-width: 260px;
    background: transparent;
    border: 1px solid #e9e9e9;
}
.media-wrap .txt-cont .cta-outer .btn:hover {
    opacity: .7;
}
.media-wrap .txt-cont .cta-outer .btn span {
    color:#ccc
}
.media-wrap .txt-cont .cta-outer .btn.btn-type2 {
    background: #e9e9e9;
}
.media-wrap .txt-cont .cta-outer .btn.btn-type2 span {
    color: #191919;
}

.section-wrap .brand-wrap {
	padding-top: 72px;
	background-color: #f5f5f5;
}
.brand-list-cont {
    min-width: 1120px;
    padding: 0 0 152px 120px;
    margin: 64px 0 0;
}
.brand-list-cont .swiper-slide {
    position: relative;
    width: 31.34%;
	height: 559px;
	height: 29.11458vw;
    border-radius: 8px;
    overflow: hidden;
}
/* .brand-list-cont .swiper-slide:before {
    content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
} */
.brand-list-cont .swiper-slide img {
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	max-width: 100%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
.brand-list-cont .swiper-slide .tit-cont {
	transition: bottom .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    position: absolute;
    left: 40px;
	right: 40px;
    bottom: -15px;
	z-index: 3;
}
.brand-list-cont .swiper-slide .tit-cont .tit {
    display: block;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 52px;
}
.brand-list-cont .swiper-slide .tit-cont .btn {
    min-width: 260px;
    margin-top: 24px;
}
.brand-list-cont .swiper-slide .btn-box {
	transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transform: translateY(50px);
	opacity: 0;
}
.brand-list-cont .swiper-button-prev,
.brand-list-cont .swiper-button-next {
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -8px 0 0 0;
    color: transparent;
    border-top: 2px solid #191919;
    border-right: 2px solid #191919;
}
.brand-list-cont .swiper-button-prev,
.brand-list-cont .swiper-container-rtl .swiper-button-next {
	left: 32px;
	background-image: url(../../assets/images/main/bg_main_item_prev.svg);
}
.brand-list-cont [class*="swiper-button"],
.brand-list-cont .swiper-container-rtl [class*="swiper-button"] {
	opacity: .8;
	width: 64px;
	height: 64px;
	margin-top: -32px;
	border: 0;
	background-size: 100% auto;
}
.brand-list-cont [class*="swiper-button"]:hover,
.brand-list-cont .swiper-container-rtl [class*="swiper-button"]:hover {
	opacity: 1;
}
.brand-list-cont .swiper-button-next,
.brand-list-cont .swiper-container-rtl .swiper-button-prev {
	right: 32px;
	background-image: url(../../assets/images/main/bg_main_item_next.svg);
}
.brand-list-cont .swiper-button-next.swiper-button-disabled, 
.brand-list-cont .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

/* pip area */
.car-item-outer {
	max-width: 100%;
	height: 797px;
	height: 41.51042vw;
	margin: 0 120px;
	margin: 0 6.25vw;
	font-size: 0;
}
.car-item-outer .swiper-wrapper {
	padding-bottom: 170px;
}
.car-item-outer .car-cont {
	transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	overflow: visible;
	position: relative;
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.active .car-item-outer .car-cont.swiper-slide-active,
.active .car-item-outer .car-cont.swiper-slide-next {
	z-index: 20;
}
.car-item-outer .car-cont.focus-in:before,
.car-item-outer .car-cont.focus-in:after {
	opacity: 0;
}
.car-item-outer .car-cont .car-space-box {
	position: relative;
	display: block;
	border-radius: 8px;
	background-color: #fff;
}
/* .ie11 .car-item-outer .car-cont .car-space-box {
	border-radius: 0;
} */
.car-item-outer .car-cont .car-item-text {
	transition: all .7s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	position: absolute;
	top: 48px;
	top: 2.5vw;
	left: 64px;
	left: 3.33333vw;
	right: 64px;
	right: 3.33333vw;
	z-index: 5;
	display: block;
}
.car-item-outer .car-cont .car-item-text .item-tit {
	transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	font-size: 48px;
	font-size: 2.5vw;
	font-weight: 500;
	color: #191919;
	line-height: 64px;
	line-height: 3.33333vw;
	white-space: nowrap;
}
.car-item-outer .car-cont .car-item-text .btn-box {
	margin-top: 32px;
}
.car-item-outer .car-cont .car-item-text .btn-box .btn-desc {
	transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 13px 35px;
	border-radius: 4px;
	background-color: #1c6bba;
}
.car-item-outer .car-cont .car-item {
	display: block;
}
.main .btn-box {
	display: flex;
}
.main .btn-box .btn-desc {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	line-height: 30px;
}
.main .brand-list-cont .btn-box {
	margin-top: 24px;
}
.main .brand-list-cont .btn-box .btn-desc {
	padding-right: 30px;
	background: url(../images/main/ico_pip_desc_w.svg) no-repeat right center;
}
.car-item-outer .car-cont .car-item-text .item-info-box ul {
	display: flex;
	align-items: flex-start;
	margin-top: 16px;
	white-space: nowrap;
}
.car-item-outer .car-cont .car-item-text .item-info-box ul li + li {
	margin-left: 56px;
}
.car-item-outer .car-cont.swiper-slide-next .car-item-text .item-info-box ul li + li {
	margin-left: 49px;
	margin-left: 2.55208vw;
}
.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item {
	display: block;
}
.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item .list-tit {
	position: relative;
	display: block;
	font-size: 18px;
	font-size: 0.9375vw;
	color: #999;
	line-height: 30px;
	line-height: 1.5625vw;
}
.car-item-outer .car-cont .car-item-text .item-info-box ul li + li .info-list-item .list-tit:before {
	content: '';
	position: absolute;
	top: 3px;
	left: -24px;
	width: 1px;
	height: 16px;
	background-color: #ccc;

}
.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item .list-unit {
	position: relative;
	display: block;
	color: #191919;
}
.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item .list-unit strong {
	display: inline-block;
	font-size: 40px;
	font-size: 2.08333vw;
	font-weight: 400;
	line-height: 64px;
	line-height: 3.33333vw;
	vertical-align: bottom;
}
.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item .list-unit span {
	display: inline-block;
	font-size: 18px;
	font-size: 0.9375vw;
	line-height: 54px;
	line-height: 2.8125vw;
	vertical-align: bottom;
}
.car-item-outer .car-cont .car-item-text .list-btm-desc {
	color: #999;
}
.car-item-outer .car-item {
	transition: top .2s, left .2s, transform .2s ease-in-out;
	transform: scale(1) translateX(-50%);
	position: relative;
	top: 107px;
	top: 5.57292vw;
	left: 50%;
	z-index: 10;
	overflow: hidden;
	display: inline-block;
	width: 830px;
	width: 43.75vw;
	padding-top: 219px;
	padding-top: 11.40625vw;
	pointer-events: none;
}
.car-item-outer img {
	max-width: none;
}
.main-item-swiper {
	margin: 64px auto 0;
}
.main-item-swiper .swiper-button-prev,
.main-item-swiper .swiper-container-rtl .swiper-button-next {
	left: 32px;
	background-image: url(../../assets/images/main/bg_main_item_prev.svg);
}
.main-item-swiper [class*="swiper-button"],
.main-item-swiper .swiper-container-rtl [class*="swiper-button"] {
	opacity: .8;
	width: 64px;
	height: 64px;
	margin-top: -100px;
	background-size: 100% auto;
}
.main-item-swiper [class*="swiper-button"]:hover,
.main-item-swiper .swiper-container-rtl [class*="swiper-button"]:hover {
	opacity: 1;
}
.main-item-swiper [class*="swiper-button"]:after,
.main-item-swiper .swiper-container-rtl [class*="swiper-button"]:after {
	content: none;
}
.main-item-swiper .swiper-button-next,
.main-item-swiper .swiper-container-rtl .swiper-button-prev {
	right: 32px;
	background-image: url(../../assets/images/main/bg_main_item_next.svg);
}
.main-item-swiper .swiper-pagination {
	display: none;
}

.type2 .car-item-outer .car-cont {
	height: 535px;
	height: 27.86458vw;
	padding: 0;
}
.type2 .car-item-outer .car-cont .car-thumb {
	transition: opacity .5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.type2 .car-item-outer .car-cont .car-item-text {
	top: auto;
	bottom: 48px;
	bottom: 2.5vw;
}
.type2 .car-item-outer .car-cont:hover .car-item-text .item-tit,
.type2 .car-item-outer .car-cont.focus-in .car-item-text .item-tit {
	color: rgba(255, 255, 255, .8);
}
.type2 .car-item-outer .car-cont:hover .car-thumb,
.type2 .car-item-outer .car-cont.focus-in .car-thumb {
	transition: opacity .5s ease-in-out;
	opacity: 0;
}
.type2 .car-item-outer .car-cont .car-image {
	margin-top: 0;
}
.type2 .car-item-outer .car-thumb img {
	width: 100%;
}

/* s : skeleton ui - 모바일만 적용 */
@media screen and (max-width: 1119px) {
	.ui-start,
	.skeleton-ui {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}
	.skeleton-ui a,
	.skeleton-ui button {
		font-size: 0;
		pointer-events: none;
	}
	.skeleton-ui .hmj-header {
		top: 0 !important;
		background-color: #ddd;
	}
	.skeleton-ui .hmj-header.active {
		background-color: #ddd !important;
	}
	.skeleton-ui .hmj-header .gnb-right-list li .btn-search {
		transform: none;
		top: 0;
	}
	.skeleton-ui .hmj-header .logo a,
	.skeleton-ui .hmj-header .gnb-right-list .btn-menu,
	.skeleton-ui .hmj-header .gnb-right-list li .btn-search span {
		position: relative;
		overflow: hidden;
		width: 52px;
		height: 52px;
		background-color: #cfcfcf;
	}
	.skeleton-ui .hmj-header .logo a:before,
	.skeleton-ui .hmj-header .gnb-right-list .btn-menu:before,
	.skeleton-ui .hmj-header .gnb-right-list li .btn-search span:after {
		content: '';
		position: absolute;
		top: 0;
		left: -120px;
		opacity: .6;
		width: 120px;
		height: 100%;
		background: linear-gradient(to right, #ccc, #ddd, #ccc);
		animation: skeleton-loading 1.5s infinite linear;
	}
	.skeleton-ui .media-wrap:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #ddd;
	}
	.skeleton-ui .txt-cont .tit {
		width: 138px;
		width: 38.33333vw;
		max-width: 100%;
		height: 52px;
	}
	.skeleton-ui .txt-cont .tit-txt {
		width: 224px;
		width: 62.22222vw;
		max-width: 100%;
		height: 22px;
	}
	.skeleton-ui .txt-cont .tit,
	.skeleton-ui .txt-cont .tit-txt,
	.skeleton-ui .txt-cont .cta-outer .btn,
	.skeleton-ui .txt-cont .cta-outer .btn.btn-type2,
	.skeleton-ui .btn-top-box .btn-side-menu span {
		position: relative;
		overflow: hidden;
		background: #cfcfcf;
		border: 0;
	}
	.skeleton-ui .txt-cont .tit:before,
	.skeleton-ui .txt-cont .tit-txt:before,
	.skeleton-ui .txt-cont .cta-outer .btn:before,
	.skeleton-ui .txt-cont .cta-outer .btn.btn-type2:before,
	.skeleton-ui .btn-top-box .btn-side-menu span:before {
		content: '';
		position: absolute;
		top: 0;
		left: -120px;
		left: -33.33333vw;
		opacity: .6;
		width: 120px;
		width: 33.33333vw;
		height: 100%;
		background: linear-gradient(to right, #ccc, #ddd, #ccc);
		animation: skeleton-loading 1.5s infinite linear;
	}
	.skeleton-ui .txt-cont .cta-outer .btn {
		border-radius: 0;
	}
	.skeleton-ui .btn-top-box {
		z-index: 301;
	}
	.skeleton-ui .btn-top-box .btn-side-menu {
		transform: none;
	}
	@keyframes skeleton-loading {
		0% {
			transform: translateX(-120px);
			transform: translateX(-10.72386vw);
		}
		50%,
		100% {
			transform: translateX(350px);
			transform: translateX(97.22222vw);
		}
	}
}
/* e : skeleton ui - 모바일만 적용 */

@media screen and (min-width: 1120px) {
	.car-item-outer .car-cont .car-item {
		transition: all .8s linear;
		transform: scale(.8) translateX(-63%) translateY(-10%);
	}
	.active .car-item-outer .car-cont.swiper-slide-active .car-item,
	.active .car-item-outer .car-cont.swiper-slide-duplicate-active .car-item {
		transition: all .8s linear;
		transform: scale(1.3) translateX(-40%) translateY(0%);
	}
	.active .car-item-outer .car-cont.swiper-slide-active {
		transition: width .7s linear;
		width: 70%;
	}
	.active .car-item-outer .car-cont.swiper-slide-next {
		transition: width .7s linear;
		width: 30%;
	}
	.car-item-outer .car-cont.swiper-slide-active .car-space-box {
		margin-right: 8px;
		margin-right: 0.41666vw;
	}
	.car-item-outer .car-cont.swiper-slide-next .car-space-box {
		margin-left: 8px;
		margin-left: 0.41666vw;
	}
	.car-item-outer .car-cont .car-item-text {
		transition: none;
		opacity: 0;
	}
	.car-item-outer .car-cont.swiper-slide-active .car-item-text,
	.car-item-outer .car-cont.swiper-slide-duplicate-active .car-item-text,
	.car-item-outer .car-cont.swiper-slide-next .car-item-text {
		transition: opacity .1s ease-in;
		opacity: 1;
	}
	.car-item-outer .car-cont.swiper-slide-next .car-item-text {
		left: 48px;
		left: 2.5vw;
		right: 48px;
		right: 2.5vw;
	}
	.car-item-outer .car-cont.swiper-slide-active .car-item-text .list-btm-desc,
	.car-item-outer .car-cont.swiper-slide-duplicate-active .car-item-text .list-btm-desc {
		margin-top: 4px;
		font-size: 14px;
		font-size: 0.72917vw;
		line-height: 22px;
		line-height: 1.14583vw;
	}
	.car-item-outer .car-cont.swiper-slide-next .car-item-text .item-info-box ul li .info-list-item .list-tit {
		font-size: 14px;
		font-size: 0.72917vw;
		line-height: 22px;
		line-height: 1.14583vw;
	}
	.car-item-outer .car-cont.swiper-slide-active .car-item-text .item-info-box ul li + li .info-list-item .list-tit:before {
		top: 6px;
		top: 0.3125vw;
		left: -1.25vw;
		height: 0.83333vw;
	}
	.car-item-outer .car-cont.swiper-slide-next .car-item-text .item-info-box ul li + li .info-list-item .list-tit:before {
		left: -12px;
		left: -0.625vw;
		height: 0.83333vw;
	}
	.car-item-outer .car-cont.swiper-slide-next .car-item-text .item-info-box .info-list-item .list-unit {
		margin-top: 8px;
	}
	.car-item-outer .car-cont.swiper-slide-next .car-item-text .item-info-box .info-list-item .list-unit strong {
		font-size: 18px;
		font-size: 0.9375vw;
		line-height: 30px;
		line-height: 1.5625vw;
	}
	.car-item-outer .car-cont.swiper-slide-next .car-item-text .item-info-box .info-list-item .list-unit span {
		line-height: 30px;
		line-height: 1.5625vw;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus-in .car-item-text .list-btm-desc,
	.car-item-outer .car-cont.swiper-slide-duplicate-active.focus-in .car-item-text .list-btm-desc {
		transition: transform .5s .2s, opacity .5s .2s linear;
		transform: translateX(0px);
		opacity: 1;
	}
	.car-item-outer .car-cont .car-item-text .list-btm-desc {
		transition: transform .3s linear;
		transform: translateX(-50px);
		opacity: 0;
	}
	.car-item-outer .car-cont .car-item-text .btn-box {
		transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translateX(-50px);
		opacity: 0;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus-in .car-item-text .btn-box,
	.car-item-outer .car-cont.swiper-slide-duplicate-active.focus-in .car-item-text .btn-box {
		transition: all .5s .3s linear;
		transform: translateX(0px);
		opacity: 1;
	}
	.brand-list-cont .swiper-slide:hover .tit-cont {
		transition: bottom .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		bottom: 40px;
	}
	.brand-list-cont .swiper-slide:hover .btn-box {
		transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transform: translateX(0px);
		opacity: 1;
	}
}
@media (min-width: 1921px) and (max-width: 1920px) {
	.car-item-outer {
		height: 800px;
		height: 41.66667vw;
	}
	.car-item-outer .car-item {
		width: 840px;
		width: 43.75vw;
	}
	.car-item-outer .car-item img {
		transform:translate3d(0, 0, 0);
		width: 10200px;
		width: 531.25vw;
	}
}
@media screen and (max-width: 1119px) {
	.media-wrap .txt-cont .tit {
		font-size: 32px;
		line-height: 52px;
	}
	.media-wrap .txt-cont .tit-txt {
		margin-top: 8px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
	.media-wrap .txt-cont .cta-outer {
		margin-top: 32px;
	}
	
	.section-wrap .lineup-wrap {
		padding: 80px 0 0;
	}
	.section-wrap > div .top-tit-cont {
		padding: 0 20px;
	}
	.section-wrap > div .top-tit-cont h2 {
		font-size: 18px;
		line-height: 30px;
	}
	.section-wrap > div .top-tit-cont .top-desc {
		padding: 0 52px;
		font-size: 24px;
		line-height: 38px;
	}
	.media-wrap .txt-cont {
		padding: 0 20px;
	}
	.media-wrap .txt-cont .cta-outer .btn {
		min-width: auto;
		height: 40px;
	}
	.media-wrap .txt-cont .cta-outer .btn span {
		font-size: 13px;
		color: #e9e9e9;
	}
	.main-swiper-num01 .swiper-pagination-clickable .swiper-pagination-bullet {
		width: 6px;
		height: 6px;
	}
	.car-item-outer {
		height: auto;
	}
	.main-item-swiper {
		margin-top: 40px;
	}
	.brand-list-cont {
		min-width: auto;
		margin: 40px 0 96px;
		padding: 0;
	}
	.brand-list-cont .swiper-container {
		padding: 0 25px;
	}
	.brand-list-cont .swiper-slide {
		display: inline-block;
		width: 77.5%;
		height: 240px;
		height: 66.66667vw;
	}
	.brand-list-cont .swiper-slide .tit-cont {
		bottom: -40px;
		left: 0;
		right: 0;
		padding: 24px;
	}
	.brand-list-cont .swiper-slide .tit-cont .btn {
		min-width: 100%;
	}
	.brand-list-cont .swiper-slide.swiper-slide-active .tit-cont {
		transition: bottom .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		bottom: 0;
	}
	.brand-list-cont .swiper-slide .tit-cont .tit {
		font-size: 20px;
		line-height: 32px;
	}
	.brand-list-cont .swiper-slide.swiper-slide-active .btn-box {
		transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transform: translateX(0px);
		opacity: 1;
		margin-top: 10px;
	}
	.main .brand-list-cont .btn-box .btn-desc {
		padding-right: 24px;
		font-size: 0;
	}
	.brand-list-cont .swiper-button-prev,
	.brand-list-cont .swiper-button-next {
		display: none;
	}
	.car-item-outer {
		margin: 0;
	}
	.car-item-outer .car-cont {
		width: 100%;
	}
	.car-item-outer .swiper-wrapper {
		padding-bottom: 120px;
	}
	.car-item-outer .car-item {
		transform: none;
		top: 205px;
		top: 18.31992vw;
		left: -20px;
		width: 1119px;
		width: 100vw;
		padding-top: 260px;
	}
	.car-item-outer .car-cont.swiper-slide-active,
	.car-item-outer .car-cont.swiper-slide-next {
		width: 100%;
		padding: 0;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus,
	.car-item-outer .car-cont.swiper-slide-next.focus {
		width: 100%;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus-in,
	.car-item-outer .car-cont.swiper-slide-next.focus-in {
		width: 100%;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus-in .car-item {
		width: calc(100% + 40px);
		margin-top: 0;
	}
	.main-item-swiper [class*="swiper-button"],
	.main-item-swiper .swiper-container-rtl [class*="swiper-button"] {
		display: none;
	}
	.car-item-outer .car-item img {
		transform:translate3d(0, 0, 0);
		width: 4320px;
		width: 1200vw;
	}
	.car-item-outer .focus-in .car-item {
		left: -20px;
	}
	.type2 .car-item-outer .car-cont {
		min-height: 210px;
		min-height: 56vw;
	}
	.type2 .car-item-outer .car-thumb img {
		width: 100%;
	}
	.car-item-outer .car-cont .car-space-box {
		margin: 0 20px;
		border-radius: 8px;
	}
	.type2 .car-item-outer .car-cont.focus-in .car-item-text {
		top: auto;
		bottom: 16px;
	}
	.car-item-outer .car-cont .car-item-text {
		top: 32px;
		left: 25px;
		right: 25px;
	}
	.car-item-outer .car-cont .car-item-text .item-tit {
		font-size: 40px;
		font-size: 11.11111vw;
		line-height: 56px;
		line-height: 15.55555vw;
	}
	.type2 .car-item-outer .car-cont .car-item-text .item-tit {
		font-size: 32px;
		line-height: 40px;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box {
		position: static;
		margin-top: 20px;
		margin-top: 2.77778vw;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box ul {
		margin-top: 12px;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box ul,
	.car-item-outer .car-cont .car-item-text .item-info-box ul li,
	.car-item-outer .car-cont .car-item-text .item-info-box ul li .info-list-item {
		width: 100%;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box ul li .info-list-item {
		height: 100%;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box ul li + li {
		margin-left: 15px;
		margin-left: 4.16667vw;
	}
	.car-item-outer .car-cont .car-item-text .list-btm-desc {
		margin-top: 8px;
		margin-top: 2.22222vw;
		font-size: 12px;
		font-size: 3.33333vw;
		line-height: 20px;
		line-height: 5.55555vw;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box ul li + li .info-list-item .list-tit:before {
		top: 4px;
		top: 1.11111vw;
		left: -6px;
		left: -1.66667vw;
		height: 10px;
		height: 2.77778vw;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item .list-tit {
		font-size: 12px;
		font-size: 3.33333vw;
		line-height: 20px;
		line-height: 5.55555vw;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item .list-unit strong {
		font-size: 18px;
		font-size: 5vw;
		line-height: 30px;
		line-height: 8.33333vw;
	}
	.car-item-outer .car-cont .car-item-text .item-info-box .info-list-item .list-unit span {
		position: static;
		font-size: 12px;
		font-size: 3.33333vw;
		line-height: 24px;
		line-height: 6.66667vw;
	}
	.car-item-outer .car-cont .car-item-text .item-desc {
		margin-top: 0;
		font-size: 16px;
		line-height: 26px;
	}
	.car-item-outer .car-cont .car-item-text .btn-box .btn-desc {
		padding: 5px 44px;
		font-size: 13px;
		line-height: 30px;
	}
	.main-item-swiper .focus-in .btn-box {
		width: auto;
		margin-top: 40px;
	}
	.main-item-swiper .focus-in .btn-box .btn {
		min-width: auto;
		height: 42px;
		padding: 0 16px;
		line-height: 42px;
	}
	.main-item-swiper .btn-box {
		transition: none;
		top: 136px;
		left: 25px;
		opacity: 1;
		bottom: auto;
		margin-top: 0;
	}
	.main-item-swiper .swiper-pagination {
		transform: translateX(-50%);
		bottom: 20px;
		left: 50%;
		display: block;
		white-space: nowrap;
	}
	.main-item-swiper .swiper-pagination span + span {
		margin-left: 8px;
	}
	.main-item-swiper .swiper-pagination-clickable .swiper-pagination-bullet {
		opacity: .3;
		width: 6px;
		height: 6px;
		background-color: #191919;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
	}
	.main-item-swiper .swiper-pagination-clickable .swiper-pagination-bullet-active {
		opacity: 1;
	}
}