.car-item-outer {
	overflow: hidden;
	width: 1680px;
	max-width: 100%;
	margin: 0 auto;
	font-size: 0;
}
.car-item-outer .swiper-wrapper {
	padding-bottom: 170px;
}
.car-item-outer .car-cont {
	transition: all .8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	overflow: visible;
	position: relative;
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.car-item-outer .car-cont.swiper-slide-active {
	padding-right: 16px;
}
.car-item-outer .car-cont.swiper-slide-next {
	padding-left: 16px;
}
.car-item-outer .car-cont.swiper-slide-active.focus-in,
.car-item-outer .car-cont.swiper-slide-next.focus-in {
	width: 60%;
}
.car-item-outer .car-cont.swiper-slide-active.focus-in .car-item {
	transition: all .8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	width: 960px;
	width: 50vw;
}
.car-item-outer .car-cont.swiper-slide-active.focus,
.car-item-outer .car-cont.swiper-slide-next.focus {
	width: 40%;
}
.car-item-outer .car-cont.focus-in:before,
.car-item-outer .car-cont.focus-in:after {
	opacity: 0;
}
.car-item-outer .car-cont .car-space-box {
	border-radius: 8px;
	background-image: linear-gradient(to bottom, #f1f1f1 50%, #c5beb9);
}
.car-item-outer .car-cont:nth-child(even) .car-space-box {
	background-image: linear-gradient(to bottom, #eae4e3 50%, #9f7b74);
}
.car-item-outer .car-cont .car-item-text {
	transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	position: absolute;
	top: 80px;
	left: 56px;
	z-index: 5;
}
/* .car-item-outer .car-cont.focus-in .car-item-text {
	transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	top: 180px;
} */
.car-item-outer .car-cont .car-item-text .item-tit {
	transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	font-size: 40px;
	font-weight: 500;
	color: #191919;
	line-height: 64px;
	white-space: nowrap;
}
/* .car-item-outer .car-cont.focus-in .car-item-text .item-tit {
	transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	font-size: 160px;
	color: rgba(25, 25, 25, .2);
	line-height: 160px;
} */
.car-item-outer .car-cont .car-item-text .item-desc {
	transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	margin-top: 12px;
	font-size: 32px;
	font-weight: 500;
	color: #999;
	line-height: 52px;
}
/* .car-item-outer .car-cont.focus-in .car-item-text .item-desc {
	transition: all .5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	opacity: 0;
} */
.car-item-outer .car-item {
	transition: all .5s ease-in-out;
	transform: translateX(-50%) scale(1);
	position: relative;
	top: 170px;
	left: 50%;
	z-index: 10;
	overflow: hidden;
	display: inline-block;
	width: 960px;
	width: 50vw;
	margin-top: 108px;
}
.car-item-outer .focus .car-item {
	transition: all .5s ease-in-out;
	transform: translateX(-50%) scale(.8);
	top: 70px;
}
.car-item-outer img {
	max-width: none;
}
.main-item-swiper {
	width: 1920px;
	max-width: 100%;
	margin: 110px auto 0;
}
.main-item-swiper .swiper-button-prev,
.main-item-swiper .swiper-container-rtl .swiper-button-next {
	left: 0;
	background-image: url(../../assets/images/main/bg_main_item_prev.svg);
}
.main-item-swiper [class*="swiper-button"]:before,
.main-item-swiper .swiper-container-rtl [class*="swiper-button"]:before {
	content: attr(data-title);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 50px;
	opacity: 0;
	font-size: 14px;
	color: #191919;
	line-height: 22px;
	white-space: nowrap;
}
.main-item-swiper [class*="swiper-button"]:hover:before,
.main-item-swiper .swiper-container-rtl [class*="swiper-button"]:hover:before {
	opacity: 1;
}
.main-item-swiper .swiper-button-next:before,
.main-item-swiper .swiper-container-rtl .swiper-button-prev:before {
	left: auto;
	right: 50px;
}
.main-item-swiper [class*="swiper-button"],
.main-item-swiper .swiper-container-rtl [class*="swiper-button"] {
	width: 70px;
	height: 70px;
	margin-top: -51px;
	background-size: 100% auto;
}
.main-item-swiper [class*="swiper-button"]:after,
.main-item-swiper .swiper-container-rtl [class*="swiper-button"]:after {
	content: none;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	right: 0;
	background-image: url(../../assets/images/main/bg_main_item_next.svg);
}
.main-item-swiper .swiper-pagination {
	transform: translateX(-50%);
	top: -72px;
	left: 50%;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	opacity: 1;
	width: auto;
	height: auto;
	background-color: transparent;
	font-size: 24px;
	font-weight: 500;
	line-height: 38px;
}
.swiper-pagination-clickable .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: transparent;
	color: #1c6bba;
}
.main-item-swiper .swiper-pagination span + span {
	position: relative;
	margin-left: 50px;
}
.main-item-swiper .swiper-pagination span + span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -24px;
	width: 2px;
	height: 16px;
	margin-top: -8px;
	background-color: #ccc;
}
.main-item-swiper .btn-box {
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: absolute;
	bottom: 200px;
	left: 56px;
	opacity: 0;
	white-space: nowrap;
}
.main-item-swiper .focus-in .btn-box {
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	bottom: 220px;
	opacity: 1;
}
.main-item-swiper .btn-box .btn-desc {
	font-size: 18px;
	color: #002c5f;
	line-height: 56px;
}

.type2 .car-item-outer .car-cont {
	height: 535px;
	height: 27.86458vw;
	padding: 0;
}
.type2 .car-item-outer .car-cont .car-thumb {
	transition: opacity .5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.type2 .car-item-outer .car-cont .car-item-text {
	top: auto;
	bottom: 48px;
	bottom: 2.5vw;
}
.type2 .car-item-outer .car-cont:hover .car-item-text .item-tit,
.type2 .car-item-outer .car-cont.focus-in .car-item-text .item-tit {
	color: rgba(255, 255, 255, .8);
}
.type2 .car-item-outer .car-cont:hover .car-thumb,
.type2 .car-item-outer .car-cont.focus-in .car-thumb {
	transition: opacity .5s ease-in-out;
	opacity: 0;
}
.type2 .car-item-outer .car-cont .car-image {
	margin-top: 0;
}
.type2 .car-item-outer .car-thumb img {
	width: 100%;
}
.type2 .car-item-outer .car-cont .car-mov {
	transition: opacity .5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 1;
}
.type2 .car-item-outer .car-cont:hover .car-mov,
.type2 .car-item-outer .car-cont.focus-in .car-mov {
	transition: opacity .5s ease-in-out;
	opacity: 1;
}

@media screen and (min-width: 1921px) {
	.car-item-outer .car-item {
		width: 960px !important;
	}
	.car-item-outer .car-item img {
		width:13440px !important;
	}
}
@media screen and (max-width: 1920px) {
	.car-item-outer .car-item {
		width: 960px;
		width: 50vw;
	}
	.car-item-outer .car-item img {
		transform:translate3d(0, 0, 0);
		width:13440px;
		width:700vw;
	}
}
@media screen and (max-width: 1119px) {
	.car-item-outer .car-cont {
		width: 100%;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus,
	.car-item-outer .car-cont.swiper-slide-next.focus {
		width: 100%;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus-in,
	.car-item-outer .car-cont.swiper-slide-next.focus-in {
		width: 100%;
	}
	.car-item-outer .car-cont.swiper-slide-active.focus-in .car-item {
		width: 100%;
	}
	.main-item-swiper [class*="swiper-button"],
	.main-item-swiper .swiper-container-rtl [class*="swiper-button"] {
		display: none;
	}
	.car-item-outer .car-item {
		transform: none;
		left: 0;
		width: 1119px;
		width: 100vw;
	}
	.car-item-outer .car-cont {
		padding: 40px 0 100px;
	}
	.car-item-outer .car-item img {
		transform:translate3d(0, 0, 0);
		width: 15666px;
		width: 1400vw;
	}
	.type2 .car-item-outer .car-cont {
		min-height: 210px;
		min-height: 56vw;
	}
	.type2 .car-item-outer .car-thumb img {
		width: 100%;
	}
	.car-item-outer .car-cont.focus-in .car-item-text {
		top: 140px;
	}
	.type2 .car-item-outer .car-cont.focus-in .car-item-text {
		top: auto;
		bottom: 16px;
	}
	.car-item-outer .car-cont .car-item-text .item-tit {
		font-size: 40px;
		line-height: 56px;
	}
	.type2 .car-item-outer .car-cont .car-item-text .item-tit {
		font-size: 32px;
		line-height: 40px;
	}
	.car-item-outer .car-cont.focus-in .car-item-text .item-tit {
		font-size: 160px;
		font-size: 14.29848vw;
		line-height: 160px;
		line-height: 14.29848vw;
	}
	.car-item-outer .car-cont .car-item-text .item-desc {
		margin-top: 0;
		font-size: 16px;
		line-height: 26px;
	}
	.main-item-swiper .focus-in .btn-box {
		width: auto;
	}
	.main-item-swiper .focus-in .btn-box .btn {
		min-width: auto;
		height: 42px;
		padding: 0 16px;
		line-height: 42px;
	}
	.main-item-swiper .btn-box .btn-desc {
		margin-left: 16px;
		font-size: 16px;
		line-height: 42px;
	}
}