/* main */
html {
	height: 100%;
}
body,
.hmj-wrap,
.hmj-container,
.main-top-cont,
.hmj-content {
	height: 100%;
}
.swiper-outer-box {
	height: 100%;
}
.hmj-container .hmj-content .cont-outer{
    height: 100%;
    max-width: 100%;
    padding-top: 0 !important;
}
.mocean .hmj-container .hmj-content .cont-outer .cont-inner{
	padding-top: 12.20vh;
}
.mocean .hmj-header {
	background-color: rgba(0, 0, 0, .1);
}
.mocean .header-fixed {
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
}
.mocean .hmj-header h1 a img {
	vertical-align: middle;
}
.mocean .sub-cont {
	border: 1px solid rgb(233, 233, 233, .1);
	border-width: 1px 0;
	background-color: transparent;
}
.mocean .hmj-header .sub-cont .history > a,
.mocean .hmj-header .sub-cont .history .page-title {
	color: #fff;
}
.mocean .hmj-container {
	min-height: auto;
	padding-bottom: 0;
}
.mocean .hmj-header .header-outer {
	border-bottom: 0;
}
.mocean .hmj-header .gnb-mid-menu .mid-list li a {
	color: #fff;
}
.scr-item {
	transition: opacity .7s cubic-bezier(0.785, 0.135, 0.15, 0.86), top .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	position: fixed;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	color: #fff;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
.scr-item:first-child {
	top: 0%;
	opacity: 1;
	padding-top: 0 !important;
}
.scr-item:nth-of-type(5){
    background-color: #02012e;
}
.scr-item.active {
	transition: opacity .7s cubic-bezier(0.785, 0.135, 0.15, 0.86), top .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	opacity: 1;
	top: 0%;
}
.mocean .hmj-footer {
	transition: all .5s ease-in;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 999;
	height: 0;
	padding-top: 24px;
	pointer-events: none;
}
.hmj-footer.active {
	transition: all .5s ease-in;
	opacity: 1;
	height: 558px;
	pointer-events: auto;
}
.scr-navi-wrap {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
    left: 60px;
    z-index: 999;
}
.scr-idx-list li {
    position: relative;
    height: 20px;
}
.scr-idx-list li a {
	padding-left: 10px;
    font-size: 0;
	color: #fff;
	pointer-events: none;
}
.scr-idx-list li a:focus {
	outline: none;
}
.scr-idx-list li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 20px;
	background-color: #fff;
    opacity: .17;
	vertical-align: top;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
.scr-idx-list li a.active {
    line-height: 20px;
	font-size: 12px;
    pointer-events: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.scr-idx-list li a.active:before {
	right: -2px;
	width: 2px;
    background-color: #086fe4;
    opacity: 1;
}
.mocean section{
    position: relative;
    width: 100%;
    height: 100%;
}
.mocean .video-box video {
    position: absolute;
    max-width: none;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
	pointer-events: none;
}
.mocean .scr-item.active .video-box video{
	pointer-events: visible;
}
.mocean .section1 .video-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.mocean .section1 .video-text .video-tit{
    margin-bottom: 32px;
}
.mocean .section1 .video-text .video-logo{
    padding: 0 8.88vw;
}
.mocean .section1 .video-text .video-logo img{
    max-width: 480px;
    width: 100%;
}
.mocean .section1 .scroll-guide{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 160px;
    transform: translateX(-50%);
}
.mocean .section1 .scroll-guide::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 1px;
    height: 160px;
    background: #fff;
    opacity: .2;
}
.mocean .section1 .scroll-guide::after{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 1px;
    height: 60px;
    background: #fff;
    opacity: 1;
	animation: heightDown 2s ease-in 0s infinite normal forwards;
}
@keyframes heightDown {
	0%{
		height: 60px;
	}
	100%{
		height: 160px;
	}
}
@-webkit-keyframes heightDown {
	0%{
		height: 60px;
	}
	100%{
		height: 160px;
	}
}
.mocean .section1 .scroll-guide span{
	position: absolute;
	display: block;
	left: -8px;
	transform: translateY(-10px);
	top: 60px;
	width: 17px;
	height: 16px;
	background: url(../images/common/ico_scroll_arrow.svg) no-repeat center;
	font-size: 0;
	animation: topDown 2s ease-in 0s infinite normal forwards;
}
@keyframes topDown {
	0%{
		top: 60px;
	}
	100%{
		top: 160px;
	}
}
@-webkit-keyframes topDown {
	0%{
		top: 60px;
	}
	100%{
		top: 160px;
	}
}
.mocean .h1{
	font-size: 56px;
    line-height: 90px;
	font-weight: 500;
}
.mocean .h2{
	font-size: 56px;
    line-height: 90px;
	font-weight: 500;
}
.mocean .section2{
    background-image: url(../images/@img_motion_bg02_pc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mocean .section2 .cont-tit{
	margin-top: 24px;
}
.mocean .section2 .text-box{
    margin-top: 64px;
}
.mocean .section2 .cont-text + .cont-text{
	margin-top: 16px;
}
.mocean .section3{
    background-image: url(../images/@img_motion_bg03_pc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	text-align: center;
}
.mocean .section3 .h3{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 112px;
	font-size: 32px;
    line-height: 52px;
	font-weight: 500;
	color: rgba(255, 255, 255, .6);
}
.mocean .section3 .cont-tit2{
	margin-top: 24px;
}
.scr-item.gall-chk {
	background-color: #fff;
	color: #191919;
}
.mocean .gall-chk .scr-gall-box{
    height: 100%;
}
.mocean .gall-chk .scr-gall-box .swiper-container{
    width: 100% !important;
    height: 100%;
}
.mocean .gall-chk .gall-txt-outer{
    position: absolute;
    z-index: 10;
    pointer-events: none;
}
.mocean .gall-chk .gall-txt-outer .cont-tit2{
	color: #333;
	margin-top: 24px;
}
.mocean .gall-chk .swiper-slide .cont-text2{
	margin-top: 16px;
	font-weight: 500;
}
.mocean .video-box{
	width: 100%;
	height: 100%;
}
.mocean .section5 .video-box video{
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
    cursor: pointer;
}
.mocean .video-box .img-thumb img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mocean .video-box .btn-play{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/common/ico_play.svg) no-repeat center;
    background-size: 100%;
    z-index: 5;
}
.mocean .video-box .pause{
    background: url(../images/common/ico_pause.svg) no-repeat center;
    background-size: 100%;
}
.scr-item [class^="motion"]{
    transform: translateY(50px);
    opacity: 0;
}
.scr-item.active-idx .motion1{
    transform: translateY(0);
    opacity: 1;
    transition: all 1s .6s ease-in-out;
}
.scr-item.active-idx .motion2{
    transform: translateY(0);
    opacity: 1;
    transition: all 1s .75s ease-in-out;
}
.scr-item.active-idx .motion3{
    transform: translateY(0);
    opacity: 1;
    transition: all 1s .9s ease-in-out;
}
.scr-item.active-idx .motion4{
    transform: translateY(0);
    opacity: 1;
    transition: all 1s 1.05s ease-in-out;
}
.scr-item [class^="slide-motion"]{
    transform: translateX(80px);
    opacity: 0;
}
.scr-item.active-idx .slide-motion1{
    transform: translateX(0);
    opacity: 1;
    transition: all .5s .5s ease-in;
}
.scr-item.active-idx .slide-motion2{
    transform: translateX(0);
    opacity: 1;
    transition: all .5s .6s ease-in;
}
.scr-item.active-idx .slide-motion3{
    transform: translateX(0);
    opacity: 1;
    transition: all .5s .7s ease-in;
}
.scr-item.active-idx .slide-motion4{
    transform: translateX(0);
    opacity: 1;
    transition: all .5s .8s ease-in;
}
.scr-item.active-idx .slide-motion5{
    transform: translateX(0);
    opacity: 1;
    transition: all .5s .9s ease-in;
}
.mocean .btn-top-box {
	z-index: 1000;
}
@media screen and (min-width: 1120px) {
	.mocean .video-box.sep-m-p .img-thumb,
	.mocean .video-box.sep-m-p .btn-play{
		display: none;
	}
	.mocean .section1 .video-text {
		animation: fadeIn 15s ease-in 0s infinite normal forwards;
	}
	@keyframes fadeIn {
		0%{
			opacity: 0;
		}
		50%{
			opacity: 1;
		}
	}
	@-webkit-keyframes fadeIn {
		0%{
			-webkit-opacity: 0;
		}
		50%{
			-webkit-opacity: 1;
		}
	}
	.sample-swiper-num03 .swiper-wrapper{
		transition-duration: .3s !important;
	}
	.sample-swiper-num03 .swiper-pagination{
		display: none;
	}
    .mocean .gall-chk .swiper-slide:nth-of-type(1){
		width: 640px;
		margin-left: 50vw;
		padding-top: 26.83vh;
	}
    .mocean .gall-chk .swiper-slide:nth-of-type(2){
		width: 256px;
		margin-left: 80px;
		padding-top: 67.48vh;
	}
	.mocean .gall-chk .swiper-slide:nth-of-type(3){
		width: 228px;
		margin-left: 200px;
		padding-top: 36.59vh;
	}
	.mocean .gall-chk .swiper-slide:nth-of-type(4){
		width: 540px;
		margin-left: 72px;
		padding-top: 49.59vh;
	}
	.mocean .gall-chk .swiper-slide:nth-of-type(5){
		width: 336px;
		margin-left: 220px;
		margin-right: 17.22vw;
		padding-top: 36.38vh;
	} 
	.mocean .gall-chk .gall-txt-outer{
		top: 12.20vh;
		left: calc(50% - 560px);
	}
}
@media screen and (max-width: 1119px) {
	.mocean .hmj-container .hmj-content .cont-outer .cont-inner{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 14vh;
    }
    .mocean .hmj-header .sub-cont .back-page{
		background: transparent url(../images/common/ico_page_back_w.svg) no-repeat 20px center;
	}
	.mocean .hmj-footer,
	.mocean .hmj-footer.active {
		top: 0;
	}
	.mocean .h1{
		font-size: 24px;
		line-height: 38px;
	}
	.mocean .h2{
		font-size: 20px;
		line-height: 30px;
	}
	.mocean .cont-tit{
		font-size: 14px;
		line-height: 22px;
	}
	.mocean .cont-tit2{
		font-size: 14px;
		line-height: 22px;
	}
	.mocean .cont-text{
		font-size: 13px;
		line-height: 20px;
	}
	.mocean .section1 .video-text .video-tit{
		margin-bottom: 16px;
	}
	.mocean .section1 .video-text .video-logo{
		margin-bottom: 24px;
	}
	.mocean .section1 .video-box .btn-play{
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0, 0);
	}
	.mocean .section1 .scroll-guide{
		height: 120px;
	}
	.mocean .section1 .scroll-guide::before{
		height: 120px;
	}
	.mocean .section1 .scroll-guide::after{
		height: 20px;
	}
	@keyframes heightDown {
		0%{
			height: 20px;
		}
		100%{
			height: 120px;
		}
	}
	@-webkit-keyframes heightDown {
		0%{
			height: 20px;
		}
		100%{
			height: 120px;
		}
	}
	.mocean .section1 .scroll-guide span{
		top: 20px;
	}
	@keyframes topDown {
		0%{
			top: 20px;
		}
		100%{
			top: 120px;
		}
	}
	@-webkit-keyframes topDown {
		0%{
			top: 20px;
		}
		100%{
			top: 120px;
		}
	}
	.mocean .section2{
        background-image: url(../images/@img_motion_bg02_mo.jpg);
        background-position: center bottom;
    }
	.mocean .section2 .cont-tit{
		margin-top: 8px;
	}
    .mocean .section2 .txt-more{
        display: block;
        max-width: 520px;
        text-align: center;
    }
    .mocean .section2 .txt-more .btn-arrow{
        width: 32px;
        height: 32px;
        background: url(../images/common/ico_arrow_down_light_gray.svg) no-repeat center;
    }
    .mocean .section2 .text-box{
		margin-top: 4%;
        overflow: hidden;
        transition: all .3s 0S ease-in;
    }
    .mocean .section2 .text-box .cont-text{
        background: linear-gradient(to bottom, #fff 20%, rgba(255,255,255,0) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .mocean .section2 .text-box.active .cont-text{
        color: #fff;
        -webkit-text-fill-color: #fff;
    }
    .mocean .section2 .text-box.active + .txt-more .btn-arrow{
        transform: rotate(180deg);
    }
    .mocean .section2 .cont-text{
		max-width: 520px;
	}
	.mocean .section2 .cont-text + .cont-text{
		margin-top: 8px;
	}
	.mocean .section3{
        background-image: url(../images/@img_motion_bg03_mo.jpg);
    }
	.mocean .section3 .cont-tit2{
		font-size: 14px;
		line-height: 22px;
        margin-top: 3%;
    }
	.mocean .section3 .h3{
		bottom: 12%;
		font-size: 16px;
		line-height: 26px;
	}
	.mocean .gall-chk{
        height: 100%;
    }
    .mocean .gall-chk .gall-txt-outer{
        top: 14vh;
		width: 100%;
		padding: 0 20px;
	}
	.mocean .gall-chk .gall-txt-outer .cont-tit2{
		margin-top: 16px;
	}
	.mocean .gall-chk .swiper-outer-box{
		padding-left: 20px;
	}
	.mocean .gall-chk .swiper-wrapper{
		align-items: flex-end;
	}
	.mocean .gall-chk .swiper-slide{
		width: 26vh;
		height: 30%;
		margin-right: 24px;
        bottom: 16%;
	}
	.mocean .gall-chk .swiper-slide .gall-img{
		position: relative;
		width: 100%;
        height: 100%;
		overflow: hidden;
	}
	.mocean .gall-chk .swiper-slide .gall-img img{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 100%;
		width: 100%;
		max-width: unset;
		object-fit: cover;
	}
	.mocean .gall-chk .swiper-slide .cont-text2{
		margin-top: 8px;
	}
	.mocean .gall-chk .swiper-pagination{
        bottom: 6.5%;
		left: 50%;
		transform: translateX(-50%);
	}
	.mocean .gall-chk .swiper-pagination span + span{
		margin-left: 8px;
	}
    .scr-item [class*="motion"]{
        transform: translateY(40px);
        opacity: 0;
    }
	.mocean .hmj-footer {
		top: 100%;
		overflow-y: auto;
		height: auto;
		padding-top: 56px;
	}
	.hmj-footer.active {
		top: 0;
	}
}

@media (max-width: 1119px) and (orientation: landscape) {
	.mocean .hmj-container .hmj-content .cont-outer .cont-inner {
		padding-top: 24vh;
	}
	.mocean .gall-chk .gall-txt-outer{
        top: 24vh;
	}
}

