/* main */
body {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.mocean .hmj-header {
	background-color: transparent;
}
.mocean .header-fixed {
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
}
.ios .mocean .header-fixed {
	top: -52px;
}
.mocean .sub-cont {
	border: 1px solid rgb(233, 233, 233, .1);
	border-width: 1px 0;
	background-color: transparent;
}
.mocean .hmj-header .sub-cont .history > a,
.mocean .hmj-header .sub-cont .history > span {
	color: #fff;
}
.mocean .hmj-container {
	min-height: auto;
	padding-bottom: 0;
}
.mocean .hmj-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}
.mocean .hmj-header .header-outer {
	border-bottom: 0;
}
.mocean .hmj-header .gnb-mid-menu .mid-list li a {
	color: #fff;
}
.mocean .scr-gall-box {
	height: 100vh;
}
.mocean .scr-gall-box ul {
	overflow-x: auto;
	display: inline-block;
	font-size: 0;
	white-space: nowrap;
}
.mocean .scr-gall-box ul li {
	display: inline-block;
	width: 320px;
	height: 320px;
	background-color: rgba(255, 255, 255, .5);
}

.scr-item {
	transition: opacity .7s cubic-bezier(0.785, 0.135, 0.15, 0.86), top .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	position: fixed;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 2;
	padding: 82px 0;
	background-color: rgba(0, 0, 0, .9);
	color: #fff;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
.scr-item:first-child {
	top: 0%;
	opacity: 1;
	padding-top: 0 !important;
}
.scr-item.active {
	/* transition: all .7s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
	transition: opacity .7s cubic-bezier(0.785, 0.135, 0.15, 0.86), top .7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	opacity: 1;
	top: 0%;
}
.hmj-footer {
	transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	opacity: 0;
	z-index: -1;
}
.hmj-footer.active {
	transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: 10;
	overflow-y: auto;
	padding-top: 160px;
	pointer-events: auto;
}
@media screen and (max-width: 1119px) {
	.hmj-header .sub-cont .back-page {
		background-image: url(../images/common/ico_page_back_w.svg);
	}
	.mocean .hmj-footer,
	.mocean .hmj-footer.active {
		top: 0;
	}
}

.scr-navi-wrap {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 999;
}
.scr-idx-list li {
    position: relative;
}
.scr-idx-list li a {
    transition: color 0.5s ease-in-out;
	padding-right: 30px;
    font-size: 0;
	color: #fff;
}
.scr-idx-list li a:focus {
	outline: none;
}
.scr-idx-list li a:before {
    transition: border 0.5s ease-in-out;
	content: '';
	position: absolute;
	top: 7px;
	right: 0;
	width: 14px;
	height: 14px;
	margin: -5px 0 0 -5px;
	border: 1px solid #999;
	border-radius: 50%;
	vertical-align: top;
}
.scr-idx-list li a:after {
    transition: background-color 0.5s ease-in-out;
    content: '';
    position: absolute;
    top: 6px;
    right: 4px;
	width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}
.scr-idx-list li a:hover:after {
    background-color: #666;
}
.scr-idx-list li a.active {
    transition: color 0.5s ease-in-out;
    border-color: #086fe4;
	font-size: 14px;
	color: #086fe4;
    pointer-events: none;
}
.scr-idx-list li a.active:before {
    transition: border 0.5s ease-in-out;
	top: 4px;
	right: -2px;
	width: 18px;
	height: 18px;
    border-color: #086fe4;
}
.scr-idx-list li a.active:after {
    transition: background-color 0.5s ease-in-out;
	top: 3px;
	right: 2px;
	width: 12px;
    height: 12px;
    background-color: #086fe4;
}
.scr-idx-list li + li {
    margin-top: 5px;
}