@charset "utf-8";

/* common */
/* .my .cont-center {
	padding-top:60px;
} */

/* S: my Coupon */
.my-coupon .list-coupon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap:wrap;	
}
.my-coupon .list-coupon .item {
	margin-top: 56px;
	width:calc((100% - 32px) / 2);
}
.my-coupon .list-coupon .item:first-child,
.my-coupon .list-coupon .item:nth-child(2) {
	margin-top:0;
}
.my-coupon .list-coupon .item:nth-child(even) {
	margin-left: 32px;
}

.my-coupon .coupon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border:1px solid #ccc;
	height: 152px;
	max-height: 152px;
	box-shadow: 0 2px 2px 0 rgba(0, 44, 95, 0.1);
}
.my-coupon .coupon .box-detail {
	/* display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column; */
	width:100%;
	padding: 16px;
}
.my-coupon .coupon .box-detail .text-num {
	margin-top: 12px;
	font-size: 24px;
	font-weight: 500;
	line-height: 38px;
}
.my-coupon .coupon .box-detail .text-detail {
	margin-top: 8px;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 12px;
	color: #333;
	line-height:20px;
}

.my-coupon .coupon .box-day {
	position:relative;
	padding-left:10px;
	min-width:90px;
	text-align: center;
	background-color: #0793ea;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.my-coupon .coupon .box-day::before {
	content:'';
	position:absolute;
	top: -1px;
	left: 0;
	width:18px;
	height:160px;
	background: transparent url('../images/common/bg_coupon.jpg') no-repeat center;
	background-size: 18px auto;
}

.my-coupon .coupon .box-day .img-calendar {
	display:inline-block;
}
.my-coupon .coupon .box-day .text-day {
	background: transparent url('../images/common/ico_coupon_day.svg') no-repeat center top;
	background-size: 24px auto;
	padding-top: 28px;
	font-size:12px;
	font-weight: 500;
	color:#FFF;
	line-height: 20px;
}
.my-coupon .item .info {
	margin-top:16px;
}
.my-coupon .item .info li {
	line-height:20px;
	font-size:12px;
	font-family: 'HyundaiSansTextJP';
	color: #333;
}
.my-coupon .item .info li + li {
	padding-top: 3px;
}

.my-coupon .item.disabled  {
	color:#999;		
}
.my-coupon .item.disabled .coupon {
	box-shadow: none;
	border-color: #e9e9e9;
}
.my-coupon .item.disabled .coupon .box-detail .text-detail {
	color: #ccc;
}
.my-coupon .item.disabled .coupon .box-detail .text-num {
	color: #999;
}
.my-coupon .item.disabled .coupon .box-day {
	background-color: #ccc;	
}
.my-coupon .item.disabled .coupon .box-day::before {
	background-image: url('../images/common/bg_coupon_off.jpg');
}
.my-coupon .item.disabled .info li {
	color: #666;
}
.my-coupon .no-data::before {	
	background: url('../images/common/ico_nodata_coupon.svg') no-repeat center;
}

@media screen and (max-width: 1119px) {
	.my .cont-center {
		padding-top:20px;
	}
	.my-coupon .list-coupon .item {
		position: relative;
		width:100%;
		margin-top: 0;
		padding: 16px 20px 28px;
	}
	.my-coupon .list-coupon .item:nth-child(even) {
		margin-left:0;
	}
	.my-coupon .list-coupon .item::after {
		content: '';
		height: 12px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		background-color: #f5f5f5;
	}
	.my-coupon .list-coupon .item:last-child {
		padding-bottom: 32px;
	}
	.my-coupon .list-coupon .item:last-child::after {
		content: none;
	}
	.my-coupon .coupon .box-day {
		min-width: 74px;
	}
	.my-coupon .coupon .box-day .text-day {
		padding-top: 20px;
		background: url('../images/mo/ico_coupon_day.svg') no-repeat center top;
		background-size: 16px auto;
	}
}

/* E: my Coupon */

/* referal Code */
/* FE-RC-101 */
.my-rc .banner-cont {	
	margin-bottom: 32px;
	width: 100%;
	height:120px;		
}
.my-rc .banner-cont a {
	position:relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius:8px;	
	overflow: hidden;
}
.my-rc .banner-cont img {
	display:block;
	min-width:832px;
}
.my-rc .banner-cont .text {
	position:absolute;
	top:45px;
	left:40px;	
	color:#fff;
	line-height:30px;
	font-size:18px;
	font-weight:500;
}

.my-rc .toggle .cont {
	padding:48px 0;
}

.my-rc .recommend-code .referral-data {
	text-align:center;
	font-weight:500;
}
.my-rc .recommend-code .period-box {
	display:flex;
	margin-top:32px;
	padding:32px;
	box-sizing: border-box;
	border:1px solid #e9e9e9;
	border-radius:8px;
}

/* S :: Graph */
.my-rc .scr-item {
	-webkit-transition: top .5s ease-in-out;
	transition: top .5s ease-in-out;
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	height: 100%;
}
.my-rc .scr-item.active {
	-webkit-transition: top .5s ease-in-out;
	transition: top .5s ease-in-out;
	top: 0;
}

.my-rc .svg-outer-box {
	position: relative;
	width: 104px;
	height: 104px;
	/* margin: 0 40px; */
}
.my-rc .svg-outer-box.mo-only {
	width: 120px;
	height: 120px;
}
.my-rc .progress {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.ios .progress {
	-webkit-transform: rotate(-90deg) scaleY(-1);
	transform: rotate(-90deg) scaleY(-1);
}
.ie11 .progress {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.my-rc .progress-meter,
.my-rc .progress-ing,
.my-rc .progress-bottom,
.my-rc .progress-top {
	fill: none;
}
.my-rc .progress-meter {
	stroke: #e9e9e9;
}
.my-rc .progress-ing {
	stroke: #0793ea;
	stroke-linecap: round;
}
.my-rc .progress-bottom,
.my-rc .progress-top {
	stroke: #fff;
	stroke-linecap: round;
}
.my-rc .progress-top {
	stroke-dashoffset: 931.646px;
}
.my-rc .mo-only .progress-top {
	stroke-dashoffset: 1082.646px;
}
.my-rc .progress-bottom {
	stroke-dashoffset: -727.646px;
}

.my-rc .progress-num {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-align: center;
	font-size: 16px;
	line-height: 104px;
}
.my-rc .mo-only .progress-num {
	line-height: 120px;
}

/* E :: Graph */

.my-rc .recommend-code .period-box .info-box {
	padding: 7px 0 7px 32px;
	color:#666;
}

.my-rc .recommend-code .period-box .detail li::before {
	content:'';
	display:inline-block;
	margin-right:8px;
	width:16px;
	height:16px;
	vertical-align: -3px;
}

.my-rc .period-box .detail li span {
	padding-left:16px;
	font-weight: 500;
}
.my-rc .period-box .detail li.date span {
	color:#191919;
}
.my-rc .period-box .detail li.date::before {
	background:url('../images/common/ico_rc_calendar.svg');
}
.my-rc .period-box .detail li.time {
	margin-top: 8px;
}
.my-rc .period-box .detail li.time span {
	color:#002c5f;
}
.my-rc .period-box .detail li.time::before {
	background:url('../images/common/ico_rc_clock.svg');
}
.my-rc .period-box .text-info {
	margin-top: 16px;	
}

.my-rc .recommend-code .caution {
	margin-top:16px;
}
.my-rc .recommend-code .cta-outer {
	margin-top:40px;
}

.my-rc .my-code .cont {
	padding:48px;
	background:#fafafa;
	text-align:center;
}
.my-rc .my-code .no-data {
	min-height: 0;
	padding: 0;
}
.my-rc .no-data::before {	
	background: url('../images/common/ico_no_rc_car.svg') no-repeat center;
}
.my-rc .my-code .no-data .copy {
	margin-top: 8px;
	color:#666;
}
.my-rc .my-code .no-data .box-info {
	width: 100%;
	margin-top: 24px;
	padding:16px;
	box-sizing: border-box;
	background:#fff;
	border:1px solid #e9e9e9;
	border-radius: 8px;
}
.my-rc .my-code .no-data .box-info .sub-copy {
	color:#666;
}
.my-rc .my-code .no-data .box-info .sub-copy span {
	color:#191919;
}
.my-rc .my-code .my-rc-code .img-box {
	margin:0 auto 8px;
	width:352px;
	height:168px;
}
.my-rc .my-code .my-rc-code .img-box img {
	display:block;
	width: 100%;
}
.my-rc .my-code .my-rc-code .text-code {
	display:inline-block;
	font-weight:500;
}

.my-rc .my-code .my-rc-code .text {
	margin-top: 8px;
	color:#666;
}
.my-rc .my-code .my-rc-code .box-code-share {
	position :relative;
	display: flex;
	margin: 24px auto 0;
	width:640px;
}
.my-rc .my-code .my-rc-code .box-code-share::before {
	content:'';
	position:absolute;
	left: 15px;
	top: 15px;
	width:24px;
	height:24px;
	background:url('../images/common/ico_url_copy.svg')no-repeat center;
}
.my-rc .my-code .my-rc-code .box-code-share .btn-share {
	display:none;
}
.my-rc .my-code .my-rc-code .box-code-share .inp-url {
	flex:auto;
	padding: 0 24px 0 56px;
	height:56px;
	border:1px solid #ccc;
	border-radius:8px 0 0 8px;
	color:#191919;
	line-height:26px;
	text-overflow: ellipsis;
	font-size:16px;
}
.my-rc .my-code .my-rc-code .box-code-share .btn-copy {
	width:114px;
	height:56px;
	background:#002c5f;
	border-radius:0 8px 8px 0;
	color:#fff;
	line-height:26px;
	font-weight:500;
	font-size:16px;
}

.my-rc .reward-status {
	position:relative;	
}
.my-rc .sub-tit {
	font-weight:500;
}
.my-rc .reward-status .text-date {
	position:absolute;
	top:10px;
	right:0;
	color:#666;
	line-height:22px;
	font-size:14px;
}
.my-rc .reward-status .reward-data {
	display:flex;
	margin-top: 24px;
	padding:24px 0;
	box-sizing: border-box;
	border:1px solid #e9e9e9;
	border-radius:8px;
}
.my-rc .reward-status li {
	position:relative;
	flex:1;
	padding:6px 0 0 128px;	
}
.my-rc .reward-status li::after {
	content:'';
	position:absolute;
	top:0;
	left:24px;	
	width:80px;
	height:80px;
}
.my-rc .reward-status li:first-child::after {
	background-image:url('../images/common/ico_rc_reward01.svg');
}
.my-rc .reward-status li:last-child::after {
	background-image:url('../images/common/ico_rc_reward02.svg');
}
.my-rc .reward-status li:last-child::before {
	content:'';
	position:absolute;
	top:8px;
	left:0;	
	width:1px;
	height:64px;
	background:#e9e9e9;
}

.my-rc .reward-status li .tit {
	color:#666;
}

.my-rc .reward-status li .data {
	margin-top:8px;
}

.my-rc .reward-status li .num {
	margin-right:8px;
	line-height:38px;
	font-size:24px;
	font-weight:500;
}
.my-rc .reward-status li .data span:not(.num) {
	color:#666;
	line-height:22px;
	font-size:14px;
}

.my-rc .my-reward {
	margin-top: 48px;
}
.my-rc .my-reward .sub-tit .num {
	margin-left:8px;
}
.my-rc .my-reward .list-reward {
	margin-top: 24px;
}
.my-rc .my-reward .list-reward li {
	margin-top:8px;
	padding:0 32px;
	display:flex;
	align-items: center;
	height:74px;
	background:#fafafa;
	border-radius:8px;
}
.my-rc .my-reward .list-reward li:first-child {
	margin-top:0;
}
.my-rc .my-reward .list-reward li p {
	flex:1 auto;	
}
.my-rc .my-reward .list-reward .product-name {	
	min-width:520px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.my-rc .my-reward .list-reward .name {
	padding-left:32px;
	color:#999;
	line-height:22px;
	font-size:14px;
}

.my-rc .my-reward .list-reward .date {
	text-align: right;
	color:#999;
	line-height:22px;
	font-size:14px;	
}

@media screen and (max-width: 1119px) {
	.my-rc .toggle .cont {
		padding:40px 20px;
	}
	.my-rc .banner-cont {
		padding:0 20px;
		margin-bottom:24px;
		height:80px;
	}
	.my-rc .banner-cont img {
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50% , -50%);
		min-width:1118px;
	}
	.my-rc .banner-cont .text {
		top:30px;
		left:16px;
		line-height:20px;
		font-size:12px;
	}
	.my-rc .recommend-code .period-box {
		margin-top:24px;
		padding:24px;
		flex-direction: column;
		align-items: center;
	}
	.my-rc .recommend-code .period-box .info-box {
		margin-top: 24px;
		padding:0;
		width:100%;
	}
	.my-rc .recommend-code .cta-outer {
		margin-top:32px;
	}
	.my-rc .my-code .my-rc-code .img-box {
		width: 100%;
		text-align: center;
	}
	.my-rc .my-code .my-rc-code .img-box {
		width: auto;
		height: 100%;
	}
	.my-rc .my-code .my-rc-code .text {
		font-size:12px;
		line-height:20px;
	}
	.my-rc .my-code .my-rc-code .box-code-share {
		width:100%;
		flex-wrap: wrap;
	}
	.my-rc .my-code .my-rc-code .box-code-share .inp-url {
		padding:0 16px 0 40px;
		width:calc(100% - 68px);
		height:48px;
		font-size:12px;
		line-height:20px;
	}
	.my-rc .my-code .my-rc-code .box-code-share::before {
		width:16px;
		height:16px;
		background-size:18px;
	}
	.my-rc .my-code .my-rc-code .box-code-share .btn-copy {
		width:68px;
		height:48px;
		line-height:20px;
		font-size:12px;
	}
	.my-rc .my-code .my-rc-code .box-code-share .btn-share {
		display:block;
		padding-top:16px;
		width: 100%;		
	}
	
	.my-rc .my-code .my-rc-code .box-code-share .btn-share button {
		color:#666;		
		line-height:20px;
		vertical-align: middle;
		font-size:12px;
	}
	.my-rc .my-code .my-rc-code .box-code-share .btn-share button::before {
		content:'';
		display:inline-block;
		margin-right:8px;
		width:16px;
		height:16px;
		background:url('../images/common/ico_url_share.svg') no-repeat;
		vertical-align: middle;
	}

	.my-rc .reward-status {
		margin:0 20px;
	}
	.my-rc .reward-status .reward-data {
		display:block;
		margin-top: 16px;
		padding:0;
		border:none;
	}

	.my-rc .reward-status .reward-data li {
		padding:16px 16px 16px 80px;
		border:1px solid #e9e9e9;
		border-radius:8px;
	}
	.my-rc .reward-status li::after {
		top:16px;
		left:16px;
		width:64px;
		height:64px;
		background-size: 64px;
	}
	.my-rc .reward-status li:last-child {
		margin-top:8px;
	}
	.my-rc .reward-status li:last-child::before {
		display:none;
	}
	.my-rc .reward-status li .tit {
		text-align: right;
	}
	.my-rc .reward-status li .data {
		margin-top: 4px;
		text-align: right;
	}
	.my-rc .reward-status li .data span:not(.num) {
		line-height:20px;
		font-size:12px;
	}
	.my-rc .reward-status .text-date {
		position:static;
		margin-top:8px;
		line-height:20px;
		text-align: right;
		font-size:12px;		
	}
	.my-rc .my-reward {
		margin-top:40px;
	}
	.my-rc .my-reward .sub-tit {
		margin:0 20px;
	}
	.my-rc .my-reward .list-reward {
		margin:16px 20px 32px;
	}
	.my-rc .my-reward .list-reward li {
		flex-wrap: wrap;
		padding:16px;
		height:auto;
	}
	.my-rc .my-reward .list-reward .product-name {
		margin-bottom:8px;
		min-width:100%;
	}
	.my-rc .my-reward .list-reward .name {
		padding-left:0;
		line-height:20px;
		font-size:12px;		
	}
	.my-rc .my-reward .list-reward .date {
		line-height:20px;
		font-size:12px;
	}
	

	.my-rc .svg-outer-box.mo-only .progress-num {
		line-height:120px;
	}
	.my-rc .svg-outer-box.mo-only {
		display:block;
	}
}