@charset "utf-8";

/* 로드사이드 어시스턴스 */
.roadside .info-text {
    text-align: center;
}
.roadside .info-text .text-type1 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
}
.roadside .info-text .text-type2 {
    font-size: 16px;
    line-height: 26px;
}
.roadside .service-area {
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}
.roadside .service-area  > * {
    width: 50%;
}
.roadside .service-area .tel .text {
    margin-bottom: 16px;
    color: #1c6bba;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.roadside .service-area .tel .number {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
.roadside .service-area .tel .number::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 4px;
    background-image: url(../images/common/ico_tel.svg);
    vertical-align: middle;
}
.roadside .service-area .list {
    display: flex;
    height: 100%;
    padding-top: 58px;
    color: #333;
    text-align: center;
    font-family: 'HyundaiSansTextJP';
    background-color: #fafafa;
    border-left: 1px solid #e9e9e9;
}
.roadside .service-area .list li {
    flex: 1;
    padding: 0 40px;
}
.roadside .service-area .list li::before {
    content: '';
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto 8px;
}
.roadside .service-area .list li:nth-child(1)::before {
    background-image: url(../images/common/ico_roadside1.svg);
}
.roadside .service-area .list li:nth-child(2)::before {
    background-image: url(../images/common/ico_roadside2.svg);
}
.roadside .service-area .list li:nth-child(3)::before {
    background-image: url(../images/common/ico_roadside3.svg);
}
.roadside .caution-text {
    margin-top: 64px;
    color: #666;
    text-align: center;
}
.roadside .caution-text p:not(:first-child) {
    margin-top: 8px;
}
@media screen and (max-width: 1119px) {
    .roadside .cont-outer {
        padding: 40px 20px 0 !important;
    }
    .roadside .info-text .text-type1 {
        font-size: 20px;
        line-height: 32px;
    }
    .roadside .info-text .text-type2 {
        font-size: 14px;
        line-height: 22px;
    }
    .roadside .service-area {
        flex-flow: column;
        height: auto;
        margin-top: 40px;
    }
    .roadside .service-area > * {
        width: 100%;
        padding: 40px 32px;
    }
    .roadside .service-area .tel .text {
        font-size: 14px;
        line-height: 22px;
    }
    .roadside .service-area .tel a.number {
        display: block;
        width: 224px;
        height: 58px;
        margin: 0 auto;
        line-height: 58px;
        border: 1px solid #e9e9e9;
        border-radius: 29px;
        font-size: 16px;
    }
    .roadside .service-area .list {
        flex-flow: column;
        padding-top: 40px;
        border-left: none;
        border-top: 1px solid #e9e9e9;
    }
    .roadside .service-area .list li {
        position: relative;
        min-height: 48px;
        padding: 0 0 0 64px;
        text-align: left;
    }
    .roadside .service-area .list li > p{
        display: table-cell;
        height: 48px;
        vertical-align: middle;
    }
    .roadside .service-area .list li:not(:last-child) {
        margin-bottom: 32px;
    }
    .roadside .service-area .list li::before {
        position: absolute;
        top: 0;
        left: 0;
    }
    .roadside .caution-text {
        margin-top: 40px;
    }
}