<!DOCTYPE html>
<html>
<head>
<title>Social Feed Youtube</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div style="font-size:16px;padding:20px 0">
        <p>게시물 옵션 : (default - 4개 노출) / .type-5post (5개 노출시)</p>
    </div>

    <!-- component -->
    <div class="type-dark">
        <!-- [D] SF1A : social-type-insta / SF1B : social-type-youtube / SF1C : social-feed-facebook (단순 구분용 클래스) -->
        <div class="social-feed social-type-youtube">
            <div class="social-feed__inner">
                <div class="social-feed__header">
                    <div class="social-feed__title-sub">Genesis global text</div>
                    <strong class="social-feed__title">Genesis global text</strong>
                </div>
                <div class="social-feed__content">
                    <div class="social-feed__list">
                        <div class="social-feed__item">
                            <!-- [F] 호버 시 : .is-hover 클래스 추가 -->
                            <a href="#" class="social-feed__link is-hover">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text Genesis global text Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles.</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- [D] 게시물 5개 노출할 경우 type-5post 클래스 추가 -->
                <div class="social-feed__content type-5post">
                    <div class="social-feed__list">
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles.</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles.</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="social-feed__cta">
                    <button type="button" class="social-feed__btn-more">Lorem</button>
                </div>
            </div>
        </div>
    </div>

    <div class="type-light">
        <!-- [D] SF1A : social-type-insta / SF1B : social-type-youtube / SF1C : social-feed-facebook (단순 구분용 클래스) -->
        <div class="social-feed social-type-youtube">
            <div class="social-feed__inner">
                <div class="social-feed__header">
                    <div class="social-feed__title-sub">Genesis global text</div>
                    <strong class="social-feed__title">Genesis global text</strong>
                </div>
                <div class="social-feed__content">
                    <div class="social-feed__list">
                        <div class="social-feed__item">
                            <!-- [F] 호버 시 : .is-hover 클래스 추가 -->
                            <a href="#" class="social-feed__link is-hover">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text Genesis global text Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles.</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- [D] 게시물 5개 노출할 경우 type-5post 클래스 추가 -->
                <div class="social-feed__content type-5post">
                    <div class="social-feed__list">
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles.</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles.</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                        <div class="social-feed__item">
                            <a href="#" class="social-feed__link">
                                <div class="social-feed__img">
                                    <div class="js-img-bg" style="background-image:url('http://via.placeholder.com/635x635')"></div>
                                </div>
                                <div class="social-feed__info">
                                    <div class="social-feed__info-icon js-svg-icon" data-icon="svg-youtube">
                                        <span class="blind">Youtube</span>
                                    </div>
                                    <div class="social-feed__info-title">Genesis global text</div>
                                    <div class="social-feed__info-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <span class="cm-btn-more type-white type-newwindow"><span>See more</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="social-feed__cta">
                    <button type="button" class="social-feed__btn-more">Lorem</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
