<!DOCTYPE html>
<html lang="ko">
<head>
<title>General Tab</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div style="font-size:16px;padding:20px 0">
        <p>Column 옵션 : (default) / .type-5more </p>
    </div>

    <!-- component (4 Column 이하) -->
    <div class="type-light">
        <div class="cp-general-tab">
            <div class="cp-general-tab__inner">
                <div class="swiper-container">
                    <div class="swiper-wrapper cp-general-tab__list">
                        <!-- /* [D] 활성화 : .is-selected 클래스 추가 */ -->
                        <div class="swiper-slide is-selected">
                            <div class="slide-inner">
                                <div class="cp-general-tab__item">
                                    <a href="#">작고 바이며, 바이며, 교향악이다.</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="cp-general-tab__item">
                                    <a href="#">작고 바이며, 바이며, 교향악이다.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                    <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
    <div style="height:100px;"></div>
    <!-- component (5 Column 이상) -->
    <div class="type-light">
        <div class="cp-general-tab type-5more">
            <div class="cp-general-tab__inner">
                <div class="swiper-container">
                    <div class="swiper-wrapper cp-general-tab__list">
                        <!-- /* [D] 활성화 : .is-selected 클래스 추가 */ -->
                        <div class="swiper-slide is-selected">
                            <div class="slide-inner">
                                <div class="cp-general-tab__item">
                                    <a href="#">작고 바이며, 바이며, 교향악이다</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="cp-general-tab__item">
                                    <a href="#">작고 바이며, 바이며</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="cp-general-tab__item">
                                    <a href="#">작고 바이며, 바이며, 교향악이다.</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="cp-general-tab__item">
                                    <a href="#">작고 바이며, 바이며, 교향악이다.</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner">
                                <div class="cp-general-tab__item">
                                    <a href="#">작고 바이며, 바이며, 교향악이다.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                    <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
