<div class="cm-layer find-room-popup type-alert js-cm-layer" id="find-show-room-layer">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>삼성 지점</strong>
            </div>
            <div class="cm-layer__content">
                <div class="cm-place-info">
                    <div class="cm-place-info__desc">서울특별시 강남구 영동대로 706</div>
                    <div class="cm-place-info__desc">02-516-7341</div>
                </div>

                <div class="find-room-popup__model-title">
                    <strong>보유 차량</strong>
                    <span class="cm-find-map__model-tags">
                        <span class="cm-find-map__model">GV80</span>
                        <span class="cm-find-map__model">G70</span>
                        <span class="cm-find-map__model">G80</span>
                        <span class="cm-find-map__model">G90</span>
                    </span>
                    <a href="https://www.genesis.com/kr/ko/popup-info-color.html" class="cm-btn-more is-default is-hover" target="_blank" title="색상정보 확인하기"><span>색상정보 확인하기</span></a>
                </div>

                <div class="find-room-popup__model-slider">
                    <div class="models-slider__panel-wrap">
                        <div class="models-slider__panel">
                            <div class="models-slider__panel-item">
                                <div class="models-slider__model-text">
                                    <em class="models-slider__model-name">GENESIS G70</em>
                                    <div class="models-slider__model-desc">G70 자가용 가솔린 2.0T ELITE AWD 20MY</div>
                                    <dl class="models-slider__model-colors">
                                    <dt>외관 색상</dt>
                                    <dd>블레이징 레드</dd>
                                    <dt>내장 색상</dt>
                                    <dd>블랙원톤</dd>
                                    </dl>
                                </div>
                                <div class="models-slider__model-img">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 768px)" data-srcset="/apps/components/common/find-show-room-popup/imgs/@big-g70.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        <img data-media="(min-width: 0px)" data-srcset="/apps/components/common/find-show-room-popup/imgs/@big-g70-mo.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="models-slider__panel-item">
                                <div class="models-slider__model-text">
                                    <em class="models-slider__model-name">GENESIS G70</em>
                                    <div class="models-slider__model-desc">G70 자가용 가솔린 2.0T ELITE AWD 20MY</div>
                                    <dl class="models-slider__model-colors">
                                    <dt>외관 색상</dt>
                                    <dd>블레이징 레드</dd>
                                    <dt>내장 색상</dt>
                                    <dd>블랙원톤</dd>
                                    </dl>
                                </div>
                                <div class="models-slider__model-img">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/440x205" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/570x266" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="models-slider__panel-item">
                                <div class="models-slider__model-text">
                                    <em class="models-slider__model-name">GENESIS G70</em>
                                    <div class="models-slider__model-desc">G70 자가용 가솔린 2.0T ELITE AWD 20MY</div>
                                    <dl class="models-slider__model-colors">
                                    <dt>외관 색상</dt>
                                    <dd>블레이징 레드</dd>
                                    <dt>내장 색상</dt>
                                    <dd>블랙원톤</dd>
                                    </dl>
                                </div>
                                <div class="models-slider__model-img">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/440x205" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/570x266" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="models-slider__panel-item">
                                <div class="models-slider__model-text">
                                    <em class="models-slider__model-name">GENESIS G70</em>
                                    <div class="models-slider__model-desc">G70 자가용 가솔린 2.0T ELITE AWD 20MY</div>
                                    <dl class="models-slider__model-colors">
                                    <dt>외관 색상</dt>
                                    <dd>블레이징 레드</dd>
                                    <dt>내장 색상</dt>
                                    <dd>블랙원톤</dd>
                                    </dl>
                                </div>
                                <div class="models-slider__model-img">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/440x205" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/570x266" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="models-slider__panel-item">
                                <div class="models-slider__model-text">
                                    <em class="models-slider__model-name">GENESIS G70</em>
                                    <div class="models-slider__model-desc">G70 자가용 가솔린 2.0T ELITE AWD 20MY</div>
                                    <dl class="models-slider__model-colors">
                                    <dt>외관 색상</dt>
                                    <dd>블레이징 레드</dd>
                                    <dt>내장 색상</dt>
                                    <dd>블랙원톤</dd>
                                    </dl>
                                </div>
                                <div class="models-slider__model-img">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/440x205" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/570x266" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="models-slider__nav">
                        <div class="models-slider__wrap">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- [F] 선택 시 is-selected 클래스 추가 -->
                                    <div class="swiper-slide is-selected">
                                        <div class="slide-inner">
                                            <a href="#" class="models-slider__nav-item">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="/apps/components/common/find-show-room-popup/imgs/@sm-g70.jpg"  src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="/apps/components/common/find-show-room-popup/imgs/@sm-g70-mo.jpg"  src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <a href="#" class="models-slider__nav-item">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/80x52" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/98x64" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <a href="#" class="models-slider__nav-item">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/80x52" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/98x64" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <a href="#" class="models-slider__nav-item">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/80x52" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/98x64" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <a href="#" class="models-slider__nav-item">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://placehold.it/80x52" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://placehold.it/98x64" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                            <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="find-room-popup__master-title">
                    <strong>카마스터</strong>
                    <p>상담을 원하시는 카마스터의 정보를 확인하시고 유선 또는 이메일로 연락하세요.</p>
                </div>
                <div class="cm-table type-row">
                    <table>
                        <caption>카마스터 정보</caption>
                        <colgroup>
                            <col>
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">최춘호</th>
                                <td>010-1234-1234<br>genesis@hyundai.com</td>
                            </tr>
                            <tr>
                                <th scope="row">최춘호</th>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr>
                                <th scope="row">최춘호</th>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr>
                                <th scope="row">최춘호</th>
                                <td>010-1234-1234</td>
                            </tr>
                            <tr>
                                <th scope="row">최춘호</th>
                                <td>010-1234-1234<br>genesis@hyundai.com</td>
                            </tr>
                            <tr>
                                <th scope="row">최춘호</th>
                                <td>010-1234-1234</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">Close popup</span>
                </button>
            </div>
        </div>
    </div>
</div>
