<!DOCTYPE html>
<html>
<head>
<title>General Hero</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-dark">
        <div class="cp-support-kv">
            <div class="cp-support-kv__inner">
                <div class="cp-support-kv__text">
                    <h1 class="el-title">Download Center</h1>
                    <p class="el-text">Stay updated with the latest information about the Genesis product lineup.</p>
                </div>
                <div class="cp-support-kv__img">
                    <!-- [D] 이미지 BG 케이스 -->
                    <div class="js-picture">
                        <div class="js-img-bg" data-media="(min-width: 768px)" data-srcset="/apps/components/general-hero/imgs/@img.jpg"></div>
                        <div class="js-img-bg" data-media="(min-width: 0px)" data-srcset="/apps/components/general-hero/imgs/@img.jpg"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="type-dark">
        <div class="cp-support-kv">
            <div class="cp-support-kv__inner">
                <div class="cp-support-kv__text">
                    <h1 class="el-title">Download Center</h1>
                    <p class="el-text">Stay updated with the latest information about the Genesis product lineup.</p>
                </div>
                <div class="cp-support-kv__img">
                    <!-- [D] 영상 BG 케이스 -->
                    <div class="js-picture-video">
                        <div class="video-container" data-media="(min-width: 768px)">
                            <video muted playsinline loop preload="none" width="1" height="1">
                                <source src="imgs/@video1.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="video-container" data-media="(min-width: 0px)">
                            <video muted playsinline loop preload="none" width="1" height="1">
                                <source src="imgs/@video1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
