<!DOCTYPE html>
<html lang="ko">
<head>
<title>Terms And Conditions</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1920px;margin:0 auto; font-size:16px;padding:20px 0">
        <dl>
        <dt>1) Tab (Add to .cp-terms-conditions__tab)</dt>
        <dd>- 4개씩 노출 : default</dd>
        <dd>- 5개씩 노출 : .tab-col-5</dd>
        </dl>
    </div>

    <!-- component -->
    <div class="type-light">
        <section class="cp-terms-conditions">
            <div class="cp-terms-conditions__inner">
                <div class="cp-terms-conditions__header">
                    <h2 class="terms-title">개인정보 처리방침</h2>
                    <!-- [D] tab 5 노출 : tab-col-5 클래스 추가 -->
                    <div class="cp-terms-conditions__tab">
                        <ul class="cp-terms-conditions__tab-list">
                        <!-- [D] 활성화 : is-selected 클래스 추가 -->
                        <li class="cp-terms-conditions__tab-item is-selected">
                            <a href="#" class="terms-tab-btn"><span>웹사이트 회원</span></a>
                        </li>
                        <li class="cp-terms-conditions__tab-item">
                            <a href="https://www.hyundai.com/kr/ko/personal-information" class="terms-tab-btn" target="_blank"><span>차량구매-정비 고객</span></a>
                        </li>
                        <li class="cp-terms-conditions__tab-item">
                            <a href="#" class="terms-tab-btn"><span>카페이 서비스</span></a>
                        </li>
                        <li class="cp-terms-conditions__tab-item">
                            <a href="#" class="terms-tab-btn"><span>제네시스 커넥티드 서비스</span></a>
                        </li>
                        <li class="cp-terms-conditions__tab-item">
                            <a href="#" class="terms-tab-btn"><span>디지털 키</span></a>
                        </li>
                        <li class="cp-terms-conditions__tab-item">
                            <a href="#" class="terms-tab-btn"><span>빌트인 캠</span></a>
                        </li>
                        <li class="cp-terms-conditions__tab-item">
                            <a href="#" class="terms-tab-btn"><span>어카운트 서비스</span></a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="cp-terms-conditions__body">
                    <div class="cp-terms-conditions__body-header">
                        <h3 class="terms-sub-title">제네시스 웹사이트 개인정보 처리방침</h3>
                        <div class="cm-select type2 js-select-wrap">
                            <a href="#" class="cm-select__placeholder" aria-expanded="false"><span>2019.01.23 시행</span></a>
                            <div class="cm-select__options" role="listbox" style="display:none;">
                                <ul role="presentation">
                                <li role="presentation"><a href="#" role="option">2019.01.23 시행</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cp-terms-conditions__content">
                        <!-- [D] HTML 등록 영역 -->
                        
                        <!-- // [D] HTML 등록 영역 -->
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //component -->
    
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
