<!DOCTYPE html>
<html lang="ko">
<head>
<title>Image And Text</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1920px;margin:0 auto; font-size:16px;padding:20px 0">
        <dl>
        <dt>1) Column (Add to .cp-image-text)</dt>
        <dd>- 1 Column : default</dd>
        <dd>- 2 Column : .type-2column</dd>
        <dd>- 3 Column : .type-3column</dd>
        <dd>- 4 Column : .type-4column</dd>
        </dl>
    </div>

    <!-- component (1 Column) -->
    <div class="type-light">
        <!-- [D] 레이아웃 : .type-2column(2컬럼), type-3column(3컬럼), type-4column(4컬럼) 클래스 추가 -->
        <div class="cp-image-text">
            <div class="cp-image-text__inner">
                <ul class="cp-image-text__item-list">
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/1080x610" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/1080x610" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">
                                작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다<br><br>
                                작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 
                                <span class="cm-tooltip js-tooltip tooltip-type-light">
                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">찬미</a>
                                    <span class="cm-tooltip-layer">
                                        <span class="cm-tooltip-layer__inner">까다롭게 엄선된 오픈포어 리얼우드를 적용하여 부드러우면서도 실제 천연 원목의 질감을 살려 프리미엄함을 연출합니다.
                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                        </span>
                                    </span>
                                </span>
                                를 속에서 이 말이다. 못하다
                            </p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/1080x610" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/1080x610" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2> <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                </ul>
                <div class="cp-image-text__disc">
                    <p>＊ 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component (1 Column) -->

    <!-- component (2 Column) -->
    <div class="type-light">
        <!-- [D] 레이아웃 : .type-2column(2컬럼), type-3column(3컬럼), type-4column(4컬럼) 클래스 추가 -->
        <div class="cp-image-text type-2column">
            <div class="cp-image-text__inner">
                <ul class="cp-image-text__item-list">
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 작고 바이며 바이며, 교향악이다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 작고 바이며 바이며, 교향악이다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 작고 바이며 바이며, 교향악이다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 작고 바이며 바이며, 교향악이다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                </ul>
                <div class="cp-image-text__disc">
                    <p>＊ 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component (2 Column) -->

    <!-- component (3 Column) -->
    <div class="type-light">
        <!-- [D] 레이아웃 : .type-2column(2컬럼), type-3column(3컬럼), type-4column(4컬럼) 클래스 추가 -->
        <div class="cp-image-text type-3column">
            <div class="cp-image-text__inner">
                <ul class="cp-image-text__item-list">
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                </ul>
                <div class="cp-image-text__disc">
                    <p>＊ 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component (3 Column) -->

    <!-- component (4 Column) -->
    <div class="type-light">
        <!-- [D] 레이아웃 : .type-2column(2컬럼), type-3column(3컬럼), type-4column(4컬럼) 클래스 추가 -->
        <div class="cp-image-text type-4column">
            <div class="cp-image-text__inner">
                <ul class="cp-image-text__item-list">
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                <li class="cp-image-text__item">
                    <div class="cp-image-text__item-inner">
                        <div class="cp-image-text__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-text__text">
                            <em class="el-eyebrow js-animate">작고 바이며, 바이며, 교향악이다.</em>
                            <h2 class="el-title js-animate">작고 바이며, 바이며, 교향악이다.</h2>
                            <p class="el-desc js-animate">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직</p>
                            <a href="#" class="cm-btn-more js-animate" title="자세히 보기"><span>자세히 보기</span></a>
                        </div>
                    </div>
                </li>
                </ul>
                <div class="cp-image-text__disc">
                    <p>＊ 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component (4 Column) -->
    
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>