bms-2.0/publishing/bms-project/assets/video/training01.mp4
bms-2.0/publishing/bms-project/assets/video/training02.mp4
bms-2.0/publishing/bms-project/assets/video/training03.mp4
bms-2.0/publishing/bms-project/assets/video/training04.mp4
bms-2.0/publishing/bms-project/assets/video/zip/training01.mp4
bms-2.0/publishing/bms-project/assets/video/zip/training02.mp4
bms-2.0/publishing/bms-project/assets/video/zip/training03.mp4
bms-2.0/publishing/bms-project/assets/video/zip/training04.mp4