<div class="cm-layer type-alert js-cm-layer general-cta-popup__lg" id="large-freecoding-layer">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>정부 공인 표준 연비 및 등급</strong>
            </div>
            <div class="cm-layer__content">
                <div class="general-cta-popup__content">
                    <!--#include virtual="/apps/components/freecode_content/fuel-grade-table/@include_html.html"-->
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn js-layer-closer">
                        <span class="text">닫기</span>
                        <span class="masker"><span>닫기</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">닫기</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- [D] Small size popup -->
<div class="cm-layer type-alert js-cm-layer general-cta-popup__sm" id="small-freecoding-layer">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>타이어 에너지 소비효율 등급</strong>
            </div>
            <div class="cm-layer__content">
                <!--/* 임시  */-->
                <div class="general-cta-popup__content" style="background: rgba(0,0,0,0.2);height: 50vh;">
                </div>
                <!--/* //임시  */-->
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn js-layer-closer">
                        <span class="text">닫기</span>
                        <span class="masker"><span>닫기</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">닫기</span>
                </button>
            </div>
        </div>
    </div>
</div>