.find-center-popup .cm-btn.type-white {
  background-color: #fff;
}

.find-center-popup .cm-btn.type-white:after {
  border-color: #111;
}

.find-center-popup .cm-btn.type-white .text {
  color: #000;
}

.find-center-popup .cm-btn.type-white .masker {
  background-color: #111;
}

.find-center-popup .cm-btn.type-white .masker:after {
  border-color: #111;
}

.find-center-popup .cm-btn.type-white .masker span {
  color: #fff;
}

.find-center-popup .cm-btn {
  background-color: #111;
}

.find-center-popup .cm-btn:after {
  z-index: 10;
  border-color: #111;
}

.find-center-popup .cm-btn .text {
  color: #fff;
}

.find-center-popup .cm-btn .masker {
  background-color: #fff;
}

.find-center-popup .cm-btn .masker:after {
  z-index: 10;
  border-color: #111;
}

.find-center-popup .cm-btn .masker span {
  color: #000;
}

.find-center-popup.type-alert .cm-layer__wrapper {
  width: 800px;
  width: 80rem;
  white-space: normal;
}

.find-center-popup .cm-layer__body {
  white-space: nowrap;
}

.find-center-popup .cm-layer__body .cm-layer__content {
  position: relative;
  text-align: left;
}

.find-center-popup .cm-find-map__model {
  position: absolute;
  top: 40px;
  top: 4rem;
  right: 40px;
  right: 4rem;
  margin: 0;
}

.find-center-popup .cm-place-info {
  margin: 6px 0 40px;
  margin: 0.6rem 0 4rem;
}

.find-center-popup .cm-place-info__desc {
  font-family: "genesis-text", sans-serif;
}

.find-center-popup .cm-layer__cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  margin-top: 5rem;
}

.find-center-popup .cm-btn {
  font-size: 16px;
  font-size: 1.6rem;
  min-width: 215px;
  min-width: 21.5rem;
  height: 56px;
  height: 5.6rem;
  line-height: 58px;
  line-height: 5.8rem;
}

.find-center-popup .cm-btn .masker span {
  height: 56px;
  height: 5.6rem;
  line-height: 58px;
  line-height: 5.8rem;
}

.find-center-popup .cm-btn + .cm-btn {
  margin-left: 10px;
  margin-left: 1rem;
}

.find-center-popup .service-center__route {
  margin-top: 94px;
  margin-top: 9.4rem;
}

.find-center-popup .service-center__title {
  margin-bottom: 34px;
  margin-bottom: 3.4rem;
}

.find-center-popup .service-center__title strong {
  display: block;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  color: #000;
  font-weight: normal;
  line-height: 28px;
  line-height: 2.8rem;
  letter-spacing: -.025em;
}

.find-center-popup .service-center__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-bottom: -1rem;
}

.find-center-popup .service-center__item {
  width: 33.3333%;
}

.find-center-popup .service-center__item span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px;
  padding: 1.7rem;
  margin: 0 10px 10px 0;
  margin: 0 1rem 1rem 0;
  background: #f8f8f8;
  font-size: 16px;
  font-size: 1.6rem;
  color: #000;
  line-height: 20px;
  line-height: 2rem;
  text-align: center;
}

.find-center-popup .service-center__desc {
  margin-top: 5px;
  margin-top: 0.5rem;
  font-size: 12px;
  font-size: 1.2rem;
  color: #666;
  line-height: 22px;
  line-height: 2.2rem;
}

.find-center-popup .service-center__img img {
  width: 100%;
}

@media (max-width: 1023px) {
  .find-center-popup .service-center__list {
    margin-bottom: -15px;
    margin-bottom: -1.5rem;
  }
  .find-center-popup .service-center__item span {
    margin: 0 15px 15px 0;
    margin: 0 1.5rem 1.5rem 0;
  }
}

@media screen and (max-width: 767px) {
  .find-center-popup .cm-find-map__model {
    float: none;
    display: inline-block;
    position: static;
    margin: 13px 0 14px;
    margin: 1.3rem 0 1.4rem;
  }
  .find-center-popup .cm-place-info {
    margin-bottom: 28px;
    margin-bottom: 2.8rem;
  }
  .find-center-popup .cm-layer__cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .find-center-popup .cm-layer__cta .cm-btn + .cm-btn {
    margin: 0 0 10px 0;
    margin: 0 0 1rem 0;
  }
  .find-center-popup .service-center__route {
    margin-top: 66px;
    margin-top: 6.6rem;
  }
  .find-center-popup .service-center__title {
    margin-bottom: 22px;
    margin-bottom: 2.2rem;
  }
  .find-center-popup .service-center__title strong {
    font-size: 20px;
    font-size: 2rem;
  }
  .find-center-popup .service-center__list {
    margin-bottom: -10px;
    margin-bottom: -1rem;
  }
  .find-center-popup .service-center__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    width: 50%;
  }
  .find-center-popup .service-center__item span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 16px 10px;
    padding: 1.6rem 1rem;
    margin: 0 10px 10px 0;
    margin: 0 1rem 1rem 0;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .find-center-popup .service-center__desc {
    margin-top: 8px;
    margin-top: 0.8rem;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
}
