<!DOCTYPE html>
<html>
<head>
<title>Pull Quote</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">

    <!-- component -->
    <div class="type-dark">
        <div class="cp-pull-quote">
            <div class="cp-pull-quote__inner">
                <div class="cp-pull-quote__title">
                    <h2 class="el-title">Genesis global text</h2>
                </div>
                <div class="cp-pull-quote__desc">
                    <p class="el-desc">We strive to create the finest automobiles and related products and <span class="cm-tooltip js-tooltip">
                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">services</a>
                        <span class="cm-tooltip-layer">
                            <span class="cm-tooltip-layer__inner">
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                            </span>
                        </span>
                    </span> for connoisseurs around the globe. We strive to create the finest automobiles and related products</p>
                </div>
                <div class="cp-pull-quote__subdesc">
                    <p class="el-subdesc">We strive to create the finest automobiles and related products</p>
                </div>
            </div>
        </div>
    </div>

    <div class="type-light">
        <div class="cp-pull-quote">
            <div class="cp-pull-quote__inner">
                <div class="cp-pull-quote__title">
                    <h2 class="el-title">Genesis global text</h2>
                </div>
                <div class="cp-pull-quote__desc">
                    <p class="el-desc">We strive to create the finest automobiles and related products and <span class="cm-tooltip js-tooltip tooltip-type-light">
                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">services</a>
                        <span class="cm-tooltip-layer">
                            <span class="cm-tooltip-layer__inner">
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                            </span>
                        </span>
                    </span> for connoisseurs around the globe. We strive to create the finest automobiles and related products</p>
                </div>
                <div class="cp-pull-quote__subdesc">
                    <p class="el-subdesc">We strive to create the finest automobiles and related products</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
