<!DOCTYPE html>
<html>
<head>
<title>BYO Print</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body style="margin:0;padding:0">
<div>
    <!-- 프린트 -->
    <div>
        <table class="ems-wrap" style="table-layout:fixed; margin: 0 auto; font-family: Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif; border-collapse: collapse; border-spacing: 0px;">
            <tbody>
                <tr>
                    <td style="padding: 0;">
                        <!-- 헤더 -->
                        <div style="width: 1024px; margin: 0 auto; background: rgb(17, 17, 17);">
                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                <tbody>
                                    <tr>
                                        <td style="width: 100px; padding: 0;"></td>
                                        <td style="padding: 0;">
                                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="display: inline-block; width: 720px; height: 86px; padding: 0;"></td>
                                                        <td style="display: inline-block; padding: 0; vertical-align: top;">
                                                            <p style="height: 43px; margin: 0;"></p>
                                                            <img style="width: 104px;" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/footer-logo.png" alt="">
                                                        </td>
                                                    </tr>
                                                    <tr><td style="padding: 0;"><h2 style="margin: 0; font-size: 40px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: -0.025em; line-height: 1.32; text-transform: uppercase;">Genesis G90</h2></td></tr>
                                                    <tr><td style="height: 17px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: inline-block; width: 410px; padding: 0; vertical-align: top;">
                                                            <table style="table-layout:fixed; border-collapse: collapse; border-spacing: 0px; width: 100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="display: block; padding: 0;">
                                                                            <p style="margin: 0px; padding: 0px; font-size: 18px; color: rgb(204, 204, 204); line-height: 24px;">5.0 리무진 프레스티지</p>
                                                                        </td>
                                                                        <td style="display: block; height: 35px; border-bottom: 1px solid #333"></td>
                                                                        <td style="display: block; height: 34px"></td>
                                                                        <td style="display: block; width: 75px; padding: 0;">
                                                                            <span style="font-size: 14px; line-height: 20px; color: rgb(173, 123, 97);">예상 견적가</span>
                                                                        </td>
                                                                        <td style="display: block; width: 270px; padding: 0;"><strong style="font-size: 40px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: -0.025em; margin-top: 2px; line-height: 1;">120,800,000<span style="font-size: 14px; line-height: 20px; padding-left: 8px;">원</span></strong></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style="table-layout:fixed; border-collapse: collapse; border-spacing: 0px; min-width: 270px;">
                                                                <tbody>
                                                                    <tr><td style="display: block; height: 41px; padding: 0;"></td></tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-size: 16px; color: rgb(204, 204, 204);">차량 인도금 총액 </span>
                                                                        </td>
                                                                        <td style="text-align: right;">
                                                                            <strong style="font-size: 16px; font-weight: 400; color: rgb(255, 255, 255);">999,999,999원</strong>
                                                                        </td>
                                                                    </tr>
                                                                    <tr><td style="display: block; height: 2px; padding: 0;"></td></tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-size: 16px; color: rgb(204, 204, 204);">할부 원금 </span>
                                                                        </td>
                                                                        <td style="text-align: right;">
                                                                            <strong style="font-size: 16px; font-weight: 400; color: rgb(255, 255, 255);">99,999,999원</strong>
                                                                        </td>
                                                                    </tr>
                                                                    <tr><td style="display: block; height: 2px; padding: 0;"></td></tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="font-size: 16px; color: rgb(204, 204, 204);">월 납입금액 </span>
                                                                        </td>
                                                                        <td style="text-align: right;">
                                                                            <strong style="font-size: 16px; font-weight: 400; color: rgb(255, 255, 255);">999,999원</strong>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="display: inline-block; width: 410px; padding: 0; padding-left: 40px">
                                                            <p style="overflow: hidden; height: 230px; margin: 0px; padding: 0px;"><img style="width: 640px; margin-top: -66px; margin-left: -116px" src="/apps/components/print-table/imgs/@result_byo.jpg" alt=""></p>
                                                        </td>
                                                        <td style="display: inline-block; width: 91px; padding: 0;"></td>
                                                        <!-- <td style="display: inline-block; width: 288px; padding: 0;">
                                                            <table style="table-layout:fixed; border-collapse: collapse; border-spacing: 0px;">
                                                                <tbody>
                                                                    <tr><td style="height: 22px; padding: 0;"></td></tr>
                                                                    <tr>
                                                                        <td style="padding: 0;"><span style="font-size: 16px; color: rgb(204, 204, 204);">차량 인도금 총액 </span></td>
                                                                        <td style="width: 61px; padding: 0;"></td>
                                                                        <td style="padding: 0; text-align: right;"><strong style="font-size: 16px; font-weight: 400; color: rgb(255, 255, 255);">999,999,999원</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding: 0;"><span style="font-size: 16px; color: rgb(204, 204, 204);">할부 원금</span></td>
                                                                        <td style="width: 61px; padding: 0;"></td>
                                                                        <td style="padding: 0; text-align: right;"><strong style="font-size: 16px; font-weight: 400; color: rgb(255, 255, 255);">99,999,999원</strong></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding: 0;"><span style="font-size: 16px; color: rgb(204, 204, 204);">월 납입금액</span></td>
                                                                        <td style="width: 61px; padding: 0;"></td>
                                                                        <td style="padding: 0; text-align: right;"><strong style="font-size: 16px; font-weight: 400; color: rgb(255, 255, 255);">999,999원</strong></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td> -->
                                                    </tr>
                                                    <tr><td style="height: 27px"></td></tr>
                                                    <tr>
                                                        <td>
                                                            <p style="margin: 0; padding: 0; font-size: 14px; color: #808080">* 차량의 이미지는 실제 차량과 다를 수 있습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px;"></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 60px; padding: 0;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 컨텐츠 -->
                        <div style="width: 1024px; margin: 0 auto;">
                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                <tbody>
                                    <tr>
                                        <td style="width: 100px; padding: 0;"></td>
                                        <td style="padding: 0;">
                                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                                <tbody>
                                                    <tr><td style="height: 100px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <h3 style="margin: 0; font-size: 36px;font-weight: 400;color: rgb(0, 0, 0);letter-spacing: -0.025em;">상세견적</h3>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 94px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="display: table-cell; font-size: 24px; font-weight: 400; color: rgb(0, 0, 0); line-height: 18px;">선택 차량 정보</strong>
                                                            <span style="display: table-cell; width: 501px;"></span>
                                                            <span style="display: table-cell; font-size: 24px; color: rgb(0, 0, 0); line-height: 18px;">999,999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(0, 0, 0);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">상세 차종</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">3.3T 프리미엄 럭셔리(시그니쳐 디자인 셀렉션)</span>
                                                            <span style="display: table-cell; width: 382px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">999,999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">외장</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">우유니 화이트</span>
                                                            <span style="display: table-cell; width: 520px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 3,500,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">내장</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">옵시디언 블랙 모노톤(옵시디언 블랙 시트)/그래이 애쉬</span>
                                                            <span style="display: table-cell; width: 225px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 1,000,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">패키지 &amp; 옵션</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">세이프티 선루프</span>
                                                            <span style="display: table-cell; width: 517px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 700,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">뒷좌석 듀얼 모니터</span>
                                                            <span style="display: table-cell; width: 495px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 700,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">뒷좌석 컴포트 패키지Ⅱ</span>
                                                            <span style="display: table-cell; width: 464px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 700,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px
                                                    solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 62px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="display: table-cell; font-size: 24px; font-weight: 400; color: rgb(0, 0, 0); line-height: 18px;">할인 및 포인트 정보</strong>
                                                            <span style="display: table-cell; width: 452px;"></span>
                                                            <span style="display: table-cell; font-size: 24px; color: rgb(0, 0, 0); line-height: 18px;">- 9,999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(0, 0, 0);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">할인</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">세이브 오토 50만 POINT</span>
                                                            <span style="display: table-cell; width: 555px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">- 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">포인트</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">M 포인트 할인</span>
                                                            <span style="display: table-cell; width: 646px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">999,999 P</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">블루멤버스 포인트 할인</span>
                                                            <span style="display: table-cell; width: 580px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">999,999 P</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">블루멤버스 포인트 적립(예정)</span>
                                                            <span style="display: table-cell; width: 539px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">999,999 P</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 62px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="display: table-cell; font-size: 24px; font-weight: 400; color: rgb(0, 0, 0); line-height: 18px;">과세 및 부대비용</strong>
                                                            <span style="display: table-cell; width: 478px;"></span>
                                                            <span style="display: table-cell; font-size: 24px; color: rgb(0, 0, 0); line-height: 18px;">+ 9,999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(0, 0, 0);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">차량 구매 세금</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">취득세</span>
                                                            <span style="display: table-cell; width: 681px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">부대 비용</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">탁송료</span>
                                                            <span style="display: table-cell; width: 681px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">단기의무보험</span>
                                                            <span style="display: table-cell; width: 633px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">등록대행 수수료</span>
                                                            <span style="display: table-cell; width: 611px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">증지대(수입인지)</span>
                                                            <span style="display: table-cell; width: 607px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">차량번호판</span>
                                                            <span style="display: table-cell; width: 649px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 62px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="display: table-cell; font-size: 24px; font-weight: 400; color: rgb(0, 0, 0); line-height: 18px;">할부 정보</strong>
                                                            <span style="display: table-cell; width: 378px;"></span>
                                                            <span style="display: table-cell; font-size: 24px; color: rgb(0, 0, 0); line-height: 18px;">월 납입금액 999,999,999원 / 월</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(0, 0, 0);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">제네시스 구매프로그램</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">선수금</span>
                                                            <span style="display: table-cell; width: 698px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">할부 원금</span>
                                                            <span style="display: table-cell; width: 676px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">할부 기간</span>
                                                            <span style="display: table-cell; width: 698px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">60 개월</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">월 납입금액</span>
                                                            <span style="display: table-cell; width: 643px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">할부 이자 총액</span>
                                                            <span style="display: table-cell; width: 621px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 999,999 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(0, 0, 0);"></td></tr>
                                                    <tr><td style="height: 22px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="display: table-cell; font-size: 16px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px; vertical-align: middle;">총 차량 구입가</strong>
                                                            <span style="display: table-cell; width: 498px;"></span>
                                                            <strong style="display: table-cell; font-size: 40px; font-weight: 400; color: rgb(0, 0, 0); letter-spacing: -0.025em; line-height: 1; vertical-align: middle;">120,800,000<span style="font-size: 14px;">원</span></strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 118px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">본 견적내용은 고객의 편의를 위한 간편 견적으로, 계약 시 변경될 수 있으며, 법적 구속력은 없습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">상기 견적금액은 실제 구매금액과 다소 차이가 있을 수 있습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">상기 이미지는 실제 차량과 사양 및 컬러가 다를 수 있으므로 전시장 방문 및 실차 확인을 권장합니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">일부 이미지는 대표 등급 기준으로 연출되었으며 추후 사전예고 없이 변경이나 업데이트가 될 수 있습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr style="display: table;">
                                                        <td style="width: 12px; height: 44px; padding: 0; vertical-align: top;">
                                                            <table style="table-layout:fixed; border-collapse: collapse; border-spacing: 0px;">
                                                                <tbody>
                                                                    <tr><td style="height: 11px; padding: 0;"></td></tr>
                                                                    <tr>
                                                                        <td style="width: 3px; height: 3px; padding: 0; background: rgb(136, 136, 136);"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">오픈포어 리얼 우드는 고가의 가구 등에 주로 사용되는 천연 원목의 재질감을 그대로 살리는 가공법으로 찍힘, 습도 및 변색에 다소 취약할 수 있으며, 가공법의 특성상 원목에 따라 색감, 무늬결의 방향 등에 차이가 있습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">탁송료, 할부 등 상세 견적 내용은 지점/대리점을 통해 확인바랍니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">공채금액은 매일 변경되는 부분으로 자세한 내용은 지점/대리점을 통해 확인바랍니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">채권 할인 시 발생되는 위탁수수료는 포함되지 않습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">주문생산방식으로 계약된 차량의 경우 최소 45일 납기를 예상합니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 171px; padding: 0;"></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 100px; padding: 0;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //프린트 -->
</div>
</body>
</html>
