<!DOCTYPE html>
<html>
<head>
<title>BTO Print</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body style="margin:0;padding:0">
<div>
    <!-- 프린트 -->
    <div>
        <table class="ems-wrap" style="table-layout:fixed; width: 100%; font-family: Nanum GothicB,Malgun Gothic,dotum,gulim,verdana,sans-serif; border-collapse: collapse; border-spacing: 0px;">
            <tbody>
                <tr>
                    <td style="padding: 0;">
                        <!-- 헤더 -->
                        <div style="width: 1024px; margin: 0 auto; background: rgb(17, 17, 17);">
                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                <tbody>
                                    <tr>
                                        <td style="width: 100px; padding: 0;"></td>
                                        <td style="padding: 0;">
                                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                                <tbody>
                                                    <tr>
                                                        <td style="display: inline-block; width: 720px; height: 86px; padding: 0;"></td>
                                                        <td style="display: inline-block; padding: 0; vertical-align: top;">
                                                            <p style="height: 43px; margin: 0;"></p>
                                                            <img style="width: 104px;" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/footer-logo.png" alt="">
                                                        </td>
                                                    </tr>
                                                    <tr><td style="padding: 0;"><h2 style="margin: 0; font-size: 40px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: -0.025em; line-height: 1.32; text-transform: uppercase;">2020 Genesis GV80</h2></td></tr>
                                                    <tr><td style="height: 17px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: inline-block; width: 410px; padding: 0; vertical-align: top;">
                                                            <table style="table-layout:fixed; border-collapse: collapse; border-spacing: 0px; width: 100%;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="display: block; padding: 0;">
                                                                            <p style="margin: 0px; padding: 0px; font-size: 18px; color: rgb(204, 204, 204); line-height: 24px;">3.0 디젤 / 2WD 7인승 / 20인치 휠</p>
                                                                        </td>
                                                                        <td style="display: block; height: 35px; border-bottom: 1px solid #333"></td>
                                                                        <td style="display: block; height: 34px"></td>
                                                                        <td style="display: block; width: 75px; padding: 0;">
                                                                            <span style="font-size: 14px; line-height: 20px; color: rgb(173, 123, 97);">예상 견적가</span>
                                                                        </td>
                                                                        <td style="display: block; width: 270px; padding: 0;"><strong style="font-size: 40px; font-weight: 400; color: rgb(255, 255, 255); letter-spacing: -0.025em; margin-top: 2px; line-height: 1;">120,800,000<span style="font-size: 14px; line-height: 20px; padding-left: 8px;">원</span></strong></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="display: inline-block; width: 410px; padding: 0; padding-left: 40px">
                                                            <p style="margin: 0px; padding: 0px;"><img style="width: 100%;" src="/apps/components/print-table/imgs/@result_bto.png" alt=""></p>
                                                        </td>
                                                        <td style="display: inline-block; width: 91px; padding: 0;"></td>
                                                    </tr>
                                                    <tr><td style="height: 27px"></td></tr>
                                                    <tr>
                                                        <td>
                                                            <p style="margin: 0; padding: 0; font-size: 14px; color: #808080">* 차량의 이미지는 실제 차량과 다를 수 있습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px;"></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 60px; padding: 0;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 컨텐츠 -->
                        <div style="width: 1024px; margin: 0 auto;">
                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                <tbody>
                                    <tr>
                                        <td style="width: 100px; padding: 0;"></td>
                                        <td style="padding: 0;">
                                            <table style="table-layout:fixed; width: 100%; border-collapse: collapse; border-spacing: 0px;">
                                                <tbody>
                                                    <tr><td style="height: 100px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <h3 style="margin: 0; font-size: 36px;font-weight: 400;color: rgb(0, 0, 0);letter-spacing: -0.025em;">상세견적</h3>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 23px; padding: 0; border-bottom: 1px solid rgb(0, 0, 0);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="display: table-cell; font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">기본 가격</strong>
                                                            <span style="display: table-cell; width: 647px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 65,800,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">엔진 타입</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">3.0 디젤</span>
                                                            <span style="display: table-cell; width: 623px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 0 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">구동 타입</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">AWD with E-LSD</span>
                                                            <span style="display: table-cell; width: 500px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 3,500,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">인승 타입</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">7인승</span>
                                                            <span style="display: table-cell; width: 581px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 1,000,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">외장 컬러</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">카디프 그린</span>
                                                            <span style="display: table-cell; width: 549px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 700,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">휠 &amp; 타이어</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">22인치</span>
                                                            <span style="display: table-cell; width: 572px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 1,800,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">내장 컬러</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">어반 브라운/ 바닐라 베이지 투톤</span>
                                                            <span style="display: table-cell; width: 385px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 1,800,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">인테리어 옵션</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="display: table; padding: 0;">
                                                            <img src="http://via.placeholder.com/80x80" alt="" style="display: table-cell; border: 0px; vertical-align: top; width: 80px;">
                                                            <span style="display: table-cell; width: 14px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(17, 17, 17); line-height: 18px; vertical-align: middle;">리얼 알루미늄(시그니쳐 디자인 셀렉션)</span>
                                                            <span style="display: table-cell; width: 352px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px; vertical-align: middle;">+ 700,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">파퓰러 패키지 옵션</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">컨비니언스 패키지</span>
                                                            <span style="display: table-cell; width: 595px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 700,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(235, 235, 235);"></td></tr>
                                                    <tr><td style="height: 30px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="font-size: 14px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px;">선택 옵션</strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 18px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">파노라마 선루프</span>
                                                            <span style="display: table-cell; width: 598px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 1,600,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">헤드업 디스플레이</span>
                                                            <span style="display: table-cell; width: 595px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 900,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 16px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <span style="display: table-cell; font-size: 16px; line-height: 18px; color: rgb(17, 17, 17);">차량보호필름 &amp; 프로텍션 매트 패키지</span>
                                                            <span style="display: table-cell; width: 453px;"></span>
                                                            <span style="display: table-cell; font-size: 16px; color: rgb(0, 0, 0); line-height: 18px;">+ 600,000 원</span>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 30px; padding: 0; border-bottom: 1px solid rgb(0, 0, 0);"></td></tr>
                                                    <tr><td style="height: 22px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <strong style="display: table-cell; font-size: 16px; font-weight: 400; color: rgb(153, 100, 73); line-height: 18px; vertical-align: middle;">예상 견적가</strong>
                                                            <span style="display: table-cell; width: 520px;"></span>
                                                            <strong style="display: table-cell; font-size: 40px; font-weight: 400; letter-spacing: -0.025em; line-height: 1; vertical-align: middle">120,800,000<span style="font-size: 14px;">원</span></strong>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 118px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">상기 이미지는 실제 차량과 사양 및 컬러가 다를 수 있으므로 전시장 방문 및 실차 확인을 권장합니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">일부 이미지는 대표 등급 기준으로 연출되었으며 추후 사전예고 없이 변경이나 업데이트가 될 수 있습니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr style="display: table;">
                                                        <td style="width: 12px; height: 44px; padding: 0; vertical-align: top;">
                                                            <table style="table-layout:fixed; border-collapse: collapse; border-spacing: 0px;">
                                                                <tbody>
                                                                    <tr><td style="height: 11px; padding: 0;"></td></tr>
                                                                    <tr>
                                                                        <td style="width: 3px; height: 3px; padding: 0; background: rgb(136, 136, 136);"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">본 견적내용은 고객의 편의를 위한 간편 견적으로, 계약 시 변경될 수 있으며, 법적 구속력은 없습니다. 탁송료, 할부 등 상세 견적 내용은 지점/대리점을 통해 확인바랍니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">주문생산방식으로 계약된 차량의 경우 최소 45일 납기를 예상합니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">현재 화면에서 보신 유사재고 상세 내용은 계속해서 업데이트되오니 지점/대리점에 최종 확인이 필요합니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 10px; padding: 0;"></td></tr>
                                                    <tr>
                                                        <td style="padding: 0; font-size: 0;">
                                                            <p style="display: inline-block; width: 3px; height: 3px; margin: 0; padding: 0; background: rgb(136, 136, 136); vertical-align: middle;"></p>
                                                            <p style="display: inline-block; width: 9px; margin: 0; padding: 0; vertical-align: middle;"></p>
                                                            <p style="display: inline-block; margin: 0; padding: 0px; font-size: 13px; line-height: 22px; color: rgb(136, 136, 136); vertical-align: middle;">GV80 악세사리 상품인 사이드 스텝, 차량보호필름&프로텍션 매트패키지는 지점/대리점에 문의 바랍니다.</p>
                                                        </td>
                                                    </tr>
                                                    <tr><td style="height: 171px; padding: 0;"></td></tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="width: 100px; padding: 0;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- //프린트 -->
</div>
</body>
</html>
