<!DOCTYPE html>
<html>
<head>
<title>Vehicle Lineup Thumbnails</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">

    <!-- component -->
    <div class="type-dark">
        <div class="cp-lineup-thumb">
            <div class="cp-lineup-thumb__inner">
                <div class="cp-lineup-thumb__header">
                    <div class="cp-lineup-thumb__title">
                        <h2 class="el-title">Genesis global text</h2>
                    </div>
                    <div class="cp-lineup-thumb__desc">
                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    </div>
                </div>
                <div class="cp-lineup-thumb__tab">
                    <div class="cp-lineup-thumb__tab-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper" role="tablist">
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="imgs/@image1.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="imgs/@image1.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                            <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-light">
        <div class="cp-lineup-thumb">
            <div class="cp-lineup-thumb__inner">
                <div class="cp-lineup-thumb__header">
                    <div class="cp-lineup-thumb__title">
                        <h2 class="el-title">Genesis global text</h2>
                    </div>
                    <div class="cp-lineup-thumb__desc">
                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    </div>
                </div>
                <div class="cp-lineup-thumb__tab">
                    <div class="cp-lineup-thumb__tab-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper" role="tablist">
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="imgs/@image1.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="imgs/@image1.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!-- [F] 마우스 호버시 : .is-hover 클래스 추가 -->
                                        <div class="cp-lineup-thumb__tab-item">
                                            <div class="cp-lineup-thumb__tab-title">
                                                <p class="brand-title">Genesis global text</p>
                                                <strong class="vehicle-name">Genesis</strong>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-img">
                                                <div class="js-picture">
                                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x240" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="cp-lineup-thumb__tab-cta">
                                                <a href="#" class="cm-btn" title="Primary Button">
                                                    <span class="text">Primary Button</span>
                                                    <span class="masker"><span>Primary Button</span></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                            <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>