<!DOCTYPE html>
<html>
<head>
<title>Related Contents</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <section class="cp-related-contents">
            <div class="cp-related-contents__inner">
                <div class="cp-related-contents__title js-animate">
                    <h2 class="el-title">Related contents</h2>
                </div>
                <div class="cp-related-contents__item-wrap">
                    <div class="cp-related-contents__item js-animate">
                        <div class="cp-related-contents__item-img">
                            <div class="js-picture">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-related-contents__item-desc">
                            <div class="item-title">
                                <strong>News / event</strong>
                            </div>
                            <div class="item-text">
                                <p>Explore all the latest news about Genesis’ vehicles, innovations and 
                                    <span class="cm-tooltip js-tooltip tooltip-type-light">
                                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">awards.</a>
                                        <span class="cm-tooltip-layer">
                                            <span class="cm-tooltip-layer__inner">Specifications may vary depending on model and/or country.
                                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                            </span>
                                        </span>
                                    </span> Browse our calendar of exclusive events to get further involved in the action.</p>
                            </div>
                            <div class="item-cta">
                                <a href="#" class="cm-btn-more"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cp-related-contents__item js-animate">
                        <div class="cp-related-contents__item-img">
                            <div class="js-picture">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-related-contents__item-desc">
                            <div class="item-title">
                                <strong>Membership</strong>
                            </div>
                            <div class="item-text">
                                <p>A new form of membership program, created through constant innovation and decisive challenges to bring about positive changes in our customers’ lives, is being started.</p>
                            </div>
                            <div class="item-cta">
                                <a href="#" class="cm-btn-more"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cp-related-contents__item js-animate">
                        <div class="cp-related-contents__item-img">
                            <div class="js-picture">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-related-contents__item-desc">
                            <div class="item-title">
                                <strong>Space</strong>
                            </div>
                            <div class="item-text">
                                <p>Visit our showroom where you can interact with Genesis through every sense. Our brand professional curators will guide you throughout this pleasurable journey.</p>
                            </div>
                            <div class="item-cta">
                                <a href="#" class="cm-btn-more"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-dark">
        <section class="cp-related-contents">
            <div class="cp-related-contents__inner">
                <div class="cp-related-contents__title js-animate">
                    <h2 class="el-title">Related contents</h2>
                </div>
                <div class="cp-related-contents__item-wrap">
                    <div class="cp-related-contents__item js-animate">
                        <div class="cp-related-contents__item-img">
                            <div class="js-picture">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-related-contents__item-desc">
                            <div class="item-title">
                                <strong>News / event</strong>
                            </div>
                            <div class="item-text">
                                <p>Explore all the latest news about Genesis’ vehicles, innovations and 
                                    <span class="cm-tooltip js-tooltip">
                                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">awards.</a>
                                        <span class="cm-tooltip-layer">
                                            <span class="cm-tooltip-layer__inner">Specifications may vary depending on model and/or country.
                                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                            </span>
                                        </span>
                                    </span> Browse our calendar of exclusive events to get further involved in the action.</p>
                            </div>
                            <div class="item-cta">
                                <a href="#" class="cm-btn-more"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cp-related-contents__item js-animate">
                        <div class="cp-related-contents__item-img">
                            <div class="js-picture">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-related-contents__item-desc">
                            <div class="item-title">
                                <strong>Membership</strong>
                            </div>
                            <div class="item-text">
                                <p>A new form of membership program, created through constant innovation and decisive challenges to bring about positive changes in our customers’ lives, is being started.</p>
                            </div>
                            <div class="item-cta">
                                <a href="#" class="cm-btn-more"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="cp-related-contents__item js-animate">
                        <div class="cp-related-contents__item-img">
                            <div class="js-picture">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-related-contents__item-desc">
                            <div class="item-title">
                                <strong>Space</strong>
                            </div>
                            <div class="item-text">
                                <p>Visit our showroom where you can interact with Genesis through every sense. Our brand professional curators will guide you throughout this pleasurable journey.</p>
                            </div>
                            <div class="item-cta">
                                <a href="#" class="cm-btn-more"><span>Learn more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
