<!DOCTYPE html>
<html lang="ko">
<head>
<title>Bluetooth Compatibility Guide</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="bluetooth-compatible">
            <div class="bluetooth-compatible__inner">
                <strong class="bluetooth-compatible__title">작고 바이며, 바이며, 교향악이다.</strong>
                <div class="bluetooth-compatible__content">
                    <div class="bluetooth-compatible__model">
                        <div class="cm-select type2 js-select-wrap">
                            <!-- [F] 펼침 시 : aria-expanded값 true로 변경 -->
                            <a href="#" class="cm-select__placeholder" aria-expanded="false"><span>모델을 선택해주세요.</span></a>
                            <div class="cm-select__options" role="listbox" style="display: none;">
                                <ul role="presentation">
                                <li role="presentation"><a href="#" role="option">GV80</a></li>
                                <li role="presentation"><a href="#" role="option">G90</a></li>
                                <li role="presentation"><a href="#" role="option">EQ900</a></li>
                                <li role="presentation"><a href="#" role="option">G80</a></li>
                                <li role="presentation"><a href="#" role="option">G70</a></li>
                                <li role="presentation"><a href="#" role="option">DH</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bluetooth-compatible__detail">
                        <div class="bluetooth-compatible__detail-title">작고 바이며, 바이며, 교향악이다.</div>
                        <ul class="bluetooth-compatible__detail-list">
                        <li class="bluetooth-compatible__detail-item">
                            작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며,
                            <a href="#" class="cm-btn" target="_blank">
                                <span class="text">바로보기</span>
                                <span class="masker"><span>바로보기</span></span>
                            </a>
                        </li>
                        <li class="bluetooth-compatible__detail-item">
                            작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며,
                            <a href="#" class="cm-btn" target="_blank">
                                <span class="text">바로보기</span>
                                <span class="masker"><span>바로보기</span></span>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
</body>
</html>
