.two-column__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  max-width: 1640px;
  padding: 57px 140px 0;
  padding: 5.7rem 14rem 0;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.two-column__title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  color: #ad7b61;
  font-weight: normal;
  line-height: 38px;
  line-height: 3.8rem;
  letter-spacing: -.025em;
}

.two-column__desc {
  font-size: 18px;
  font-size: 1.8rem;
  color: #262626;
  line-height: 28px;
  line-height: 2.8rem;
}

.two-column__bullet-title {
  font-size: 18px;
  font-size: 1.8rem;
  color: #666;
  line-height: 28px;
  line-height: 2.8rem;
}

.two-column__bullet-title:not(:first-child) {
  margin-top: 25px;
  margin-top: 2.5rem;
}

.two-column__bullet-list:not(:first-child) {
  margin-top: 5px;
  margin-top: 0.5rem;
}

.two-column__bullet-item {
  position: relative;
  padding-left: 10px;
  padding-left: 1rem;
  font-size: 16px;
  font-size: 1.6rem;
  color: #666;
  line-height: 24px;
  line-height: 2.4rem;
}

.two-column__bullet-item:before {
  position: absolute;
  top: 9px;
  top: 0.9rem;
  left: 0;
  width: 3px;
  width: 0.3rem;
  height: 3px;
  height: 0.3rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #666;
  content: '';
}

.two-column-primary, .two-column-secondary {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.two-column-secondary {
  margin-left: 40px;
  margin-left: 4rem;
}

.type-2desc .two-column__inner {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.type-2desc .two-column__title {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-right: 50%;
  padding-bottom: 25px;
  padding-bottom: 2.5rem;
}

@media (max-width: 1919px) {
  .two-column__inner {
    max-width: 1360px;
    padding-right: 116px;
    padding-right: 11.6rem;
    padding-left: 116px;
    padding-left: 11.6rem;
  }
  .two-column__title {
    margin-top: 2px;
    margin-top: 0.2rem;
    font-size: 30px;
    font-size: 3rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
}

.type-dark .two-column__inner {
  border-color: #333;
}

.type-dark .two-column__desc {
  color: #ccc;
}

.type-dark .two-column__bullet-title {
  color: #999;
}

.type-dark .two-column__bullet-item {
  color: #999;
}

.type-dark .two-column__bullet-item:before {
  background: #999;
}

@media (max-width: 1599px) {
  .two-column__inner {
    max-width: 1160px;
    padding: 47px 100px 0;
    padding: 4.7rem 10rem 0;
  }
  .two-column__title {
    margin: 0;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .two-column__desc {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .two-column__bullet-title {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .two-column__bullet-title:not(:first-child) {
    margin-top: 17px;
    margin-top: 1.7rem;
  }
  .two-column__bullet-list:not(:first-child) {
    margin-top: 8px;
    margin-top: 0.8rem;
  }
  .two-column__bullet-item {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
  .type-2desc .two-column__title {
    padding-bottom: 17px;
    padding-bottom: 1.7rem;
  }
}

@media (max-width: 1359px) {
  .two-column__inner {
    max-width: 872px;
    padding: 37px 76px 0;
    padding: 3.7rem 7.6rem 0;
  }
  .two-column__title {
    margin-top: 3px;
    margin-top: 0.3rem;
    font-size: 20px;
    font-size: 2rem;
    line-height: 21px;
    line-height: 2.1rem;
  }
  .two-column__desc {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
  .two-column__bullet-title {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
  .two-column__bullet-title:not(:first-child) {
    margin-top: 13px;
    margin-top: 1.3rem;
  }
  .type-2desc .two-column__title {
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 1023px) {
  .two-column__inner {
    max-width: 652px;
    padding-right: 57px;
    padding-right: 5.7rem;
    padding-left: 57px;
    padding-left: 5.7rem;
  }
  .two-column__bullet-item:not(:first-child) {
    margin-top: 8px;
    margin-top: 0.8rem;
  }
}

@media (max-width: 767px) {
  .two-column__inner {
    display: block;
    position: relative;
    max-width: none;
    padding: 47px 30px 0;
    padding: 4.7rem 3rem 0;
    border: 0;
  }
  .two-column__inner:after {
    position: absolute;
    top: 0;
    right: 30px;
    right: 3rem;
    left: 30px;
    left: 3rem;
    border-top: 1px solid #e5e5e5;
    content: '';
  }
  .type-dark .two-column__inner:after {
    border-color: #333;
  }
  .two-column__title {
    margin-top: 2px;
    margin-top: 0.2rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
  .two-column__desc {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .two-column__bullet-title {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .two-column__bullet-title:not(:first-child) {
    margin-top: 15px;
    margin-top: 1.5rem;
  }
  .two-column__bullet-list:not(:first-child) {
    margin-top: 6px;
    margin-top: 0.6rem;
  }
  .two-column__bullet-item {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .two-column-secondary {
    margin: 19px 0 0;
    margin: 1.9rem 0 0;
  }
  .type-2desc .two-column__title {
    padding-right: 0;
    padding-bottom: 18px;
    padding-bottom: 1.8rem;
  }
  .type-2desc .two-column-secondary {
    padding: 0;
    margin-top: 26px;
    margin-top: 2.6rem;
  }
}
