/* daterangepicker */
.daterangepicker {
	z-index: 99;
	border-radius: 0;
	border-color: #ccc;
	font-family: 'HyundaiSansHeadKR', sans-serif;
}
.daterangepicker:before,
.daterangepicker:after {
	content: none;
}
.daterangepicker .calendar-table table {
	table-layout: auto;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
	border-radius: 0;
}
.daterangepicker td.today {
	background-color: #f2f2f2;
}
.daterangepicker td.in-range {
	background-color: #eff3f8;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
	background-color: #00aad2;
	color: #fff;
}
.daterangepicker .calendar-table td.active:not(.off),
.daterangepicker .calendar-table td.active:not(.off):hover {
	background-color: #00aad2;
	color: #fff;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
	min-width: 38px;
	width: 38px;
	height: 38px;
	line-height: 35px;
}
.daterangepicker .calendar-table td {
	font-size: 14px;
}
.daterangepicker .calendar-table td:not(.off, :hover) {
	color: #000;
}
.daterangepicker .calendar-table td.off:not(:hover) {
	color: #ccc;
}
.daterangepicker .calendar-table thead .month {
	font-size: 20px;
	font-weight: 500;
	color: #000;
	line-height: 24px;
}
.daterangepicker .calendar-table thead tr:nth-child(2) th {
	font-size: 14px;
	font-weight: 500;
	color: #333;
	line-height: 24px;
}
.daterangepicker .drp-calendar {
	max-width: 370px;
}
.daterangepicker .drp-calendar.left {
	padding: 34px 0 34px 34px;
}
.daterangepicker .drp-calendar.right {
	padding: 34px 34px 34px 0;
}
.daterangepicker td.start-date.end-date {
	border-radius: 0;
}
.daterangepicker .calendar-table .prev span {
	padding: 7px;
	border-width: 0 1px 1px 0;
	border-color: #333;
	transform: rotate(135deg) translate(-1px , -7px);
	-webkit-transform: rotate(135deg) translate(-1px , -7px);
}
.daterangepicker .calendar-table .next span {
	padding: 7px;
	border-width: 0 1px 1px 0;
	border-color: #333;
	transform: rotate(-45deg) translate(-7px , -1px);
	-webkit-transform: rotate(-45deg) translate(-7px , -1px);
}
.daterangepicker .calendar-table .prev:hover span,
.daterangepicker .calendar-table .next:hover span {
	border-color: #fff;
}


@media (min-width: 564px) {
	.daterangepicker .drp-calendar.left .calendar-table {
		padding-right: 62px;
	}
}