/* S: login 공통 */
.login-all .tit-box h1{
  padding-bottom: 48px;
  text-align: center;
  font-weight: 500;
}
.login-all .form-outer{
  max-width: 448px;
  margin: 0 auto;
}
/* E: login 공통 */

/* S: login 페이지 */
.login .tit-box{
  padding-top: 153px;
}
.login .download-btn{
  max-width: 448px;
  margin: 0 auto;
}
.login .form-outer .input-outer-box.password{
  margin-top: 24px;
}
.login .form-outer .btn-full{
  margin: 48px 0 16px;
}
.login .form-outer .login-opt{
  display: flex;
  justify-content: center;
}
.login .form-outer .login-opt > p:first-child::after{
  content:'';
  display:inline-block;
  width: 1px;
  height: 16px;
  margin: 0 16px;
  background: #999;
  position: relative;
  top: 3px;
}
.login .download-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border: 1px solid #e9e9e9;
  padding: 36px 0;
  margin-top: 64px;
  cursor: pointer;
}
.login .download-btn .cont-text2{
  margin-right: 8px;
}
/* E: login 페이지 */

/* S: login otp 페이지 */
.login-otp .form-outer .caution-outer{
  margin: 16px 0 48px;
}
.login-otp .form-outer .send-btn{
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.login-otp .form-outer .send-btn span{
  margin-right: 8px;
}
/* E: login otp 페이지 */

/* S: account approval 페이지 */
/*.account-approval,
.account-approval-reject,
.account-disabled,
.account-activation02{
  height: calc( 100vh - 175px );
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
}*/
/* E: account approval 페이지 */

/* S: account approval pending & approval reject 공통 */
.approval-all .list-box{
  max-width: 696px;
  margin: 72px auto 0;
}
.approval-all .list-box .cont-text,
.approval-all .list-box .cont-text strong{
  color: #333;
  text-align: left;
}
.approval-all .list-box .cont-box{
  min-height: 160px;
  width: 100%;
  background: #fafafa;
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  padding: 32px 40px;
}
.approval-all .complete-area .cta-outer{
  margin-top: 48px;
}
/* E: account approval pending & approval reject 공통 */

/* S: account approval pending 페이지 */
.account-approval-pending{
  padding-top: 201px;
}
/* E: account approval pending 페이지 */

/* S: account expiration */
.account-expiration .tit-box{
  padding-bottom: 120px;
  text-align: center;
}
.account-expiration .tit-box .cont-text{
  color: #333;
}
.account-expiration .form-outer .caption.htr{
  margin: 24px 0 72px;
}
.account-expiration .form-outer .text-box-outer{
  margin-top: 46px;
}
.account-expiration .staff-incharge{
  margin-bottom: 40px;
}
.account-expiration .staff-incharge .cont-tit2{
  font-weight: 500;
  margin-bottom: 16px;
}
.account-expiration .staff-incharge div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.account-expiration .staff-incharge div:nth-child(2) .cont-text2{
  color: #333;
}
.account-expiration .form-outer .cta-outer{
  margin-top: 90px;
}
/* E: account expiration */

/* S: join 페이지, conversion_step02, info_modify, account_period_extension 페이지 공통(폼 영역)*/
.join .user-account,
.conversion-step02 .user-account{
  margin-bottom: 150px;
}
.join .cont-tit2,
.conversion-step02 .user-account .cont-tit2{
  margin-bottom: 16px;
  font-weight: 500;
  color: #333;
}
.join .name-box-wrap .input-box:first-child input,
.conversion-step02 .name-box-wrap .input-box:first-child input,
.info-modify .name-box-wrap .input-box:first-child input{
  width: 380px;
}
.join .name-box-wrap .input-box:last-child,
.conversion-step02 .name-box-wrap .input-box:last-child,
.info-modify .name-box-wrap .input-box:last-child{
  margin-left: 8px;
  margin-right: unset;
}
.join .radio-group label,
.conversion-step02 .radio-group label,
.info-modify .radio-group label{
  margin-top: 0;
}
.join .phone-box-wrap .input-box:last-child,
.conversion-step02 .phone-box-wrap .input-box:last-child,
.info-modify .phone-box-wrap .input-box:last-child{
  margin-right: unset;
}
.join .phone-box-wrap .input-box:last-child input,
.conversion-step02 .phone-box-wrap .input-box:last-child input,
.info-modify .phone-box-wrap .input-box:last-child input{
  width: 430px;
  margin-left: 8px;
}
.join .email-box-wrap input,
.conversion-step02 .email-box-wrap input{
  margin-bottom: 8px;
}
.join .email-box-wrap p,
.conversion-step02 .email-box-wrap p{
  color: #999;
}
.join .radio,
.conversion-step02 .radio,
.info-modify .radio{
  margin-right: 72px;
}
.join .radio:last-child,
.conversion-step02 .radio:last-child,
.info-modify .radio:last-child{
  margin-right: unset;
}
.join .staff-incharge,
.conversion-step02 .staff-incharge,
.info-modify .staff-incharge{
  margin-bottom: 60px;
}
.join .staff-incharge div:nth-child(2),
.conversion-step02 .staff-incharge div:nth-child(2),
.account-period-extension .staff-incharge div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.join .staff-incharge div:nth-child(2) .cont-text2,
.conversion-step02 .staff-incharge div:nth-child(2) .cont-text2{
  color: #333;
}
.join .agree-box,
.conversion-step02 .agree-box{
  margin-bottom: 90px;
}
/* E: join 페이지, conversion_step02, info_modify, account_period_extension 페이지 공통(폼 영역)*/

/* S: join 페이지 */
.join .tit-box h1{
  padding-bottom: 100px;
}
.join .agree-box .chk:first-child{
  margin-bottom: 16px;
}
.join .agree-box .chk span a{
  position: relative;
  font-weight: 500;
}
.join .agree-box .chk span a:after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #191919;
  position: absolute;
  bottom: -2px;
  left: 0;
}
/* E: join 페이지 */

/* S: account activation 페이지 */
.account-activation .tit-box{
  text-align: center;
  padding-bottom:64px;
}
.account-activation .tit-box .cont-text{
  color: #333;
}
.account-activation .form-outer{
  max-width: 405px;
  margin: 0 auto;
}
.account-activation .form-outer > div:first-child{
  margin-top: 0;
}
.account-activation .form-outer .input-outer-box{
  max-width: 370px;
  margin: 32px auto 0;
}
.account-activation .form-outer .btn.w200{
  margin-top: 90px;
}
/* E: account activation 페이지 */

/* S: contact us 페이지 */
.contactus .form-outer .form-title-area{
  margin-bottom: 48px;
}
.contactus .form-outer .textarea-outer{
  margin-top: 68px;
}
.contactus .form-outer .uploader-outer{
  margin-top: 68px;
}
.contactus .form-outer .cta-outer{
  margin-top: 90px;
}
/* E: contact us 페이지 */

/* S: contact us complete 페이지 */
.contactus-complete .complete-outer{
  margin-top: 136px;
}
/* E: contact us complete 페이지 */

/* S: glossary 페이지 */
.glossary .tit-box,
.glossary-nodata .tit-box{
  min-height: 0;
}
.glossary .search-outer,
.glossary-nodata .search-outer {
  position: relative;
  max-width: 520px;
  margin: 49px auto 0;
}
.glossary .search-error,
.glossary-nodata .search-error{
 max-width: 520px;
  margin: 8px auto 0;
}
.glossary .search-outer .input-box,
.glossary-nodata .search-outer .input-box{
  max-width: 520px
}
.glossary .accordion-outer{
  margin-top: 80px;
}
.glossary .pagination{
  margin-top: 60px;
}
/* E: glossary 페이지 */

/* S: glossary nodata 페이지 */
.glossary-nodata .no-data-outer{
  text-align: center;
  margin-top: 160px;
}
.glossary-nodata .no-data-outer .tit{
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-bottom: 24px;
}
.glossary-nodata .no-data-outer .tit span{
  font-weight: 500;
}
.glossary-nodata .no-data-outer .desc{
  font-size: 18px;
  line-height: 28px;
  color: #333;
  font-family: 'HyundaiSansTextKR', sans-serif;
  margin-bottom:64px;
}
/* E: glossary nodata 페이지 */

/* S: inquiry list, inquiry list nodata 공통페이지 */
.inquiry-list .tit-box,
.inquiry-list-nodata .tit-box {
  text-align: center;
  min-height: 0;
  padding-bottom: 72px;
}
/* E: inquiry list, inquiry list nodata 공통페이지 */

/* S: inquiry list 페이지 */
.inquiry-list .calendar{
  margin-bottom: 96px;
}
.inquiry-list .tbl-box table {
  border-top: none;
}
.inquiry-list .tbl-box th,
.inquiry-list .tbl-box td {
  padding: 24px;
  height: 80px;
}
.inquiry-list .tbl-box th {
  background-color: #fff;
}
.inquiry-list .tbl-box td {
  border-bottom: none;
}
.inquiry-list .tbl-box tr:hover td {
  background-color: #fafafa;
}
/*.inquiry-list .tbl-box tr:hover td.td-tit {*/
/*  text-decoration: underline;*/
/*}*/
.inquiry-list .tbl-box .td-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inquiry-list .tbl-box .td-num, .inquiry-list .tbl-box .td-date, .inquiry-list .tbl-box .td-state {
  text-align: center;
}
.inquiry-list .tbl-box .td-state .state-receipt {
  color: #333;
}
.inquiry-list .tbl-box .td-state .state-waiting {
  color: #00AAD2;
}
.inquiry-list .tbl-box .td-state .state-complete {
  color: #999;
}
.inquiry-list .tbl-box th {
  background-color: #fff;
}
.inquiry-list .pagination {
  margin-top: 57px;
}
/* E: inquiry list 페이지 */

/* S: inquiry list nodata 페이지 */
.inquiry-list-nodata .no-data {
  padding-top: 144px;
  padding-bottom: 64px;
  text-align: center;
}
.inquiry-list-nodata .no-data p {
  color: #333;
}
/* E: inquiry list nodata 페이지 */

/* S: inquiry view 페이지 */
.inquiry-view .tbl-box th {
  text-align: left;
}
.inquiry-view .tbl-box td {
  line-height: 24px;
}
.inquiry-view .tbl-box td.td-file {
  padding: 33px 24px 50px;
}
.inquiry-view .tbl-box td.td-file .file-uploader .file-box > .table-area,
.inquiry-view .tbl-box td.td-file .file-uploader .file-box th {
  border-bottom-color: #d7d7d7 !important;
}
.inquiry-view .tbl-box td.td-file .file-uploader .file-box .file-byte {
  top: auto;
  bottom: 16px;
}
.inquiry-view .tbl-box td.td-file table {
  border-top: none;
  border-bottom: none;
}
.inquiry-view .tbl-box td.td-file td.file-name {
  text-align: left;
}
.inquiry-view .tbl-box td.td-answer {
  /*padding: 40px 16px;*/
}
.inquiry-view .cta-outer {
  padding-top: 80px;
}
/* E: inquiry view 페이지 */

/* S: reconfirm password, reset password 페이지 공통 */
.reconfirm-password .tit-box,
.reset-password .tit-box{
  padding-top: 120px;
  min-height: 0;
}
/* E: reconfirm password, reset password 페이지 공통 */

/* S: reset password 페이지 */
.reset-password.password-all .input-outer-box{
  margin-bottom: 32px;
}
.reset-password .cta-outer{
  margin-top: 90px;
}
/* E: reset password 페이지 */

/* S: info modify 페이지 */
.info-modify .user-account{
  margin-bottom: 156px;
}
.info-modify .tbl-tit-outer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.info-modify .tbl-tit-outer .cont-tit2{
  font-weight: 500;
}
.info-modify .chk-outer .caption{
  margin: 8px 0 0 31px;
}
.info-modify .cta-outer{
  margin-top: 90px;
}
/* E: info modify 페이지 */

/* S: account period extension 페이지 */
.account-period-extension .cont-tit2{
  font-weight: 500;
  margin-bottom: 16px;
}
.account-period-extension .account-info{
  margin-bottom: 150px;
}
.account-period-extension .cta-outer{
  margin-top: 90px;
}
/* E: account period extension 페이지 */

/* S: cookie 페이지 */
.cookie .cookie-pop{
  width: 100%;
  min-height: 165px;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding: 40px 56px;
  color: #333;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
}
.cookie .cookie-pop .title{
  font-weight: 500;
  margin-bottom: 16px;
}
.cookie .cookie-pop .cont-tit2{
  font-size: 18px;
}
/* E: cookie 페이지 */

/* S: terms 페이지, privacy 페이지 공통 */
.terms .select-box , .privacy .select-box{
  width: 320px;
  height: 46px;
  margin-left: auto;
}
.terms .cont-text , .privacy .cont-text{
  margin-top: 56px;
  margin-bottom: 16px;
  color: #333;
  font-weight: 500;
}
.terms-wrap > div:nth-child(2) .cont-text , .privacy-wrap > div:nth-child(2) .cont-text{
  margin-top: 48px;
}
.terms .cont-text2 , .privacy .cont-text2{
  color: #333;
}
.terms .cont-text-mb01 , .privacy .cont-text-mb01{
  margin-bottom: 16px;
}
.terms .cont-text-mb02 , .privacy .cont-text-mb02{
  margin-bottom: 8px;
}
/* E: terms 페이지, privacy 페이지 공통 */

/* S: terms 페이지 */
.terms .bylaw{
  margin-top: 64px;
}
.terms .bylaw p:first-child{
  margin-bottom: 24px;
}
/* E: terms 페이지 */

/* S: privacy 페이지 */
.privacy .privacy-tb-top , .privacy .privacy-tb-bot{
  display: flex;
}
.privacy .privacy-tb-top p{
  width: 25%;
  line-height: 24px;
  padding: 9px 12px;
  border-bottom: 2px solid #333;
  font-weight: 500;
}
.privacy .privacy-tb-bot p{
  width: 25%;
  line-height: 24px;
  padding: 9px 12px;
}
.privacy .privacy-tb02-top , .privacy .privacy-tb02-bot{
  display: flex;
}
.privacy .privacy-tb02-top p{
  width: 33.333333%;
  line-height: 24px;
  padding: 9px 12px;
  border-bottom: 2px solid #333;
  font-weight: 500;
}
.privacy .privacy-tb02-bot p{
  width: 33.333333%;
  line-height: 24px;
  padding: 9px 12px;
}
.privacy .privacy-tb02-bot p:last-child{
  width: 240px;
}
.privacy .privacy-tb03-top{
  border-bottom: 2px solid #333;
}
.privacy .privacy-tb03-top p{
  padding: 9px 12px;
  font-weight: 500;
}
.privacy .privacy-tb03-bot{
  display: flex;
}
.privacy .privacy-tb03-bot p{
  padding: 9px 12px;
}
.privacy .privacy-tb03-bot div{
  width: 50%;
}
.privacy .cont-text-mb03{
  margin-bottom: 48px;
}
.privacy p.cont-text-mb03{
  margin-bottom: 40px;
}
/* E: privacy 페이지 */

/* S: conversion_step01 , conversion_step02 , conversion_step03 페이지 공통 */
.conversion-step-all .tit-box h1{
  margin-bottom: 88px;
}
.conversion-step-all .steps{
  margin-bottom: 81px;
}
.conversion-step-all .agree-box .chk:first-child{
  margin-bottom: 16px;
}
.conversion-step-all .chk a{
  position: relative;
  font-weight: 500;
}
.conversion-step-all .chk a:after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #191919;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.conversion-step-all .cont-tit2{
  margin-bottom: 16px;
  font-weight: 500;
}
/* E: conversion_step01 , conversion_step02 , conversion_step03 페이지 공통 */

/* S: conversion_step01 페이지 */
.conversion-step01 .change-information{
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 64px;
}
.conversion-step01 .change-information .cont-text{
  width: 240px;
  margin-bottom: 16px;
  color: #333;
}
.conversion-step01 .change-information .caption{
  color: #333;
  margin-bottom: 12px;
}
.conversion-step01 .change-information .brandhome-account,
.conversion-step01 .change-information .brandhome-change{
  background-color: #fafafa;
  padding: 30px 42px;
  width: 388px;
  height: 318px;
}
.conversion-step01 .change-information .account-content,
.conversion-step01 .change-information .change-content{
  display: flex;
  justify-content: space-between;
}
.conversion-step01 .change-information .account-content div,
.conversion-step01 .change-information .change-content div{
  padding-right: 44px;
}
.conversion-step01 .change-information .arrow{
  display: flex;
  margin: 0 103px;
}
.conversion-step01 .btn{
  margin-top: 80px;
}
/* E: conversion_step01 페이지 */

/* S: conversion_step02_02 페이지 */
.conversion-step02 .noti{
  margin-bottom: 72px;
}
/* E: conversion_step02_02 페이지 */

/* S: conversion_step03 페이지 */
.conversion-step03{
  width: 470px;
  margin: 0 auto;
}
.conversion-step03 .combine-member{
  background-color: #fafafa;
  margin: 48px auto 90px;
  padding: 30px 42px;
  width: 468px;
  height: 288px;
}
.conversion-step03 .combine-member .cont-text{
  margin-bottom: 18px;
  color: #333;
}
.conversion-step03 .combine-member .combine-member-content{
  display: flex;
}
.conversion-step03 .combine-member .combine-member-content div{
  width: 50%;
}
.conversion-step03 .combine-member .combine-member-content .caption{
  margin-bottom: 12px;
  color: #333;
}
.conversion-step03 .combine-member .combine-member-content .caption:last-child{
  margin-bottom: 0;
}
/* E: conversion_step03 페이지 */

/* S: find_password , change_password , change_password02, reconfirm_password, reset_password 페이지 공통 */
.password-all .pw-wrap-form{
  max-width: 370px;
  margin: 0 auto;
}
.password-all .tit-box p{
  margin-bottom: 64px;
}
.password-all .input-outer-box{
  margin-top: 12px;
  margin-bottom: 90px;
}
/* E: find_password , change_password , change_password02, reconfirm_password, reset_password 페이지 공통 */

/* S: find_password 페이지 */
.find-password label{
  text-align: left;
}
.find-password p.noti{
  padding-left: unset;
}
/* E: find_password 페이지 */

/* S: change_password , change_password02 페이지 공통*/
.change-password .new-pw , .change-password02 .new-pw{
  margin-bottom: 32px;
}
.change-password .cta-outer , .change-password02 .cta-outer{
  margin-top: 90px;
}
/* E: change_password , change_password02 페이지 공통 */

/* S: change_password02 페이지 */
.change-password02 .input-outer-box:last-child{
  margin-bottom: 16px;
}
.change-password02 .pw-caution-wrap{
  width: fit-content;
  margin: 0 auto;
}
/* E: change_password02 페이지 */

/* S: change_password03 페이지 */
.change-password03 .layer-title {
  margin-bottom: 20px;
  font-weight: 500;
}
.change-password03 .layer-cont p {
  text-align: center;
}
.change-password03 .cta-outer .btn-middle.btn-type2 {
  padding: 0;
}
/* E: change_password03 페이지 */

/* S: training_video 페이지 */
.training-video .video-outer .play{
  height: 1080px;
  margin-bottom: 160px;
  position: relative;
  background: #000;
  display: flex;
  align-items: center;
}
.training-video .video-outer .play p{
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 80px;
  left: 80px;
  transition: .5s;
}
.training-video .video-outer .play-list{
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}
.training-video .video-outer .play-list li{
  margin-right: 29px;
}
.training-video .video-outer .play-list li:last-child{
  margin-right: 0;
}
.training-video .video-outer .play-list li .tit{
  line-height: 26px;
  font-weight: 500;
  margin-top: 36px;
}
@media screen and (max-width: 1279px) {
  .training-video .video-outer .play{
    height: 720px;
  }
  .training-video .video-outer .play-list{
    padding: 0 40px;
  }
}
/* E: training_video 페이지 */

/* S: e_learning 페이지 */
.e-learning .tab-box-wrap .tab-box-list{
  padding: 0 80px;
}
.e-learning .iframe-area{
  height: 800px;
}
@media screen and (max-width: 1279px) {
  .e-learning .tab-box-wrap .tab-box-list{
    padding: 0 40px;
  }
}
/* E: e_learning 페이지 */

/* S: share_file_list, send_file , file_details , forward_file 페이지 공통*/
.file-all .calendar{
  margin-top: 56px;
  margin-bottom: 60px;
}
.file-all .calendar label{
  font-size: 16px;
  font-weight: 500;
}
.file-all .check-group span{
  color: #333;
}
.file-all .cta-outer{
  margin-top: 90px;
}
/* E: share_file_list, send_file , file_details , forward_file 페이지 공통*/

/* S: share_file_list 페이지 */
.share-file-list .tbl-box thead .td-num,
.share-file-list .tbl-box tbody .td-num{
  padding: 28px 18px;
}
.share-file-list .tbl-box tbody .td-tit,
.share-file-list .tbl-box tbody .td-user{
  text-align: left;
}
.share-file-list .tab-box-item .pagination{
  margin-top: 60px;
}
/* E: share_file_list 페이지 */

/* S: file_details 페이지 */
.send-file .textarea-box{
  margin-bottom: 40px;
}
/* E: file_details 페이지 */

/* S: file_details 페이지 */
.file-details .file-download-end{
  margin-top: 16px;
  color: #777;
}
/* E: file_details 페이지 */

/* S: forward_file 페이지 */
.forward-file .calendar{
  margin-top: 40px;
}
.forward-file input::placeholder, .forward-file textarea::placeholder{
  color: #333;
}
.forward-file .textarea-box{
  margin-bottom: 40px;
}
/* E: forward_file 페이지 */

/* S: popup employees */
.pop-employees {}
.pop-employees .input-outer-box {
  padding-bottom: 50px;
}
.pop-employees .input-outer-box .select-box {
  width: 144px;
}
.pop-employees .input-outer-box .btn {
  margin-left: 8px;
}
.pop-employees tr.no-data td {
  text-align: center;
  padding: 50px 0;
}
.pop-employees tr.no-data:hover td {
  background-color: #fff;
}
/* E: popup employees */

/* S: bts_list , gbim_list 페이지 공통 */
.brandreport-list .brandreport-list-form .brandreport-list-tit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.brandreport-list .brandreport-list-form .brandreport-list-tit h2 {
  font-weight: 500;
}
.brandreport-list .edit-box {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.brandreport-list .edit-box img {
  margin-left: 13px;
  width: 15.5px;
}
.brandreport-list .list-contents-all {
  font-weight: 500;
}
.brandreport-list .checking-list {
  margin-top: 24px;
}
.brandreport-list .checking-list .list {
  display: flex;
  justify-content: space-between;
}
.brandreport-list .checking-list .list:last-child {
  margin-bottom: 144px;
}
.brandreport-list .checking-list .list div .list-contents-volume {
  color: #999;
  margin-right: 74px;
}
.brandreport-list .checking-list .list div a {
  position: relative;
}
.brandreport-list .checking-list .list div a:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 14px;
  height: 19px;
  background: url(../../assets/images/common/ico_btn_download.svg) no-repeat;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.brandreport-list .checking-list-box .chk-box {
  display: none;
  margin-bottom: 48px;
}
.brandreport-list .checking-list-box .chk-box div:first-child {
  display: flex;
  justify-content: space-between;
}
.brandreport-list .checking-list-box .chk-box div > div,
.brandreport-list .checking-list-box .chk-box a {
  display: flex;
  align-items: center;
}
.brandreport-list .checking-list-box .chk-box div > div img{
  width: 15.5px;
  margin-left: 13px;
}
.brandreport-list .checking-list-box .chk-box a img {
  width: 14px;
  margin-left: 13px;
}
.brandreport-list .btn-cancel {
  margin-left: 50.5px;
}
/* E: bts_list , gbim_list 페이지 공통 */

/* S: about_hyundai_brand 페이지 */
.hyundai-brand .brand-img-wrap {
  display: flex;
  justify-content: space-between;
}
.hyundai-brand .brand-img-wrap a {
  margin-right: 30px;
}
.hyundai-brand .brand-img-wrap a:last-child {
  margin-right: 0;
}
.hyundai-brand .brand-img-wrap a p {
  margin-top: 36px;
  color: #000;
}
/* E: about_hyundai_brand 페이지 */

/* S: about_identity_system / about_brand_book / about_communication_guidelines 공통 페이지 */
.about-brand .brand-pdf-viewer {
  margin-bottom: 120px;
}
.about-brand .tbl-list-wrap .tbl-list-tit {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 24px;
}
.about-brand .tbl-list .list {
  display: flex;
  justify-content: space-between;
}
.about-brand .tbl-list .list .list-contents-volume {
  margin-right: 74px;
  color: #999;
}
.about-brand .tbl-list .list a {
  position: relative;
}
.about-brand .tbl-list .list a:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 14px;
  height: 19px;
  background: url(../../assets/images/common/ico_btn_download.svg) no-repeat;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.about-brand .identity-img-wrap {
  display: flex;
  margin-top: 160px;
}
.about-brand .identity-img-wrap a {
  position: relative;
}
.about-brand .identity-img-wrap a p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-weight: 500;
  text-align: center;
}
/* E: about_identity_system / about_brand_book / about_communication_guidelines 공통 페이지 */

/* S: Library List 공통 */
.library-list .tit-box {
  min-height: auto;
}
.library-list .search-area {
  margin-top: 46px;
  text-align: center;
}
.library-list .input-outer-box {
  width: 688px;
  margin: 0 auto;
  text-align: left;
}
.library-list .search-area .select-box {
  width: 200px;
  display: inline-block;
}
.library-list .search-area .input-box {
  width: 480px;
}
.library-list .search-area .tag-area {
  padding-top: 24px;
}
.library-list .search-area .tag-area .tag-tit {
  color: #333;
  margin-right: 48px;
  font-weight: 400;
}
.library-list .search-area .tag-area .text-tag {
  margin-right: 24px;
}
.library-list .search-area .tag-area .text-tag:last-child {
  margin-right: 0;
}
.library-list .search-complete-area {
  margin-top: 130px;
  text-align: center;
}
.library-list .search-complete-area p {
  font-weight: 400;
}
.library-list .checking-list-box {
  margin-top: 50px;
  margin-bottom: 64px;
}
.library-list .checking-list-box .gallery-type .txt-box {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}
.library-list .checking-list-box .gallery-type .txt-box .btn-download {
  margin-top: 7px;
}
.library-list .checking-list-box .gallery-type .txt-box p a {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.library-list .checking-list-box .list-type .list-contents {
  display: flex;
  justify-content: space-between;
}
.library-list .checking-list-box .list-type .img-box {
  width: 248px;
  height:165px;
  background-color: #ccc;
}
.library-list .checking-list-box .list-type .img-box a {
  width: 100%;
  height: 100%;
  background: url('') no-repeat center center;
  background-size: cover;
  display: block;
}
.library-list .checking-list-box .list-type .txt-box {
  width: calc(100% - 328px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library-list .checking-list-box .list-type .list-contents.active .txt-box {
  width: calc(100% - 416px);
}
.library-list .nodata-area {
  text-align: center;
  margin-top: 272px;
  margin-bottom: 60px;
}
.library-list .nodata-area .cont-tit {
  padding-bottom: 24px;
  font-weight: 400;
}

@media screen and (max-width: 1279px) {
  .library-list .thumbnail-gallery.column3 .gallery-box {
    width: calc(50% - 15px);
  }
  .thumbnail-gallery.column3 .gallery-box:nth-child(3n+0) {
    margin-right: 30px;
  }
  .thumbnail-gallery.column3 .gallery-box:nth-child(2n+0) {
    margin-right: 0;
  }
  .thumbnail-gallery.column3 .gallery-box:nth-child(3) {
    margin-top: 120px;
  }
  .thumbnail-gallery.column3 .gallery-box .img-box,
  .thumbnail-gallery.column3 .gallery-box .img-box a {
    max-height: 390px;
    height: 31vw;
  }
}
/* E: Library List 공통 */

/* S: Library View 공통 */
.library-view .view-cont-img{
  margin-bottom: 96px;
}
.library-view .info-cont-outer{
  display: flex;
  margin-bottom: 96px;
}
.library-view .info-cont-outer > div:first-child{
  margin-right: 30px;
}
.library-view .info-cont-outer .h5-title{
  margin-bottom: 24px;
}
.library-view .download-outer .h5-title{
  margin-bottom: 25px;
}
.library-view .download-outer .info-table{
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
}
.library-view .download-outer .info-table tr{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library-view .download-outer .info-table td{
  line-height: 43px;
  display: flex;
  align-items: center;
}
.library-view .download-outer .info-table td:first-child{
  padding-left: 24px;
}
.library-view .download-outer .info-table td:last-child{
  padding-right: 24px;
}
.library-view .download-outer .info-table td .download-btn{
  min-width: 16px;
  height: 19px;
  background: url('../images/common/ico_btn_download.svg')no-repeat;
  margin-left: 60px;
}
.library-view .download-outer .tag-outer{
  margin-top: 40px;
}
/* E: Library View 공통 */

/* S: local-campaigns-list */
.local-campaigns-list .tit-box {
  min-height: 400px;
}
.local-campaigns-list .checking-list-box {
  margin-top: 0;
}
.local-campaigns-list .checking-list-box .gallery-type .txt-box p a {
  -webkit-line-clamp: 1;
}
.local-campaigns-list .checking-list-box .txt-box .cont-text2 {
  color: #999;
  font-weight: 400;
}
.local-campaigns-list .checking-list-box .list-type .txt-box {
  display: table;
  width: calc(100% - 478px);
}
.local-campaigns-list .checking-list-box .list-type .txt-box div {
  display: table-cell;
  vertical-align: middle;
}
.local-campaigns-list .checking-list-box .list-type .txt-box .h5-title {
  padding-bottom: 24px;
}
.local-campaigns-list .checking-list-box .list-type .txt-box .cont-text2:last-child {
  padding-top: 40px;
}
.local-campaigns-list .checking-list-box .list-type .txt-box em {
  margin: 0 12px;
}
.local-campaigns-list .checking-list-box .list-type .img-box {
  width: 398px;
  height: 266px;
}
/* E: local-campaigns */
