/* S: search 페이지 공통 */
.search-result .quick-menu{
  margin-top: 48px;
}
.search-result .quick-menu .menu-btn{
  margin-top: 48px;
}
.search-result .quick-menu .menu-btn button{
  font-size: 26px;
  line-height: 26px;
  margin-right: 88px;
}
.search-result .search-cont{
  margin-bottom: 120px;
}
.search-result .search-cont.search-report-cont{
  margin-bottom: 0;
}
.search-result .library-list .quick-menu .menu-btn button:last-child{
  margin-right: 0;
}
.search-result .library-list .content-tit{
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-result .library-list .content-tit .btn-more span{
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  background: url('../../assets/images/common/ico_arrow_right.svg');
  background-size: 100% auto;
}
.search-result .library-list .search-report-cont .checking-list-box{
  margin-bottom: 0;
}
.search-result .library-list .list-type::after,
.search-result .library-list .search-report-cont .tbl-list::after{
  content: '';
  display: block;
  clear: both;
}
.search-result .library-list .list-type .list,
.search-result .library-list .search-report-cont .tbl-list .list-contents{
  float: left;
  margin-right: 40px;
  width: calc(50% - 20px);
}
.search-result .library-list .list-type .list:nth-child(2n+0),
.search-result .library-list .search-report-cont .tbl-list .list-contents:nth-child(2n+0){
  margin-right: 0;
}
.search-result .library-list .list-type .list:nth-child(2),
.search-result .library-list .search-report-cont .tbl-list .list-contents:nth-child(2){
  border-top: 1px solid #ccc;
}
.search-result .library-list .checking-list-box .list-type .img-box{
  width: 100px;
  height: 100px;
}
.search-result .library-list .checking-list-box .list-type .txt-box{
  width: calc(100% - 140px);
}
/* E: search 페이지 공통 */

/* S: search nodata 페이지 공통 */
.search-nodata .no-data-outer{
  text-align: center;
  margin-top: 142px;
}
.search-nodata .no-data-outer .tit{
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-bottom: 24px;
}
.search-nodata .no-data-outer .tit span{
  font-weight: 500;
}
.search-nodata .no-data-outer .desc{
  font-size: 18px;
  line-height: 27px;
  color: #333;
  margin-bottom:80px;
}
/* E: search nodata 페이지 공통 */

/* S: login 페이지 */
.login .tit-box{
  padding-top: 153px;
}
.login .download-btn{
  max-width: 448px;
  margin: 0 auto;
}
.login .form-outer .input-outer-box.password{
  margin-top: 24px;
}
.login .form-outer .btn-full{
  margin: 48px 0 16px;
}
.login .form-outer .login-opt{
  display: flex;
  justify-content: center;
}
.login .form-outer .login-opt > p:first-child::after{
  content:'';
  display:inline-block;
  width: 1px;
  height: 16px;
  margin: 0 16px;
  background: #999;
  position: relative;
  top: 3px;
}
.login .download-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  border: 1px solid #e9e9e9;
  padding: 36px 0;
  margin-top: 64px;
  cursor: pointer;
}
.login .download-btn .cont-text2{
  margin-right: 8px;
}
/* E: login 페이지 */

/* S: login otp 페이지 */
.login-otp .tit-box .htr{
  margin: 24px 0 64px;
  font-size: 16px;
  line-height: 24px;
}
.login-otp .form-outer{
  max-width: 410px;
  margin: 0 auto;
}
.login-otp .cta-outer{
  margin-top: 20px;
}
/* E: login otp 페이지 */

/* S: account approval pending & approval reject 공통 */
.approval-all .list-box{
  max-width: 696px;
  margin: 72px auto 0;
}
.approval-all .list-box .cont-text,
.approval-all .list-box .cont-text strong{
  color: #333;
  text-align: left;
}
.approval-all .list-box .cont-box{
  min-height: 160px;
  width: 100%;
  background: #fafafa;
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  padding: 32px 40px;
}
.approval-all .complete-area .cta-outer{
  margin-top: 48px;
}
/* E: account approval pending & approval reject 공통 */

/* S: account approval pending 페이지 */
.account-approval-pending{
  padding-top: 201px;
}
/* E: account approval pending 페이지 */

/* S: account expiration */
.account-expiration .tit-box{
  padding-bottom: 120px;
  text-align: center;
}
.account-expiration .tit-box .cont-text{
  color: #333;
}
.account-expiration .form-outer .caption.htr{
  margin: 24px 0 72px;
}
.account-expiration .form-outer .text-box-outer{
  margin-top: 46px;
}
.account-expiration .staff-incharge{
  margin-bottom: 40px;
}
.account-expiration .staff-incharge .cont-tit2{
  font-weight: 500;
  margin-bottom: 16px;
}
.account-expiration .staff-incharge div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.account-expiration .staff-incharge div:nth-child(2) .cont-text2{
  color: #333;
}
.account-expiration .form-outer .cta-outer{
  margin-top: 90px;
}
/* E: account expiration */

/* S: join 페이지, conversion_step02, info_modify, account_period_extension 페이지 공통(폼 영역)*/
.join .user-account,
.conversion-step02 .user-account{
  margin-bottom: 150px;
}
.join .cont-tit2,
.conversion-step02 .user-account .cont-tit2{
  margin-bottom: 16px;
  font-weight: 500;
  color: #333;
}
.join .name-box-wrap .input-box:first-child input,
.conversion-step02 .name-box-wrap .input-box:first-child input,
.info-modify .name-box-wrap .input-box:first-child input{
  width: 380px;
}
.join .name-box-wrap .input-box:last-child,
.conversion-step02 .name-box-wrap .input-box:last-child,
.info-modify .name-box-wrap .input-box:last-child{
  margin-left: 8px;
  margin-right: unset;
}
.join .radio-group label,
.conversion-step02 .radio-group label,
.info-modify .radio-group label{
  margin-top: 0;
}
.join .phone-box-wrap .input-box:last-child,
.conversion-step02 .phone-box-wrap .input-box:last-child,
.info-modify .phone-box-wrap .input-box:last-child{
  margin-right: unset;
}
.join .phone-box-wrap .input-box:last-child input,
.conversion-step02 .phone-box-wrap .input-box:last-child input,
.info-modify .phone-box-wrap .input-box:last-child input{
  width: 430px;
  margin-left: 8px;
}
.join .email-box-wrap input,
.conversion-step02 .email-box-wrap input{
  margin-bottom: 8px;
}
.join .email-box-wrap p,
.conversion-step02 .email-box-wrap p{
  color: #999;
}
.join .radio,
.conversion-step02 .radio,
.info-modify .radio{
  margin-right: 72px;
}
.join .radio:last-child,
.conversion-step02 .radio:last-child,
.info-modify .radio:last-child{
  margin-right: unset;
}
.join .staff-incharge,
.conversion-step02 .staff-incharge,
.info-modify .staff-incharge{
  margin-bottom: 60px;
}
.join .staff-incharge div:nth-child(2),
.conversion-step02 .staff-incharge div:nth-child(2),
.account-period-extension .staff-incharge div:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.join .staff-incharge div:nth-child(2) .cont-text2,
.conversion-step02 .staff-incharge div:nth-child(2) .cont-text2{
  color: #333;
}
.join .agree-box,
.conversion-step02 .agree-box{
  margin-bottom: 90px;
}
/* E: join 페이지, conversion_step02, info_modify, account_period_extension 페이지 공통(폼 영역)*/

/* S: join 페이지 */
.join .tit-box h1{
  padding-bottom: 100px;
}
.join .agree-box .chk:first-child{
  margin-bottom: 16px;
}
.join .agree-box .chk span a{
  position: relative;
  font-weight: 500;
}
.join .agree-box .chk span a:after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #191919;
  position: absolute;
  bottom: -2px;
  left: 0;
}
/* E: join 페이지 */

/* S: account activation 페이지 */
.account-activation .tit-box{
  text-align: center;
  padding-bottom:64px;
}
.account-activation .tit-box .cont-text{
  color: #333;
}
.account-activation .form-outer{
  max-width: 405px;
  margin: 0 auto;
}
.account-activation .form-outer > div:first-child{
  margin-top: 0;
}
.account-activation .form-outer .input-outer-box{
  max-width: 370px;
  margin: 32px auto 0;
}
.account-activation .form-outer .btn{
  margin-top: 90px;
}
/* E: account activation 페이지 */

/* S: contact us 페이지 */
.contactus .form-outer .form-title-area{
  margin-bottom: 48px;
}
.contactus .form-outer .textarea-outer{
  margin-top: 68px;
}
.contactus .form-outer .uploader-outer{
  margin-top: 68px;
}
.contactus .form-outer .cta-outer{
  margin-top: 90px;
}
/* E: contact us 페이지 */

/* S: contact us complete 페이지 */
.contactus-complete .complete-outer{
  margin-top: 136px;
}
/* E: contact us complete 페이지 */

/* S: glossary 페이지 */
.glossary .tit-box,
.glossary-nodata .tit-box{
  min-height: 0;
}
.glossary .search-outer,
.glossary-nodata .search-outer {
  position: relative;
  max-width: 520px;
  margin: 49px auto 0;
}
.glossary .search-error,
.glossary-nodata .search-error{
 max-width: 520px;
  margin: 8px auto 0;
}
.glossary .search-outer .input-box,
.glossary-nodata .search-outer .input-box{
  max-width: 520px
}
.glossary .accordion-outer{
  margin-top: 80px;
}
.glossary .pagination{
  margin-top: 60px;
}
/* E: glossary 페이지 */

/* S: glossary nodata 페이지 */
.glossary-nodata .no-data-outer{
  text-align: center;
  margin-top: 160px;
}
.glossary-nodata .no-data-outer .tit{
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-bottom: 24px;
}
.glossary-nodata .no-data-outer .tit span{
  font-weight: 500;
}
.glossary-nodata .no-data-outer .desc{
  font-size: 18px;
  line-height: 28px;
  color: #333;
  font-family: 'HyundaiSansTextKR', sans-serif;
  margin-bottom:64px;
}
/* E: glossary nodata 페이지 */

/* S: inquiry list, inquiry list nodata 공통페이지 */
.inquiry-list .tit-box,
.inquiry-list-nodata .tit-box {
  text-align: center;
  min-height: 0;
  padding-bottom: 72px;
}
/* E: inquiry list, inquiry list nodata 공통페이지 */

/* S: inquiry list 페이지 */
.inquiry-list .calendar{
  margin-bottom: 96px;
}
.inquiry-list .tbl-box table {
  border-top: none;
}
.inquiry-list .tbl-box th,
.inquiry-list .tbl-box td {
  padding: 24px;
  height: 80px;
}
.inquiry-list .tbl-box th {
  background-color: #fff;
}
.inquiry-list .tbl-box td {
  border-bottom: none;
}
.inquiry-list .tbl-box tr:hover td {
  background-color: #fafafa;
}
/*.inquiry-list .tbl-box tr:hover td.td-tit {*/
/*  text-decoration: underline;*/
/*}*/
.inquiry-list .tbl-box .td-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.inquiry-list .tbl-box .td-num, .inquiry-list .tbl-box .td-date, .inquiry-list .tbl-box .td-state {
  text-align: center;
}
.inquiry-list .tbl-box .td-state .state-receipt {
  color: #333;
}
.inquiry-list .tbl-box .td-state .state-waiting {
  color: #00AAD2;
}
.inquiry-list .tbl-box .td-state .state-complete {
  color: #999;
}
.inquiry-list .tbl-box th {
  background-color: #fff;
}
.inquiry-list .pagination {
  margin-top: 57px;
}
/* E: inquiry list 페이지 */

/* S: inquiry list nodata 페이지 */
.inquiry-list-nodata .no-data {
  padding-top: 144px;
  padding-bottom: 64px;
  text-align: center;
}
.inquiry-list-nodata .no-data p {
  color: #333;
}
/* E: inquiry list nodata 페이지 */

/* S: inquiry view 페이지 */
.inquiry-view .tbl-box th {
  text-align: left;
}
.inquiry-view .tbl-box td {
  line-height: 24px;
}
.inquiry-view .tbl-box td.td-file {
  padding: 33px 24px 50px;
}
.inquiry-view .tbl-box td.td-file .file-uploader .file-box > .table-area,
.inquiry-view .tbl-box td.td-file .file-uploader .file-box th {
  border-bottom-color: #d7d7d7 !important;
}
.inquiry-view .tbl-box td.td-file .file-uploader .file-box .file-byte {
  top: auto;
  bottom: 16px;
}
.inquiry-view .tbl-box td.td-file table {
  border-top: none;
  border-bottom: none;
}
.inquiry-view .tbl-box td.td-file td.file-name {
  text-align: left;
}
.inquiry-view .tbl-box td.td-answer {
  /*padding: 40px 16px;*/
}
.inquiry-view .cta-outer {
  padding-top: 80px;
}
/* E: inquiry view 페이지 */

/* S: reconfirm password, reset password 페이지 공통 */
.reconfirm-password .tit-box,
.reset-password .tit-box{
  padding-top: 120px;
  min-height: 0;
}
/* E: reconfirm password, reset password 페이지 공통 */

/* S: reset password 페이지 */
.reset-password.password-all .input-outer-box{
  margin-bottom: 32px;
}
.reset-password .cta-outer{
  margin-top: 90px;
}
/* E: reset password 페이지 */

/* S: info modify 페이지 */
.info-modify .user-account{
  margin-bottom: 156px;
}
.info-modify .tbl-tit-outer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.info-modify .tbl-tit-outer .cont-tit2{
  font-weight: 500;
}
.info-modify .chk-outer .caption{
  margin: 8px 0 0 31px;
}
.info-modify .cta-outer{
  margin-top: 90px;
}
/* E: info modify 페이지 */

/* S: account period extension 페이지 */
.account-period-extension .cont-tit2{
  font-weight: 500;
  margin-bottom: 16px;
}
.account-period-extension .account-info{
  margin-bottom: 150px;
}
.account-period-extension .cta-outer{
  margin-top: 90px;
}
/* E: account period extension 페이지 */

/* S: cookie 페이지 */
.cookie .cookie-pop{
  width: 100%;
  min-height: 165px;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding: 40px 56px;
  color: #333;
  display: flex;
  justify-content: space-between;
  z-index: 99999;
}
.cookie .cookie-pop .title{
  font-weight: 500;
  margin-bottom: 16px;
}
.cookie .cookie-pop .cont-tit2{
  font-size: 18px;
}
/* E: cookie 페이지 */

/* S: terms 페이지, privacy 페이지 공통 */
.terms .select-box , .privacy .select-box{
  width: 320px;
  height: 46px;
  margin-left: auto;
}
.terms .cont-text , .privacy .cont-text{
  margin-top: 56px;
  margin-bottom: 16px;
  color: #333;
  font-weight: 500;
}
.terms-wrap > div:nth-child(2) .cont-text , .privacy-wrap > div:nth-child(2) .cont-text{
  margin-top: 48px;
}
.terms .cont-text2 , .privacy .cont-text2{
  color: #333;
}
.terms .cont-text-mb01 , .privacy .cont-text-mb01{
  margin-bottom: 16px;
}
.terms .cont-text-mb02 , .privacy .cont-text-mb02{
  margin-bottom: 8px;
}
/* E: terms 페이지, privacy 페이지 공통 */

/* S: terms 페이지 */
.terms .bylaw{
  margin-top: 64px;
}
.terms .bylaw p:first-child{
  margin-bottom: 24px;
}
/* E: terms 페이지 */

/* S: privacy 페이지 */
.privacy .privacy-tb-top , .privacy .privacy-tb-bot{
  display: flex;
}
.privacy .privacy-tb-top p{
  width: 25%;
  line-height: 24px;
  padding: 9px 12px;
  border-bottom: 2px solid #333;
  font-weight: 500;
}
.privacy .privacy-tb-bot p{
  width: 25%;
  line-height: 24px;
  padding: 9px 12px;
}
.privacy .privacy-tb02-top , .privacy .privacy-tb02-bot{
  display: flex;
}
.privacy .privacy-tb02-top p{
  width: 33.333333%;
  line-height: 24px;
  padding: 9px 12px;
  border-bottom: 2px solid #333;
  font-weight: 500;
}
.privacy .privacy-tb02-bot p{
  width: 33.333333%;
  line-height: 24px;
  padding: 9px 12px;
}
.privacy .privacy-tb02-bot p:last-child{
  width: 240px;
}
.privacy .privacy-tb03-top{
  border-bottom: 2px solid #333;
}
.privacy .privacy-tb03-top p{
  padding: 9px 12px;
  font-weight: 500;
}
.privacy .privacy-tb03-bot{
  display: flex;
}
.privacy .privacy-tb03-bot p{
  padding: 9px 12px;
}
.privacy .privacy-tb03-bot div{
  width: 50%;
}
.privacy .cont-text-mb03{
  margin-bottom: 48px;
}
.privacy p.cont-text-mb03{
  margin-bottom: 40px;
}
/* E: privacy 페이지 */

/* S: conversion_step01 , conversion_step02 , conversion_step03 페이지 공통 */
.conversion-step-all .tit-box h1{
  margin-bottom: 88px;
}
.conversion-step-all .steps{
  margin-bottom: 81px;
}
.conversion-step-all .agree-box .chk:first-child{
  margin-bottom: 16px;
}
.conversion-step-all .chk a{
  position: relative;
  font-weight: 500;
}
.conversion-step-all .chk a:after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #191919;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.conversion-step-all .cont-tit2{
  margin-bottom: 16px;
  font-weight: 500;
}
/* E: conversion_step01 , conversion_step02 , conversion_step03 페이지 공통 */

/* S: conversion_step01 페이지 */
.conversion-step01 .change-information{
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 64px;
}
.conversion-step01 .change-information .cont-text{
  width: 240px;
  margin-bottom: 16px;
  color: #333;
}
.conversion-step01 .change-information .caption{
  color: #333;
  margin-bottom: 12px;
}
.conversion-step01 .change-information .brandhome-account,
.conversion-step01 .change-information .brandhome-change{
  background-color: #fafafa;
  padding: 30px 42px;
  width: 388px;
  height: 318px;
}
.conversion-step01 .change-information .account-content,
.conversion-step01 .change-information .change-content{
  display: flex;
  justify-content: space-between;
}
.conversion-step01 .change-information .account-content div,
.conversion-step01 .change-information .change-content div{
  padding-right: 44px;
}
.conversion-step01 .change-information .arrow{
  display: flex;
  margin: 0 103px;
}
.conversion-step01 .btn{
  margin-top: 80px;
}
/* E: conversion_step01 페이지 */

/* S: conversion_step02_02 페이지 */
.conversion-step02 .noti{
  margin-bottom: 72px;
}
/* E: conversion_step02_02 페이지 */

/* S: conversion_step03 페이지 */
.conversion-step03{
  width: 470px;
  margin: 0 auto;
}
.conversion-step03 .combine-member{
  background-color: #fafafa;
  margin: 48px auto 90px;
  padding: 30px 42px;
  width: 468px;
  height: 288px;
}
.conversion-step03 .combine-member .cont-text{
  margin-bottom: 18px;
  color: #333;
}
.conversion-step03 .combine-member .combine-member-content{
  display: flex;
}
.conversion-step03 .combine-member .combine-member-content div{
  width: 50%;
}
.conversion-step03 .combine-member .combine-member-content .caption{
  margin-bottom: 12px;
  color: #333;
}
.conversion-step03 .combine-member .combine-member-content .caption:last-child{
  margin-bottom: 0;
}
/* E: conversion_step03 페이지 */

/* S: find_password , change_password , change_password02, reconfirm_password, reset_password 페이지 공통 */
.password-all .pw-wrap-form{
  max-width: 370px;
  margin: 0 auto;
}
.password-all .tit-box p{
  margin-bottom: 64px;
}
.password-all .input-outer-box{
  margin-top: 12px;
  margin-bottom: 90px;
}
/* E: find_password , change_password , change_password02, reconfirm_password, reset_password 페이지 공통 */

/* S: find_password 페이지 */
.find-password label{
  text-align: left;
}
.find-password p.noti{
  padding-left: unset;
}
/* E: find_password 페이지 */

/* S: change_password , change_password02 페이지 공통*/
.change-password .new-pw , .change-password02 .new-pw{
  margin-bottom: 32px;
}
.change-password .cta-outer , .change-password02 .cta-outer{
  margin-top: 90px;
}
/* E: change_password , change_password02 페이지 공통 */

/* S: change_password02 페이지 */
.change-password02 .input-outer-box:last-child{
  margin-bottom: 16px;
}
.change-password02 .pw-caution-wrap{
  width: fit-content;
  margin: 0 auto;
}
/* E: change_password02 페이지 */

/* S: change_password03 페이지 */
.change-password03 .layer-title {
  margin-bottom: 20px;
  font-weight: 500;
}
.change-password03 .layer-cont p {
  text-align: center;
}
.change-password03 .cta-outer .btn-middle.btn-type2 {
  padding: 0;
}
/* E: change_password03 페이지 */

/* S: training_video 페이지 */
.training-video .video-outer .play{
  height: 1080px;
  margin-bottom: 160px;
  position: relative;
  background: #000;
  display: flex;
  align-items: center;
}
.training-video .video-outer .play p{
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 80px;
  left: 80px;
  transition: .5s;
}
.training-video .video-outer .play-list{
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}
.training-video .video-outer .play-list li{
  margin-right: 29px;
}
.training-video .video-outer .play-list li:last-child{
  margin-right: 0;
}
.training-video .video-outer .play-list li .tit{
  line-height: 26px;
  font-weight: 500;
  margin-top: 36px;
}
@media screen and (max-width: 1280px) {
  .training-video .video-outer .play{
    height: 720px;
  }
  .training-video .video-outer .play-list{
    padding: 0 40px;
  }
}
/* E: training_video 페이지 */

/* S: e_learning 페이지 */
.e-learning .tab-box-wrap .tab-box-list{
  padding: 0 80px;
}
.e-learning .iframe-area{
  height: 800px;
}
@media screen and (max-width: 1280px) {
  .e-learning .tab-box-wrap .tab-box-list{
    padding: 0 40px;
  }
}
/* E: e_learning 페이지 */

/* S: share_file_list, send_file , file_details , forward_file 페이지 공통*/
.file-all .calendar{
  margin-top: 56px;
  margin-bottom: 60px;
}
.file-all .calendar label{
  font-size: 16px;
  font-weight: 500;
}
.file-all .check-group span{
  color: #333;
}
.file-all .cta-outer{
  margin-top: 90px;
}
/* E: share_file_list, send_file , file_details , forward_file 페이지 공통*/

/* S: share_file_list 페이지 */
.share-file-list .tbl-box thead .td-num,
.share-file-list .tbl-box tbody .td-num{
  padding: 28px 18px;
}
.share-file-list .tbl-box tbody .td-tit,
.share-file-list .tbl-box tbody .td-user{
  text-align: left;
}
.share-file-list .tab-box-item .pagination{
  margin-top: 60px;
}
/* E: share_file_list 페이지 */

/* S: file_details 페이지 */
.send-file .textarea-box{
  margin-bottom: 40px;
}
/* E: file_details 페이지 */

/* S: file_details 페이지 */
.file-details .file-download-end{
  margin-top: 16px;
  color: #777;
}
/* E: file_details 페이지 */

/* S: forward_file 페이지 */
.forward-file .calendar{
  margin-top: 40px;
}
.forward-file input::placeholder, .forward-file textarea::placeholder{
  color: #333;
}
.forward-file .textarea-box{
  margin-bottom: 40px;
}
/* E: forward_file 페이지 */

/* S: popup employees */
.pop-employees {}
.pop-employees .input-outer-box {
  padding-bottom: 50px;
}
.pop-employees .input-outer-box .select-box {
  width: 144px;
}
.pop-employees .input-outer-box .btn {
  margin-left: 8px;
}
.pop-employees tr.no-data td {
  text-align: center;
  padding: 50px 0;
}
.pop-employees tr.no-data:hover td {
  background-color: #fff;
}
/* E: popup employees */

/* S: bts_list , gbim_list 페이지 공통 */
.brandreport-list .brandreport-list-form .brandreport-list-tit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.brandreport-list .brandreport-list-form .brandreport-list-tit h2 {
  font-weight: 500;
}
.brandreport-list .list {
  margin-bottom: 144px;
}
.brandreport-list .list:last-child {
  margin-bottom: unset;
}
.brandreport-list .list .cont-tit {
  margin-bottom: 27px;
  font-weight: 400;
  display: inline-block;
  color: #000;
}
/* E: bts_list , gbim_list 페이지 공통 */

/* S: about_hyundai_brand 페이지 */
.hyundai-brand .brand-img-wrap {
  display: flex;
  justify-content: space-between;
}
.hyundai-brand .brand-img-wrap a {
  margin-right: 30px;
}
.hyundai-brand .brand-img-wrap a:last-child {
  margin-right: 0;
}
.hyundai-brand .brand-img-wrap a p {
  margin-top: 36px;
  color: #000;
}
/* E: about_hyundai_brand 페이지 */

/* S: about_identity_system / about_brand_book / about_communication_guidelines 공통 페이지 */
.about-brand .brand-pdf-viewer {
  margin-bottom: 120px;
}
.about-brand .tbl-list-wrap .tbl-list-tit {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 24px;
}
.about-brand .tbl-list .list {
  display: flex;
  justify-content: space-between;
}
.about-brand .tbl-list .list .list-contents-volume {
  margin-right: 74px;
  color: #999;
}
.about-brand .tbl-list .list a {
  position: relative;
}
.about-brand .tbl-list .list a:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 14px;
  height: 19px;
  background: url(../../assets/images/common/ico_btn_download.svg) no-repeat;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.about-brand .identity-img-wrap {
  display: flex;
  margin-top: 160px;
}
.about-brand .identity-img-wrap a {
  position: relative;
}
.about-brand .identity-img-wrap a p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-weight: 500;
  text-align: center;
}
/* E: about_identity_system / about_brand_book / about_communication_guidelines 공통 페이지 */



/* S: Library View 공통 */
.library-view .view-cont-all{
  margin-bottom: 96px;
}
.library-view .view-cont-all.view-cont-slide{
  overflow: hidden;
}
.library-view .view-cont-video{
  height: 1080px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.library-view .view-cont-video video{
  max-width: 100%;
  height: 100%;
}
.library-view .view-cont-sound audio{
  width: 100%;
}
.library-view .view-cont-other{
  width: 100%;
  height: 1080px;
}
.library-view .info-cont-outer{
  display: flex;
  margin-bottom: 96px;
}
.library-view .info-cont-outer > div:first-child{
  margin-right: 30px;
}
.library-view .info-cont-outer .h5-title{
  margin-bottom: 24px;
}
.library-view .download-outer .h5-title{
  margin-bottom: 25px;
}
.library-view .download-outer .tag-outer{
  margin-top: 40px;
}
.library-view .tag-outer a{
  margin: 0 24px 16px 0;
}
.library-view .cont-banner{
  margin-top: 88px;
  padding: 0 240px 0 160px;
  background: #fafafa;
  min-height: 294px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library-view .cont-banner .h5-title{
  margin-bottom: 30px;
}
.library-view .cont-banner .cont-text{
  color: #999;
}
.library-view .cont-outer.relate-cont{
  margin-top: 150px;
}
.library-view .relate-cont .h3-title{
  margin-bottom: -12px;
}
.library-view .cont-outer.relate-cont .carousel-box{
  padding-top: 5px;
  overflow: hidden;
}
.library-view .cta-outer{
  margin-top: 60px;
}
.library-view.copyright-view .info-cont-outer{
  margin-bottom: 40px;
}
@media screen and (max-width: 1280px) {
  .library-view .info-cont-outer{
    display: unset;
  }
  .library-view .info-cont-outer > div{
    margin-bottom: 96px;
  }
  .library-view.copyright-view .info-cont-outer > div:last-child{
    margin-bottom: 40px;
  }
}
/* E: Library View 공통 */

/* S: local-campaigns-list */
.local-campaigns-list .tit-box {
  min-height: 400px;
}
.local-campaigns-list .checking-list-box {
  margin-top: 0;
}
.local-campaigns-list .checking-list-box .gallery-type .txt-box p a {
  -webkit-line-clamp: 1;
}
.local-campaigns-list .checking-list-box .txt-box .cont-text2 {
  color: #999;
  font-weight: 400;
}
.local-campaigns-list .checking-list-box .list-type .txt-box {
  display: table;
  width: calc(100% - 478px);
}
.local-campaigns-list .checking-list-box .list-type .txt-box div {
  display: table-cell;
  vertical-align: middle;
}
.local-campaigns-list .checking-list-box .list-type .txt-box .h5-title {
  padding-bottom: 24px;
}
.local-campaigns-list .checking-list-box .list-type .txt-box .cont-text2:last-child {
  padding-top: 40px;
}
.local-campaigns-list .checking-list-box .list-type .txt-box em {
  margin: 0 12px;
}
.local-campaigns-list .checking-list-box .list-type .img-box {
  width: 398px;
  height: 266px;
}
/* E: local-campaigns */

/* S: Copyright Expired Common */
.copyright-expired-list .tab-box-wrap,
.copyright-expired-nodata .tab-box-wrap{
  margin-top: 100px;
}
/* E: Copyright Expired Common */

/* S: Copyright Expired List */
.copyright-expired-list.library-list .checking-list-box {
  margin-top: 0;
}
.copyright-expired-list.library-list .search-complete-area {
  margin-top: 48px;
  margin-bottom: 32px;
}
/* E: Copyright Expired List */

/* S: Copyright Expired Nodata */
.copyright-expired-nodata.library-list .nodata-area {
  margin-top: 188px;
}
/* E: Copyright Expired Nodata */

/* S: edit-template */
.edit-template-wrap {
  padding-bottom: 150px;
  margin: 0 auto;
  width: 100%;
}
.edit-template-wrap .img-box {
  position: relative;
  width: 100%;
  /*height: calc(56vw - 160px);*/
  background-color:#000;
  text-align: center;
}
.edit-template-wrap .img-box > p {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.edit-template-wrap .img-box img {
  width: auto;
  max-width: none;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.edit-template-wrap .txt-box .title {
  color: #000;
  font-weight: 500;
}
.edit-template-wrap .txt-box .content {
  color: #777;
}
.edit-template-wrap.column1 .img-box {
  height: calc(56vw - 160px);
}
.edit-template-wrap.column1 .txt-box {
  margin-top: 56px;
  width: 65%;
}
.edit-template-wrap.column2 .txt-box {
  margin-top: 32px;
  width: 85%;
}
.edit-type3 .txt-box {
  margin-top: 32px;
}
.edit-template-wrap.column1 .title {
  font-size: 40px;
  line-height: 40px;
}
.edit-template-wrap.column2 {
  display: flex;
  justify-content: space-between;
}
.edit-template-wrap.column2 .title,
.edit-template-wrap.column5 .title{
  font-size: 26px;
  line-height: 26px;
}
.edit-template-wrap.column1 .content{
  font-size: 18px;
  line-height: 27px;
  margin-top: 32px;
}
.edit-template-wrap.column2 .content,
.edit-template-wrap.column5 .content {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}
.edit-type2 {
  max-width: 1313px;
  width: 100%;
}
.edit-type2 .txt-box {
  width: 80% !important;
}
.edit-type6 {
  display: flex;
  justify-content: space-between;
}
.edit-type3 .edit-inner:first-child,
.edit-type6 .edit-inner:first-child{
  margin-right: 30px;
}
.edit-type4 .edit-inner {
  margin-right: 30px;
}
.edit-type4 .edit-inner:last-child {
  margin-right: 0;
}
.edit-type5 .edit-inner,
.edit-type6 .edit-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-type5 .edit-inner > div,
.edit-type6 .edit-inner > div{
  width: 50%;
}
.edit-type1 .img-box {
  max-height: 990px;
}
.edit-type2 .img-box {
  max-height: 740px;
}
.edit-type3 .img-box {
  height: calc(33vw - 80px);
  max-height: 576px;
}
.edit-type4 .img-box {
  height: calc(22vw - 80px);
  max-height: 328px;
}
.edit-type5 .img-box {
  width: 50% !important;
  height: calc(33vw - 80px);
  max-height: 576px;
}
.edit-type6 .img-box {
  width: 300px !important;
  height: calc(33vw - 80px);
  max-height: 200px;
}
.edit-type5 .txt-box {
  padding-left: 80px;
  margin-top: 0 !important;
}
.edit-type6 .txt-box {
  width: calc(100% - 300px) !important;
  padding-left: 40px;
  margin-top: 0 !important;
}
.edit-type7 .img-box ,
.edit-type7 .img-box > p {
  height: auto !important;
}
.edit-type7 .img-box img {
  max-width: 100%;
  max-height: 990px;
  height: auto;
  position: relative;
  left: unset;
  transform: none;
}
@media screen and (max-width: 1280px) {
  .edit-template-wrap.column1 .img-box {
    height: calc(56vw - 80px);
  }
  .edit-type3 .img-box {
    height: calc(33vw - 80px);
  }
  .edit-type4 .img-box {
    height: calc(22vw - 80px);
  }
  .edit-type4 .txt-box {
    width: 100% !important;
  }
  .edit-type5 .img-box {
    height: calc(33vw - 80px);
  }
  .edit-type6 {
    display: block;
  }
  .edit-type6 .edit-inner:first-child {
    margin-bottom: 48px;
  }
  .edit-type6 .img-box {
    width: 380px !important;
    height: 254px;
  }
  .edit-type7 .img-box {
    height: auto;
  }
  .edit-type7 .img-box img {
    max-height: 675px;
  }
}
/* E: edit-template */

/* S: GMA */
.gma .tab-box-list {
  text-align: center;
}
/* E: GMA */