<!DOCTYPE html>
<html>
<head>
<title>Customer PR Thumbnails</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="customer-pr">
            <div class="customer-pr__article">
                <div class="customer-pr__inner">
                    <div class="customer-pr__contents">
                        <div class="customer-pr__list-wrap">
                            <ul class="customer-pr__list">
                            <li class="customer-pr__box">
                                <div class="customer-pr__box-inner">
                                    <!-- [F] 호버 시 : .is-hover 클래스 추가 -->
                                    <div class="cm-sup-post js-animate">
                                        <a href="#">
                                            <div class="cm-sup-post__img">
                                                <div class="js-picture">
                                                    <div class="js-img-bg" data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x350"></div>
                                                    <div class="js-img-bg" data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350"></div>
                                                </div>
                                            </div>
                                            <div class="cm-sup-post__info">
                                                <div class="cm-sup-post__title">
                                                    <strong>GENESISs opens in Australia! 2019 President's Cup Official Vehicle Supporter 2019 Cup's Official Vehicle Supporter</strong>
                                                </div>
                                                <div class="cm-sup-post__desc">
                                                    <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                                </div>
                                                <div class="cm-sup-post__date">
                                                    <em>2020.03.09</em>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="customer-pr__box">
                                <div class="customer-pr__box-inner">
                                    <!-- [F] 호버 시 : .is-hover 클래스 추가 -->
                                    <div class="cm-sup-post js-animate">
                                        <a href="#">
                                            <div class="cm-sup-post__img">
                                                <div class="js-picture">
                                                    <div class="js-img-bg" data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/630x350"></div>
                                                    <div class="js-img-bg" data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x350"></div>
                                                </div>
                                            </div>
                                            <div class="cm-sup-post__info">
                                                <div class="cm-sup-post__title">
                                                    <strong>GENESISs opens in Australia! 2019 President's Cup Official Vehicle Supporter 2019 Cup's Official Vehicle Supporter</strong>
                                                </div>
                                                <div class="cm-sup-post__desc">
                                                    <p>IIHS is a non-profit organization founded in 1959, and comprehensively evaluates the collision stability and collision prevention performance of hundreds of vehicles released annually. IIHS is a non-profit organization founded in 1959. Comprehensive evaluation of collision stability performance and collision prevention performance of the company and results are announced.</p>
                                                </div>
                                                <div class="cm-sup-post__date">
                                                    <em>2020.03.09</em>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* support js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/js/main.js"></script>
</body>
</html>
