<!DOCTYPE html>
<html lang="ko">
<head>
<title>Purchase Consultation</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<!--#include virtual="/apps/components/common/cm-navigation/@include_css.html"-->
<!--#include virtual="/apps/components/common/purchase-model/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-find-map/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-form-check/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-apply-info/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-apply-complete/@include_css.html"-->
<!--#include virtual="/apps/components/common/location-agree-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/purchase-carmaster-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/information-alert-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/test-drive-history-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/verification-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/confirm-cancell-popup/@include_css.html"-->
<!-- 모바일 스타일 임시 -->
<style>
@media screen and (max-width:767px) {
.cm-find-map__map-area.is-pc{display:none}
}
</style>
</head>
<body>
<div id="wrap">
    <!-- nav -->
    <!--#include virtual="/apps/components/common/cm-navigation/@include_purchase_html.html"-->
    <!-- //nav -->

    <!-- 1. 차량 선택 -->
    <!--#include virtual="/apps/components/common/purchase-model/@include_html.html"-->
    <!-- //1. 차량 선택 -->

    <!-- 2. 상담 센터 & 카마스터 선택 -->
    <!--#include virtual="/apps/components/common/cm-find-map/@include_purchase_html.html"-->
    <!-- //2. 상담 센터 & 카마스터 선택 -->

    <!-- 3. 약관 동의 -->
    <!--#include virtual="/apps/components/common/cm-form-check/@include_purchase_html.html"-->
    <!-- //3. 약관 동의 -->

    <!-- 4. 신청내역 확인 / 조회 -->
    <!--#include virtual="/apps/components/common/cm-apply-info/@include_purchase_html.html"-->
    <!-- //4. 신청내역 확인 / 조회 -->

    <!-- 5. 신청완료 -->
    <!--#include virtual="/apps/components/common/cm-apply-complete/@include_purchase_html.html"-->
    <!-- //5. 신청완료 -->

    <!-- 팝업 -->
    <!-- 1. 상담 센터 & 카마스터 선택 > 위치정보 사용동의 팝업 -->
    <!--#include virtual="/apps/components/common/location-agree-popup/@include_html.html"-->
    <!-- //1. 상담 센터 & 카마스터 선택 > 위치정보 사용동의 팝업 -->

    <!-- 2. 상담 센터 & 카마스터 선택 > 카마스터 선택 팝업 -->
    <!--#include virtual="/apps/components/common/purchase-carmaster-popup/@include_html.html"-->
    <!-- //2. 상담 센터 & 카마스터 선택 > 카마스터 선택 팝업 -->

    <!-- 3. 약관 동의 > 정보입력 팝업 -->
    <!--#include virtual="/apps/components/common/information-alert-popup/@include_purchase_html.html"-->
    <!-- //3. 약관 동의 > 정보입력 팝업 -->

    <!-- 5. 신청완료 > 이력 조회 팝업 -->
    <!--#include virtual="/apps/components/common/test-drive-history-popup/@include_purchase_html.html"-->
    <!-- //5. 신청완료 > 이력 조회 팝업 -->

     <!-- 약관 동의, 신청완료 > 본인인증 팝업 -->
    <!--#include virtual="/apps/components/common/verification-popup/@include_html.html"-->
    <!-- //약관 동의, 신청완료 > 본인인증 팝업 -->

    <!-- 신청내역 조회 > 구매상담 취소 팝업 -->
    <!--#include virtual="/apps/components/common/confirm-cancell-popup/@include_html.html"-->
    <!-- //신청내역 조회 > 구매상담 취소 팝업 -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!--#include virtual="/apps/components/common/cm-find-map/@include_js.html"-->
<!--#include virtual="/apps/components/common/information-alert-popup/@include_js.html"-->
</body>
</html>
