<div class="cm-layer type-alert event-schedule-popup js-cm-layer" id="event-schedule-layer">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>Genesis Experience 운영 일정</strong>
            </div>
            <div class="cm-layer__content">
                <div class="event-schedule-popup__table">
                    <div class="cm-table type-column">
                        <table>
                            <caption class="blind">Genesis Experience 운영 응모 기간 및 시승기간 일정</caption>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th scope="col">응모기간</th>
                                    <th scope="col">시승기간</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1차</th>
                                    <td rowspan="2">10/18(금) ~ 10/24(목)</td>
                                    <td>11/5(화) ~ 11/11(월)</td>
                                </tr>
                                <tr>
                                    <th scope="row">2차</th>
                                    <td>11/14(목) ~ 11/20(수)</td>
                                </tr>
                                <tr>
                                    <th scope="row">3차</th>
                                    <td rowspan="2">11/8(금) ~ 11/14 (목)</td>
                                    <td>11/26(화) ~ 12/2(월)</td>
                                </tr>
                                <tr>
                                    <th scope="row">4차</th>
                                    <td>12/5(목) ~ 12/11(수)</td>
                                </tr>
                                <tr>
                                    <th scope="row">5차</th>
                                    <td>11/29(금) ~ 12/5(목)</td>
                                    <td>12/17(화) ~ 12/23(월)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn">
                        <span class="text">확인</span>
                        <span class="masker"><span>확인</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">닫기</span>
                </button>
            </div>
        </div>
    </div>
</div>