.cp-event-list__inner {
  max-width: 1080px;
  padding: 0px 80px;
  padding: 0rem 8rem;
  margin: 0 auto;
}

.cp-event-list__tab {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.cp-event-list__tab-item {
  display: table-cell;
  text-align: center;
  height: 56px;
  height: 5.6rem;
  vertical-align: top;
  word-break: break-word;
}

.cp-event-list__tab-item:first-child a {
  margin-left: 0;
}

.cp-event-list__tab-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  color: inherit;
  font-size: 18px;
  font-size: 1.8rem;
  margin-left: -1px;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-event-list__tab-item.is-active a {
  position: relative;
  z-index: 1;
  background: #111;
  border-color: #111;
  color: #fff;
}

.cp-event-list__tab + .cp-event-list__tool {
  margin-top: 64px;
  margin-top: 6.4rem;
}

.cp-event-list__tool .cm-select {
  width: 140px;
  width: 14rem;
}

.cp-event-list__panel {
  margin-top: 30px;
  margin-top: 3rem;
}

.cp-event-list__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -40px;
  margin: 0 -4rem;
}

.cp-event-list__box {
  width: 50%;
  padding: 0 40px;
  padding: 0 4rem;
  margin-top: 80px;
  margin-top: 8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-event-list__box:first-child {
  margin-top: 0;
}

.cp-event-list__box.full-type {
  width: 100%;
  margin-top: 100px;
  margin-top: 10rem;
}

.cp-event-list__box.full-type:first-child {
  margin-top: 0;
}

.cp-event-list__box.full-type .cm-sup-post > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 0;
}

.cp-event-list__box.full-type .cm-sup-post__img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 61.11111%;
  width: 61.11111%;
  height: 370px;
  height: 37rem;
}

.cp-event-list__box.full-type .cm-sup-post__info {
  position: static;
  padding: 0 0 0 60px;
  padding: 0 0 0 6rem;
  margin-top: -8px;
  margin-top: -0.8rem;
}

.cp-event-list__box.full-type .cm-sup-post__title {
  height: 72px;
  height: 7.2rem;
  margin-bottom: 0;
  font-size: 30px;
  font-size: 3rem;
  line-height: 36px;
  line-height: 3.6rem;
}

.cp-event-list__box.full-type .cm-sup-post__desc {
  height: auto !important;
  -webkit-transition: none;
  transition: none;
}

.cp-event-list__box.full-reverse .cm-sup-post > a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.cp-event-list__box.full-reverse .cm-sup-post__info {
  padding: 0 60px 0 0;
  padding: 0 6rem 0 0;
}

.cp-event-list__pagination {
  margin-top: 77px;
  margin-top: 7.7rem;
  text-align: center;
}

.cp-event-list__pagination .is-mo {
  display: none;
}

.cp-event-list .cm-results-section {
  border: 0;
}

@media (max-width: 1023px) {
  .cp-event-list__inner {
    padding: 0px 58px;
    padding: 0rem 5.8rem;
  }
  .cp-event-list__tab-item {
    height: 46px;
    height: 4.6rem;
  }
  .cp-event-list__tab-item a {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .cp-event-list__tool {
    margin-top: 47px;
    margin-top: 4.7rem;
  }
  .cp-event-list__tool .cm-select {
    width: 100px;
    width: 10rem;
  }
  .cp-event-list__list {
    margin: 0 -20px;
    margin: 0 -2rem;
  }
  .cp-event-list__box {
    padding: 0 20px;
    padding: 0 2rem;
    margin-top: 40px;
    margin-top: 4rem;
  }
  .cp-event-list__box.full-type {
    margin-top: 80px;
    margin-top: 8rem;
  }
  .cp-event-list__box.full-type .cm-sup-post__img {
    height: 204px;
    height: 20.4rem;
  }
  .cp-event-list__box.full-type .cm-sup-post__info {
    padding: 0 0 0 40px;
    padding: 0 0 0 4rem;
  }
  .cp-event-list__box.full-type .cm-sup-post__title {
    height: 56px;
    height: 5.6rem;
    -webkit-line-clamp: 2;
    font-size: 20px;
    font-size: 2rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .cp-event-list__box.full-reverse .cm-sup-post__info {
    padding: 0 40px 0 0;
    padding: 0 4rem 0 0;
  }
  .cp-event-list__pagination {
    margin-top: 57px;
    margin-top: 5.7rem;
  }
}

@media screen and (max-width: 767px) {
  .cp-event-list__inner {
    margin-bottom: 79px;
    margin-bottom: 7.9rem;
    padding: 0px 30px;
    padding: 0rem 3rem;
  }
  .cp-event-list__tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cp-event-list__tab-item {
    height: 55px;
    height: 5.5rem;
    width: 50%;
    margin-top: -1px;
  }
  .cp-event-list__tab-item a {
    margin-left: -1px;
  }
  .cp-event-list__tab-item a:first-child {
    margin-left: -1px;
  }
  .cp-event-list__tool {
    margin-top: 32px;
    margin-top: 3.2rem;
  }
  .cp-event-list__tool .cm-select {
    width: 100%;
  }
  .cp-event-list__list {
    margin: 0;
  }
  .cp-event-list__box {
    width: 100%;
    padding: 0;
    margin-top: 60px;
    margin-top: 6rem;
  }
  .cp-event-list__box.full-type {
    margin-top: 60px;
    margin-top: 6rem;
  }
  .cp-event-list__box.full-type .cm-sup-post > a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cp-event-list__box.full-type .cm-sup-post__img {
    width: 100%;
    height: auto;
  }
  .cp-event-list__box.full-type .cm-sup-post__info {
    width: 100%;
    padding: 18px 0 0;
    padding: 1.8rem 0 0;
    margin: 0;
  }
  .cp-event-list__box.full-type .cm-sup-post__title {
    height: auto;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-event-list__box.full-type .cm-sup-post__desc {
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .cp-event-list__pagination {
    margin-top: 36px;
    margin-top: 3.6rem;
  }
  .cp-event-list__pagination .is-pc {
    display: none;
  }
  .cp-event-list__pagination .is-mo {
    display: block;
  }
}
