<!DOCTYPE html>
<html>
<head>
<title>Big Quote</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="font-size:16px">
        <p>1) 기본 - PC 이미지 2개 노출 & 태블릿/모바일 이미지 1개 노출 </p>
        <p>2) 이미지 미노출 : is-no-image 클래스 추가</p>
    </div>
    <div style="height: 500px"></div>

    <!-- component -->
    <!--/* 기본 - PC 이미지 2개 노출 & 태블릿/모바일 이미지 1개 노출
           [D] PC,TB,MO에서 이미지 미노출일 경우 : is-no-image 클래스 추가 */-->
    <div class="type-light">
        <div class="cp-bigquote">
            <div class="cp-bigquote__inner">
                <div class="cp-bigquote__parallax">
                    <div class="cp-bigquote__parallax-wrap">
                        <div class="cp-bigquote__parallax-space">
                            <div class="cp-bigquote__parallax-inner">
                                <div class="cp-bigquote__contents">
                                    <div class="cp-bigquote__textarea parallax-text">
                                        <div class="cp-bigquote__eyebrow">
                                            <p class="el-eyebrow">Genesis global text</p>
                                        </div>
                                        <div class="cp-bigquote__desc">
                                            <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                        <div class="cp-bigquote__cta">
                                            <a href="#" class="cm-btn type2 type-white">
                                                <span class="text">Primary Button</span>
                                                <span class="masker"><span>Primary Button</span></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cp-bigquote__img-right parallax-img-right">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/568x718" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="cp-bigquote__img-left parallax-img-left">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/660x330" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-light">
        <div class="cp-bigquote is-no-image">
            <div class="cp-bigquote__inner">
                <div class="cp-bigquote__parallax">
                    <div class="cp-bigquote__parallax-wrap">
                        <div class="cp-bigquote__parallax-space">
                            <div class="cp-bigquote__parallax-inner">
                                <div class="cp-bigquote__contents">
                                    <div class="cp-bigquote__textarea parallax-text">
                                        <div class="cp-bigquote__eyebrow">
                                            <p class="el-eyebrow">Genesis global text</p>
                                        </div>
                                        <div class="cp-bigquote__desc">
                                            <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                        <div class="cp-bigquote__cta">
                                            <a href="#" class="cm-btn type2 type-white">
                                                <span class="text">Primary Button</span>
                                                <span class="masker"><span>Primary Button</span></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cp-bigquote__img-right parallax-img-right">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/568x718" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="cp-bigquote__img-left parallax-img-left">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/660x330" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <!--/* 기본 - PC 이미지 2개 노출 & 태블릿/모바일 이미지 1개 노출
           [D] PC,TB,MO에서 이미지 미노출일 경우 : is-no-image 클래스 추가 */-->
    <div class="type-dark">
        <div class="cp-bigquote">
            <div class="cp-bigquote__inner">
                <div class="cp-bigquote__parallax">
                    <div class="cp-bigquote__parallax-wrap">
                        <div class="cp-bigquote__parallax-space">
                            <div class="cp-bigquote__parallax-inner">
                                <div class="cp-bigquote__contents">
                                    <div class="cp-bigquote__textarea parallax-text">
                                        <div class="cp-bigquote__eyebrow">
                                            <p class="el-eyebrow">Genesis global text</p>
                                        </div>
                                        <div class="cp-bigquote__desc">
                                            <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                        <div class="cp-bigquote__cta">
                                            <a href="#" class="cm-btn type2 type-white">
                                                <span class="text">Primary Button</span>
                                                <span class="masker"><span>Primary Button</span></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cp-bigquote__img-right parallax-img-right">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/568x718" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="cp-bigquote__img-left parallax-img-left">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/660x330" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>
<div style="height: 100vh;background:orange"></div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
