<!DOCTYPE html>
<html>
<head>
<title>Social Connect</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-dark">
        <section class="cp-social-connect">
            <div class="cp-social-connect__inner">
                <div class="cp-social-connect__title">
                    <h2 class="el-title">Connect With Genesis</h2>
                </div>
                <div class="cp-social-connect__item-wrap">
                    <div class="cp-social-connect__item">
                        <a href="https://www.youtube.com/genesisworldwide" class="cp-social-connect__link" target="_blank" title="Youtube : Open in a new window">
                            <span class="blind">Youtube</span>
                            <span class="js-svg-icon" data-icon="svg-youtube"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.facebook.com/GenesisWorldwide" class="cp-social-connect__link" target="_blank" title="Facebook : Open in a new window">
                            <span class="blind">Facebook</span>
                            <span class="js-svg-icon" data-icon="svg-facebook"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.instagram.com/genesisworldwide" class="cp-social-connect__link" target="_blank" title="Instagram : Open in a new window">
                            <span class="blind">Instagram</span>
                            <span class="js-svg-icon" data-icon="svg-instagram"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.youtube.com/genesisworldwide" class="cp-social-connect__link" target="_blank" title="Youtube : Open in a new window">
                            <span class="blind">Youtube</span>
                            <span class="js-svg-icon" data-icon="svg-youtube"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.facebook.com/GenesisWorldwide" class="cp-social-connect__link" target="_blank" title="Facebook : Open in a new window">
                            <span class="blind">Facebook</span>
                            <span class="js-svg-icon" data-icon="svg-facebook"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-light">
        <section class="cp-social-connect">
            <div class="cp-social-connect__inner">
                <div class="cp-social-connect__title">
                    <h2 class="el-title">Connect With Genesis</h2>
                </div>
                <div class="cp-social-connect__item-wrap">
                    <div class="cp-social-connect__item">
                        <a href="https://www.youtube.com/genesisworldwide" class="cp-social-connect__link" target="_blank" title="Youtube : Open in a new window">
                            <span class="blind">Youtube</span>
                            <span class="js-svg-icon" data-icon="svg-youtube"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.facebook.com/GenesisWorldwide" class="cp-social-connect__link" target="_blank" title="Facebook : Open in a new window">
                            <span class="blind">Facebook</span>
                            <span class="js-svg-icon" data-icon="svg-facebook"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.instagram.com/genesisworldwide" class="cp-social-connect__link" target="_blank" title="Instagram : Open in a new window">
                            <span class="blind">Instagram</span>
                            <span class="js-svg-icon" data-icon="svg-instagram"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.youtube.com/genesisworldwide" class="cp-social-connect__link" target="_blank" title="Youtube : Open in a new window">
                            <span class="blind">Youtube</span>
                            <span class="js-svg-icon" data-icon="svg-youtube"></span>
                        </a>
                    </div>
                    <div class="cp-social-connect__item">
                        <a href="https://www.facebook.com/GenesisWorldwide" class="cp-social-connect__link" target="_blank" title="Facebook : Open in a new window">
                            <span class="blind">Facebook</span>
                            <span class="js-svg-icon" data-icon="svg-facebook"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
