<!DOCTYPE html>
<html>
<head>
<title>Vertical Tabs</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1920px;margin:0 auto;font-size:16px;padding:20px 0">
        <p>1) 텍스트 좌/우 정렬 : (default 정렬) / .align-text-right</p>
    </div>

    <!-- component -->
    <!-- [D] 펼침/닫힘 접근성 텍스트 data-global-text 속성값으로 기입-->
    <div class="type-light">
        <div class="cp-vertical-tabs"  data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="cp-vertical-tabs__inner">
                <div class="cp-vertical-tabs__content">
                    <div class="cp-vertical-tabs__content-main">
                        <div class="cp-vertical-tabs__title">
                            <h2 class="el-title">Genesis global text</h2>
                        </div>
                        <div class="cp-vertical-tabs__list">
                            <div class="cm-accordion">
                                <div class="cp-vertical-tabs__list-line"><span class="el-line-active" style="top:0;bottom:auto;height:60px"></span></div>
                                <div class="cm-accordion-list">
                                    <!-- [D] 활성화 시 : .is-active 클래스 추가 -->
                                    <div class="cm-accordion-item is-active">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <!-- [F] 모바일 구간 이미지 영역 -->
                                                <div class="cp-vertical-tabs__list-img">
                                                    <!-- <div class="js-picture">
                                                        <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600">
                                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356">
                                                    </div> -->
                                                </div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs 
                                                        <span class="cm-tooltip js-tooltip tooltip-type-light">
                                                            <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                            <span class="cm-tooltip-layer">
                                                                <span class="cm-tooltip-layer__inner">
                                                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                                    <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                                </span>
                                                            </span>
                                                        </span> the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-accordion-item">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <div class="cp-vertical-tabs__list-img"></div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs around the globe We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-accordion-item">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <div class="cp-vertical-tabs__list-img"></div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-accordion-item">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <div class="cp-vertical-tabs__list-img"></div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-vertical-tabs__disclaimer">
                        <p class="el-disclaimer">We strive to create the finest automobiles</p>
                    </div>
                </div>
                <div class="cp-vertical-tabs__media">
                    <div class="cp-vertical-tabs__media-list">
                        <!-- [F] 활성화 시 :  display: block 후 .is-active 클래스 추가 -->
                        <div class="cp-vertical-tabs__media-item is-active" style="display:block">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-vertical-tabs__media-item">
                            <div class="video-container">
                                <video muted playsinline preload="none">
                                    <source src="/apps/components/tab-accordion/imgs/@dummy-video.mp4" type="video/mp4">
                                </video>
                                <div class="video-button-play"><button type="button"><span class="blind">Play video</span></button></div>
                                <div class="video-button-pause"><button type="button"><span class="blind">Pause video</span></button></div>
                            </div>
                        </div>
                        <div class="cp-vertical-tabs__media-item">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-vertical-tabs__media-item">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <!-- [D] 펼침/닫힘 접근성 텍스트 data-global-text 속성값으로 기입-->
    <div class="type-dark">
        <div class="cp-vertical-tabs align-text-right" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="cp-vertical-tabs__inner">
                <div class="cp-vertical-tabs__content">
                    <div class="cp-vertical-tabs__content-main">
                        <div class="cp-vertical-tabs__title">
                            <h2 class="el-title">Genesis global text</h2>
                        </div>
                        <div class="cp-vertical-tabs__list">
                            <div class="cm-accordion">
                                <div class="cp-vertical-tabs__list-line"><span class="el-line-active" style="top:0;bottom:auto;height:60px"></span></div>
                                <div class="cm-accordion-list">
                                    <!-- [D] 활성화 시 : .is-active 클래스 추가 -->
                                    <div class="cm-accordion-item is-active">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <!-- [F] 모바일 구간 이미지 영역 -->
                                                <div class="cp-vertical-tabs__list-img">
                                                    <!-- <div class="js-picture">
                                                        <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600">
                                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356">
                                                    </div> -->
                                                </div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs 
                                                        <span class="cm-tooltip js-tooltip tooltip-type-light">
                                                            <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                            <span class="cm-tooltip-layer">
                                                                <span class="cm-tooltip-layer__inner">
                                                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                                    <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                                </span>
                                                            </span>
                                                        </span> the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-accordion-item">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <div class="cp-vertical-tabs__list-img"></div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs around the globe We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-accordion-item">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <div class="cp-vertical-tabs__list-img"></div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-accordion-item">
                                        <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                        <div class="cm-accordion-panel">
                                            <div class="cm-accordion-panel-inner">
                                                <div class="cp-vertical-tabs__list-img"></div>
                                                <div class="cp-vertical-tabs__list-text">
                                                    <p>We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-vertical-tabs__disclaimer">
                        <p class="el-disclaimer">We strive to create the finest automobiles</p>
                    </div>
                </div>
                <div class="cp-vertical-tabs__media">
                    <div class="cp-vertical-tabs__media-list">
                        <!-- [F] 활성화 시 :  display: block 후 .is-active 클래스 추가 -->
                        <div class="cp-vertical-tabs__media-item is-active" style="display:block">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-vertical-tabs__media-item">
                            <div class="video-container">
                                <video muted playsinline preload="none">
                                    <source src="/apps/components/tab-accordion/imgs/@dummy-video.mp4" type="video/mp4">
                                </video>
                                <div class="video-button-play"><button type="button"><span class="blind">Play video</span></button></div>
                                <div class="video-button-pause"><button type="button"><span class="blind">Pause video</span></button></div>
                            </div>
                        </div>
                        <div class="cp-vertical-tabs__media-item">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-vertical-tabs__media-item">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1220x600" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x356" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
