.cp-pull-quote__inner {
  max-width: 2560px;
  width: 800px;
  width: 80rem;
  margin: 0 auto;
  text-align: center;
}

.cp-pull-quote__title {
  margin-bottom: 43px;
  margin-bottom: 4.3rem;
}

.cp-pull-quote__title .el-title {
  color: #ad7b61;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 42px;
  font-size: 4.2rem;
  font-weight: normal;
  line-height: 44px;
  line-height: 4.4rem;
  letter-spacing: -0.025em;
}

.cp-pull-quote__desc {
  margin-bottom: 65px;
  margin-bottom: 6.5rem;
  color: #ccc;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 28px;
  line-height: 2.8rem;
}

.cp-pull-quote__subdesc {
  color: #999;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
}

.type-light .cp-pull-quote__title .el-title {
  color: #996449;
}

.type-light .cp-pull-quote__desc {
  color: #262626;
}

.type-light .cp-pull-quote__subdesc {
  color: #666;
}

@media (max-width: 1599px) {
  .cp-pull-quote__inner {
    width: 560px;
    width: 56rem;
  }
  .cp-pull-quote__title {
    margin-bottom: 36px;
    margin-bottom: 3.6rem;
  }
  .cp-pull-quote__title .el-title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .cp-pull-quote__desc {
    margin-bottom: 58px;
    margin-bottom: 5.8rem;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-pull-quote__subdesc {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
}

@media (max-width: 1359px) {
  .cp-pull-quote__inner {
    width: 416px;
    width: 41.6rem;
  }
  .cp-pull-quote__title {
    margin-bottom: 28px;
    margin-bottom: 2.8rem;
  }
  .cp-pull-quote__title .el-title {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .cp-pull-quote__desc {
    margin-bottom: 48px;
    margin-bottom: 4.8rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
}

@media (max-width: 767px) {
  .cp-pull-quote__inner {
    width: auto;
    padding: 0 30px;
    padding: 0 3rem;
  }
  .cp-pull-quote__title {
    margin-bottom: 36px;
    margin-bottom: 3.6rem;
  }
  .cp-pull-quote__title .el-title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .cp-pull-quote__desc {
    margin-bottom: 39px;
    margin-bottom: 3.9rem;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .cp-pull-quote__subdesc {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 21px;
    line-height: 2.1rem;
  }
}
