<!DOCTYPE html>
<html lang="ko">
<head>
<title>Support : Event Hero</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1640px;margin:0 auto; font-size:16px;padding:20px 0">
        <p>1) 화이트 / 블랙 타입 : .type-color-white / .type-color-black </p>
    </div>

    <!-- component -->
    <div class="type-light">
        <div class="cp-event-hero type-color-white">
            <div class="cp-event-hero__inner">
                <div class="cp-event-hero__swiper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="cp-event-hero__img">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1640x700" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x650" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                    <div class="cp-event-hero__content">
                                        <div class="cp-event-hero__title">
                                            <h3 class="el-title">제네시스 제네시스 제네시스 제네시스</h3>
                                        </div>
                                        <div class="cp-event-hero__desc">
                                            <p class="el-desc">제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 </p>
                                        </div>
                                        <div class="cp-event-hero__cta">
                                            <a href="#" class="cm-btn"><span class="text">자세히 보기</span><span class="masker"><span>자세히 보기</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="cp-event-hero__img">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1640x700" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x650" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                    <div class="cp-event-hero__content">
                                        <div class="cp-event-hero__title">
                                            <h3 class="el-title">제네시스 제네시스 제네시스 제네시스</h3>
                                        </div>
                                        <div class="cp-event-hero__desc">
                                            <p class="el-desc">제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 </p>
                                        </div>
                                        <div class="cp-event-hero__cta">
                                            <a href="#" class="cm-btn"><span class="text">자세히 보기</span><span class="masker"><span>자세히 보기</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="cp-event-hero__img">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1640x700" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x650" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                    <div class="cp-event-hero__content">
                                        <div class="cp-event-hero__title">
                                            <h3 class="el-title">제네시스 제네시스 제네시스 제네시스</h3>
                                        </div>
                                        <div class="cp-event-hero__desc">
                                            <p class="el-desc">제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 </p>
                                        </div>
                                        <div class="cp-event-hero__cta">
                                            <a href="#" class="cm-btn"><span class="text">자세히 보기</span><span class="masker"><span>자세히 보기</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                    <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 200px"></div>

    <div class="type-light">
        <div class="cp-event-hero type-color-black">
            <div class="cp-event-hero__inner">
                <div class="cp-event-hero__swiper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="cp-event-hero__img">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1640x700" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x650" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                    <div class="cp-event-hero__content">
                                        <div class="cp-event-hero__title">
                                            <h3 class="el-title">제네시스 제네시스 제네시스 제네시스</h3>
                                        </div>
                                        <div class="cp-event-hero__desc">
                                            <p class="el-desc">제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 </p>
                                        </div>
                                        <div class="cp-event-hero__cta">
                                            <a href="#" class="cm-btn"><span class="text">자세히 보기</span><span class="masker"><span>자세히 보기</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="cp-event-hero__img">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1640x700" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x650" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                    <div class="cp-event-hero__content">
                                        <div class="cp-event-hero__title">
                                            <h3 class="el-title">제네시스 제네시스 제네시스 제네시스</h3>
                                        </div>
                                        <div class="cp-event-hero__desc">
                                            <p class="el-desc">제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 </p>
                                        </div>
                                        <div class="cp-event-hero__cta">
                                            <a href="#" class="cm-btn"><span class="text">자세히 보기</span><span class="masker"><span>자세히 보기</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <div class="cp-event-hero__img">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1640x700" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x650" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                    <div class="cp-event-hero__content">
                                        <div class="cp-event-hero__title">
                                            <h3 class="el-title">제네시스 제네시스 제네시스 제네시스</h3>
                                        </div>
                                        <div class="cp-event-hero__desc">
                                            <p class="el-desc">제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 제네시스 </p>
                                        </div>
                                        <div class="cp-event-hero__cta">
                                            <a href="#" class="cm-btn"><span class="text">자세히 보기</span><span class="masker"><span>자세히 보기</span></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                    <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* support js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/js/main.js"></script>

<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
