<div class="cm-layer type-alert confirm-cancell-popup js-cm-layer" id="confirm-cancell-layer">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>신청 취소</strong>
            </div>
            <div class="cm-layer__content">
                <div class="confirm-cancell-popup__desc">
                    <p>신청을 취소 하시겠습니까?</p>
                </div>
                <div class="cm-layer__cta">
                    <div class="btn-box">
                        <button type="button" class="cm-btn type-white js-layer-closer">
                            <span class="text">취소</span>
                            <span class="masker"><span>취소</span></span>
                        </button>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="cm-btn">
                            <span class="text">확인</span>
                            <span class="masker"><span>확인</span></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">Close popup</span>
                </button>
            </div>
        </div>
    </div>
</div>