<!DOCTYPE html>
<html lang="ko">
<head>
<title>Search</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">

    <!-- component -->
    <div class="type-light">
        <div class="cp-search">
            <div class="cp-search__inner">
                <div class="cp-search__head">
                    <h2 class="search-title">Search</h2>
                    <div class="cp-search__search">
                        <div class="cp-search__search-input cm-input-wrap">
                            <div class="cm-input-text type-search js-input-text-wrap">
                                <input type="text" id="inp1" name="inpTxt1" class="cm-input-text__input">
                                <label for="inp1" class="cm-input-text__label">검색어를 입력하세요</label>
                                <button type="button" class="ico-search">
                                    <span class="blind">검색</span>
                                </button>
                            </div>
                        </div>
                        <div class="cp-search__search-popular">
                            <p class="cp-search__search-popular-title"><em>인기검색어</em></p>
                            <p class="cp-search__search-popular-item">
                                <a href="#" class="search-item">GV80</a>
                                <a href="#" class="search-item">G90</a>
                                <a href="#" class="search-item">제네시스</a>
                                <a href="#" class="search-item">멤버십</a>
                                <a href="#" class="search-item">제네시스커넥티드서비스</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cp-search__body">
                    <section class="cp-search__relevant">
                        <h3 class="cp-search__relevant-title"><em class="color-point">GV80</em> 관련 추가 정보</h3>
                        <div class="cp-search__relevant-content">
                            <ul class="cp-search__addinfo-list">
                            <li class="cp-search__addinfo-item">
                                <a href="#" class="cp-search__addinfo-link">
                                    <div class="cp-search__addinfo-container">
                                        <div class="cp-search__addinfo-icon">
                                            <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/icon-model-info.png" alt="">
                                        </div>
                                        <p class="cp-search__addinfo-text">Model 정보</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cp-search__addinfo-item">
                                <a href="#" class="cp-search__addinfo-link">
                                    <div class="cp-search__addinfo-container">
                                        <div class="cp-search__addinfo-icon">
                                            <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/icon-estimate.png" alt="">
                                        </div>
                                        <p class="cp-search__addinfo-text">견적 내기</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cp-search__addinfo-item">
                                <a href="#" class="cp-search__addinfo-link">
                                    <div class="cp-search__addinfo-container">
                                        <div class="cp-search__addinfo-icon">
                                            <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/icon-purchase-consult.png" alt="">
                                        </div>
                                        <p class="cp-search__addinfo-text">구매 상담 신청</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cp-search__addinfo-item">
                                <a href="#" class="cp-search__addinfo-link">
                                    <div class="cp-search__addinfo-container">
                                        <div class="cp-search__addinfo-icon">
                                            <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/icon-test-drive-apply.png" alt="">
                                        </div>
                                        <p class="cp-search__addinfo-text">시승 신청</p>
                                    </div>
                                </a>
                            </li>
                            <li class="cp-search__addinfo-item">
                                <a href="#" class="cp-search__addinfo-link">
                                    <div class="cp-search__addinfo-container">
                                        <div class="cp-search__addinfo-icon">
                                            <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/icon-download-center.png" alt="">
                                        </div>
                                        <p class="cp-search__addinfo-text">다운로드 센터</p>
                                    </div>
                                </a>
                            </li>
                            </ul>
                        </div>
                    </section>
                    <section class="cp-search__relevant">
                        <h3 class="cp-search__relevant-title"><em class="color-point">GV80</em> 관련 이미지 & 동영상</h3>
                        <div class="cp-search__relevant-content">
                            <ul class="cp-search__media-list">
                            <li class="cp-search__media-item">
                                <a href="#" class="cp-search__media-link" title="GV80 Gallery">
                                    <div class="cp-search__media-img">
                                        <img src="imgs/@img1.jpg" alt="">
                                    </div>
                                    <span class="video-icon"></span>
                                </a>
                            </li>
                            <!-- [D] 비디오타입 : is-video 클래스 추가 -->
                            <li class="cp-search__media-item is-video">
                                <a href="#" class="cp-search__media-link" title="GV80 Gallery">
                                    <div class="cp-search__media-img">
                                        <img src="imgs/@img2.jpg" alt="">
                                    </div>
                                    <span class="video-icon"></span>
                                </a>
                            </li>
                            <li class="cp-search__media-item">
                                <a href="#" class="cp-search__media-link" title="GV80 Gallery">
                                    <div class="cp-search__media-img">
                                        <img src="imgs/@img3.jpg" alt="">
                                    </div>
                                    <span class="video-icon"></span>
                                </a>
                            </li>
                            <!-- [D] 비디오타입 : is-video 클래스 추가 -->
                            <li class="cp-search__media-item is-video">
                                <a href="#" class="cp-search__media-link" title="GV80 Gallery">
                                    <div class="cp-search__media-img">
                                        <img src="imgs/@img4.jpg" alt="">
                                    </div>
                                    <span class="video-icon"></span>
                                </a>
                            </li>
                            <li class="cp-search__media-item">
                                <a href="#" class="cp-search__media-link" title="GV80 Gallery">
                                    <div class="cp-search__media-img">
                                        <img src="imgs/@img5.jpg" alt="">
                                    </div>
                                    <span class="video-icon"></span>
                                </a>
                            </li>
                            <li class="cp-search__media-item">
                                <a href="#" class="cp-search__media-link" title="GV80 Gallery">
                                    <div class="cp-search__media-img">
                                        <img src="imgs/@img6.jpg" alt="">
                                    </div>
                                    <span class="video-icon"></span>
                                </a>
                            </li>
                            </ul> 
                            <div class="cp-search__relevant-cta">
                                <button type="button" class="cm-btn">
                                    <span class="text">더보기</span>
                                    <span class="masker"><span>더보기</span></span>
                                </button>
                            </div>
                        </div>
                    </section>
                    <section class="cp-search__relevant">
                        <h3 class="cp-search__relevant-title"><em class="color-point">'GV80'</em> 에 대한 검색 결과가 '전체' 에서 <em class="color-point">45</em>건이 검색 되었습니다.</h3>
                        <div class="cp-search__relevant-content">
                            <div class="cp-search__results">
                                <div class="cp-search__results-content">
                                    <!-- [D] 사용하지않을 경우 display:none; -->
                                    <ul class="cp-search__results-list" style="display:block;">
                                    <li class="cp-search__results-item">
                                        <a href="#" class="cp-search__results-link"><strong class="page-title">제네시스 G80 SPORT - G80 SPORT 엔진 및 주행 성능 | 제네시스</strong></a>
                                        <p class="page-desc">움켜쥔 채 낮게 움츠린 자세, 타깃을 노려보는 듯한 강렬한 인상,파워풀한 주행성능과 과감하고 공격적인 디자인이 질주본능을 일깨웁니다. GENESIS G80 SPORT의 트윈 터보 시스템은 주행 전 영역대에서 강력한 가속감을 제공합니다. 람다 3.3 V6 터보 GDi 엔진 최고출력 370PS/6,000rpm이며  주행성능과 과감하고 공격적인 타깃을 노려보는 듯한 강렬한 인상...</p>
                                        <p class="page-link">https://www.genesis.com/kr/ko/luxury-sedan-genesis-g80-performance.html</p>
                                    </li>
                                    <li class="cp-search__results-item">
                                        <a href="#" class="cp-search__results-link"><strong class="page-title">제네시스 G80 SPORT - 제네시스 럭셔리 스포츠 세단 | 제네시스</strong></a>
                                        <p class="page-desc">INTRO PERFORMANCE INSPIRATION 360 VIEW scroll GENESIS G80 SPORT G80 2019 카탈로그 보기 G80 2019 가격표 보기 G80 SPORT 2019 사양 보기 PERFORMANCE 질주 프리미엄 세단 제네시스 G80의 주행 성능을 소개합니다. 최상의 승차감과 민첩한 핸들링 구현을 위한 제네시스 G80의 엔진 및 특장점을 확인하세요. 경쟁력뿐만 아니라 터보차저 ...</p>
                                        <p class="page-link">https://www.genesis.com/kr/ko/luxury-sedan-genesis-g80-performance.html</p>
                                    </li>
                                    <li class="cp-search__results-item">
                                        <a href="#" class="cp-search__results-link"><strong class="page-title">제네시스 G80 - 안정적인 주행과 최상의 승차감 | 제네시스</strong></a>
                                        <p class="page-desc">파워트레인 다양한 주행환경에서 최적의 주행성능을 발휘하는 GENESIS G80의 엔진은 실 주행상ㅅ황을 고려해 중저속 구간에서도 높은 토크를 발휘할 수 있도록 설계되었습니다. 알루미늄 소재의 블록을 적용하여 최상의 승차감과 민첩한 핸들링 구현을 효율적으로 중량을 줄인 마름모 형태로 파워트레인 다양한 주행 적용된 스트럿 타워바와 엔드파이프를 ...</p>
                                        <p class="page-link">https://www.genesis.com/kr/ko/luxury-sedan-genesis-g80-performance.htmll</p>
                                    </li>
                                    <li class="cp-search__results-item">
                                        <a href="#" class="cp-search__results-link"><strong class="page-title">제네시스 G80 SPORT - 스티어링 휠 & 내/외장재 | 제네시스</strong></a>
                                        <p class="page-desc">아날로그 시계 세련된 느낌의 스트라이프 패턴 리얼 알루미늄 내장재와 코퍼 컬러의 아날로그 프리미엄 세단 제네시스 G80의 주행 성능을 소개합니다. 최상의 승차감과 민첩한 핸들링 구현을 위한 제네시스 G80의 엔진 및 특장점을 확인하세요. | 제네시스최고출력 210PS/3,800rpm 최대토크 45.0kg·m/1,750-2,750rpm 알루미늄 소재의 블록을 적용하여 터보차저 ...</p>
                                        <p class="page-link">https://www.genesis.com/kr/ko/luxury-sedan-genesis-g80-performance.html</p>
                                    </li>
                                    <li class="cp-search__results-item">
                                        <a href="#" class="cp-search__results-link"><strong class="page-title">제네시스 차량관리 - G80 고객을 위한 보증 서비스 | 제네시스</strong></a>
                                        <p class="page-desc">호환 안내 내비게이션 업데이트 The All-New G80 GV80 G90 EQ900 G80 G70 The All-New G80 ... 케어 쿠폰이 차감됩니다. 4. 서비스 이용 방법 - 전화 예약: - G80, G70고객 : 오토케어 전용 고객센터 프리미엄 세단 제네시스 G80의 주행 성능을 소개합니다. 최상의 승차감과 민첩한 핸들링 구현을 위한 제네시스 G80의 엔진 및 특장점을 확인하고 터보차저 ......</p>
                                        <p class="page-link">https://www.genesis.com/kr/ko/luxury-sedan-genesis-g80-performance.html</p>
                                    </li>
                                    </ul>
                                    <!-- 검색 결과가 0인 경우 -->
                                    <div class="cm-results-section" style="display:block;">
                                        <p class="cm-results-title">총 <strong>‘0’</strong>개의 검색결과가 있습니다.</p>
                                        <p class="cm-results-desc">죄송합니다. 검색하신 검색 결과를 찾을 수 없습니다. 검색 시 아래 내용을 참고해 보세요.</p>
                                        <ul class="cm-results-tips-list">
                                        <li class="cm-results-tips">검색어가 올바르게 입력되었는지 확인해 주세요.</li>
                                        <li class="cm-results-tips">다른 검색어를 입력해 보세요.</li>
                                        <li class="cm-results-tips">두 단어 이상의 경우 띄어쓰기를 사용해 보세요.</li>
                                        </ul>
                                    </div>
                                    <!-- // 검색 결과가 0인 경우 -->
                                </div>
                                <div class="cp-search__results-pagination">
                                    <div class="is-pc">
                                        <div class="cm-pagination">
                                            <button type="button" class="btn btn-prev"><span class="blind">이전 페이지로 이동</span></button>
                                            <!-- /* [D] 페이지 활성화 : on 클래스 추가 */ -->
                                            <a href="javascript:;" class="page-num on" data-page="1" title="1페이지로 이동"><span>1</span></a>
                                            <a href="javascript:;" class="page-num" data-page="2" title="2페이지로 이동"><span>2</span></a>
                                            <a href="javascript:;" class="page-num" data-page="3" title="3페이지로 이동"><span>3</span></a>
                                            <a href="javascript:;" class="page-num" data-page="4" title="4페이지로 이동"><span>4</span></a>
                                            <a href="javascript:;" class="page-num" data-page="5" title="5페이지로 이동"><span>5</span></a>
                                            <a href="javascript:;" class="page-num" data-page="6" title="6페이지로 이동"><span>6</span></a>
                                            <a href="javascript:;" class="page-num" data-page="7" title="7페이지로 이동"><span>7</span></a>
                                            <a href="javascript:;" class="page-num" data-page="8" title="8페이지로 이동"><span>8</span></a>
                                            <a href="javascript:;" class="page-num" data-page="9" title="9페이지로 이동"><span>9</span></a>
                                            <a href="javascript:;" class="page-num" data-page="10" title="10페이지로 이동"><span>10</span></a>
                                            <button type="button" class="btn btn-next"><span class="blind">다음 페이지로 이동</span></button>
                                        </div>
                                    </div>
                                    <div class="is-mo">
                                        <div class="cm-pagination">
                                            <button type="button" class="btn btn-prev"><span class="blind">이전 페이지로 이동</span></button>
                                            <!-- /* [D] 페이지 활성화 : on 클래스 추가 */ -->
                                            <a href="javascript:;" class="page-num on" data-page="1" title="1페이지로 이동"><span>1</span></a>
                                            <a href="javascript:;" class="page-num" data-page="2" title="2페이지로 이동"><span>2</span></a>
                                            <a href="javascript:;" class="page-num" data-page="3" title="3페이지로 이동"><span>3</span></a>
                                            <a href="javascript:;" class="page-num" data-page="4" title="4페이지로 이동"><span>4</span></a>
                                            <a href="javascript:;" class="page-num" data-page="5" title="5페이지로 이동"><span>5</span></a>
                                            <button type="button" class="btn btn-next"><span class="blind">다음 페이지로 이동</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>