.type-light .cp-vehicle-list__tab-cta .cm-btn:not(.type-white) {
  background-color: #fff;
}

.type-light .cp-vehicle-list__tab-cta .cm-btn:not(.type-white):after {
  border-color: #111;
}

.type-light .cp-vehicle-list__tab-cta .cm-btn:not(.type-white) .text {
  color: #000;
}

.type-light .cp-vehicle-list__tab-cta .cm-btn:not(.type-white) .masker {
  background-color: #111;
}

.type-light .cp-vehicle-list__tab-cta .cm-btn:not(.type-white) .masker:after {
  border-color: #111;
}

.type-light .cp-vehicle-list__tab-cta .cm-btn:not(.type-white) .masker span {
  color: #fff;
}

.cp-vehicle-list {
  color: #fff;
}

.cp-vehicle-list__inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 140px;
  padding: 0 14rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-vehicle-list__header {
  text-align: center;
}

.cp-vehicle-list__title .el-title {
  font-family: "genesis-head-office-light", sans-serif;
  font-weight: normal;
  font-size: 48px;
  font-size: 4.8rem;
  letter-spacing: -0.019em;
  line-height: 50px;
  line-height: 5rem;
}

.cp-vehicle-list__desc {
  margin-top: 15px;
  margin-top: 1.5rem;
}

.cp-vehicle-list__desc .el-desc {
  font-size: 18px;
  font-size: 1.8rem;
  color: #ccc;
  line-height: 28px;
  line-height: 2.8rem;
}

.cp-vehicle-list__tab {
  margin-top: 89px;
  margin-top: 8.9rem;
}

.cp-vehicle-list__tab-swiper {
  position: relative;
  padding-bottom: 55px;
  padding-bottom: 5.5rem;
}

.cp-vehicle-list__tab-swiper .swiper-container {
  position: static;
  margin: 0 -20px;
  margin: 0 -2rem;
}

.cp-vehicle-list__tab-swiper .swiper-container .swiper-pagination-bullets {
  bottom: 0;
}

.type-light .cp-vehicle-list__tab-swiper .swiper-container .swiper-pagination-bullets .swiper-pagination-bullet-active .ico-bullet {
  background: transparent;
  border-color: #000;
}

.type-light .cp-vehicle-list__tab-swiper .swiper-container .swiper-pagination-bullets .ico-bullet {
  background-color: rgba(0, 0, 0, 0.4);
}

.cp-vehicle-list__tab-swiper .swiper-container.swiper-no-swiping .swiper-wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cp-vehicle-list__tab-swiper .swiper-container.swiper-no-swiping .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-container.swiper-no-swiping .swiper-button-next, .cp-vehicle-list__tab-swiper .swiper-container.swiper-no-swiping .swiper-pagination {
  display: none;
}

.cp-vehicle-list__tab-swiper .swiper-slide {
  width: 25%;
  padding: 0 20px;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-vehicle-list__tab-swiper .swiper-button-next, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-prev {
  right: -75px;
  right: -7.5rem;
}

.cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-next {
  left: -75px;
  left: -7.5rem;
}

.cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-button-next {
  margin-top: -webkit-calc(-1 * 44px / 2 - 2.25%);
  margin-top: calc(-1 * 44px / 2 - 2.25%);
}

.cp-vehicle-list__tab-item {
  position: relative;
  margin: 1px 0;
  background-color: #151515;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.cp-vehicle-list__tab-item:before, .cp-vehicle-list__tab-item:after {
  position: absolute;
  width: 0;
  height: 0;
  border: 1px solid #262626;
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
}

.cp-vehicle-list__tab-item:before {
  top: 0;
  right: 0;
  border-top: 0;
  border-left: 0;
}

.cp-vehicle-list__tab-item:after {
  bottom: 0;
  left: 0;
  border-right: 0;
  border-bottom: 0;
}

.cp-vehicle-list__tab-item-inner {
  padding: 40px 40px 50px;
  padding: 4rem 4rem 5rem;
}

.cp-vehicle-list__tab-item.is-hover, .cp-vehicle-list__tab-item.is-test {
  background: rgba(255, 255, 255, 0.03);
}

.cp-vehicle-list__tab-item.is-hover:before, .cp-vehicle-list__tab-item.is-hover:after, .cp-vehicle-list__tab-item.is-test:before, .cp-vehicle-list__tab-item.is-test:after {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.cp-vehicle-list__tab-item.is-hover:before, .cp-vehicle-list__tab-item.is-test:before {
  -webkit-transition: height 0.1s linear, width 0.1s linear 0.1s;
  transition: height 0.1s linear, width 0.1s linear 0.1s;
}

.cp-vehicle-list__tab-item.is-hover:after, .cp-vehicle-list__tab-item.is-test:after {
  -webkit-transition: opacity 0ms 0.2s, height 0.1s linear 0.2s, width 0.1s linear 0.3s;
  transition: opacity 0ms 0.2s, height 0.1s linear 0.2s, width 0.1s linear 0.3s;
}

.cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .brand-title, .cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .vehicle-name, .cp-vehicle-list__tab-item.is-test .cp-vehicle-list__tab-title .brand-title, .cp-vehicle-list__tab-item.is-test .cp-vehicle-list__tab-title .vehicle-name {
  color: #ad7b61;
}

.cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-cta, .cp-vehicle-list__tab-item.is-test .cp-vehicle-list__tab-cta {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.cp-vehicle-list__tab-title .brand-title, .cp-vehicle-list__tab-title .vehicle-name {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.cp-vehicle-list__tab-title .brand-title {
  margin-bottom: 6px;
  margin-bottom: 0.6rem;
  font-size: 18px;
  font-size: 1.8rem;
  color: #999;
  line-height: 20px;
  line-height: 2rem;
}

.cp-vehicle-list__tab-title .vehicle-name {
  display: block;
  font-family: "genesis-head-office-light", sans-serif;
  font-weight: normal;
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: -0.025em;
  line-height: 38px;
  line-height: 3.8rem;
}

.cp-vehicle-list__tab-img {
  margin: 41px -40px 0;
  margin: 4.1rem -4rem 0;
}

.cp-vehicle-list__tab-img img {
  max-width: 100%;
  width: 100%;
}

.cp-vehicle-list__tab-cta {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  margin-top: 4rem;
  -webkit-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  transform: translateY(1rem);
  -webkit-transition: opacity 0.35s linear 0ms, -webkit-transform 0.5s ease-out 0ms;
  transition: opacity 0.35s linear 0ms, -webkit-transform 0.5s ease-out 0ms;
  transition: transform 0.5s ease-out 0ms, opacity 0.35s linear 0ms;
  transition: transform 0.5s ease-out 0ms, opacity 0.35s linear 0ms, -webkit-transform 0.5s ease-out 0ms;
}

.cp-vehicle-list__tab-cta .cm-btn {
  min-width: 100%;
}

.cp-vehicle-list.type-thumb .cp-vehicle-list__tab-item {
  background: rgba(255, 255, 255, 0.03);
}

.cp-vehicle-list.type-thumb .cp-vehicle-list__tab-img {
  margin: 0;
}

.cp-vehicle-list.type-thumb .cp-vehicle-list__tab-cta {
  margin-top: 37px;
  margin-top: 3.7rem;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  transition: none;
}

@media screen and (max-width: 1919px) {
  .cp-vehicle-list__inner {
    padding: 0 120px;
    padding: 0 12rem;
  }
  .cp-vehicle-list__tab-swiper {
    padding-bottom: 55px;
    padding-bottom: 5.5rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-button-next {
    margin-top: -webkit-calc(-1 * 44px / 2 - 2.7%);
    margin-top: calc(-1 * 44px / 2 - 2.7%);
  }
  .cp-vehicle-list__tab-item-inner {
    padding: 30px 30px 40px;
    padding: 3rem 3rem 4rem;
  }
  .cp-vehicle-list__tab-img {
    margin-right: -30px;
    margin-right: -3rem;
    margin-left: -30px;
    margin-left: -3rem;
  }
  .cp-vehicle-list__tab-cta {
    margin-top: 30px;
    margin-top: 3rem;
  }
}

.type-light .cp-vehicle-list {
  color: #000;
}

.type-light .cp-vehicle-list__desc .el-desc {
  color: #262626;
}

.type-light .cp-vehicle-list__tab-swiper .swiper-button-prev button:after, .type-light .cp-vehicle-list__tab-swiper .swiper-button-next button:after {
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-swiper-arrow-black.png");
}

.type-light .cp-vehicle-list__tab-item {
  background-color: rgba(0, 0, 0, 0.03);
}

.type-light .cp-vehicle-list__tab-item:before, .type-light .cp-vehicle-list__tab-item:after {
  border-color: #d9d9d9;
}

.type-light .cp-vehicle-list__tab-item.is-hover {
  background: rgba(0, 0, 0, 0.03);
}

.type-light .cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .brand-title, .type-light .cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .vehicle-name {
  color: #996449;
}

.type-light .cp-vehicle-list__tab-title .brand-title {
  color: #666;
}

.type-light .cp-vehicle-list__tab-cta .cm-btn-more.type-white {
  color: #000;
}

.type-light .cp-vehicle-list__tab-cta .cm-btn-more.type-white span:before {
  background: #000;
}

.type-light .cp-vehicle-list.type-thumb .cp-vehicle-list__tab-item {
  background: rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 1599px) {
  .cp-vehicle-list__inner {
    padding: 0 100px;
    padding: 0 10rem;
  }
  .cp-vehicle-list__title .el-title {
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 44px;
    line-height: 4.4rem;
  }
  .cp-vehicle-list__desc {
    margin-top: 5px;
    margin-top: 0.5rem;
  }
  .cp-vehicle-list__desc .el-desc {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-vehicle-list__tab {
    margin-top: 73px;
    margin-top: 7.3rem;
  }
  .cp-vehicle-list__tab-swiper {
    padding-bottom: 43px;
    padding-bottom: 4.3rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-next, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-prev {
    right: -63px;
    right: -6.3rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-next {
    left: -63px;
    left: -6.3rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev button:after, .cp-vehicle-list__tab-swiper .swiper-button-next button:after {
    width: 21px;
    width: 2.1rem;
    height: 38px;
    height: 3.8rem;
    background-size: 100% 100%;
  }
  .cp-vehicle-list__tab-item-inner {
    padding: 28px 20px 40px;
    padding: 2.8rem 2rem 4rem;
  }
  .cp-vehicle-list__tab-title .brand-title {
    margin-bottom: 9px;
    margin-bottom: 0.9rem;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .cp-vehicle-list__tab-title .vehicle-name {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .cp-vehicle-list__tab-img {
    margin: 33px -20px 0;
    margin: 3.3rem -2rem 0;
  }
  .cp-vehicle-list__tab-cta {
    margin-top: 20px;
    margin-top: 2rem;
  }
  .cp-vehicle-list__tab-cta .cm-btn-more:not(.type-newwindow):not(.type-layer) {
    padding-right: 13px;
    padding-right: 1.3rem;
  }
  .cp-vehicle-list.type-thumb .cp-vehicle-list__tab-cta {
    margin-top: 28px;
    margin-top: 2.8rem;
  }
}

@media screen and (max-width: 1359px) {
  .cp-vehicle-list__inner {
    padding: 0 76px;
    padding: 0 7.6rem;
  }
  .cp-vehicle-list__title .el-title {
    font-size: 30px;
    font-size: 3rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .cp-vehicle-list__desc {
    margin-top: 4px;
    margin-top: 0.4rem;
  }
  .cp-vehicle-list__desc .el-desc {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
  .cp-vehicle-list__tab {
    margin-top: 52px;
    margin-top: 5.2rem;
  }
  .cp-vehicle-list__tab-swiper {
    padding-bottom: 33px;
    padding-bottom: 3.3rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-container {
    margin: 0 -10px;
    margin: 0 -1rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-slide {
    padding: 0 10px;
    padding: 0 1rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-next, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-prev {
    right: -55px;
    right: -5.5rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-next {
    left: -55px;
    left: -5.5rem;
  }
  .cp-vehicle-list__tab-item-inner {
    padding-top: 19px;
    padding-top: 1.9rem;
    padding-bottom: 30px;
    padding-bottom: 3rem;
  }
  .cp-vehicle-list__tab-title .brand-title {
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem;
  }
  .cp-vehicle-list__tab-title .vehicle-name {
    font-size: 20px;
    font-size: 2rem;
    line-height: 22px;
    line-height: 2.2rem;
  }
  .cp-vehicle-list__tab-img {
    margin-top: 35px;
    margin-top: 3.5rem;
  }
  .cp-vehicle-list__tab-cta .cm-btn-more {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .cp-vehicle-list__tab-cta .cm-btn-more:not(.type-newwindow):not(.type-layer) {
    padding-right: 10px;
    padding-right: 1rem;
  }
  .cp-vehicle-list.type-thumb .cp-vehicle-list__tab-cta {
    margin-top: 32px;
    margin-top: 3.2rem;
  }
}

@media screen and (max-width: 1023px) {
  .cp-vehicle-list__inner {
    padding: 0 58px;
    padding: 0 5.8rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-slide {
    width: 33.33%;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-next, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-prev {
    right: -54px;
    right: -5.4rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-next {
    left: -54px;
    left: -5.4rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-button-next {
    margin-top: -webkit-calc(-1 * 44px / 2 - 3.8%);
    margin-top: calc(-1 * 44px / 2 - 3.8%);
  }
  .cp-vehicle-list__tab-img {
    margin-top: 35px;
    margin-top: 3.5rem;
  }
  .cp-vehicle-list__tab-cta {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .cp-vehicle-list__tab-cta .cm-btn-more:not(.type-newwindow):not(.type-layer) {
    padding-right: 12px;
    padding-right: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  .cp-vehicle-list__inner {
    padding: 0 30px;
    padding: 0 3rem;
  }
  .cp-vehicle-list__title .el-title {
    font-size: 36px;
    font-size: 3.6rem;
    line-height: 38px;
    line-height: 3.8rem;
  }
  .cp-vehicle-list__desc {
    margin-top: 17px;
    margin-top: 1.7rem;
  }
  .cp-vehicle-list__desc .el-desc {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
    line-height: 2.8rem;
  }
  .cp-vehicle-list__tab {
    margin: 49px -30px 0;
    margin: 4.9rem -3rem 0;
  }
  .cp-vehicle-list__tab-swiper {
    padding-bottom: 43px;
    padding-bottom: 4.3rem;
  }
  .cp-vehicle-list__tab-swiper .swiper-container {
    margin: 0;
  }
  .cp-vehicle-list__tab-swiper .swiper-slide {
    width: 100%;
    padding: 0;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-next, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-container-rtl .swiper-button-next {
    left: 0;
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list__tab-swiper .swiper-button-next {
    width: 30px;
    width: 3rem;
    margin-top: -webkit-calc(-1 * 44px / 2 - 8%);
    margin-top: calc(-1 * 44px / 2 - 8%);
  }
  .cp-vehicle-list__tab-swiper .swiper-button-prev button:after, .cp-vehicle-list__tab-swiper .swiper-button-next button:after {
    width: 12px;
    width: 1.2rem;
    height: 22px;
    height: 2.2rem;
  }
  .cp-vehicle-list__tab-item-inner {
    padding: 40px 30px 50px;
    padding: 4rem 3rem 5rem;
  }
  .cp-vehicle-list__tab-item.is-hover {
    background: none;
  }
  .cp-vehicle-list__tab-item.is-hover:before, .cp-vehicle-list__tab-item.is-hover:after {
    display: none;
  }
  .cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .brand-title {
    color: #999;
  }
  .cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .vehicle-name {
    color: inherit;
  }
  .cp-vehicle-list__tab-title .brand-title {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .cp-vehicle-list__tab-title .vehicle-name {
    font-size: 30px;
    font-size: 3rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .cp-vehicle-list__tab-img {
    margin: 42px -30px 0;
    margin: 4.2rem -3rem 0;
  }
  .cp-vehicle-list__tab-cta {
    margin-top: 30px;
    margin-top: 3rem;
  }
  .cp-vehicle-list__tab-cta .cm-btn {
    font-size: 18px;
    font-size: 1.8rem;
    min-width: 100%;
    min-width: 100%;
    height: 56px;
    height: 5.6rem;
    line-height: 58px;
    line-height: 5.8rem;
  }
  .cp-vehicle-list__tab-cta .cm-btn .masker span {
    height: 56px;
    height: 5.6rem;
    line-height: 58px;
    line-height: 5.8rem;
  }
  .cp-vehicle-list__tab-cta .cm-btn-more {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .cp-vehicle-list.type-thumb .cp-vehicle-list__tab-swiper .swiper-button-prev, .cp-vehicle-list.type-thumb .cp-vehicle-list__tab .swiper-button-next {
    margin-top: -webkit-calc(-1 * 44px / 2 - 132px);
    margin-top: calc(-1 * 44px / 2 - 132px);
  }
  .cp-vehicle-list.type-thumb .cp-vehicle-list__tab-cta {
    margin-top: 38px;
    margin-top: 3.8rem;
  }
  .type-light .cp-vehicle-list__tab-item.is-hover {
    background: none;
  }
  .type-light .cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .brand-title {
    color: #666;
  }
  .type-light .cp-vehicle-list__tab-item.is-hover .cp-vehicle-list__tab-title .vehicle-name {
    color: inherit;
  }
}
