<!DOCTYPE html>
<html>
<head>
<title>PR Center Detail</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">

    <!-- component -->
    <div class="type-light">
        <div class="cp-pr-detail">
            <div class="cp-pr-detail__inner">
                <div class="cp-pr-detail__article">
                    <div class="cm-sup-detailhead">
                        <div class="cm-sup-detailhead__title">
                            <h2 class="el-title">We strive to create the finest automobiles and related products</h2>
                        </div>
                        <div class="cm-sup-detailhead__info cm-clipboard js-copy-clipboard">
                            <span class="cm-sup-detailhead__date">2020.04.09</span>
                            <ul class="cm-sup-detailhead__util js-util-menu" role="menubar">
                            <!-- [F] 활성화 시 : .is-open 클래스 추가 -->
                            <li class="item-share has-menu" role="presentation">
                                <!-- [F] 활성화 시 : aria-expanded 속성값 'true'로 변경 -->
                                <button type="button" class="util-btn" role="menuitem" aria-haspopup="true" aria-expanded="false">
                                    <span class="util-btn-default">
                                        <span class="js-svg-icon" data-icon="svg-share"></span><span class="util-btn-text">Share</span>
                                    </span>
                                    <span class="util-btn-close">
                                        <span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">Close</span>
                                    </span>
                                </button>
                                <ul class="util-list" role="menu">
                                <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-facebook"></span><span class="blind">Facebook</span></a></li>
                                <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-twitter"></span><span class="blind">Twitter</span></a></li>
                                <li role="presentation">
                                    <a href="#" role="menuitem" class="cm-clipboard__btn"><span class="ico-util-url"></span><span class="blind">URL</span></a>
                                    <input type="text" class="cm-clipboard__input">
                                    <!-- [F] 활성화 시 : .is-show 클래스 추가 -->
                                    <div class="cm-clipboard__alert show-mo">
                                        <div class="cm-clipboard__alert-area">
                                            <p>Copied to clipboard</p>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                                <!-- [F] 활성화 시 : .is-show 클래스 추가 -->
                                <div class="cm-clipboard__alert show-pc">
                                    <div class="cm-clipboard__alert-area">
                                        <p>Copied to clipboard</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item-download has-menu" role="presentation">
                                <button type="button" class="util-btn" role="menuitem" aria-haspopup="true" aria-expanded="false">
                                    <span class="util-btn-default">
                                        <span class="ico-util-download"></span><span class="util-btn-text">Download</span>
                                    </span>
                                    <span class="util-btn-close">
                                        <span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">Close</span>
                                    </span>
                                </button>
                                <ul class="util-list">
                                <li role="presentation"><a href="#" role="menuitem"><span class="util-item-txt">WORD</span></a></li>
                                <li role="presentation"><a href="#" role="menuitem"><span class="util-item-txt">PDF</span></a></li>
                                <li role="presentation"><a href="#" role="menuitem"><span class="util-item-txt">TEXT</span></a></li>
                                </ul>
                            </li>
                            <li class="item-print" role="presentation">
                                <button type="button" class="util-btn" role="menuitem"><span class="ico-util-print"></span><span class="util-btn-text">Print</span></button>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cp-pr-detail__body">
                        <!-- [D] 이벤트 콘텐츠 영역 -->

                        <!-- [D] 해시태그 -->
                        <div class="cp-pr-detail__hashtag-wrap">
                            <a class="cp-pr-detail__hashtag" href="#"><span>#Gv80</span></a>
                            <a class="cp-pr-detail__hashtag" href="#"><span>#SUV</span></a>
                            <a class="cp-pr-detail__hashtag" href="#"><span>#Genesis</span></a>
                            <a class="cp-pr-detail__hashtag" href="#"><span>#Genesis Special trim</span></a>
                            <a class="cp-pr-detail__hashtag" href="#"><span>#quad lamp</span></a>
                        </div>
                    </div>
                    <div class="cm-sup-media">
                        <div class="cm-sup-media__title">
                            <h3 class="el-title">Meida Gallery</h3>
                        </div>
                        <ul class="cm-sup-media__list">
                        <li>
                            <a href="#" class="cm-sup-media__img type-video js-layer-opener" data-layer-target="#mediaGalleryLayer" data-swiper-index="0">
                                <div class="js-picture">
                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/333x190" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/666x380" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                </div>
                            </a>
                            <div class="cm-sup-media__desc">
                                <p>Experience service Experience service Experience service</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="cm-sup-media__img js-layer-opener" data-layer-target="#mediaGalleryLayer" data-swiper-index="1">
                                <div class="js-picture">
                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/333x190" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/666x380" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                </div>
                            </a>
                            <div class="cm-sup-media__desc">
                                <p>Experience service Experience service Experience service Experience service Experience service Experience service</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="cm-sup-media__img type-video js-layer-opener" data-layer-target="#mediaGalleryLayer" data-swiper-index="2">
                                <div class="js-picture">
                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/333x190" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/666x380" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                </div>
                            </a>
                            <div class="cm-sup-media__desc">
                                <p>Experience service Experience service Experience service</p>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="cm-sup-media__img js-layer-opener" data-layer-target="#mediaGalleryLayer" data-swiper-index="3">
                                <div class="js-picture">
                                    <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/333x190" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/666x380" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                </div>
                            </a>
                            <div class="cm-sup-media__desc">
                                <p>Experience service Experience service Experience service</p>
                            </div>
                        </li>
                        </ul>

                        <!-- /* media gallery layer */ -->
                        <div class="cm-layer js-slide-layer" id="mediaGalleryLayer" data-shared style="display: none;">
                            <span class="cm-layer__dimmed"></span>
                            <div class="cm-layer__body">
                                <div class="cm-layer__wrapper">
                                    <div class="cm-layer__contents">
                                        <div class="cm-layer__content">
                                            <!-- Slider main container -->
                                            <div class="sup-gallery-swiper">
                                                <div class="count">
                                                    <div class="count-inner">
                                                        <span class="current"></span>
                                                        <span class="slash">/</span>
                                                        <span class="total"></span>
                                                    </div>
                                                </div>
                                                <div class="swiper-container hiveSwiper-container">
                                                    <!-- Additional required wrapper -->
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="slide-inner">
                                                                <!--/* video type */-->
                                                                <div class="video-container js-video" data-use-scrollmagic="false">
                                                                    <video muted playsinline preload="none">
                                                                        <source src="imgs/@dummy_vid.mp4" type="video/mp4">
                                                                    </video>
                                                                    <div class="video-button-play"><button type="button"><span class="blind">Play video</span></button></div>
                                                                    <div class="video-button-pause"><button type="button"><span class="blind">Pause video</span></button></div>
                                                                </div>
                                                                <div class="layer-info">
                                                                    <div class="layer-info__desc">
                                                                        <div class="title">
                                                                            <strong>Proving premium value with overwhelming quality, G70 won the best quality prize in the car, Genesis, No. 1 in the US new car quality survey for 2 consecutive years</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="layer-info__util">
                                                                        <ul role="menubar" class="layer-info__util-menu js-util-menu">
                                                                        <!-- [F] 활성화 시 : .is-open 클래스 추가 -->
                                                                        <li class="has-menu" role="presentation">
                                                                            <!-- [F] 활성화 시 : aria-expanded 속성값 'true'로 변경 -->
                                                                            <button type="button" class="util-btn" role="menuitem" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="ico-share-default">
                                                                                    <span class="js-svg-icon" data-icon="svg-share"></span><span class="util-btn-text">Share</span>
                                                                                </span>
                                                                                <span class="ico-share-close">
                                                                                    <span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">Close</span>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="util-list" role="menu">
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-facebook"></span><span class="blind">Facebook</span></a></li>
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-twitter"></span><span class="blind">Twitter</span></a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#" class="util-btn"><span class="download-icon"></span><span class="util-btn-text">Download</span></a>
                                                                        </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="slide-inner">
                                                                <!--/* image type */-->
                                                                <div class="img-container">
                                                                    <div class="js-picture">
                                                                        <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1080x608" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x420" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                                    </div>
                                                                </div>
                                                                <div class="layer-info">
                                                                    <div class="layer-info__desc">
                                                                        <div class="title">
                                                                            <strong>Proving premium value with overwhelming quality, G70 won the best quality prize in the car, Genesis, No. 1 in the US new car quality survey for 2 consecutive years</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="layer-info__util">
                                                                        <ul role="menubar" class="layer-info__util-menu js-util-menu">
                                                                        <!-- [F] 활성화 시 : .is-open 클래스 추가 -->
                                                                        <li class="has-menu" role="presentation">
                                                                            <!-- [F] 활성화 시 : aria-expanded 속성값 'true'로 변경 -->
                                                                            <button type="button" class="util-btn" role="menuitem" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="ico-share-default">
                                                                                    <span class="js-svg-icon" data-icon="svg-share"></span><span class="util-btn-text">Share</span>
                                                                                </span>
                                                                                <span class="ico-share-close">
                                                                                    <span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">Close</span>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="util-list" role="menu">
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-facebook"></span><span class="blind">Facebook</span></a></li>
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-twitter"></span><span class="blind">Twitter</span></a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#" class="util-btn"><span class="download-icon"></span><span class="util-btn-text">Download</span></a>
                                                                        </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="slide-inner">
                                                                <!--/* video youtube type */-->
                                                                <div class="video-container youtube-container js-video" data-use-scrollmagic="false" data-video-opts='{
                                                                    "type" : "youtube",
                                                                    "videoId" : "MywJSF5KgNA"
                                                                }'>
                                                                </div>
                                                                <div class="layer-info">
                                                                    <div class="layer-info__desc">
                                                                        <div class="title">
                                                                            <strong>Proving premium value with overwhelming quality, G70 won the best quality prize in the car, Genesis, No. 1 in the US new car quality survey for 2 consecutive years</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="layer-info__util">
                                                                        <ul role="menubar" class="layer-info__util-menu js-util-menu">
                                                                        <!-- [F] 활성화 시 : .is-open 클래스 추가 -->
                                                                        <!-- [D] 유튜브 타입일 경우 download 구조 삭제 -->
                                                                        <li class="has-menu" role="presentation">
                                                                            <!-- [F] 활성화 시 : aria-expanded 속성값 'true'로 변경 -->
                                                                            <button type="button" class="util-btn" role="menuitem" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="ico-share-default">
                                                                                    <span class="js-svg-icon" data-icon="svg-share"></span><span class="util-btn-text">Share</span>
                                                                                </span>
                                                                                <span class="ico-share-close">
                                                                                    <span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">Close</span>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="util-list" role="menu">
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-facebook"></span><span class="blind">Facebook</span></a></li>
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-twitter"></span><span class="blind">Twitter</span></a></li>
                                                                            </ul>
                                                                        </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="slide-inner">
                                                                <!--/* image type */-->
                                                                <div class="img-container">
                                                                    <div class="js-picture">
                                                                        <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1080x608" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x420" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                                    </div>
                                                                </div>
                                                                <div class="layer-info">
                                                                    <div class="layer-info__desc">
                                                                        <div class="title">
                                                                            <strong>Proving premium value with overwhelming quality, G70 won the best quality prize in the car, Genesis, No. 1 in the US new car quality survey for 2 consecutive years</strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="layer-info__util">
                                                                        <ul role="menubar" class="layer-info__util-menu js-util-menu">
                                                                        <!-- [F] 활성화 시 : .is-open 클래스 추가 -->
                                                                        <li class="has-menu" role="presentation">
                                                                            <!-- [F] 활성화 시 : aria-expanded 속성값 'true'로 변경 -->
                                                                            <button type="button" class="util-btn" role="menuitem" aria-haspopup="true" aria-expanded="false">
                                                                                <span class="ico-share-default">
                                                                                    <span class="js-svg-icon" data-icon="svg-share"></span><span class="util-btn-text">Share</span>
                                                                                </span>
                                                                                <span class="ico-share-close">
                                                                                    <span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">Close</span>
                                                                                </span>
                                                                            </button>
                                                                            <ul class="util-list" role="menu">
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-facebook"></span><span class="blind">Facebook</span></a></li>
                                                                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-twitter"></span><span class="blind">Twitter</span></a></li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#" class="util-btn"><span class="download-icon"></span><span class="util-btn-text">Download</span></a>
                                                                        </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- If we need navigation buttons -->
                                                    <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                                                    <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-layer__close-wrap">
                                        <button type="button" class="js-layer-closer">
                                            <span class="js-svg-icon" data-icon="svg-cross"></span>
                                            <span class="blind">Close popup</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /* End media gallery layer */ -->
                    </div>
                    <div class="cm-sup-detailnav">
                        <div class="cm-sup-detailnav__list">
                            <!-- [D] 이전 글 있는 경우 : show-arrow 클래스 추가 -->
                            <div class="cm-sup-detailnav__item type-prev show-arrow">
                                <a href="#">
                                    <div class="cm-sup-detailnav__eyebrow">
                                        <strong class="el-nav-eyebrow">Previous</strong>
                                    </div>
                                    <div class="cm-sup-detailnav__title">
                                        <p class="el-nav-title">We strive to create the finest automobiles and related products</p>
                                    </div>
                                </a>
                            </div>
                            <!-- [D] 다음 글 있는 경우 : show-arrow 클래스 추가 -->
                            <div class="cm-sup-detailnav__item type-next show-arrow">
                                <a href="#">
                                    <div class="cm-sup-detailnav__eyebrow">
                                        <strong class="el-nav-eyebrow">Next</strong>
                                    </div>
                                    <div class="cm-sup-detailnav__title">
                                        <p class="el-nav-title">We strive to create the finest products</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="cm-sup-detailnav__cta">
                            <a href="#" class="cm-btn">
                                <span class="text">List</span>
                                <span class="masker"><span>List</span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cp-pr-detail__footer">
                    <div class="cm-contact-info">
                        <dl class="cm-contact-info__inner">
                            <dt class="cm-contact-info__text"><span class="contact-title">Contact Information</span></dt>
                            <dd class="cm-contact-info__email"><span class="contact-email">pr@genesis.com</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* support js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
