<!DOCTYPE html>
<html lang="ko">
<head>
<title>Select Category Card List Popup</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
<style>
    .js-layer-opener { display:inline-block; padding: 10px 3px; font-size: 18px; }
</style>
</head>
<body>
<div id="wrap" style="background: #fff;">
    <a href="#" class="js-layer-opener" data-layer-target="#card-list-layer1">Select Category Card List Popup (Style A)</a><br>
    <a href="#" class="js-layer-opener" data-layer-target="#card-list-layer2">Select Category Card List Popup (Style B)</a>
    <!-- component -->
    <!-- Style A 영역 -->
    <div class="cm-layer type-alert card-list-popup js-cm-layer" id="card-list-layer1">
        <span class="cm-layer__dimmed"></span>
        <div class="cm-layer__body">
            <div class="cm-layer__wrapper" role="dialog">
                <div class="cm-layer__title">
                    <strong>작고 바이며, 바이며, 교향악이다.</strong>
                </div>
                <div class="cm-layer__content">
                    <!-- [D] Thumbnail 영역 -->
                    <!-- [D] Thumbnail 타입 1 -->
                    <div class="card-thumbnail thumbnail-type1">
                        <div class="card-thumbnail__img">
                            <img src="http://via.placeholder.com/720x405" alt="">
                        </div>
                        <div class="card-list-popup__sub-title">
                            <strong>작고 바이며, 바이며, 교향악이다. </strong>
                        </div>
                        <div class="card-list-popup__desc-wrap">
                            <div class="card-list-popup__desc">
                                <p>
                                    신라호텔 서울
                                    <br>
                                    호텔주소 : 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.
                                    <br>
                                    예약문의 : 02-555-5656
                                </p>
                            </div>
                            <div class="card-list-popup__desc">
                                <p>
                                    신라호텔 서울
                                    <br>
                                    호텔주소 : 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.
                                    <br>
                                    예약문의 : 02-555-5656
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- [D] Description 영역 -->
                    <div class="card-description">
                        <div class="card-list-popup__sub-title">
                            <strong>작고 바이며, 바이며, 교향악이다.</strong>
                        </div>
                        <div class="card-list-popup__desc">
                            <p>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. <br>신라리워즈 문의 : 02-2230-5528 (평일 09:00 - 18:00, 주말 및 공휴일 제외)</p>
                        </div>
                    </div>

                    <!-- [D] Notice 영역 -->
                    <div class="card-notice">
                        <div class="card-list-popup__sub-title">
                            <strong>작고 바이며, 바이며, 교향악이다.</strong>
                        </div>
                        <div class="card-list-popup__list">
                            <ul>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- [D] 닫기 버튼 영역 -->
                    <div class="cm-layer__cta">
                        <button type="button" class="cm-btn js-layer-closer">
                            <span class="text">작고 바이며, 바이며,</span>
                            <span class="masker"><span>작고 바이며, 바이며,</span></span>
                        </button>
                    </div>
                </div>
                <div class="cm-layer__close-wrap">
                    <button type="button" class="js-layer-closer">
                        <span class="js-svg-icon" data-icon="svg-cross"></span>
                        <span class="blind">Close popup</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // Style A 영역 -->

    <!-- Style B 영역 -->
    <div class="cm-layer type-alert card-list-popup js-cm-layer" id="card-list-layer2">
        <span class="cm-layer__dimmed"></span>
        <div class="cm-layer__body">
            <div class="cm-layer__wrapper" role="dialog">
                <div class="cm-layer__title">
                    <strong>작고 바이며, 바이며, 교향악이다.</strong>
                </div>
                <div class="cm-layer__content">
                    <!-- [D] Thumbnail 영역 -->
                    <!-- [D] Thumbnail 타입 2 -->
                    <div class="card-thumbnail thumbnail-type2">
                        <div class="card-thumbnail__img">
                            <img src="http://via.placeholder.com/100x100" alt="">
                        </div>
                        <div class="card-list-popup__desc">
                            <p>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다.</p>
                        </div>
                    </div>

                    <!-- [D] Description 영역 -->
                    <div class="card-description">
                        <div class="card-list-popup__sub-title">
                            <strong>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다.</strong>
                        </div>
                        <div class="card-list-popup__desc">
                            <p>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로</p>
                        </div>
                        <div class="card-list-popup__list">
                            <ul>
                            <li>작고 바이며, 바이며, 교향악이다.</li>
                            <li>작고 바이며, 바이며, 교향악이다.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- [D] Cta 영역 -->
                    <div class="card-cta">
                        <button type="button" class="cm-btn">
                            <span class="text">작고 바이며, 바이며,</span>
                            <span class="masker"><span>작고 바이며, 바이며,</span></span>
                        </button>
                    </div>

                    <!-- [D] Image 영역 -->
                    <div class="card-image">
                        <div class="card-list-popup__sub-title">
                            <strong>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다.</strong>
                        </div>
                        <div class="card-list-popup__desc">
                            <p>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을 동산에는 불어 가슴이 때문이다. 품으며, 행복스럽고 그러므로 풍부하게 노래하며 얼마나 인생에 때문이다. 무엇을 피고 찬미를 속에서 이 말이다. 못하다</p>
                        </div>
                        <div class="card-image__visual">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <img src="http://via.placeholder.com/720x405" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <img src="http://via.placeholder.com/720x405" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <img src="http://via.placeholder.com/720x405" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <img src="http://via.placeholder.com/720x405" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="slide-inner">
                                            <img src="http://via.placeholder.com/720x405" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                                <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <!-- [D] Table 영역 -->
                    <div class="card-table">
                        <div class="cm-table type-row">
                            <table>
                                <caption>Table Name</caption>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">차종</th>
                                        <td>2.5 T</td>
                                        <td>3.5 T</td>
                                        <td>2.2 D</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">제공횟수</th>
                                        <td>6회</td>
                                        <td>6회</td>
                                        <td>3회</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">기준</th>
                                        <td>3년/6만km</td>
                                        <td>3년/6만km</td>
                                        <td>3년/6만km</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-table">
                        <div class="cm-table type-col">
                            <table>
                                <caption>Table Name</caption>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="col">차종</th>
                                        <th scope="col">2.5 T</th>
                                        <th scope="col">3.5 T</th>
                                        <th scope="col">2.2 D</th>
                                    </tr>
                                    <tr>
                                        <td>제공횟수</td>
                                        <td>6회</td>
                                        <td>6회</td>
                                        <td>3회</td>
                                    </tr>
                                    <tr>
                                        <td>기준</td>
                                        <td>3년/6만km</td>
                                        <td>3년/6만km</td>
                                        <td>3년/6만km</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- [D] Notice 영역 -->
                    <div class="card-notice">
                        <div class="card-list-popup__sub-title">
                            <strong>작고 바이며, 바이며, 교향악이다.</strong>
                        </div>
                        <div class="card-list-popup__list">
                            <ul>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            <li>작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다.</li>
                            </ul>
                        </div>
                    </div>

                    <!-- [D] 닫기 버튼 영역 -->
                    <div class="cm-layer__cta">
                        <button type="button" class="cm-btn js-layer-closer">
                            <span class="text">작고 바이며, 바이며,</span>
                            <span class="masker"><span>작고 바이며, 바이며,</span></span>
                        </button>
                    </div>
                </div>
                <div class="cm-layer__close-wrap">
                    <button type="button" class="js-layer-closer">
                        <span class="js-svg-icon" data-icon="svg-cross"></span>
                        <span class="blind">Close popup</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- // Style B 영역 -->
    <!-- component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
<script>
$(function () {
    //open
    $('#card-list-layer').trigger('openLayer');
});
</script>
</body>
</html>
