[ir-idx] {
	transition-delay: .3s;
}

.wrap {
	max-width: 1600px;
	margin: 0 auto;
}

.step1 {
	padding: 146px 0;
	min-height: 1000px;
	background: url(../images/bg_step1_car.jpg) no-repeat top center;
	background-size: cover;
}

.step1 .step-cont {
	text-align: center;
}

.step2 {
	padding: 86px 0;
	background-color: #00aad2;
	background-size: cover;
}

.step2 .step-top-tit {
	margin-bottom: 12px;
}

.step3 {
	min-height: 2440px;
	padding: 187px 0;
	background: url(../images/bg_step3_car.jpg) no-repeat top center;
	background-size: cover;
}

.step3 .step-cont {
	text-align: center;
}

.step3 .step-top-tit {
	position: relative;
	display: inline-block;
	padding: 73px 34px;
	border: 1px solid rgba(122, 122, 122, .7);
	border-radius: 50%;
}

.step3 .step-top-tit:before {
	content: '';
	position: absolute;
	top: -268px;
	left: 50%;
	width: 1px;
	height: 268px;
	background-color: rgba(122, 122, 122, .3);
}

.step3 .step-top-tit.style2 {
	margin-top: 580px;
}

.step3 .step-top-tit.style2:before {
	top: -658px;
	height: 658px;
}

.step3 .step-cont {
	margin-top: 85px;
}

.step3 .step-cont .step-mid-text {
	position: relative;
}

.step3 .step-cont .step-mid-text:before {
	content: '';
	position: absolute;
	top: -57px;
	left: 50%;
	width: 3px;
	height: 43px;
	background: url(../images/bg_dot_white.png) no-repeat top center;
}

.step4 {
	padding: 187px 0;
	background-color: #fff;
}

.step4-circle-list {
	
}

.step-cont {
	max-width: 1200px;
	margin: 0 auto;
}

.step-top-tit {
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	line-height: 2;
	text-transform: uppercase;
}

.step-top-text {
	font-size: 21px;
	color: #fff;
	line-height: 2;
}

.step-mid-text {
	font-size: 27px;
	color: #fff;
	line-height: 1.85;
}