.cp-financial-program .color-point {
  color: #996449;
}

.cp-financial-program__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 80px;
  padding: 0 8rem;
}

.cp-financial-program__tab-list {
  padding-top: 1px;
  font-size: 0;
}

.cp-financial-program__tab-item {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.cp-financial-program__tab-item:nth-child(4n+1) a {
  border-left-width: 1px;
}

.cp-financial-program__tab-item a {
  display: block;
  position: relative;
  min-height: 56px;
  min-height: 5.6rem;
  margin-top: -1px;
  padding: 18px 20px;
  padding: 1.8rem 2rem;
  border: 1px solid #e5e5e5;
  border-left-width: 0;
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  color: #000;
  letter-spacing: -0.025em;
  line-height: 18px;
  line-height: 1.8rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-financial-program__tab-item a:before {
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  bottom: -1px;
  z-index: 1;
  border: 1px solid transparent;
  content: '';
}

.cp-financial-program__tab-item.is-selected a {
  background-color: #111;
  color: #fff;
}

.cp-financial-program__tab-item.is-selected a:before {
  border-color: #111;
}

.cp-financial-program__panel {
  margin-top: 115px;
  margin-top: 11.5rem;
}

.cp-financial-program__panel-item {
  display: none;
}

.cp-financial-program__panel-item.is-active {
  display: block;
}

.cp-financial-program__model {
  font-size: 0;
}

.cp-financial-program__model-content, .cp-financial-program__model-img {
  display: inline-block;
  vertical-align: middle;
}

.cp-financial-program__model-content {
  width: 47.3%;
}

.cp-financial-program__model-title .model-eyebrow {
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 0.05em;
}

.cp-financial-program__model-title .model-title {
  font-family: "genesis-head-office-light", sans-serif;
  font-weight: normal;
  font-size: 96px;
  font-size: 9.6rem;
  letter-spacing: -0.025em;
  line-height: 100px;
  line-height: 10rem;
}

.cp-financial-program__model-info {
  margin-top: 37px;
  margin-top: 3.7rem;
}

.cp-financial-program__model-info .model-price {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 20px;
  line-height: 2rem;
}

.cp-financial-program__model-info .model-price .color-point {
  position: relative;
  top: 2px;
  top: 0.2rem;
  padding: 0 5px 0 7px;
  padding: 0 0.5rem 0 0.7rem;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  letter-spacing: -0.025em;
  line-height: 30px;
  line-height: 3rem;
}

.cp-financial-program__model-info .model-info {
  margin-top: 4px;
  margin-top: 0.4rem;
  font-size: 16px;
  font-size: 1.6rem;
  color: #262626;
  line-height: 45px;
  line-height: 4.5rem;
}

.cp-financial-program__model-img {
  overflow: hidden;
  position: relative;
  width: 52.7%;
  margin-top: -25px;
  margin-top: -2.5rem;
}

.cp-financial-program__model-img:before {
  display: block;
  padding-top: 35.87%;
  content: '';
}

.cp-financial-program__model-img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
}

.cp-financial-program__cta {
  margin-top: 61px;
  margin-top: 6.1rem;
  text-align: right;
}

.cp-financial-program__cta .cm-btn-more:not(.type-newwindow):not(.type-layer) {
  padding-right: 12px;
  padding-right: 1.2rem;
}

.cp-financial-program__accordion {
  margin-top: 24px;
  margin-top: 2.4rem;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-item {
  border: 0;
  border-top: 1px solid #e5e5e5;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-item.is-active .cm-accordion-btn .ico-accordion:before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn {
  padding-top: 40px;
  padding-top: 4rem;
  padding-right: 100px;
  padding-right: 10rem;
  padding-bottom: 43px;
  padding-bottom: 4.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn .ico-accordion {
  right: 20px;
  right: 2rem;
  width: 20px;
  width: 2rem;
  height: 20px;
  height: 2rem;
  margin-top: -10px;
  margin-top: -1rem;
  border: 0;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn .ico-accordion:before, .cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn .ico-accordion:after {
  position: absolute;
  background-color: #000;
  content: '';
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn .ico-accordion:before {
  left: 50%;
  width: 2px;
  width: 0.2rem;
  height: 100%;
  margin-left: -1px;
  margin-left: -0.1rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn .ico-accordion:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  height: 0.2rem;
  margin-top: -1px;
  margin-top: -0.1rem;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-panel {
  border: 0;
  background-color: #f8f8f8;
}

.cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-panel-inner {
  padding: 72px 13.05% 114px;
  padding: 7.2rem 13.05% 11.4rem;
  border-top: 1px solid #e5e5e5;
}

.cp-financial-program__accordion .cm-accordion-item, .cp-financial-program__accordion .cm-accordion-btn {
  color: #000;
}

.cp-financial-program__accordion-btn {
  display: table;
  width: 100%;
}

.cp-financial-program__accordion-btn-inner {
  display: table-cell;
  padding-left: 5px;
  padding-left: 0.5rem;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-financial-program__accordion-btn-inner:first-child {
  padding-left: 0;
}

.cp-financial-program__accordion-btn-inner:nth-child(1) {
  width: 43.54%;
}

.cp-financial-program__accordion-btn-inner:nth-child(2) {
  width: 31.15%;
  padding-top: 5px;
  padding-top: 0.5rem;
  text-align: center;
}

.cp-financial-program__accordion-btn-inner:nth-child(3) {
  width: 25.31%;
  text-align: center;
}

.cp-financial-program__accordion-btn .program-title {
  display: block;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  letter-spacing: -0.025em;
  line-height: 45px;
  line-height: 4.5rem;
}

.cp-financial-program__accordion-btn .program-desc {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  color: #262626;
  line-height: 28px;
  line-height: 2.8rem;
}

.cp-financial-program__accordion-btn .program-price {
  display: block;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: -0.025em;
  line-height: 30px;
  line-height: 3rem;
}

.cp-financial-program__accordion-btn .program-price .color-point {
  padding-right: 2px;
  padding-right: 0.2rem;
  font-size: 28px;
  font-size: 2.8rem;
}

.cp-financial-program__accordion-btn .program-price-info {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  color: #666;
  line-height: 28px;
  line-height: 2.8rem;
}

.cp-financial-program__accordion-btn .program-info {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  color: #262626;
  line-height: 28px;
  line-height: 2.8rem;
}

.cp-financial-program__accordion-panel-content {
  margin-top: 80px;
  margin-top: 8rem;
  padding-top: 72px;
  padding-top: 7.2rem;
  border-top: 1px solid #e5e5e5;
}

.cp-financial-program__accordion-panel-content:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

.cp-financial-program__accordion-panel .program-text {
  font-size: 16px;
  font-size: 1.6rem;
  color: #262626;
  line-height: 28px;
  line-height: 2.8rem;
}

.cp-financial-program__accordion-panel .program-graph {
  margin-top: 53px;
  margin-top: 5.3rem;
}

.cp-financial-program__accordion-panel .program-graph img {
  max-width: 100%;
  width: 100%;
}

.cp-financial-program__accordion-panel .program-caption {
  display: block;
  font-family: "genesis-head-office-light", sans-serif;
  font-weight: normal;
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: -0.025em;
  line-height: 36px;
  line-height: 3.6rem;
  text-align: left;
}

.cp-financial-program__accordion-panel .program-table {
  margin-top: 20px;
  margin-top: 2rem;
}

.cp-financial-program__accordion-panel .program-table table {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  border-collapse: collapse;
  table-layout: fixed;
}

.cp-financial-program__accordion-panel .program-table th, .cp-financial-program__accordion-panel .program-table td {
  padding: 20px 10px 19px;
  padding: 2rem 1rem 1.9rem;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  line-height: 2rem;
}

.cp-financial-program__accordion-panel .program-table th:first-child, .cp-financial-program__accordion-panel .program-table td:first-child {
  border-left: 0;
}

.cp-financial-program__accordion-panel .program-table th {
  font-weight: normal;
  color: #996449;
}

.cp-financial-program__accordion-panel .program-table td {
  color: #262626;
  text-align: center;
}

.cp-financial-program__accordion-panel .program-table .table-mo {
  display: none;
}

.cp-financial-program__accordion-panel .program-disc {
  margin-top: 25px;
  margin-top: 2.5rem;
  font-size: 12px;
  font-size: 1.2rem;
  color: #666;
  line-height: 22px;
  line-height: 2.2rem;
}

@media (max-width: 1023px) {
  .cp-financial-program__inner {
    padding: 0 58px;
    padding: 0 5.8rem;
  }
  .cp-financial-program__tab-item a {
    min-height: 46px;
    min-height: 4.6rem;
    padding-top: 10px;
    padding-top: 1rem;
    padding-bottom: 10px;
    padding-bottom: 1rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-financial-program__model-title .model-eyebrow {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .cp-financial-program__model-title .model-title {
    margin-top: -4px;
    margin-top: -0.4rem;
    font-size: 54px;
    font-size: 5.4rem;
    line-height: 62px;
    line-height: 6.2rem;
  }
  .cp-financial-program__model-content {
    width: 44%;
  }
  .cp-financial-program__model-img {
    width: 56%;
  }
  .cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn .ico-accordion {
    right: 18px;
    right: 1.8rem;
    width: 16px;
    width: 1.6rem;
    height: 16px;
    height: 1.6rem;
    margin-top: -8px;
    margin-top: -0.8rem;
  }
}

@media screen and (max-width: 767px) {
  .cp-financial-program__inner {
    padding: 0 30px;
    padding: 0 3rem;
  }
  .cp-financial-program__tab-item {
    width: 50%;
  }
  .cp-financial-program__tab-item:nth-child(4n+1) a {
    border-left-width: 0;
  }
  .cp-financial-program__tab-item:nth-child(2n+1) a {
    border-left-width: 1px;
  }
  .cp-financial-program__tab-item a {
    min-height: 56px;
    min-height: 5.6rem;
    padding: 19px 10px 18px;
    padding: 1.9rem 1rem 1.8rem;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 17px;
    line-height: 1.7rem;
  }
  .cp-financial-program__panel {
    margin-top: 55px;
    margin-top: 5.5rem;
  }
  .cp-financial-program__model-content, .cp-financial-program__model-img {
    display: block;
    width: 100%;
  }
  .cp-financial-program__model-title .model-eyebrow {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .cp-financial-program__model-title .model-title {
    margin-top: 0;
    font-size: 66px;
    font-size: 6.6rem;
    line-height: 64px;
    line-height: 6.4rem;
  }
  .cp-financial-program__model-info {
    margin-top: 11px;
    margin-top: 1.1rem;
  }
  .cp-financial-program__model-info .model-price {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-financial-program__model-info .model-price .color-point {
    padding: 0 4px 0 2px;
    padding: 0 0.4rem 0 0.2rem;
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 32px;
    line-height: 3.2rem;
  }
  .cp-financial-program__model-info .model-info {
    margin-top: 0;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .cp-financial-program__model-img {
    margin-top: 25px;
    margin-top: 2.5rem;
  }
  .cp-financial-program__cta {
    margin-top: 58px;
    margin-top: 5.8rem;
  }
  .cp-financial-program__cta .cm-btn-more:not(.type-newwindow):not(.type-layer) {
    padding-right: 10px;
    padding-right: 1rem;
  }
  .cp-financial-program__accordion {
    margin: 16px -30px 0;
    margin: 1.6rem -3rem 0;
  }
  .cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn {
    padding: 27px 76px 25px 30px;
    padding: 2.7rem 7.6rem 2.5rem 3rem;
  }
  .cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-btn .ico-accordion {
    right: 30px;
    right: 3rem;
    width: 16px;
    width: 1.6rem;
    height: 16px;
    height: 1.6rem;
    margin-top: -8px;
    margin-top: -0.8rem;
  }
  .cp-financial-program__accordion .cm-accordion.type-default .cm-accordion-panel-inner {
    padding: 35px 30px 45px;
    padding: 3.5rem 3rem 4.5rem;
  }
  .cp-financial-program__accordion-btn {
    display: block;
  }
  .cp-financial-program__accordion-btn-inner {
    display: block;
    padding-left: 0;
  }
  .cp-financial-program__accordion-btn-inner:nth-child(1) {
    width: 100%;
  }
  .cp-financial-program__accordion-btn-inner:nth-child(2) {
    width: 100%;
  }
  .cp-financial-program__accordion-btn-inner:nth-child(3) {
    width: 100%;
  }
  .cp-financial-program__accordion-btn-inner:nth-child(2) {
    margin-top: 21px;
    margin-top: 2.1rem;
    padding: 0;
    text-align: left;
  }
  .cp-financial-program__accordion-btn-inner:nth-child(3) {
    margin-top: 4px;
    margin-top: 0.4rem;
    text-align: left;
  }
  .cp-financial-program__accordion-btn .program-title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-financial-program__accordion-btn .program-desc {
    margin-top: 7px;
    margin-top: 0.7rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-financial-program__accordion-btn .program-price, .cp-financial-program__accordion-btn .program-price-info {
    display: inline-block;
  }
  .cp-financial-program__accordion-btn .program-price {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-financial-program__accordion-btn .program-price .color-point {
    padding-right: 0;
    font-size: 22px;
    font-size: 2.2rem;
  }
  .cp-financial-program__accordion-btn .program-price + .program-price-info {
    padding-left: 2px;
    padding-left: 0.2rem;
  }
  .cp-financial-program__accordion-btn .program-price-info {
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 12px;
    line-height: 1.2rem;
  }
  .cp-financial-program__accordion-btn .program-info {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-financial-program__accordion-panel-content {
    margin-top: 50px;
    margin-top: 5rem;
    padding-top: 48px;
    padding-top: 4.8rem;
  }
  .cp-financial-program__accordion-panel .program-text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-financial-program__accordion-panel .program-graph {
    margin-top: 34px;
    margin-top: 3.4rem;
  }
  .cp-financial-program__accordion-panel .program-caption {
    padding-right: 20px;
    padding-right: 2rem;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .cp-financial-program__accordion-panel .program-table {
    margin-top: 21px;
    margin-top: 2.1rem;
  }
  .cp-financial-program__accordion-panel .program-table th, .cp-financial-program__accordion-panel .program-table td {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .cp-financial-program__accordion-panel .program-table th:nth-child(1), .cp-financial-program__accordion-panel .program-table td:nth-child(1) {
    width: 33.33%;
  }
  .cp-financial-program__accordion-panel .program-table th:nth-child(2), .cp-financial-program__accordion-panel .program-table td:nth-child(2) {
    width: 66.67%;
  }
  .cp-financial-program__accordion-panel .program-table th {
    padding: 13px 15px 12px;
    padding: 1.3rem 1.5rem 1.2rem;
  }
  .cp-financial-program__accordion-panel .program-table td {
    padding: 13px 32px 12px 15px;
    padding: 1.3rem 3.2rem 1.2rem 1.5rem;
    text-align: left;
  }
  .cp-financial-program__accordion-panel .program-table .table-pc {
    display: none;
  }
  .cp-financial-program__accordion-panel .program-table .table-mo {
    display: table;
  }
  .cp-financial-program__accordion-panel .program-disc {
    margin-top: 22px;
    margin-top: 2.2rem;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
}
