.purchase-carmaster .cm-layer__cta .cm-btn.type-white {
  background-color: #fff;
}

.purchase-carmaster .cm-layer__cta .cm-btn.type-white:after {
  border-color: #111;
}

.purchase-carmaster .cm-layer__cta .cm-btn.type-white .text {
  color: #000;
}

.purchase-carmaster .cm-layer__cta .cm-btn.type-white .masker {
  background-color: #111;
}

.purchase-carmaster .cm-layer__cta .cm-btn.type-white .masker:after {
  border-color: #111;
}

.purchase-carmaster .cm-layer__cta .cm-btn.type-white .masker span {
  color: #fff;
}

.purchase-carmaster .cm-layer__cta .cm-btn {
  background-color: #111;
}

.purchase-carmaster .cm-layer__cta .cm-btn:after {
  z-index: 10;
  border-color: #111;
}

.purchase-carmaster .cm-layer__cta .cm-btn .text {
  color: #fff;
}

.purchase-carmaster .cm-layer__cta .cm-btn .masker {
  background-color: #fff;
}

.purchase-carmaster .cm-layer__cta .cm-btn .masker:after {
  z-index: 10;
  border-color: #111;
}

.purchase-carmaster .cm-layer__cta .cm-btn .masker span {
  color: #000;
}

.purchase-carmaster .cm-layer__content {
  text-align: left;
}

.purchase-carmaster .cm-select {
  margin-top: 28px;
  margin-top: 2.8rem;
}

.purchase-carmaster .cm-select.type2 .cm-select__placeholder span {
  font-size: 16px;
  font-size: 1.6rem;
}

.purchase-carmaster .cm-layer__cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  margin-top: 60px;
  margin-top: 6rem;
}

.purchase-carmaster .cm-layer__cta .cm-btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  font-size: 1.6rem;
  min-width: 0;
  min-width: 0;
  height: 54px;
  height: 5.4rem;
  line-height: 56px;
  line-height: 5.6rem;
}

.purchase-carmaster .cm-layer__cta .cm-btn .masker span {
  height: 54px;
  height: 5.4rem;
  line-height: 56px;
  line-height: 5.6rem;
}

.purchase-carmaster .cm-layer__cta .cm-btn + .cm-btn {
  margin-left: 10px;
  margin-left: 1rem;
}

.purchase-carmaster__desc {
  padding-top: 8px;
  padding-top: 0.8rem;
  font-size: 16px;
  font-size: 1.6rem;
  color: #262626;
  line-height: 28px;
  line-height: 2.8rem;
}

.purchase-carmaster__title {
  margin-top: 70px;
  margin-top: 7rem;
}

.purchase-carmaster__title strong {
  display: block;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: -.025em;
}

@media screen and (max-width: 767px) {
  .purchase-carmaster .cm-select {
    margin-top: 24px;
    margin-top: 2.4rem;
  }
  .purchase-carmaster .cm-select.type2 .cm-select__placeholder span {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .purchase-carmaster .cm-layer__cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 50px;
    margin-top: 5rem;
  }
  .purchase-carmaster .cm-layer__cta .cm-btn {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .purchase-carmaster .cm-layer__cta .cm-btn + .cm-btn {
    margin: 0 0 10px 0;
    margin: 0 0 1rem 0;
  }
  .purchase-carmaster__desc {
    padding: 0;
    margin-top: -3px;
    margin-top: -0.3rem;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .purchase-carmaster__title {
    margin-top: 41px;
    margin-top: 4.1rem;
  }
  .purchase-carmaster__title strong {
    margin-bottom: 13px;
    margin-bottom: 1.3rem;
    font-size: 20px;
    font-size: 2rem;
  }
}
