:root {
	--cm-title-white: #fff;
	--cm-title-black: #444;
	--cm-color--sky: #16a0f0;
	--cm-title-black-hover: #4f4f4f;
	--cm-font-family-head-light: 'genesis-head-light', sans-serif;
	--cm-font-family-head-regular: 'genesis-head-regular', sans-serif;
	--cm-font-family-text-regular: 'genesis-text-regular', sans-serif;
}

body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(102, 102, 102, .5);
	border: 2px solid #fff;
}
body::-webkit-scrollbar-thumb:hover {
	background: rgba(102, 102, 102, .7);
}
body::-webkit-scrollbar-track {
	background: #fff;
}