<!DOCTYPE html>
<html lang="ko">
<head>
<title>Customer FAQ Category</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="customer-faq" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="customer-faq__inner">
                <div class="customer-faq__tab">
                    <!-- /* [D] select 펼침 : .is-opened 클래스 추가 */ -->
                    <div class="customer-faq__tab-inner swiper-container">
                        <!-- /* 모바일 구간 select 버튼 추가 */ -->
                        <button type="button" class="faq-select-btn" aria-expanded="false">
                            <span>전체</span>
                        </button>
                        <div class="customer-faq__tab-list swiper-wrapper">
                            <!-- /* [D] 활성화 : .is-selected 클래스 추가 */ -->
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-all.png" alt=""></div>
                                        <div class="faq-tab__text"><span>전체</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide is-selected">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-purchase.png" alt=""></div>
                                        <div class="faq-tab__text"><span>차량구매</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-reservation.png" alt=""></div>
                                        <div class="faq-tab__text"><span>정비예약</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-homepage.png" alt=""></div>
                                        <div class="faq-tab__text"><span>홈페이지</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-carpay.png" alt=""></div>
                                        <div class="faq-tab__text"><span>카페이</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-connected-service.png" alt=""></div>
                                        <div class="faq-tab__text"><span>제네시스 커넥티드 서비스</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-carpay.png" alt=""></div>
                                        <div class="faq-tab__text"><span>카페이</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-connected-service.png" alt=""></div>
                                        <div class="faq-tab__text"><span>제네시스 커넥티드 서비스</span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                    <div class="swiper-button swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
    <!-- component -->
    <div class="type-gray">
        <div class="customer-faq" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="customer-faq__inner">
                <div class="customer-faq__tab">
                    <!-- /* [D] select 펼침 : .is-opened 클래스 추가 */ -->
                    <div class="customer-faq__tab-inner swiper-container">
                        <!-- /* 모바일 구간 select 버튼 추가 */ -->
                        <button type="button" class="faq-select-btn" aria-expanded="false">
                            <span>전체</span>
                        </button>
                        <div class="customer-faq__tab-list swiper-wrapper">
                            <!-- /* [D] 활성화 : .is-selected 클래스 추가 */ -->
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-all.png" alt=""></div>
                                        <div class="faq-tab__text"><span>전체</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide is-selected">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-purchase.png" alt=""></div>
                                        <div class="faq-tab__text"><span>차량구매</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-reservation.png" alt=""></div>
                                        <div class="faq-tab__text"><span>정비예약</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-homepage.png" alt=""></div>
                                        <div class="faq-tab__text"><span>홈페이지</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-carpay.png" alt=""></div>
                                        <div class="faq-tab__text"><span>카페이</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-connected-service.png" alt=""></div>
                                        <div class="faq-tab__text"><span>제네시스 커넥티드 서비스</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-carpay.png" alt=""></div>
                                        <div class="faq-tab__text"><span>카페이</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="customer-faq__tab-item swiper-slide">
                                <div class="slide-inner">
                                    <a href="#" class="customer-faq__tab-link">
                                        <div class="faq-tab__img"><img src="imgs/@ico-connected-service.png" alt=""></div>
                                        <div class="faq-tab__text"><span>제네시스 커넥티드 서비스</span></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                    <div class="swiper-button swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
