.testdrive-total-history-popup.cm-layer.type-alert .cm-layer__title {
  padding-left: 38px;
  padding-left: 3.8rem;
}

.testdrive-total-history-popup.cm-layer.type-alert .cm-layer__content {
  padding-top: 37px;
  padding-top: 3.7rem;
}

.testdrive-total-history-popup.cm-layer.type-alert .cm-layer__cta {
  margin-top: 50px;
  margin-top: 5rem;
}

.testdrive-total-history-popup.cm-layer.type-alert .cm-layer__cta .cm-btn {
  font-size: 16px;
  font-size: 1.6rem;
  min-width: 240px;
  min-width: 24rem;
  height: 56px;
  height: 5.6rem;
  line-height: 58px;
  line-height: 5.8rem;
}

.testdrive-total-history-popup.cm-layer.type-alert .cm-layer__cta .cm-btn .masker span {
  height: 56px;
  height: 5.6rem;
  line-height: 58px;
  line-height: 5.8rem;
}

.testdrive-total-history-popup__content {
  text-align: left;
  word-break: keep-all;
}

.testdrive-total-history-popup__desc {
  font-size: 16px;
  font-size: 1.6rem;
  color: #262626;
}

.testdrive-total-history-popup__history {
  margin-top: 54px;
  margin-top: 5.4rem;
}

.testdrive-total-history-popup__history:first-child {
  margin-top: 0;
}

.testdrive-total-history-popup__history-wrap {
  margin-top: 26px;
  margin-top: 2.6rem;
  padding-top: 43px;
  padding-top: 4.3rem;
  border-top: 1px solid #e5e5e5;
}

.testdrive-total-history-popup__history .history-date {
  font-size: 20px;
  font-size: 2rem;
  font-style: normal;
}

.testdrive-total-history-popup__history .history-info {
  margin: 7px -10px 0;
  margin: 0.7rem -1rem 0;
  font-size: 0;
  color: #666;
}

.testdrive-total-history-popup__history .history-info span {
  position: relative;
  margin-left: 1px;
  padding: 0 10px;
  padding: 0 1rem;
  font-size: 14px;
  font-size: 1.4rem;
}

.testdrive-total-history-popup__history .history-info span:first-child {
  margin-left: 0;
}

.testdrive-total-history-popup__history .history-info span:first-child:before {
  display: none;
}

.testdrive-total-history-popup__history .history-info span:before {
  position: absolute;
  top: 50%;
  left: -1px;
  width: 1px;
  height: 13px;
  height: 1.3rem;
  margin-top: -6px;
  margin-top: -0.6rem;
  background-color: #e5e5e5;
  content: '';
}

.testdrive-total-history-popup__table {
  margin-top: 18px;
  margin-top: 1.8rem;
}

.testdrive-total-history-popup__table.cm-table th, .testdrive-total-history-popup__table.cm-table td {
  line-height: 24px;
  line-height: 2.4rem;
}

.testdrive-total-history-popup__table.cm-table.type-column th, .testdrive-total-history-popup__table.cm-table.type-column td {
  width: 33.33%;
}

@media screen and (max-width: 767px) {
  .testdrive-total-history-popup.cm-layer.type-alert .cm-layer__title {
    padding-top: 12px;
    padding-top: 1.2rem;
    padding-left: 18px;
    padding-left: 1.8rem;
  }
  .testdrive-total-history-popup.cm-layer.type-alert .cm-layer__title strong {
    font-size: 20px;
    font-size: 2rem;
    letter-spacing: 0;
  }
  .testdrive-total-history-popup.cm-layer.type-alert .cm-layer__content {
    padding: 38px 20px 51px;
    padding: 3.8rem 2rem 5.1rem;
  }
  .testdrive-total-history-popup.cm-layer.type-alert .cm-layer__cta {
    margin-top: 41px;
    margin-top: 4.1rem;
  }
  .testdrive-total-history-popup.cm-layer.type-alert .cm-layer__cta .cm-btn {
    min-width: auto;
  }
  .testdrive-total-history-popup__desc {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .testdrive-total-history-popup__history {
    margin-top: 46px;
    margin-top: 4.6rem;
  }
  .testdrive-total-history-popup__history-wrap {
    margin-top: 22px;
    margin-top: 2.2rem;
    padding-top: 35px;
    padding-top: 3.5rem;
  }
  .testdrive-total-history-popup__history .history-date {
    font-size: 18px;
    font-size: 1.8rem;
  }
  .testdrive-total-history-popup__history .history-info {
    margin: 7px -11px 0;
    margin: 0.7rem -1.1rem 0;
  }
  .testdrive-total-history-popup__history .history-info span {
    padding: 0 11px;
    padding: 0 1.1rem;
    font-size: 13px;
    font-size: 1.3rem;
  }
  .testdrive-total-history-popup__history .history-info span:before {
    height: 12px;
    height: 1.2rem;
    margin-top: -7px;
    margin-top: -0.7rem;
  }
  .testdrive-total-history-popup__table {
    margin-top: 16px;
    margin-top: 1.6rem;
  }
  .testdrive-total-history-popup__table.cm-table th, .testdrive-total-history-popup__table.cm-table td {
    line-height: 23px;
    line-height: 2.3rem;
  }
}
