<div class="cm-layer type-alert location-agree-popup js-cm-layer" id="location-agree-popup">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>위치정보 사용 동의</strong>
            </div>
            <div class="cm-layer__content">
                <div class="location-agree-popup__desc">
                    <p>현재 위치 정보를 사용해<br>주변 센터를 검색합니다.</p>
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn type-white">
                        <span class="text">차단</span>
                        <span class="masker"><span>차단</span></span>
                    </button>
                    <button type="button" class="cm-btn">
                        <span class="text">허용</span>
                        <span class="masker"><span>허용</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">Close popup</span>
                </button>
            </div>
        </div>
    </div>
</div>
