<!DOCTYPE html>
<html>
<head>
<title>Index Vehicle Iineup</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-dark2">
        <div class="cp-index-vehicle">
            <div class="cp-index-vehicle__inner">
                <div class="cp-index-vehicle__header">
                    <div class="cp-index-vehicle__eyebrow js-animate">
                        <p class="el-eyebrow">Genesis global text</p>
                    </div>
                    <div class="cp-index-vehicle__title js-animate">
                        <h2 class="el-title">We strive to create the finest automobiles</h2>
                    </div>
                    <div class="cp-index-vehicle__desc js-animate">
                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe </p>
                    </div>
                </div>
                <div class="cp-index-vehicle__tab">
                    <div class="cp-index-vehicle__tab-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper" role="tablist">
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <!--/* [F] active tab : add .is-active class and aria-selected attr "true"*/-->
                                        <a href="#lineupcontent1" class="cp-index-vehicle__tab-item is-active" id="genThmbTab1" role="tab" aria-controls="lineupcontent1" aria-selected="true">
                                            <div class="cp-index-vehicle__tab-item-inner">
                                                <div class="cp-index-vehicle__tab-title">
                                                    <strong>GV80</strong>
                                                    <span class="line">
                                                        <span class="line-inner" style="width: 100%;"></span>
                                                    </span>
                                                </div>
                                                <div class="cp-index-vehicle__tab-img">
                                                    <div class="js-picture">
                                                        <img data-media="(min-width: 0px)" data-srcset="/apps/components/index-vehicle-lineup/imgs/@sm-gv80.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <a href="#lineupcontent2" class="cp-index-vehicle__tab-item" id="genThmbTab2" role="tab" aria-controls="lineupcontent2" aria-selected="true">
                                            <div class="cp-index-vehicle__tab-item-inner">
                                                <div class="cp-index-vehicle__tab-title">
                                                    <strong>G80</strong>
                                                    <span class="line">
                                                        <span class="line-inner"></span>
                                                    </span>
                                                </div>
                                                <div class="cp-index-vehicle__tab-img">
                                                    <div class="js-picture">
                                                        <img data-media="(min-width: 0px)" data-srcset="/apps/components/index-vehicle-lineup/imgs/@sm-g80.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <a href="#lineupcontent3" class="cp-index-vehicle__tab-item" id="genThmbTab3" role="tab" aria-controls="lineupcontent3" aria-selected="true">
                                            <div class="cp-index-vehicle__tab-item-inner">
                                                <div class="cp-index-vehicle__tab-title">
                                                    <strong>G70</strong>
                                                    <span class="line">
                                                        <span class="line-inner"></span>
                                                    </span>
                                                </div>
                                                <div class="cp-index-vehicle__tab-img">
                                                    <div class="js-picture">
                                                        <img data-media="(min-width: 0px)" data-srcset="/apps/components/index-vehicle-lineup/imgs/@sm-g70.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <a href="#lineupcontent4" class="cp-index-vehicle__tab-item" id="genThmbTab4" role="tab" aria-controls="lineupcontent4" aria-selected="false">
                                            <div class="cp-index-vehicle__tab-item-inner">
                                                <div class="cp-index-vehicle__tab-title">
                                                    <strong>G90</strong>
                                                    <span class="line">
                                                        <span class="line-inner"></span>
                                                    </span>
                                                </div>
                                                <div class="cp-index-vehicle__tab-img">
                                                    <div class="js-picture">
                                                        <img data-media="(min-width: 0px)" data-srcset="/apps/components/index-vehicle-lineup/imgs/@sm-g90.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <a href="#lineupcontent5" class="cp-index-vehicle__tab-item" id="genThmbTab5" role="tab" aria-controls="lineupcontent5" aria-selected="false">
                                            <div class="cp-index-vehicle__tab-item-inner">
                                                <div class="cp-index-vehicle__tab-title">
                                                    <strong>G90</strong>
                                                    <span class="line">
                                                        <span class="line-inner"></span>
                                                    </span>
                                                </div>
                                                <div class="cp-index-vehicle__tab-img">
                                                    <div class="js-picture">
                                                        <img data-media="(min-width: 0px)" data-srcset="/apps/components/index-vehicle-lineup/imgs/@sm-g90.png" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"><button type="button"><span class="blind">Previous Slide</span></button></div>
                            <div class="swiper-button-next"><button type="button"><span class="blind">Next Slide</span></button></div>
                        </div>
                    </div>
                </div>
                <div class="cp-index-vehicle__panel-wrap">
                    <!--/* [F] active nth panel : add .is-active class and aria-hidden attr false */-->
                    <div id="lineupcontent1" class="cp-index-vehicle__panel is-active" role="tabpanel" aria-labelledby="genThmbTab1" aria-hidden="false">
                        <div class="cp-index-vehicle__panel-item">
                            <div class="cp-index-vehicle__panel-item-inner">
                                <div class="cp-index-vehicle__selc-text">
                                    <div class="cp-index-vehicle__selc-eyebrow">Genesis global text</div>
                                    <div class="cp-index-vehicle__selc-title">text</div>
                                    <div class="cp-index-vehicle__selc-desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</div>
                                    <!--/* [D] PC CTA*/-->
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">Primary Button</span><span class="masker" style=""><span>Primary Button</span></span></a>
                                </div>
                                <div class="cp-index-vehicle__selc-media">
                                    <div class="video-container js-video" data-use-scrollmagic="false">
                                        <video muted playsinline preload="none">
                                            <source src="/apps/components/index-vehicle-lineup/imgs/genesis-kr-admin-model-wide-video-g70-01-desktop-1080x510-ko.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <!--/* [D] Mobile CTA*/-->
                                <div class="cp-index-vehicle__selc-cta">
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">Primary Button</span><span class="masker" style=""><span>Primary Button</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="lineupcontent2" class="cp-index-vehicle__panel" role="tabpanel" aria-labelledby="genThmbTab2" aria-hidden="true">
                        <div class="cp-index-vehicle__panel-item">
                            <div class="cp-index-vehicle__panel-item-inner">
                                <div class="cp-index-vehicle__selc-text">
                                    <div class="cp-index-vehicle__selc-eyebrow">Genesis global text</div>
                                    <div class="cp-index-vehicle__selc-title">G80</div>
                                    <div class="cp-index-vehicle__selc-desc">We strive to create the finest automobiles</div>
                                    <!--/* [D] PC CTA*/-->
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">Primary Button</span><span class="masker" style=""><span>Primary Button</span></span></a>
                                </div>
                                <div class="cp-index-vehicle__selc-media">
                                    <div class="video-container js-video" data-use-scrollmagic="false">
                                        <video muted playsinline preload="none">
                                            <source src="/apps/components/index-vehicle-lineup/imgs/@video1.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <!--/* [D] Mobile CTA*/-->
                                <div class="cp-index-vehicle__selc-cta">
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">차량 선택</span><span class="masker" style=""><span>차량 선택</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="lineupcontent3" class="cp-index-vehicle__panel" role="tabpanel" aria-labelledby="genThmbTab3" aria-hidden="true">
                        <div class="cp-index-vehicle__panel-item">
                            <div class="cp-index-vehicle__panel-item-inner">
                                <div class="cp-index-vehicle__selc-text">
                                    <div class="cp-index-vehicle__selc-eyebrow">Genesis global text</div>
                                    <div class="cp-index-vehicle__selc-title">G70</div>
                                    <div class="cp-index-vehicle__selc-desc">We strive to create the finest automobiles</div>
                                    <!--/* [D] PC CTA*/-->
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">Primary Button</span><span class="masker" style=""><span>Primary Button</span></span></a>
                                </div>
                                <div class="cp-index-vehicle__selc-media">
                                    <div class="js-picture">
                                        <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/880x335" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                    </div>
                                </div>
                                <!--/* [D] Mobile CTA*/-->
                                <div class="cp-index-vehicle__selc-cta">
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">차량 선택</span><span class="masker" style=""><span>차량 선택</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="lineupcontent4" class="cp-index-vehicle__panel" role="tabpanel" aria-labelledby="genThmbTab4" aria-hidden="true">
                        <div class="cp-index-vehicle__panel-item">
                            <div class="cp-index-vehicle__panel-item-inner">
                                <div class="cp-index-vehicle__selc-text">
                                    <div class="cp-index-vehicle__selc-eyebrow">Genesis global text</div>
                                    <div class="cp-index-vehicle__selc-title">G90</div>
                                    <div class="cp-index-vehicle__selc-desc">We strive to create the finest automobiles</div>
                                    <!--/* [D] PC CTA*/-->
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">Primary Button</span><span class="masker" style=""><span>Primary Button</span></span></a>
                                </div>
                                <div class="cp-index-vehicle__selc-media">
                                    <div class="video-container js-video" data-use-scrollmagic="false">
                                        <video muted playsinline preload="none">
                                            <source src="/apps/components/index-vehicle-lineup/imgs/@video1.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <!--/* [D] Mobile CTA*/-->
                                <div class="cp-index-vehicle__selc-cta">
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">차량 선택</span><span class="masker" style=""><span>차량 선택</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="lineupcontent5" class="cp-index-vehicle__panel" role="tabpanel" aria-labelledby="genThmbTab5" aria-hidden="true">
                        <div class="cp-index-vehicle__panel-item">
                            <div class="cp-index-vehicle__panel-item-inner">
                                <div class="cp-index-vehicle__selc-text">
                                    <div class="cp-index-vehicle__selc-eyebrow">Genesis global text</div>
                                    <div class="cp-index-vehicle__selc-title">GV80</div>
                                    <div class="cp-index-vehicle__selc-desc">We strive to create the finest automobiles</div>
                                    <!--/* [D] PC CTA*/-->
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">Primary Button</span><span class="masker" style=""><span>Primary Button</span></span></a>
                                </div>
                                <div class="cp-index-vehicle__selc-media">
                                    <div class="video-container js-video" data-use-scrollmagic="false">
                                        <video muted playsinline preload="none">
                                            <source src="/apps/components/index-vehicle-lineup/imgs/@video1.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <!--/* [D] Mobile CTA*/-->
                                <div class="cp-index-vehicle__selc-cta">
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">차량 선택</span><span class="masker" style=""><span>차량 선택</span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
