<!DOCTYPE html>
<html lang="ko">
<head>
<title>Test Drive</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<!--#include virtual="/apps/components/common/cm-navigation/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-find-map/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-calendar/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-form-check/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-apply-info/@include_css.html"-->
<!--#include virtual="/apps/components/common/cm-apply-complete/@include_css.html"-->
<!--#include virtual="/apps/components/common/location-agree-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/test-drive-center-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/information-alert-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/verification-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/test-drive-history-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/test-drive-total-history-popup/@include_css.html"-->
<!--#include virtual="/apps/components/common/confirm-cancell-popup/@include_css.html"-->
</head>
<body>
<div id="wrap">
    <!-- nav -->
    <!--#include virtual="/apps/components/common/cm-navigation/@include_html.html"-->
    <!-- //nav -->

    <!-- 1.시승 센터 선택 -->
    <!--#include virtual="/apps/components/common/cm-find-map/@include_html.html"-->
    <!-- //1.시승 센터 선택 -->

    <!-- 2.일정 선택 -->
    <!--#include virtual="/apps/components/common/cm-calendar/@include_html.html"-->
    <!-- //2.일정 선택 -->

    <!-- 3.유의사항 -->
    <!--#include virtual="/apps/components/common/cm-form-check/@include_html.html"-->
    <!-- //3.유의사항 -->

    <!-- 4.신청내역확인, 6.신청내역조회 -->
    <!--#include virtual="/apps/components/common/cm-apply-info/@include_html.html"-->
    <!-- //4.신청내역확인, 6.신청내역조회 -->

    <!-- 5.신청완료 -->
    <!--#include virtual="/apps/components/common/cm-apply-complete/@include_html.html"-->
    <!-- //5.신청완료 -->

    <!-- 팝업 -->
    <!-- 1.시승센터:위치정보 사용동의 팝업 -->
    <!--#include virtual="/apps/components/common/location-agree-popup/@include_html.html"-->
    <!-- //1.시승센터:위치정보 사용동의 팝업 -->

    <!-- 1.시승센터:시승 신청하기 팝업 -->
    <!--#include virtual="/apps/components/common/test-drive-center-popup/@include_html.html"-->
    <!-- //1.시승센터:시승 신청하기 팝업 -->

    <!-- 2.일정선택:일정마감 팝업 -->

    <!-- //2.일정선택:일정마감 팝업 -->

    <!-- 3.유의사항:정보입력 팝업 -->
    <!--#include virtual="/apps/components/common/information-alert-popup/@include_html.html"-->
    <!-- //3.유의사항:정보입력 팝업 -->

    <!-- 3.유의사항:본인인증 팝업 -->
    <!--#include virtual="/apps/components/common/verification-popup/@include_html.html"-->
    <!-- //3.유의사항:본인인증 팝업 -->

    <!-- 5.신청완료:이력조회 팝업 -->
    <!--#include virtual="/apps/components/common/test-drive-history-popup/@include_html.html"-->
    <!-- //5.신청완료:이력조회 팝업 -->

    <!-- 6.신청내역 조회:전체내역 팝업 -->
    <!--#include virtual="/apps/components/common/test-drive-total-history-popup/@include_html.html"-->
    <!-- //6.신청내역 조회:전체내역 팝업 -->

    <!-- 6.신청내역 조회:신청취소 팝업 -->
    <!--#include virtual="/apps/components/common/confirm-cancell-popup/@include_html.html"-->
    <!-- //6.신청내역 조회:신청취소 팝업 -->
    <!-- //팝업 -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!--#include virtual="/apps/components/common/cm-find-map/@include_js.html"-->
<!--#include virtual="/apps/components/common/verification-popup/@include_js.html"-->
<!--#include virtual="/apps/components/common/information-alert-popup/@include_js.html"-->
</body>
</html>
