<!DOCTYPE html>
<html lang="ko">
<head>
<title>Test Drive Center Popup</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
<style>
    .js-layer-opener { display:inline-block; padding: 10px 3px; font-size: 18px; }
</style>
</head>
<body>
<div id="wrap" style="background: #fff;">
    <a href="#" class="js-layer-opener" data-layer-target="#purchase-carmaster-layer">Find Show Room Popup</a>
    <!-- component -->
    <div class="cm-layer purchase-carmaster type-alert js-cm-layer" id="purchase-carmaster-layer">
        <span class="cm-layer__dimmed"></span>
        <div class="cm-layer__body">
            <div class="cm-layer__wrapper" role="dialog">
                <div class="cm-layer__title">
                    <strong>삼성 지점</strong>
                </div>
                <div class="cm-layer__content">
                    <div class="cm-place-info">
                        <div class="cm-place-info__desc">서울특별시 강남구 영동대로 706</div>
                        <div class="cm-place-info__desc">02-516-7341</div>
                    </div>
                    <p class="purchase-carmaster__desc">선택하신 지점/대리점에서 차량을 구매하실 수 있으나, 해당 차량이 전시되어 있지 않을 수 있습니다.</p>
                    <div class="purchase-carmaster__title">
                        <strong>카마스터 선택</strong>
                        <p class="purchase-carmaster__desc">상담을 원하시는 카마스터의 정보를 확인하시고 유선 또는 이메일로 연락하세요.</p>
                    </div>
                    <div class="cm-select type2 js-select-wrap">
                        <!-- [F] 펼침 시 : aria-expanded값 true로 변경 -->
                        <a href="#" class="cm-select__placeholder" aria-expanded="false"><span>카마스터를 선택하세요 (미선택 시 자동배정)</span></a>
                        <div class="cm-select__options" role="listbox" style="display: none;">
                            <ul role="presentation">
                            <li role="presentation"><a href="#" role="option">option1 option1 option1 option1 option1</a></li>
                            <li role="presentation"><a href="#" role="option">option2</a></li>
                            <li role="presentation"><a href="#" role="option">option3</a></li>
                            <li role="presentation"><a href="#" role="option">option4</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="cm-layer__cta">
                        <button type="button" class="cm-btn type-white js-layer-closer">
                            <span class="text">취소</span>
                            <span class="masker"><span>취소</span></span>
                        </button>
                        <a href="#" class="cm-btn" title="다음">
                            <span class="text">다음</span>
                            <span class="masker"><span>다음</span></span>
                        </a>
                    </div>
                </div>
                <div class="cm-layer__close-wrap">
                    <button type="button" class="js-layer-closer">
                        <span class="js-svg-icon" data-icon="svg-cross"></span>
                        <span class="blind">Close popup</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<script>
$(function () {
    //open
    $('#purchase-carmaster-layer').trigger('openLayer');
    //close
    // $('#purchase-carmaster-layer').trigger('closeLayer');
});
</script>
</body>
</html>
