.customer-notice__inner {
  max-width: 1080px;
  max-width: 108rem;
  margin: 0 auto;
  padding: 0px 80px;
  padding: 0rem 8rem;
}

.customer-notice__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
}

.customer-notice__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 55px 50px 51px;
  padding: 5.5rem 5rem 5.1rem;
  background: #f8f8f8;
}

.customer-notice__item:not(:first-child) {
  margin-left: 40px;
  margin-left: 4rem;
}

.customer-notice__label {
  font-size: 0;
}

.customer-notice__label .cm-label:not(:first-child) {
  margin-left: 3px;
  margin-left: 0.3rem;
}

.customer-notice__title {
  display: block;
  margin-top: 27px;
  margin-top: 2.7rem;
  font-family: "genesis-head-office-light", sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 30px;
  line-height: 3rem;
  letter-spacing: -.025em;
}

.customer-notice__title a {
  color: inherit;
}

.customer-notice__desc {
  overflow: hidden;
  display: -webkit-box;
  max-height: 48px;
  max-height: 4.8rem;
  margin-top: 20px;
  margin-top: 2rem;
  font-size: 18px;
  font-size: 1.8rem;
  color: #262626;
  line-height: 28px;
  line-height: 2.8rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.customer-notice__date {
  margin-top: 22px;
  margin-top: 2.2rem;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 28px;
  line-height: 2.8rem;
  color: #262626;
}

@media (max-width: 767px) {
  .customer-notice__inner {
    max-width: none;
    padding: 0 30px;
    padding: 0 3rem;
  }
  .customer-notice__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .customer-notice__item {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    padding: 35px 25px 31px;
    padding: 3.5rem 2.5rem 3.1rem;
  }
  .customer-notice__item:not(:first-child) {
    margin: 20px 0 0;
    margin: 2rem 0 0;
  }
  .customer-notice__title {
    margin-top: 16px;
    margin-top: 1.6rem;
    font-size: 20px;
    font-size: 2rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .customer-notice__desc {
    margin-top: 11px;
    margin-top: 1.1rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
  .customer-notice__date {
    margin-top: 12px;
    margin-top: 1.2rem;
  }
}
