<!DOCTYPE html>
<html>
<head>
<title>Download Center</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="cp-download-center">
            <div class="cp-download-center__inner">
                <div class="cp-download-center__model">
                    <div class="cp-download-center__model-header">
                        <h2 class="el-header">Please Select Your Model</h2>
                    </div>
										<div class="cp-download-center__model-list-area">
												<div class="cp-download-center__model-list-wrap">
														<div class="cp-download-center__model-list-outer">
															<!-- /* [D] 활성화 되었을 경우 : .is-active 클래스 추가 */ -->
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-g70-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">G70</div>
																				</div>
																		</a>
																</div>
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-gv80-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">GV80</div>
																				</div>
																		</a>
																</div>
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-g80-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">G80</div>
																				</div>
																		</a>
																</div>
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-g90-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">G90/G90L</div>
																				</div>
																		</a>
																</div>
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-g70-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">G70</div>
																				</div>
																		</a>
																</div>
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-gv80-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">GV80</div>
																				</div>
																		</a>
																</div>
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-g80-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">G80</div>
																				</div>
																		</a>
																</div>
																<div class="cp-download-center__model-list-item">
																		<a href="#" class="cp-download-center__list-btn">
																				<div class="cp-download-center__list-img">
																						<div class="item-picture">
																								<img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x404" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/download-center/genesis-kr-admin-model-list-thumbnail-g90-01-desktop-285x105-en.png" alt="">
																						</div>
																				</div>
																				<div class="cp-download-center__model-desc">
																						<div class="item-title">G90/G90L</div>
																				</div>
																		</a>
																</div>
														</div>
												</div>
												<div class="cp-download-center__model-list-indicator">
														<span>g70</span>
														<span>gv80</span>
														<span>g80</span>
														<span>g90/g90l</span>
														<span>g70</span>
														<span>gv80</span>
														<span>g80</span>
														<span>g90/g90l</span>
												</div>
										</div>
								</div>
								<!-- /* [D] 활성화 되었을 경우 : .is-active 클래스 추가 */ -->
								<div class="cp-download-center__list-tab">
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS G70 Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<!-- /* [D] 리스트 요소가 3개인 경우 : .type-2 클래스 추가 */ -->
														<div class="content-row type-2">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - All</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS GV80 Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 2WD 5P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 2WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS G80 Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<!-- /* [D] 리스트 요소가 3개인 경우 : .type-2 클래스 추가 */ -->
														<div class="content-row type-2">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - All</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS G90/G90 Limousine Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<!-- /* [D] 리스트 요소가 3개인 경우 : .type-2 클래스 추가 */ -->
														<div class="content-row type-2">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - All</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS G70 Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<!-- /* [D] 리스트 요소가 3개인 경우 : .type-2 클래스 추가 */ -->
														<div class="content-row type-2">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - All</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS GV80 Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 2WD 5P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 2WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>GV80 GLS 4WD 7P</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS G80 Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<!-- /* [D] 리스트 요소가 3개인 경우 : .type-2 클래스 추가 */ -->
														<div class="content-row type-2">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - All</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
										<div class="cp-download-center__list">
												<!-- /* [D] select 영역 있을 경우 : .has-select 클래스 추가 */ -->
												<div class="cp-download-center__list-header has-select">
														<strong class="el-title">GENESIS G90/G90 Limousine Environmental Information Disclosure</strong>
												</div>
												<div class="cp-download-center__list-content">
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<!-- /* [D] 리스트 요소가 3개인 경우 : .type-2 클래스 추가 */ -->
														<div class="content-row type-2">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - All</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
														<div class="content-row">
																<div class="content-column__box-wrap">
																		<div class="content-column content-column__title">
																				<strong>Manual - How to use</strong>
																		</div>
																		<div class="content-column__box">
																				<div class="content-column content-column__date">
																						<span>2020</span>
																				</div>
																				<div class="content-column content-column__file"><span>pdf</span></div>
																		</div>
																</div>
																<div class="content-column content-column__btn">
																		<a href="#" class="btn-download"><span>Download</span></a>
																</div>
														</div>
												</div>
										</div>
								</div>
            </div>

            <div class="cp-hero-support">
                <div class="cp-hero-support__inner">
                    <div class="cp-hero-support__content">
                        <div class="cp-hero-support__content-inner">
                            <div class="cp-hero-support__text js-animate">
                                <div class="cp-hero-support__title">
                                    <h2 class="el-title">Infotainment <br>Manual</h2>
                                </div>
                                <div class="cp-hero-support__desc">
                                    <p class="el-desc">Please check the Infotainment manual from web manual homepage.</p>
                                </div>
                            </div>
                            <div class="cp-hero-support__cta js-animate">
                                <!-- /* [D] Cta Type1 : anchor 영역 */ -->
                                <a href="#" class="cm-btn type-white" target="_blank" title="Open in a new window" style="display:none;">
                                    <span class="text">Click To</span>
                                    <span class="masker"><span>Click To</span></span>
                                </a>
                                <!-- /* [D] Cta Type2 : select 영역 */ -->
                                <div class="cm-select type2 js-select-wrap">
                                    <a href="#" class="cm-select__placeholder" aria-expanded="false">
                                        <span>Click To</span>
                                    </a>
                                    <div class="cm-select__options" role="listbox" style="display: none;">
                                        <ul role="presentation">
                                        <li role="presentation"><a href="#" role="option">option1</a></li>
                                        <li role="presentation"><a href="#" role="option">option2</a></li>
                                        <li role="presentation"><a href="#" role="option">option3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-hero-support__img">
                        <div class="js-picture">
                            <img data-media="(min-width: 1024px)" data-srcset="/apps/components/download-center/imgs/@img1-1.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 768px)" data-srcset="/apps/components/download-center/imgs/@img1-2.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="/apps/components/download-center/imgs/@img1-3.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="cp-download-center__inner">
                <div class="cp-download-center__cta">
                    <!-- /* [D] Type1(default) : .type-default 클래스 추가 */ -->
                    <div class="cp-download-center__cta-list type-default">
                        <div class="cp-download-center__cta-text">
                            <strong class="el-title">GENESIS Driver's Guide</strong>
                            <p class="el-desc">This is a web manual that allows you to learn the main functions of Genesis vehicles by utilizing images and video contents.</p>
                        </div>
                        <div class="cp-download-center__cta-content">
                            <a href="#" class="cm-btn">
                                <span class="text">Click To Download</span>
                                <span class="masker"><span>Click To Download</span></span>
                            </a>
                        </div>
                    </div>
                    <div class="cp-download-center__cta-list type-default">
                        <div class="cp-download-center__cta-text">
                            <strong class="el-title">Installing the Acrobat</strong>
                            <p class="el-desc">The document provided by Genesis is in PDF format. Install Adobe Reader on your computer to view this file.</p>
                        </div>
                        <div class="cp-download-center__cta-content">
                            <a href="#" class="cm-btn">
                                <span class="text">Click To Download</span>
                                <span class="masker"><span>Click To Download</span></span>
                            </a>
                        </div>
                    </div>
                    <!-- /* [D] Type2 : .type-2 클래스 추가 */ -->
                    <div class="cp-download-center__cta-list type-2">
                        <div class="cp-download-center__cta-text">
                            <strong class="el-title">Genesis Virtual Guide</strong>
                            <p class="el-desc">The main features of Genesis vehicles are augmented reality (AR), virtual reality (VR), and 3D content. A mobile manual designed to make it easier to understand and utilize key features of the vehicle.</p>
                        </div>
                        <div class="cp-download-center__cta-content">
                            <div class="cp-download-center__cta-item">
                                <div class="qr-area">
                                    <img src="/apps/components/download-center/imgs/@qr1.jpg" class="" alt="">
                                </div>
                                <a href="#" class="cm-btn cm-btn-google" target="_blank" title="Google Play : Open in a new window">
                                    <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-google-play.png" alt="">
                                </a>
                            </div>
                            <div class="cp-download-center__cta-item">
                                <div class="qr-area">
                                    <img src="/apps/components/download-center/imgs/@qr2.jpg" class="" alt="">
                                </div>
                                <a href="#" class="cm-btn cm-btn-app" target="_blank" title="App Store : Open in a new window">
                                    <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-app-store.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>