@import 'review.css'; /* 이 css에 취합 예정 */
@import 'review-js.css'; /* 이 css에 취합 예정 */

.management .bms-container {
  padding-bottom: 0;
}
.review-management {
  margin-top: 17px;
}
.review-management .top-tab-cont {
  display: flex;
  flex-wrap: nowrap;
}
.review-management .contents-info {
    width: 100%;
    padding: 90px 80px 160px 80px;
}
.review-management .contents-info {
  height: calc(100vh - 168px);
  overflow-y: auto;
}
.review-management .contents-info::-webkit-scrollbar {
  display: none;
  width: 16px;
}
.review-management .contents-info::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
  border: 5px solid #fff;
}
.review-management .contents-info::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}
.review-management .contents-info .list-cont > div:first-child {
  margin-top: 0;
}
.review-management .contents-info .h1-title {
  text-align: center;
}
.review-management .contents-info .progress-txt {
  margin-top: 28px;
  color: #002C5F;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.review-management .contents-info .progress-txt > strong {
  display: inline-block;
  margin-right: 10px;
  color: #777;
  font-weight: 400;
}
.review-management .contents-info .tab-box-wrap {
  margin-top: 80px;
}
.review-management .contents-info .info-list {
  margin-top: 48px;
  font-size: 0;
}
.review-management .contents-info .info-list > li {
  display: inline-block;
  width: 50%;
  color: #777;
  font-size: 16px;
  line-height: 24px;
}
.review-management .contents-info .info-list > li + li {
  margin-top: 24px;
}
.review-management .contents-info .info-list > li:nth-child(2) {
  margin-top: 0;
}
.review-management .contents-info .info-list > li > strong {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: 400;
}
.review-management .contents-info .info-list .img-wrap {
  display: flex;
  flex-wrap: nowrap;
}
.review-management .contents-info .info-list .img-wrap .img {
  position: relative;
  flex: none;
  width: 80px;
  height: 52px;
  margin-right: 16px;
  overflow: hidden;
}
.review-management .contents-info .info-list .img-wrap .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.review-management .contents-info .lib-wrap {
  margin-top: 48px;
}
.review-management .contents-info .lib-wrap .top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.review-management .contents-info .lib-wrap .top .tit {
  color: #333;
  font-size: 18px;
  font-weight: 400;
}
.review-management .contents-info .lib-wrap .top .select-box {
  width: 200px;
}
.review-management .contents-info .lib-wrap .cont {
  margin-top: 16px;
  text-align: center;
}
.review-management .contents-info .lib-wrap .editor-view {
  width: 100%;
}
.review-management .contents-info .tbl-file-info td, 
.review-management .contents-info .tbl-file-info th {
  height: 52px;
  padding: 18px;
  font-weight: 400;
  line-height: 1;
}
.review-management .contents-info .tbl-file-info td {
  padding: 28px 10px;
  text-align: left;
}
.review-management .contents-info .tbl-file-info .img {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 100px;
  overflow: hidden;
  vertical-align: middle;
}
.review-management .contents-info .tbl-file-info .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.review-management .contents-info .tbl-file-info p {
  display: inline-block;
  line-height: 24px;
}
.review-management .contents-info .tbl-file-info .name {
  margin-right: 8px;
}
.review-management .contents-info .tbl-file-info .email {
  display: block;
}
.review-management .timeline {
  width: 33.333333vw;
  max-width: 640px;
  flex-shrink: 0;
  height: calc(100vh - 168px);
  overflow-y: auto;
}
.review-management .timeline::-webkit-scrollbar {
  display: none;
  width: 16px;
}
.review-management .timeline::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
  border: 5px solid #fff;
}
.review-management .timeline::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}
.review-management .timeline .list-cont {
  display: block;
  padding: 65px 80px 60px;
  margin-bottom: 0;
  background-color: #fafafa;
}
.review-management .timeline .list-cont > div:first-child {
  margin-top: 0;
}
.review-management .timeline .file-cont .size {
  right: 54px;
}
.review-management .timeline .file-cont .btn-icon:after {
  right: 16px;
}
.review-management .timeline .file-cont .btn-icon span {
  width: calc(100% - 85px);
}
.review-management .timeline .dividing {
  color: #333;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.review-management .timeline .list {
  margin-top: 48px;
}
.review-management .timeline .list + .list {
  margin-top: 64px;
}
.review-management .timeline .list .cont-wrap {
  width: 25vw;
  max-width: 480px;
}
.review-management .timeline .list .cont {
  padding: 48px;
}
.review-management .timeline .list.type1 .cont {
  background-color: #fff;
}
.review-management .timeline .list .time {
  margin-top: 12px;
  text-align: right;
  color: #777;
}
.review-management .timeline .list + .dividing {
  margin-top: 80px;
}
.review-management .timeline .list.type2 {
  display: block;
}
.review-management .timeline .list .left .writer {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #002c5f;
  color: #fff;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.review-management .timeline .list .left .writer.active {
  text-decoration: underline;
}
.review-management .timeline .list .left .tooltip {
  top: 88px;
  display: none;
  width: 360px;
  padding: 40px;
  background: #353535;
}
.review-management .timeline .list .left .tooltip em {
    display: block;
    margin-bottom: 24px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.review-management .timeline .list .left .tooltip span {
    display: block;
    color: #e9e9e9;
    font-size: 16px;
    line-height: 24px;
}
.review-management .timeline .list .left .tooltip span + span {
    margin-top: 8px;
}
.review-management .timeline .list .left .tooltip .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    background: url('../images/designreview/ico_btn_close_w.svg') no-repeat;
    background-size: 100%; 
    text-indent: -9999px;
}
.review-management .timeline .list.type2 .cont {
  margin-top: 12px;
  background-color: #F6F3F2;
}
.review-management .timeline .file-cont .btn-icon:after,
.review-management .timeline .file-cont ul li:hover .btn-icon:after {
  background-size: 14px 18px;
}
.review-management .timeline .comment-box {
  padding: 32px 40px;
  border-left: 1px solid #e9e9e9;
}
.review-management .timeline .comment-box .inp-cont .txtarea-resize textarea {
  max-height: 72px;
}
.management-lang label {
  font-weight: 400;
}
.management-lang .editor-cont {
  margin-top: 32px;
  width: 100%;
  height: 640px;
  background-color: #ddd;
}
.management-lang .editor-cont + .cta-outer {
  margin-top: 60px;
}
.top-tab-menu {
  display: none;
}
.input-box.side,
.selected-tag .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box.side .right label {
  min-width: auto;
}
.input-box.side .right label span {
  color: #777;
}
.input-info-form {
  margin-top: 124px;
}
.input-info-form .fix-info {
  display: block;
}
.input-info-form .fix-info .tit {
  display: inline-block;
  margin-right: 24px;
  font-size: 16px;
  font-weight: var(--fb-normal);
  line-height: 16px;
  color: #333;
}
.input-info-form .fix-info p {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.input-info-form .input-outer-box label {
  font-weight: var(--fb-normal);
}
.input-info-form .row-type .input-group-box .input-box:nth-child(odd) {
  margin-right: 30px;
}
.input-info-form .input-box.calendar .inp-slice-box {
  display: block;
}
.input-info-form .input-box.calendar .inp-slice-box .inp-area + .inp-area {
  margin-top: 8px;
}
.input-box.img {
  display: flex;
}
.input-box.img .img-box { 
  flex-shrink: 0;
  position: relative;
  width:148px;
  height:100px;
  border:1px dashed #ccc;
  background-color: #FAFAFA;
  overflow: hidden;
}
.input-box.img .img-box img { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.selected-tag .selected-box {
  min-height: 176px;
  padding: 16px;
  margin-top: 16px;
  border: 1px solid #ccc;
}
.selected-tag.input-outer-box div label {
  min-width: none;
  margin-bottom: 0;
}

/* .input-box.img .btn-file { 
  position:relative;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-align: center;
}
.input-box.img .btn-file input[type="file"] { 
  position:absolute;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  opacity:0; 
  cursor: pointer;
}
.input-box.img .btn-file label { 
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0;
  color: #999;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.input-box.img .btn-file label:before {
  display: inline-block;
  width: 100%;
  height: 17px;
  background: url('.././images/designreview/ico_plus_g.svg') no-repeat center;
  background-size: 17px;
  content: '';
  cursor: pointer;
} */
.input-box.img .right { 
  width: 100%;
  margin-left: 8px; 
}
.input-box.img .txt {
  margin-top: 8px;
}
.input-box.img .txt li { 
  position:relative;
  padding-left: 16px; 
  font-size: 14px;
  line-height: 21px;
  color: #777;
}
.input-box.img .txt li:after { 
  position:absolute;
  top: 8px;
  left:0;
  width: 3px;
  height: 3px;
  background: #777;
  border-radius: 50%;
  content:''; 
}
.input-box.img .txt li+li {
  margin-top: 4px;
}

@media screen and (max-width: 1280px) {
    .review-management {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .review-management .contents-info {
        width: 100%;
        max-width: 100%;
    }
    .review-management .contents-info .info-list {
        display: flex;
        flex-wrap: wrap;
    }
    .review-management .contents-info .info-list > li  {
        width: 50%;
    }
    .review-management .contents-info .info-list > li:nth-child(2){
        margin-top: 0;
    }

    .top-tab-menu {
      display: block;
      margin: 33px 0 48px;
      text-align: center;
      font-size: 0;
    }
    .top-tab-menu > li {
      display: inline-block;
      min-width: 169px;
      padding: 8px 48px;
      color: #777;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid #e9e9e9;
      cursor: pointer;
    }
    .top-tab-menu > li.active {
      color: #000;
      background-color: #E4DCD3;
      border-color: #E4DCD3;
    }
    .top-tab-cont .top-tab-list {
      display: none;
    }
    .top-tab-cont .top-tab-list.active {
      display: block;
    }
    .review-management .contents-info {
      height: calc(100% - 259px );
    }
    .review-management .timeline {
      height: calc(100vh - 274px);
      padding: 0;
    }
    .review-management .timeline .list-cont {
      display: flex;
      padding: 65px 40px 60px;
      overscroll-behavior: initial;
    }
    .review-management .timeline .comment-box {
      margin: 0;
      border-left: none;
    }
    .review-management .timeline.top-tab-list {
      width: 100%;
      max-width: 100%;
    }
    .review-management .timeline.top-tab-list .list.type1 {
      align-self: flex-end;
    }
    .review-management .timeline.top-tab-list .list .cont-wrap {
      width: 61.71875vw;
      max-width: 790px;
    }
}

