.test-drive-schedule-closure-popup .cm-layer__message {
  padding-top: 39px;
  padding-top: 3.9rem;
}

.test-drive-schedule-closure-popup .cm-layer__message p {
  line-height: 30px;
  line-height: 3rem;
}

@media screen and (max-width: 767px) {
  .test-drive-schedule-closure-popup .cm-layer__message {
    padding: 26px 0 53px;
    padding: 2.6rem 0 5.3rem;
  }
  .test-drive-schedule-closure-popup .cm-layer__message p {
    line-height: 28px;
    line-height: 2.8rem;
  }
}
