<!-- POPUP : 이벤트 참여한 휴대전화 팝업 -->
<div class="cm-layer type-alert event-alert-popup js-cm-layer" id="event-alert-layer01">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>이벤트</strong>
            </div>
            <div class="cm-layer__content">
                <div class="cm-layer__message">
                    <p>이미 이벤트에 참여한 휴대전화 번호 입니다.</p>
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn">
                        <span class="text">확인</span>
                        <span class="masker"><span>확인</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">Close popup</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- // POPUP : 이벤트 참여한 휴대전화 팝업 -->

<!-- POPUP : 신청취소 팝업 -->
<div class="cm-layer type-alert event-alert-popup js-cm-layer" id="event-alert-layer02">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>이벤트 신청현황</strong>
            </div>
            <div class="cm-layer__content">
                <div class="cm-layer__message">
                    <p>신청을 취소 하시겠습니까?</p>
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn js-layer-closer js-layer-opener is-async" data-layer-target="#event-alert-layer03">
                        <span class="text">확인</span>
                        <span class="masker"><span>확인</span></span>
                    </button>
                    <button type="button" class="cm-btn type-white">
                        <span class="text">취소</span>
                        <span class="masker"><span>취소</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">닫기</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- // POPUP : 신청취소 팝업 -->

<!-- POPUP : 신청취소 팝업 -->
<div class="cm-layer type-alert event-alert-popup js-cm-layer" id="event-alert-layer03">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>이벤트 신청현황</strong>
            </div>
            <div class="cm-layer__content">
                <div class="cm-layer__message">
                    <p>취소가 완료 되었습니다.</p>
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn">
                        <span class="text">확인</span>
                        <span class="masker"><span>확인</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">닫기</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- // POPUP : 신청취소 팝업 -->