<!-- POPUP : Contact Us validation check -->
<div class="cm-layer type-alert event-alert-popup js-cm-layer" id="event-alert-contactus-layer">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>Contact Us</strong>
            </div>
            <div class="cm-layer__content">
                <div class="cm-layer__message">
                    <p>Would you like to confirm and submit your inquiry?</p>
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn">
                        <span class="text">Ok</span>
                        <span class="masker"><span>Ok</span></span>
                    </button>
                    <button type="button" class="cm-btn type-white">
                        <span class="text">Cancel</span>
                        <span class="masker"><span>Cancel</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">Close popup</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- // POPUP : Contact Us validation check -->