.cookie-popup.cm-layer .cm-layer__cta .cm-btn.type-white {
  background-color: #fff;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn.type-white:after {
  border-color: #111;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn.type-white .text {
  color: #000;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn.type-white .masker {
  background-color: #111;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn.type-white .masker:after {
  border-color: #111;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn.type-white .masker span {
  color: #fff;
}

.cookie-popup.cm-layer .cm-layer__content {
  padding: 42px 40px 50px;
  padding: 4.2rem 4rem 5rem;
}

.cookie-popup.cm-layer .cm-layer__cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 60px;
  margin-top: 6rem;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn {
  width: 50%;
  font-size: 16px;
  font-size: 1.6rem;
  min-width: 0;
  min-width: 0;
  height: 56px;
  height: 5.6rem;
  line-height: 58px;
  line-height: 5.8rem;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn .masker span {
  height: 56px;
  height: 5.6rem;
  line-height: 58px;
  line-height: 5.8rem;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn:first-child {
  margin-right: 5px;
  margin-right: 0.5rem;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn:last-child {
  margin-left: 5px;
  margin-left: 0.5rem;
}

.cookie-popup.cm-layer .cm-layer__cta .cm-btn:first-child:last-child {
  min-width: 240px;
  min-width: 24rem;
  width: auto;
  margin: 0;
}

.cookie-popup__desc {
  color: #262626;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 28px;
  line-height: 2.8rem;
  text-align: left;
}

.cookie-popup__cta {
  text-align: left;
  margin-top: 50px;
  margin-top: 5rem;
}

.cookie-popup__cta .cm-btn-more {
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .cookie-popup.cm-layer .cm-layer__content {
    padding: 35px 25px 46px;
    padding: 3.5rem 2.5rem 4.6rem;
  }
  .cookie-popup.cm-layer .cm-layer__cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: unset;
    -webkit-justify-content: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    margin-top: 30px;
    margin-top: 3rem;
  }
  .cookie-popup.cm-layer .cm-layer__cta .cm-btn {
    width: auto;
  }
  .cookie-popup.cm-layer .cm-layer__cta .cm-btn:first-child, .cookie-popup.cm-layer .cm-layer__cta .cm-btn:last-child {
    margin: 0;
  }
  .cookie-popup.cm-layer .cm-layer__cta .cm-btn + .cm-btn {
    margin-top: 10px;
    margin-top: 1rem;
  }
  .cookie-popup__desc {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 23px;
    line-height: 2.3rem;
  }
}
