<!DOCTYPE html>
<html>
<head>
<title>Full Width Video Text</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">

    <!-- component(Video/Loop X)-->
    <div class="type-dark">
        <div class="cp-video-text">
            <div class="cp-video-text__inner">
                <div class="cp-video-text__media">
                    <!-- [D] 비디오 영역 -->
                    <div class="cp-video-text__media-video">
                        <div class="video-container js-video">
                            <!-- [D] 반복 재생일 경우 (Loop Play) : loop 속성 추가 -->
                            <video muted playsinline preload="none">
                                <source src="imgs/@video.mp4" type="video/mp4">
                            </video>
                            <div class="video-button-play"><button type="button"><span class="blind">Play video</span></button></div>
                            <div class="video-button-pause"><button type="button"><span class="blind">Pause video</span></button></div>
                        </div>
                    </div>
                    <!-- //[D] 비디오 영역 -->
                </div>
                <div class="cp-video-text__content">
                    <div class="cp-video-text__eyebrow">
                        <p class="el-eyebrow">Genesis global text</p>
                    </div>
                    <div class="cp-video-text__head">
                        <div class="cp-video-text__head-inner">
                            <h2 class="el-title">
                                <span class="display-pc">Genesis global text</span>
                                <span class="display-mo">Genesis global text</span>
                            </h2>
                        </div>
                    </div>
                    <div class="cp-video-text__body">
                        <div class="cp-video-text__body-inner">
                            <p class="el-desc">We strive to create the finest 
                                <span class="cm-tooltip js-tooltip">
                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">automobiles</a>
                                    <span class="cm-tooltip-layer">
                                        <span class="cm-tooltip-layer__inner">Specifications may vary depending on model and/or country.
                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                        </span>
                                    </span>
                                </span>
                                and related products and services for connoisseurs around the globe
                            </p>
                            <a href="#" class="cm-btn" title="Primary Button">
                                <span class="text">Primary Button</span>
                                <span class="masker"><span>Primary Button</span></span>
                            </a>
                            <p class="el-disc">* We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component(Video/Loop X)-->

    <!-- component(Video/Loop O)-->
    <div class="type-dark">
        <div class="cp-video-text">
            <div class="cp-video-text__inner">
                <div class="cp-video-text__media">
                    <!-- [D] 비디오 영역 -->
                    <div class="cp-video-text__media-video">
                        <div class="video-container js-video">
                            <!-- [D] 반복 재생일 경우 (Loop Play) : loop 속성 추가 -->
                            <video muted loop playsinline preload="none">
                                <source src="imgs/@video.mp4" type="video/mp4">
                            </video>
                            <div class="video-button-play"><button type="button"><span class="blind">Play video</span></button></div>
                            <div class="video-button-pause"><button type="button"><span class="blind">Pause video</span></button></div>
                        </div>
                    </div>
                    <!-- //[D] 비디오 영역 -->
                </div>
                <div class="cp-video-text__content">
                    <div class="cp-video-text__eyebrow">
                        <p class="el-eyebrow">Genesis global text</p>
                    </div>
                    <div class="cp-video-text__head">
                        <div class="cp-video-text__head-inner">
                            <h2 class="el-title">
                                <span class="display-pc">Genesis global text</span>
                                <span class="display-mo">Genesis global text</span>
                            </h2>
                        </div>
                    </div>
                    <div class="cp-video-text__body">
                        <div class="cp-video-text__body-inner">
                            <p class="el-desc">We strive to create the finest 
                                <span class="cm-tooltip js-tooltip">
                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">automobiles</a>
                                    <span class="cm-tooltip-layer">
                                        <span class="cm-tooltip-layer__inner">Specifications may vary depending on model and/or country.
                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                        </span>
                                    </span>
                                </span>
                                and related products and services for connoisseurs around the globe
                            </p>
                            <a href="#" class="cm-btn" title="Primary Button">
                                <span class="text">Primary Button</span>
                                <span class="masker"><span>Primary Button</span></span>
                            </a>
                            <p class="el-disc">* We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component(Video/Loop O)-->

    <!-- component(Image) -->
    <div class="type-light">
        <div class="cp-video-text">
            <div class="cp-video-text__inner">
                <div class="cp-video-text__media">
                    <!-- [D] 이미지 영역 -->
                    <div class="cp-video-text__media-img">
                        <div class="js-picture">
                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1920x800" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x312" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                    <!-- //[D] 이미지 영역 -->
                </div>
                <div class="cp-video-text__content">
                    <div class="cp-video-text__eyebrow">
                        <p class="el-eyebrow">Genesis global text</p>
                    </div>
                    <div class="cp-video-text__head">
                        <div class="cp-video-text__head-inner">
                            <h2 class="el-title">
                                <span class="display-pc">Genesis global text</span>
                                <span class="display-mo">Genesis global text</span>
                            </h2>
                        </div>
                    </div>
                    <div class="cp-video-text__body">
                        <div class="cp-video-text__body-inner">
                            <p class="el-desc">We strive to create the finest
                                <span class="cm-tooltip js-tooltip tooltip-type-light">
                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">automobiles</a>
                                    <span class="cm-tooltip-layer">
                                        <span class="cm-tooltip-layer__inner">Specifications may vary depending on model and/or country.
                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                        </span>
                                    </span>
                                </span>
                                and related products and services for connoisseurs around the globe
                            </p>
                            <a href="#" class="cm-btn" title="Primary Button">
                                <span class="text">Primary Button</span>
                                <span class="masker"><span>Primary Button</span></span>
                            </a>
                            <p class="el-disc">* We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component(Image) -->
    
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>