/* ja initializing font */
@font-face {
    font-family: 'Noto Sans JP';
    src: url(../fonts/ja/NotoSansJP-Light.eot);
    src: url(../fonts/ja/NotoSansJP-Light.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ja/NotoSansJP-Light.woff2) format('woff2'),
        url(../fonts/ja/NotoSansJP-Light.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Noto Sans JP';
    src: url(../fonts/ja/NotoSansJP-Regular.eot);
    src: url(../fonts/ja/NotoSansJP-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ja/NotoSansJP-Regular.woff2) format('woff2'),
        url(../fonts/ja/NotoSansJP-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans JP';
    src: url(../fonts/ja/NotoSansJP-Medium.eot);
    src: url(../fonts/ja/NotoSansJP-Medium.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ja/NotoSansJP-Medium.woff2) format('woff2'),
        url(../fonts/ja/NotoSansJP-Medium.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Noto Sans JP';
    src: url(../fonts/ja/NotoSansJP-Bold.eot);
    src: url(../fonts/ja/NotoSansJP-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ja/NotoSansJP-Bold.woff2) format('woff2'),
        url(../fonts/ja/NotoSansJP-Bold.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Noto Sans JP';
    src: url(../fonts/ja/NotoSansJP-ExtraBold.eot);
    src: url(../fonts/ja/NotoSansJP-ExtraBold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/ja/NotoSansJP-ExtraBold.woff2) format('woff2'),
        url(../fonts/ja/NotoSansJP-ExtraBold.woff) format('woff');
    font-weight: 800;
}

/* en initializing font */
@font-face {
	font-family: 'HyundaiSansHeadOffice';
	src: url(../fonts/en/HyundaiSansHeadOffice-Light.eot);
	src: url(../fonts/en/HyundaiSansHeadOffice-Light.eot?#iefix) format('embedded-opentype'),
		url(../fonts/en/HyundaiSansHeadOffice-Light.woff) format('woff'),
		url(../fonts/en/HyundaiSansHeadOffice-Light.woff2) format('woff2');
	font-weight: 300;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
	font-family: 'HyundaiSansHeadOffice';
	src: url(../fonts/en/HyundaiSansHeadOffice-Regular.eot);
	src: url(../fonts/en/HyundaiSansHeadOffice-Regular.eot?#iefix) format('embedded-opentype'),
		url(../fonts/en/HyundaiSansHeadOffice-Regular.woff) format('woff'),
		url(../fonts/en/HyundaiSansHeadOffice-Regular.woff2) format('woff2');
	font-weight: 400;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
	font-family: 'HyundaiSansHeadOffice';
	src: url(../fonts/en/HyundaiSansHeadOffice-Medium.eot);
	src: url(../fonts/en/HyundaiSansHeadOffice-Medium.eot?#iefix) format('embedded-opentype'),
		url(../fonts/en/HyundaiSansHeadOffice-Medium.woff) format('woff'),
		url(../fonts/en/HyundaiSansHeadOffice-Medium.woff2) format('woff2');
	font-weight: 500;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
	font-family: 'HyundaiSansHeadOffice';
	src: url(../fonts/en/HyundaiSansHeadOffice-Medium.eot);
	src: url(../fonts/en/HyundaiSansHeadOffice-Medium.eot?#iefix) format('embedded-opentype'),
		url(../fonts/en/HyundaiSansHeadOffice-Medium.woff) format('woff'),
		url(../fonts/en/HyundaiSansHeadOffice-Medium.woff2) format('woff2');
	font-weight: 700;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
	font-family: 'HyundaiSansTextOffice';
	src: url(../fonts/en/HyundaiSansTextOffice-Regular.eot);
	src: url(../fonts/en/HyundaiSansTextOffice-Regular.eot?#iefix) format('embedded-opentype'),
		url(../fonts/en/HyundaiSansTextOffice-Regular.woff) format('woff'),
		url(../fonts/en/HyundaiSansTextOffice-Regular.woff2) format('woff2');
	font-weight: 400;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
	font-family: 'HyundaiSansTextOffice';
	src: url(../fonts/en/HyundaiSansTextOffice-Medium.eot);
	src: url(../fonts/en/HyundaiSansTextOffice-Medium.eot?#iefix) format('embedded-opentype'),
		url(../fonts/en/HyundaiSansTextOffice-Medium.woff) format('woff'),
		url(../fonts/en/HyundaiSansTextOffice-Medium.woff2) format('woff2');
	font-weight: 700;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

/* reset */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}
mark {
	color: #5d5d5d;
	background: #ff0;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q, blockquote {
	quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
	content: none;
}
address, em {
	font-style: normal;
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
legend {
	border: 0;
	*margin-left: -7px;
}
ul, ol {
	list-style: none;
}
button, input {
	line-height: normal;
	*overflow: visible;
}
input { 
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
input::placeholder {
	color: #777;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
}
input[type=text]::-ms-clear {
	display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}
button {
	background: none;
	border: none;
	padding: 0;
}
img, embed, object, video {
	max-width: 100%;
	height: auto;
}
label,
input.button, input.submit , input.image,
button {
	cursor: pointer;
}
textarea, pre {
	overflow: auto;
}
select, .chk, .radio, textarea {
	outline:none;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	border-radius:0;
	-webkit-border-radius:0;
}
select::-ms-expand {
	display: none;
}
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
input[disabled],
select[disabled] {
	cursor: default;
}
label {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/* button, input, select, textarea {
	font-size: 100%;
} */
img, textarea, input {
	margin: 0;
	vertical-align: top;
}
table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}
table th {
	font-weight: normal;
}
* {
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, dd, figure, form, fieldset, pre {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
button, input, select, textarea {
	font: inherit;
}
html, body {
	font-family: 'HyundaiSansHeadOffice', 'Noto Sans JP', sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #000;
	letter-spacing: normal;
}
pre,
code,
kbd,
samp {
	font-size: 1em;
}
strong {
	font-weight: 700;
}
fieldset {
	border: 0;
}
hr {
	display: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover,
a:hover span,
a:hover strong {
	text-decoration: none;
	outline: none;
}
caption {
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
body {
	overflow-x: hidden;
}
.blind {
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin-top: -1px;
}
.ie11 input, .ie11 select {
	font-family: 'Noto Sans JP', 'HyundaiSansHeadOffice', sans-serif;
}
@media screen and (min-width: 768px) {
	body::-webkit-scrollbar,
	.layer-popup-wrap::-webkit-scrollbar,
	.layer-popup-wrap .layer-cont::-webkit-scrollbar {
		width: 5px;
	}
	body::-webkit-scrollbar-thumb,
	.layer-popup-wrap::-webkit-scrollbar-thumb,
	.layer-popup-wrap .layer-cont::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: rgba(153, 153, 153, .85);
	}
	body::-webkit-scrollbar-thumb:hover,
	.layer-popup-wrap::-webkit-scrollbar-thumb:hover,
	.layer-popup-wrap .layer-cont::-webkit-scrollbar-thumb:hover {
		background: rgba(187, 185, 185, 0.85);
	}
	body::-webkit-scrollbar-track,
	.layer-popup-wrap::-webkit-scrollbar-track,
	.layer-popup-wrap .layer-cont::-webkit-scrollbar-track {
		background: transparent;
	}

	.tbl-box.col-fix {
		-ms-overflow-style: none;
	}
	.tbl-box.col-fix::-webkit-scrollbar {
		display: none;
	}
}

/* layout */
.skip-nav a {
	position: absolute;
	top: -28px;
	left: 0;
	right: 0;
	background-color: #000;
	font-size: 14px;
	color: #fff;
	line-height: 2;
	text-align: center;
}
.skip-nav a:focus,
.skip-nav a:active {
	top: 0;
}
.hmj-header {
	border-bottom: 1px solid #ccc;
}
.hmj-header .header-cont {
	position: relative;
	z-index: 10;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: space-between;
	padding: 0 120px;
	padding: 0 6.25vw;
	border-bottom: 1px solid #ccc;
}
.hmj-header h1 {
	font-size: 14px;
	line-height: 1;
}
.hmj-header h1 a {
	display: inline-block;
	vertical-align: middle;
}
.hmj-header h1 a img {
	width: 66px;
	height: 34px;
}
.hmj-header .gnb-menu-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hmj-header .gnb-menu-list li + li {
	margin-left: 67px;
	margin-left: 3.48958vw;
}
.hmj-header .gnb-menu-list li button span {
	font-size: 16px;
}
/* .hmj-header .gnb-right-menu {
	float: right;
} */
.hmj-header .gnb-right-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hmj-header .gnb-right-list li {
	margin: 0 14px;
}
.hmj-header .gnb-right-list li .btn-cart {
	display: none;
}
.hmj-header .gnb-right-list li button span img {
	width: 24px;
	height: 24px;
}
.hmj-header .sub-cont {
	width: 1120px;
	margin: 0 auto;
	position: relative;
	height: 140px;
}
.hmj-header .sub-cont .history{
	position: absolute;
	top: 12px;
	left: 0;
}
.hmj-header .sub-cont .history span:not(:last-child)::after {
	content: '>';
	display: inline-block;
	padding: 0 5px
}
.hmj-header .sub-cont .page-title {
	width: 100%;
	text-align: center;
	font-size: 24px;
	padding-top: 55px;
}
.hmj-header .sub-cont .back-page {
	display: none;
}

.hmj-container {
	min-height: calc(100vh - 592px); /* calc(100vh - (header height + footer height)) */
}
.hmj-container .hmj-content .cont-outer {
	max-width: 1140px;
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
.hmj-container .hmj-content .cont-outer.mincase {
	max-width: 720px;
}
.hmj-container .hmj-content .cont-outer.fullcase {
	max-width: none;
	display: block;
	padding: 0;
}
.hmj-container .hmj-content .cont-outer.fullcase .cont-inner {
	max-width: 1120px;
	margin: 0 auto;
}
.hmj-container .hmj-content .cont-center {
	display: table-cell;
	width: 700px;
	vertical-align: top;
}
.hmj-container .hmj-content .cont-left {
	display: table-cell;
	width: 300px;
	padding-right: 60px;
}
.hmj-container .hmj-content .cont-left + .cont-center {
	width: 820px;
}
.hmj-container .hmj-content .cont-right {
	display: table-cell;
	width: 420px;
	padding-left: 60px;
}
@media screen and (max-width: 1119px) {
	.hmj-header .header-cont {
		height: 52px;
		padding: 0 8px 0 24px;
	}
	.hmj-header h1 a img {
		width: 46px;
		height: 24px;
	}
	.hmj-header .gnb-right-list li {
		margin: 0;
	}
	.hmj-header .gnb-right-list li .btn-cart {
		display: block;
	}
	.hmj-header .gnb-right-list li .btn-mypage {
		display: none;
	}
	.hmj-header .gnb-right-list li button span {
		position: relative;
		display: inline-block;
		width: 48px;
		height: 52px;
	}
	.hmj-header .gnb-right-list li button span:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.hmj-header .gnb-right-list li button span img {
		vertical-align: middle;
	}
	.gnb-menu-box {
		display: none;
	}
	.hmj-header .sub-cont {
		height: 52px;
		width: 100%;
	}
	.hmj-header .sub-cont .history {
		display: none;
	}
	.hmj-header .sub-cont .page-title {
		font-size: 18px;
		padding-top: 13px
	}
	.hmj-wrap.type2 .header-cont {
		display: none;
	}
	.hmj-wrap.type2 .back-page {
		display: inline-block;
		width: 60px;
		height: 100%;
		background: transparent url('../images/common/ico_page_back.svg') no-repeat center;
		font-size: 0;
		vertical-align: top;
	}
	.hmj-wrap.type2 .sub-cont .page-title {
		text-align: left;
		width: auto;
		display: inline-block;
		margin: 0;
		padding-top: 13px;
	}

	.hmj-wrap.type2 .hmj-container {
		min-height: calc(100vh - 403px);
	}
	.hmj-container {
		min-height: calc(100vh - 456px);
	}
	.hmj-container .hmj-content .cont-outer {
		display: block;
		padding: 0 20px;
	}
	.hmj-container .hmj-content .cont-center {
		display: block;
		width: 100%;
	}
	.hmj-container .hmj-content .cont-right {
		display: block;
		width: 100%;
		padding-left: 0;
	}
	.hmj-container .hmj-content .cont-left {
		display: block;
		width: 100%;
		padding-right: 0;
	}
	.hmj-container .hmj-content .cont-left + .cont-center {
		width: 100%;
	}
}

.hmj-footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 151px;
	margin-top: 200px;
	background-color: #000;
}
@media screen and (max-width: 1119px) {
	.hmj-wrap.type2 .hmj-footer {
		display: none;
	}
}

/** common **/
/* transition value */
[data-ir],
.ir-count[data-ir] > .ir-item {
	-webkit-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
	opacity: 0;
}
[data-ir-idx],
.ir-count[data-ir-idx] > .ir-item {
	-webkit-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.ir-type2[data-ir],
.ir-type2[data-ir] > .ir-item {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* margin value */
.mt20 {
	margin-top: 20px !important;
}

/* align */
.align-c {
	text-align: center !important;
}

/* font type */
.font-type2 {
	font-family: 'HyundaiSansTextOffice', 'Noto Sans JP', sans-serif;
}

/* font typeface */
.hmj-subtitle {
	font-size: 24px;
	line-height: 1.5;
}
.hmj-subtitle2 {
	font-size: 18px;
	line-height: 1.67;
}
.hmj-desc {
	font-size: 14px;
	line-height: 1.5;
}
.hmj-caption {
	font-size: 13px;
	line-height: 1.46;
}
.hmj-tag {
	font-size: 12px;
	line-height: 1.42;
}

/* font color */
.fc-color { /* Blue */
	color: #002c5f;
}
.fc-color2 { /* Active Blue */
	color: #00aad2;
}
.fc-color3 { /* Sky Blue */
	color: #aacae6;
}
.fc-color4 { /* Sand */
	color: #e4dcd3;
}
.fc-color5 { /* Light Sand */
	color: #f6f3f2;
}
.fc-color6 { /* White */
	color: #fff;
}
.fc-color7 { /* Active Red */
	color: #e63312;
}

/* form */
.required {
	color: #00aad2;
}

/* selectbox */
select.slt-box {
	width: 100%;
	height: 46px;
	padding: 0 30px 0 10px;
	border: solid 1px #cccccc;
	background: #fff url(../images/common/ico_slt_box.svg) no-repeat right 6px center;
	font-size: 14px;
	cursor: pointer;
}
.ios select.slt-box {
	line-height: 47px;
}
/* .ie11 select.slt-box {
	padding-top: 6px
} */
.slt-box:disabled,
.slt-box.disabled,
.slt-box.disabled .selected-value {
	border-color: transparent;
	background-color: #f2f2f2;
	color: #999;
	cursor: default;
}
select.slt-box:focus {
	border-color: #000;
}

div.slt-box {
	position: relative;
}
div.slt-box select {
	display: none;
}
.slt-box .selected-value {
	color: #000;
	border: solid 1px #cccccc;
	background-color: #fff;	
	padding: 13px 30px 13px 10px;
	min-height: 46px;
}
.slt-box .selected-value, .slt-box .select-items li {
	width: 100%;	
	cursor: pointer;
    user-select: none;
	overflow: hidden;
    word-break: break-all;
	line-height: 1.45
}
.slt-box .selected-value.active {
	border-color: #000;
}
.slt-box .selected-value::after {
	position: absolute;
	content: "";
	top: 11px;
    right: 6px;
    width: 24px;
    height: 24px;
	display: inline-block;
	background: url(../images/common/ico_slt_box.svg) no-repeat center;
}
.slt-box .selected-value.active::after {
	transform: rotate(-180deg);
}
.slt-box .select-items {
	/* position: absolute; */
    background-color: #FFF;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
	margin-top: 12px;
	border: solid 1px #cccccc;
	display: none;
	height: 140px;
	overflow-y: auto;
}
.slt-box .select-items li {
	color: #777;
	padding: 13px 10px;
}
.slt-box .select-items li:hover {
	background-color: #f2f2f2;
}
.slt-box .select-items li.selected {
	background-color: #f2f2f2;
	color: #000
}
.slt-box + .slt-box {
	margin-top: 12px;
}

/* input */
.inp-outer-box {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
}
.inp-item ~ .btn {
	margin: 0 0 0 6px;
}
.inp-outer-box label {
	min-width: 124px;
	margin-right: 10px;
	color: #000;
}
.inp-outer-box .inp-item {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.error-msg {
	display: none;
	margin-top: 3px;
	color: #e63312;
	font-size:11px;
}
.error-msg.lbl-type {
	margin-left: 134px;
}
.val-error + .error-msg {
	display: block;
}
.inp-group-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.inp-group-box .inp-item:only-child {
	margin: 0;
}
.inp-item {
	-webkit-transition: border-color .5s ease-in-out;
	transition: border-color .5s ease-in-out;
	position: relative;
	width: 100%;
	height: 46px;
	padding: 0 42px 0 9px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
	color: #000;
	line-height: 44px;
}
.ios .inp-item {
	line-height: 47px;
}
/* .ie11 .inp-item[type="number"] {
	padding-top: 3px
} */
.val-error .inp-item,
.val-error .slt-box,
.val-error .chk input[type=checkbox] + span::before,
.val-error .radio input[type=radio],
.val-error textarea {
	-webkit-transition: border-color .5s ease-in-out;
	transition: border-color .5s ease-in-out;
	border-color: #e63312;
}
.inp-item:focus {
	-webkit-transition: border-color .5s ease-in-out;
	transition: border-color .5s ease-in-out;
	border-color: #000;
	outline: none;
}
.inp-item:disabled,
.inp-item.disabled {
	background-color: #f4f4f4;
	color: #777777;
}
.inp-item::-webkit-input-placeholder {
	font-size: 14px;
	color: #777777;
}
.inp-item::placeholder {
	font-size: 14px;
	color: #777777;
}
.inp-item:-ms-input-placeholder {
	font-size: 14px;
	color: #777777;
}
.inp-item:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #f4f4f4 inset;
	box-shadow: 0 0 0 1000px #f4f4f4 inset;
}
.inp-slice-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.inp-slice-box .inp-item:only-child {
	width: 100%;
}
.inp-slice-box .inp-hpn {
	min-width: 10px;
	height: 1px;
	margin: 0 6px;
	background-color: #ccc;
	font-size: 0;
}
.inp-slice-box.none-hyphen .inp-hpn {
	min-width: 6px;
	margin: 0;
	background: none;
}
.inp-slice-box .btn {
	width: auto;
}
.inp-btn-box {
	display: table;
	width: 100%;
}
.inp-btn-box .inp-area {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.inp-slice-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.inp-slice-flex > * {
	flex: 1;
}
.post-type .inp-slice-box .btn {
	min-width: 136px;
	/* background-color: #444; */
}
.post-type .inp-group-box {
	display: block;
	width: 100%;
}
.post-type .inp-group-box > .inp-area {
	margin-top: 6px;
}
.post-type .inp-group-box .inp-area {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.inp-area {
	position: relative;
	width: 100%;
}
.inp-area + .btn {
	margin-left: 6px;
}
.inp-group-box .inp-area:nth-child(odd) {
	margin-right: 3px;
}
.inp-group-box .inp-area:nth-child(even) {
	margin-left: 3px;
}
.inp-area .inp-close {
	position: absolute;
	top: 22px;
	right: 12px;
	z-index: 2;
	display: none;
	width: 24px;
	height: 24px;
	margin-top: -11px;
	background: transparent url('../images/common/ico_delete.svg') no-repeat center;
}
.inp-area.active .inp-close {
	display: block;
}

/* textarea */
textarea {
	-webkit-transition: border-color .5s ease-in-out;
	transition: border-color .5s ease-in-out;
	padding: 13px 12px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 14px;
	width: 100%;
}
textarea:focus {
	-webkit-transition: border-color .5s ease-in-out;
	transition: border-color .5s ease-in-out;
	border: 1px solid #000;
}
textarea:disabled {
	background-color: #f2f2f2;
}
.inp-textarea {
	width: 100%;
}
.inp-textarea span.bite {
	float: right;
	font-size: 12px;
	padding-top:5px
}
.inp-textarea.val-error .error-msg {
	display: block;
}
.val-error .inp-area.active .inp-close {
	background-image: url('../images/common/ico_delete_error.svg')
}
/* .val-error .inp-area.active .inp-close:before,
.val-error .inp-area.active .inp-close:after {
	background-color: #fff;
} */
@media screen and (max-width: 1119px) {
	.inp-outer-box {
		display: block;
	}
	.inp-outer-box label {
		display: inline-block;
		margin: 0 0 10px;
	}
	.inp-group-box.mo-full {
		display: block;
	}
	.inp-group-box.mo-full .inp-area {
		width: 100%;
		margin: 0;
	}
	.inp-group-box.mo-full .inp-area + .inp-area {
		margin-top: 6px;
	}
	.inp-slice-box .btn,
	.inp-slice-box .btn:nth-child(even) {
		width: auto;
		white-space: nowrap;
	}
	.error-msg.lbl-type {
		margin-left: 0;
	}
}

/* checkbox */
.chk {
	display:inline-block;
	margin-right:26px;
	line-height: 1;
	min-height: 20px;
}
.chk input[type="checkbox"] {
	display: none;
}
.chk input[type="checkbox"] + span {
	line-height: 1.3;
	padding-left: 30px;
	position: relative;
	display: inline-block;
	min-height: 20px;
}
.ios .chk input[type="checkbox"] + span {
	line-height: 1.65;
}
.chk input[type="checkbox"] + span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	min-width: 20px;
	height: 20px;
	border: solid 2px #cccccc;
	background-color: #ffffff;
	box-sizing: border-box;
}
.chk input[type="checkbox"] + span::after,
.radio input[type="radio"] + span::after {
	content: '+';
	visibility: hidden;
	position: relative;
	left: -999px;
	display: inline-block;
	width: 8px;
	margin-left: -8px;
}
.chk input[type="checkbox"]:focus + span::before {
	border-color: #00aad2;
}
.chk input[type="checkbox"]:checked + span::before {
	background: transparent url('../images/common/ico_chk_checked.svg') no-repeat center;
	border:none
}
.chk input[type="checkbox"]:disabled + span {
	color: #999;
}
.chk input[type="checkbox"]:disabled + span::before {
	background-color: #999999;
	background-image: none;
	border:none;
}
.chk input[type="checkbox"]:checked:disabled + span::before {
	background-image: url('../images/common/ico_chk_disabled.svg');
}
.chk.type2 { /* cart head */
	display: block;
	margin-right:0;
}
.chk.type2 input[type="checkbox"] + span {
	font-weight: 700;
}
/* .chk.type3 input[type="checkbox"] + span {
	font-weight: 300;
} */

/* .check-group > .chk {
	margin-bottom: 16px;
} */
.check-group li {
	line-height: 1;
}
.check-group li + li {
	margin-top: 16px
}

.check-terms li + li {
	margin-top: 16px
}
.check-terms li .chk {
	margin-right: 0;
}
.check-terms li .chk span {
	font-weight: 300;
}
.check-terms li .chk em {
	font-weight: 500;
	padding-right: 4px;
}
.check-terms li .chk .link-more {
	display: inline-block;
	background: transparent url('../images/common/ico_arrow_24x24.svg') no-repeat center;
	transform: rotate(-90deg);
	width: 20px;
	height: 20px;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
}
.check-terms .error-msg {
	margin-left: 30px;
}
.check-terms li.all {
	margin-bottom: 24px;
}
.check-terms .val-error input[type=checkbox] + span::before {
	border-color: #e63312
}

@media screen and (max-width: 1119px) {
	.check-terms li .chk {
		display: flex;
		justify-content: space-between;
	}
	.check-terms li .chk span {
		flex: 1;
	}
}



/* radio */
.radio {
	display:inline-block;
	margin-right:15px;
	line-height: 1;
}
.radio input[type="radio"] {
	display: none;
}
.radio input[type="radio"] + span {
	position: relative;
	display: inline-block;
	padding-left: 32px;
	font-size: 14px;
	color: #000;
	line-height: 22px;
	min-height: 24px
}
.ios .radio input[type="radio"] + span {
	line-height: 26px;
}
.radio input[type="radio"] + span::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 24px;
	min-width: 24px;
	height: 24px;
	border: solid 1px #cccccc;
	border-radius: 12px;
	background-color: #ffffff;
	align-self: baseline;
	box-sizing: border-box;
	vertical-align: middle;
}
.radio input[type="radio"]:checked + span::before {
	background: transparent url('../images/common/ico_radio_checked.svg') no-repeat center;
	border: none;
}
.radio input[type="radio"]:disabled + span {
	color: #999;
}
.radio input[type="radio"]:disabled + span::before {
	background-color: #999999;
	border: none;
}
.radio input[type="radio"]:checked:disabled + span::before {
	background-image: url('../images/common/ico_radio_disabled.svg')
}
/* .radio-group > .radio {
	margin-bottom: 16px;
} */
.radio-group li {
	height: 24px;
	line-height: 1;
}
.radio-group li + li {
	margin-top: 16px
}

/* input file */
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; } .filebox label { display: inline-block; padding: .5em .75em; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #fdfdfd; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; } /* named upload */ .filebox .upload-name { display: inline-block; padding: .5em .75em; /* label의 패딩값과 일치 */ font-size: inherit; font-family: inherit; line-height: normal; vertical-align: middle; background-color: #f5f5f5; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; }

/* button */
.btn {
	display: inline-block;
	border: 1px solid #002c5f;
	vertical-align: top;
	min-width: 168px;
	text-align: center;
}
.btn span {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 54px;
	padding: 0 20px;
	font-size: 18px;
	font-weight: 700;
	color: #002c5f;
	vertical-align: middle;
	word-break: keep-all;
}
.btn.btn-middle {
	min-width: 148px;
}
.btn.btn-middle span {
	height: 44px;
	padding: 0 18px;
	font-size: 16px;
}
.btn.btn-middle span:after {
	height: 1.7em;
}
.btn.btn-small {
	min-width: 126px;
}
.btn.btn-small span {
	height: 34px;
	padding: 0 16px;
	font-size: 14px;
}
.btn.btn-small span:after,
.btn.btn-tbl.type2 span {
	height: 1.6em;
}
.btn.btn-extra-small {
	min-width: 108px;
}
.btn.btn-extra-small span {
	height: 24px;
	padding: 0 12px;
	font-size: 12px;
}
.btn.btn-extra-small span:after,
.btn.btn-tbl span:after {
	height: 1.4em;
}
.btn.auto-width {
	min-width: auto;
	width: auto;
}
.btn.btn-tbl {
	min-width: 72px;
	width: auto;
	border-color: #ccc;
}
.btn.btn-tbl span {
	height: 24px;
	padding: 0 12px;
	font-size: 12px;
	font-weight: normal;
	color: #000;
}
.btn.btn-tbl.type2 {
	width: 100%;
}
.btn.btn-tbl.type2 span {
	height: 34px;
	font-size: 16px;
	font-weight: 500;
}
.btn.btn-icon {
	position: relative;
	border: none;
}
.btn.btn-icon:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #444;
}
.btn.btn-icon span {
	position: relative;
	height: 25px;
	padding: 0 0 0 31px;
	font-size: 14px;
	font-weight: 400;
	color: #000;
	line-height: 25px;
}
.btn.btn-icon span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 12px;
	width: 1px;
	height: 13px;
	margin-top: -7px;
	background-color: #fff;
}
.btn.btn-icon span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 11px;
	width: 13px;
	height: 1px;
	margin: -1px 0 0 -5px;
	background-color: #fff;
}

.btn + .btn {
	margin-left: 8px;
}
.btn.btn-extra-small + .btn.btn-extra-small {
	margin-left: 8px;
}
.btn:only-child {
	margin-right: 0;
}
.btn.btn-tbl + .btn.btn-tbl {
	margin-left: 8px;
}

.btn-reset {
	width: 54px;
	height: 46px;
	/* border: 1px solid #002c5f; */
}
.inp-area + .inp-slice-box button {
	margin-left: 6px;
}

/* button color */
.btn.btn-type2 {
	background-color: #002c5f;
}
.btn.btn-type2:after {
	background-color: #fff;
}
.btn.btn-type2 span {
	color: #fff;
}
.btn-type3 {
	background-color: #444;
}
.btn-type3 span {
	color: #fff;
}

/* button disabled */
.btn:disabled,
.btn.disabled {
	pointer-events: none;
	outline: none;
	border-color: #ccc;
	background-color: #ccc;
}
.btn:disabled span,
.btn.disabled span {
	color: #fff;
}
.btn:disabled .btn-icon span:before,
.btn.btn-icon.disabled span:before {
	opacity: .3;
}

.btn.btn-popup {
	position: relative;
	height: 36px;
	border-color: #ccc;
}
.btn.btn-popup span {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	line-height: 36px;
}
.btn-del {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: transparent url('../images/common/ico_delete.svg') no-repeat center;
	/* background-size: 24px auto; */
}
.btn-del span {
	font-size: 0;
}

.btn-text {
	font-size: 12px;
	border-bottom: 1px solid #777;
	color: #777;
	display: inline-block;
	height: 18px;
	line-height: 1.45;
}

.cta-outer {
	font-size: 0;
	text-align: center;
	max-width: 520px;
	margin: 0 auto;
}
.cta-outer.full-type {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.cta-outer.full-type [class*='btn'] {
	width: 100%;
	min-width: auto;
}
.cta-outer.align-right,  .cta-outer.align-left {
	max-width: 100%;
}

/* btn-top */
.btn-top-box {
	display: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #000;
}
.btn-top-box .btn-top {
	display: block;
	color: #fff;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
}

@media screen and (min-width: 1120px) {
	.btn span {
		line-height: 0;
	}
	.btn span:after {
		content: '';
		display: inline-block;
		height: 1.85em;
	}
}
@media screen and (max-width: 1119px) {
	.cta-outer {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.cta-outer:not(.fix-type) [class*='btn'] {
		width: 100%;
		min-width: auto;
	}
	.btn span {
		line-height: 54px;
	}
	.btn.btn-middle span {
		line-height: 44px;
	}
	.btn.btn-small span,
	.btn.btn-tbl.type2 span {
		line-height: 34px;
	}
	.btn.btn-extra-small span,
	.btn.btn-tbl span {
		line-height: 24px;
	}
	.ios .btn span {
		line-height: 57px;
	}
	.ios .btn.btn-middle span {
		line-height: 47px;
	}
	.ios .btn.btn-small span,
	.ios .btn.btn-tbl.type2 span {
		line-height: 37px;
	}
	.ios .btn.btn-extra-small span,
	.ios .btn.btn-tbl span {
		line-height: 27px;
	}
}

/* text-link */
.text-link {
	/* padding-bottom: 2px; */
	color: #000;
	border-bottom: 1px solid rgba(0,0,0, 1);
	display: inline-block; 
}
.text-link:hover {
	color: #002C5F;
	border-color: #002C5F;
}
/* .text-link:visited {
	color: #00aad2;
	border-color: none;
} */
/* amount calc */
.amount-calc {
	display: inline-flex
}
.amount-calc > button {
	width: 24px;
	height: 24px;
	border: solid 1px #cccccc;
	font-size: 0;
	line-height: 0;
	position: relative;
}
.amount-calc .down {
	background: #fff url('../images/common/ico_minus.svg') no-repeat center;
}
.amount-calc .up {
	background: #fff url('../images/common/ico_plus.svg') no-repeat center;
}
.amount-calc > input {
	width: 48px;
	height: 24px;
	padding: 0 3px;
	border: none;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	background-color: #ffffff;
	text-align: center;
}
/* .ie11 .amount-calc > input {
	padding-top: 3px
} */
.amount-calc.disabled * {
	background-color: #999999;
	color: #cccccc;
	cursor: default;
}
.amount-calc.disabled .down{
	background-image: url('../images/common/ico_minus_disabled.svg');
}
.amount-calc.disabled .up{
	background-image: url('../images/common/ico_plus_disabled.svg');
}

/* align */
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/* table */
.tbl-box {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	width: 100%;
	margin-top: 30px;
}
.tbl-box.row-fix th:first-child,
.tbl-box.row-fix td:first-child {
	position: sticky;
	left: 0;
	z-index: 999;
}
.tbl-box.row-fix th:first-child:before,
.tbl-box.row-fix th:first-child:after,
.tbl-box.row-fix td:first-child:before,
.tbl-box.row-fix td:first-child:after {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	width: 1px;
	background-color: #ccc;
}
.tbl-box.row-fix th:first-child:before,
.tbl-box.row-fix td:first-child:before {
	left: -1px;
}
.tbl-box.row-fix th:first-child:after,
.tbl-box.row-fix td:first-child:after {
	right: -1px;
}
.tbl-box.col-fix {
    overflow-y: auto;
    width: 100%;
    height: 200px;
	border-bottom: 1px solid #ccc;
}
.tbl-box + .tbl-box.col-fix {
    margin-top: 0;
}
.tbl-box.col-fix thead tr th {
    position: sticky;
	top: 0;
	z-index: 999;
}
.tbl-box.col-fix th,
.tbl-box.col-fix td {
    border-width: 1px 0 0 1px;
}
.tbl-box.col-fix th:last-child,
.tbl-box.col-fix td:last-child {
	border-width: 1px 1px  0 1px;
}
.tbl-box.col-fix tr:first-child td {
	border-top: 0;
}
.tbl-box th {
	background: #007fa8;
	color: #fff;
	font-weight: bold;
}
.tbl-box td {
	background-color: #fff;
}
.tbl-box td,
.tbl-box th {
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 18px;
	text-align: left;
}
.ie11 .tbl-box td,
.ie11 .tbl-box th {
	padding: 13px 10px 7px;
}

@media screen and (max-width: 1119px) {
	.tbl-box table {
		width: 1120px;
	}
	.tbl-box.col-fix table {
		width: 100%;
	}
}

/* tab */
.tab-box-outer {
	position: relative;
}
.tab-box-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width:100%;
}
.tab-box-list li {
	position: relative;
	width: 100%;
	border: 1px solid #666;
	background: #fff;
}
.tab-box-list li a {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	display: block;
	padding: 7px 10px;
	font-size: 14px;
}
.tab-box-list li a:active,
.tab-box-list li a:focus {
	background-color: rgba(244, 244, 244, .8);
	outline: none;
}
.tab-box-list li + li {
	border-left: 0;
}
.tab-box-list li:hover a {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background-color: rgba(244, 244, 244, .5);
}
.tab-box-list li.active a {
	background-color: rgba(244, 244, 244, .8);
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
	pointer-events: none;
}
.tab-box-list li.active a:focus {
	background-color: rgba(244, 244, 244, .8);
}
.tab-box-cont {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	overflow: hidden;
	position: relative;
	z-index: 15;
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #666;
}
.tab-box-cont .tab-box-item {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: absolute;
	opacity: 0;
	z-index: -1;
	overflow: hidden;
	width: calc(100% - 20px);
	font-size: 12px;
	line-height: 18px;
}
.tab-box-cont .tab-box-item.active {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 1;
	z-index: 2;
}
@media screen and (max-width: 1119px) {
	.tab-box-wrap.x-scroll .tab-box-outer {
		-ms-overflow-style: none;
		-webkit-overflow-scrolling: touch;
		overflow: auto;
		display: inline-block;
		width: calc(100% + 30px);
		margin: 0 -15px;
		vertical-align: top;
	}
	.tab-box-wrap.x-scroll .tab-box-outer::-webkit-scrollbar {
		display: none;
	}
	.tab-box-wrap.x-scroll .tab-box-list {
		display: inline-block;
		width: auto;
		padding: 0 15px;
		font-size: 0;
		white-space: nowrap;
	}
	.tab-box-wrap.x-scroll .tab-box-list li {
		display: inline-block;
		min-width: 272px;
		width: auto;
	}
	.tab-box-wrap.x-scroll .tab-box-list li:first-child {
		min-width: 273px;
	}
}

/* caution */
.caution dt {
	margin-bottom: 20px;
}
.caution li, .caution dd {
	font-size: 14px;
	line-height: 1.5;
	color: #000;
	padding-left: 14px;
	position: relative;
	font-weight: 300;
}
.caution li + li, .caution dd + dd {
	margin-top: 8px;
}
.caution li::before, .caution dd::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #000;
	position: absolute;
	top: 9px;
	left: 0;
}
@media screen and (max-width: 1119px) {
	.caution dt {
		margin-bottom: 10px;
	}
	.caution li, .caution dd {
		font-size: 12px;
		line-height: 1.67;
	}
	.caution li::before, .caution dd::before {
		top: 8px;
	}
}

/* toggle */
.toggle .tit-btn {
	cursor: pointer;
	position: relative;
}
.toggle .active .cont {
	display: block;
}

/* mo-toggle */
.mo-toggle .tit-btn {
	position: relative;
}
.mo-toggle .cont {
	display: block;
}
@media screen and (max-width: 1119px) {
	.mo-toggle .tit-btn {
		cursor: pointer;
	}	
	.mo-toggle .tit-btn::after {
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url('../images/common/ico_mo_toggle.svg') no-repeat center;
		position: absolute;
		right: 0;
		top: 16px;
		transition: all 0.5s ease;
	}
	.mo-toggle .active .tit-btn::after {
		transform: rotate(-180deg);
		top: 16px
	}
	.mo-toggle .cont {
		display: none;
	}
	.mo-toggle .active .cont {
		display: block;
	}
}

/* accordion */
.accordion .tit-btn {
	cursor: pointer;
	position: relative;
}
.accordion .cont {
	display: none;
	opacity: 0;
}
.accordion .active .cont {
	height: auto;
	opacity: 1;
	display: block;
}

/* select-dropdown */
.select-dropdown .tit-btn {
	cursor: pointer;
	position: relative;
}
.select-dropdown .cont {
	height: 0;
    transition: all .5s;
    overflow: hidden;
}
.select-dropdown .active .cont {
	height: auto;
}

/* parallax scroll */
.parallax-cont {
	overflow: hidden;
}
.parallax-cont.prx-type2 {
	overflow: visible;
}
.parallax-cont img {
	position: relative;
	top: 50%;
	width: 100%;
}
.ie11 .parallax-cont .prx-item,
.ie11 .parallax-cont .prx-item * {
	-webkit-transition: all .05s linear;
	transition: all .05s linear;
}

/* text flag */
.text-flag {
	display: inline-block;
	padding: 0 11px 2px;
	border: 1px solid #00aad2;
	font-size: 12px;
	color: #00aad2;
}
.text-flag2 {
	display: inline-block;
	min-width: 62px;
	padding: 0 8px 2px;
	border-radius: 9px;
	border-color: #999;
	background-color: #999;
	font-size: 12px;
	color: #fff;
}

/* pagination */
.hmj-pagination {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hmj-pagination [class*="btn-page"] {
	width: 36px;
	height: 36px;
	margin: 0 5px;
	font-size: 14px;
	color: #444;
	line-height: 0;
	text-align: center;
}
.hmj-pagination [class*="btn-page"]:after {
	content: '';
	display: inline-block;
	height: 1.65em;
}
.hmj-pagination .btn-page-prev,
.hmj-pagination .btn-page-next {
	position: relative;
	margin: 0 16px;
	font-size: 0;
	color: #000;
}
.hmj-pagination .btn-page-num.active {
	color: #00aad2;
	pointer-events: none;
}
.hmj-pagination .btn-page-prev.disabled,
.hmj-pagination .btn-page-next.disabled {
	pointer-events: none;
}
.hmj-pagination .btn-page-prev:before,
.hmj-pagination .btn-page-next:before {
	content: '';
	-webkit-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
	position: absolute;
	top: 50%;
	width: 7px;
	height: 7px;
	border: 1px solid #000;
}
.hmj-pagination .btn-page-prev:before {
	left: 17px;
	border-width: 0 0 1px 1px;
}
.hmj-pagination .btn-page-next:before {
	right: 17px;
	border-width: 1px 1px 0 0;
}
.hmj-pagination .btn-page-prev.disabled:before,
.hmj-pagination .btn-page-next.disabled:before {
	border-color: #ccc;
}
@media screen and (max-width: 1119px) {
	.hmj-pagination [class*="btn-page"]:not(.btn-page-next) {
		display: none;
	}
	.hmj-pagination .btn-page-next.disabled {
		display: none;
	}
	.hmj-pagination .btn-page-next {
		width: auto;
		height: auto;
		padding-right: 25px;
		font-size: 12px;
		line-height: 2.17;
	}
	.hmj-pagination .btn-page-next:before {
		-webkit-transform: translateY(-50%) rotate(135deg);
		transform: translateY(-50%) rotate(135deg);
		right: 0;
		margin-top: -3px;
	}
}

/* date picker */
.date-picker .ui-widget.ui-widget-content {
	margin: 0;
	border: none;
	padding: 0;
	width: 100%;
	max-width: 700px;
}
.date-picker .ui-datepicker table {
	margin: 0;
	border: 1px solid #ccc;
	background-color: #fff;
}
.date-picker .ui-datepicker thead {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}
.date-picker .ui-datepicker thead th {
	color: #777;
	font-size: 14px;
	padding: 5px 0;
}

/* btn-select */
.btn-select {
	display: inline-block;
	line-height: 0;
}
.btn-select input[type="radio"] {
	display: none;
}
.btn-select input[type="radio"] + span {
	display: block;
	text-align: center;	
	color: #000;
	width: 100%;
	height: 56px;
	line-height: 54px;
	font-size: 16px;
	padding: 0 20px;
	border: 1px solid #ccc;
}
.btn-select input[type="radio"]:checked + span {
	border: 2px solid #00aad2;
	color: #00aad2;
	font-weight: 700;
	padding: 0 19px;
	line-height: 52px;
}
.btn-select input[type="radio"]:disabled + span {
	border: 1px solid #cccccc;
	color: #999;
	background-color:#f2f2f2;
}

/* layer Popup */
.layer-popup-wrap {
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	overflow-y: auto;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	text-align: center;
}
.layer-popup-wrap.inner-pop {
	background: none;
}
.layer-popup-wrap .tar-loop {
	position: absolute;
	top: -999px;
	z-index: -1;
}
.layer-popup-body {
	position: relative;
	height: 100%;
	padding: 40px 0;
}
.layer-popup-body:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.layer-popup-cont {
	position: relative;
	display: inline-block;
	width: 700px;
	background: #fff;
	text-align: left;
	vertical-align: middle;
	border-top: 2px solid #00aad2;
}
.fix-center .layer-popup-cont {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: fixed;
	top: 40px;
	bottom: 40px;
	left: 50%;
	overflow: hidden;
}
.layer-popup-cont.pop-small {
	width: 500px;
}
.layer-popup-cont .cta-outer {
	margin-top: 40px;
}
/* .layer-popup-cont:focus {
	outline: 1px solid #ccc;
} */
.layer-popup-body .layer-title {
	padding: 13px 80px 13px 40px;
	border-bottom: 1px solid #ccc;
	background-color: rgba(255, 255, 255, .9);
	font-size: 18px;
	line-height: 1.5;
}
.layer-popup-body .layer-cont {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	height: 100%;
	padding: 20px 40px 40px;
}
.layer-popup-body .btn-close-popup {
	position: absolute;
	top: 10px;
	right: 35px;
	z-index: 10;
	width: 33px;
	height: 33px;
	font-size: 0;
	line-height: 0;
	background: transparent url('../images/common/ico_close.svg') no-repeat center;
}

@media (max-width: 1119px) {
	.layer-popup-cont {
		min-width: auto;
		width: calc(100% - 50px);
		max-width: 100%;
	}
	.layer-popup-cont.pop-small {
		width: calc(100% - 50px);
	}
	.layer-popup-body .layer-title {
		padding: 13px 60px 13px 20px;
	}
	.layer-popup-body .layer-cont {
		padding: 20px;
	}
	.layer-popup-body .btn-close-popup {
		top: 10px;
		right: 14px;
	}
	.mo-full .layer-popup-cont {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
		width: 100%;
		padding: 0;
		border-top: none;
	}
	.mo-full .layer-popup-cont:before {
		content: none;
	}
	.fix-center .layer-popup-cont {
		-webkit-transform: none;
		transform: none;
		left: 20px;
		right: 20px;
		width: auto;
	}
	.fix-center.mo-full .layer-popup-cont {
		-webkit-transform: none;
		transform: none;
		left: 0;
		right: 0;
		width: auto;
	}
}

/* FindPostalCode */
.layer-popup-cont.postal-code .layer-cont {
    padding-bottom:0;
}
.layer-popup-wrap .postal-code .top-text {
    margin-bottom:26px;
    font-size:16px;
    font-weight:300;
}
.layer-popup-wrap .postal-code .search-result {
    position: relative;
    min-height:40px;
    margin-top:20px;
    padding: 10px 74px 10px 20px;
    background-color: #f2f2f2;
    word-break: break-word;   
}
.layer-popup-wrap .postal-code .search-result .fc-color2 {
    font-weight:500;
}
.layer-popup-wrap .postal-code .search-result .count {
    position: absolute;
    top: 10px;
    right: 20px;
}
.layer-popup-wrap .postal-code .info-text {
    color:#444;
    font-size:12px;
    font-weight:300;
    text-align:center;
    padding:10px 0;
    border-bottom:1px solid #ccc;
}
.layer-popup-wrap .postal-code .search-list {
    margin-bottom:18px;
}
.layer-popup-wrap .postal-code .search-list li {
    padding:20px 0;
    border-bottom:1px solid #ccc;
}
.layer-popup-wrap .postal-code .search-list li .radio {
    display: block;
}
.layer-popup-wrap .postal-code .search-list .radio span.text {
    display: block;
    margin-top:10px;
    line-height:21px;
    font-weight:300;
}
.layer-popup-wrap .postal-code .bottom-fixed {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
	background-color: #fff;
}
.ios .layer-popup-wrap .postal-code .bottom-fixed {
	position: fixed;
}
.layer-popup-wrap .postal-code .bottom-fixed .hmj-pagination {
    margin-top:20px;
}
.layer-popup-wrap .postal-code .bottom-fixed .cta-outer {
    margin-bottom:40px;
}
.layer-popup-wrap .postal-code .no-search {
    text-align:center;
}
.layer-popup-wrap .postal-code .no-search .icon {
    display: block;
    width: 80px;
    height: 80px;
    margin: 160px auto 20px;
    background-image: url(../images/common/ico_no_search.svg);
    font-size: 0;
    text-indent: -99999px;
}
.layer-popup-wrap .postal-code .no-search .error-text {
    font-weight:300;
}
@media screen and (max-width: 1119px) {
    .layer-popup-wrap .postal-code .bottom-fixed .hmj-pagination {
        margin-top:10px;
    }
    .layer-popup-wrap .postal-code .bottom-fixed .cta-outer {
        margin-bottom:20px;
    }
    .layer-popup-wrap .postal-code .search-result {
        margin:20px -20px 0;
    }
    .layer-popup-wrap .postal-code .no-search .icon {
        margin-top:60px;
        margin-bottom:16px;
    }
}

