/* ja initializing font */
@font-face {
	font-family: 'Noto-Sans-JP', sans-serif;
	font-weight: 300;
	src: url(../fonts/NotoSansJP-Light.eot);
	src: url(../fonts/NotoSansJP-Light.eot?#iefix) format('embedded-opentype'),
			url(../fonts/NotoSansJP-Light.woff) format('woff'),
			url(../fonts/NotoSansJP-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto-Sans-JP', sans-serif;
	font-weight: 400;
	src: url(../fonts/NotoSansJP-Regular.eot);
	src: url(../fonts/NotoSansJP-Regular.eot?#iefix) format('embedded-opentype'),
			url(../fonts/NotoSansJP-Regular.woff) format('woff'),
			url(../fonts/NotoSansJP-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Noto-Sans-JP', sans-serif;
	font-weight: 700;
	src: url(../fonts/NotoSansJP-Bold.eot);
	src: url(../fonts/NotoSansJP-Bold.eot?#iefix) format('embedded-opentype'),
			url(../fonts/NotoSansJP-Bold.woff) format('woff'),
			url(../fonts/NotoSansJP-Bold.ttf) format('truetype');
}

/* reset */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}
mark {
	color: #5d5d5d;
	background: #ff0;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q, blockquote {
	quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: '';
	content: none;
}
address, em {
	font-style: normal;
}
sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
legend {
	border: 0;
	*margin-left: -7px;
}
ul, ol {
	list-style: none;
}
button, input {
	line-height: normal;
	*overflow: visible;
}
input::placeholder {
	color: #aaa;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type=text]::-ms-clear {
	display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
button {
	background: none;
	border: none;
	padding: 0;
}
img, embed, object, video {
	max-width: 100%;
	height: auto;
}
label,
input.button, input.submit , input.image,
button {
	cursor: pointer;
}
textarea, pre {
	overflow: auto;
}
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
label {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/* button, input, select, textarea {
	font-size: 100%;
} */
img, textarea, input {
	margin: 0;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}
table th {
	font-weight: normal;
}
* {
	-webkit-text-size-adjust: none;
	box-sizing: border-box;
	letter-spacing: -0.025em;
}
body, h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, dl, dd, figure, form, fieldset, pre {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
html, body {
	font-size: 14px;
	line-height: 1.4;
	color: #444;
	letter-spacing: -0.025em;
}
button, input, select, textarea {
	font-family: sans-serif;
}
pre,
code,
kbd,
samp {
	font-family: sans-serif;
	font-size: 1em;
}
strong {
	font-weight: 700;
}
fieldset {
	border: 0;
}
hr {
	display: none;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover,
a:hover span,
a:hover strong {
	text-decoration: none;
	outline: none;
}
caption {
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}
body {
	overflow-x: hidden;
}
body::-webkit-scrollbar,
.layer-popup-wrap::-webkit-scrollbar {
	width: 7px;
}
body::-webkit-scrollbar-thumb,
.layer-popup-wrap::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(153, 153, 153, .85);
}
body::-webkit-scrollbar-thumb:hover,
.layer-popup-wrap::-webkit-scrollbar-thumb:hover {
	background: rgba(187, 185, 185, 0.85);
}
body::-webkit-scrollbar-track,
.layer-popup-wrap::-webkit-scrollbar-track {
	background: transparent;
}

/* .blind {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin-top: -1px;
} */
.n-hidden {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.n-hidden::-ms-expand {
	display: none; /* hidden arrow for IE10, 11 */
}

/* layout */
.skip-nav a {
	position: absolute;
	top: -28px;
	left: 0;
	right: 0;
	background-color: #000;
	font-size: 14px;
	color: #fff;
	line-height: 2;
	text-align: center;
}
.skip-nav a:focus,
.skip-nav a:active {
	top: 0;
}
.hmj-header {
	position: relative;
	z-index: 10;
	height: 82px;
}
.hmj-container {
	min-height: calc(100vh - 233px); /* calc(100vh - (header height + footer height)) */
}
.hmj-container .hmj-content {
	max-width: 1120px;
	margin: 0 auto;
	padding: 50px 30px;
}
.hmj-container .hmj-content.full {
	max-width: 1920px;
}
.hmj-footer {
	height: 151px;
	background-color: #000;
}

/** common **/
/* transition value */
[data-ir],
.ir-count[data-ir] > .ir-item {
	-webkit-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
	opacity: 0;
}
[data-ir-idx],
.ir-count[data-ir-idx] > .ir-item {
	-webkit-transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.ir-style02[data-ir],
.ir-style02[data-ir] > .ir-item {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* form */
.required {
	color: #007fa8;
}

/* selectbox */
.slt-Box {
	border: 1px solid #aaa;
}

/* input */
.inp-outer-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inp-outer-box label {
	min-width: 192px;
	margin-right: 10px;
}
.inp-outer-box .inp-item {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}
.inp-group-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.inp-group-box .inp-item:nth-child(odd) {
	margin-right: 5px;
}
.inp-group-box .inp-item:nth-child(even) {
	margin-left: 5px;
}
.inp-group-box .inp-item:only-child {
	margin: 0;
}
.inp-item {
	position: relative;
	width: 100%;
	height: 46px;
	padding: 0 18px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
	color: #777;
	vertical-align: middle;
}
.inp-box::-webkit-input-placeholder {
	font-size: 15px;
	color: #898989;
}
.inp-box::placeholder {
	font-size: 16px;
	color: #898989;
}
.inp-box:-ms-input-placeholder {
	font-size: 16px;
	color: #898989;
}
.inp-box:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #f4f4f4 inset;
	box-shadow: 0 0 0 1000px #f4f4f4 inset;
}
.inp-slice-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.inp-slice-box .inp-item {
	width: 33.33%;
}
.inp-slice-box .inp-hpn {
	width: 15px;
	height: 1px;
	margin:0 5px;
	background-color: #999;
	font-size: 0;
}
.btn-inp-func {
	display: inline-block;
	height: 46px;
	margin-left: 10px;
	padding: 0 15px;
	border: 1px solid #007fa8;
	background-color: #007fa8;
}
.btn-inp-func span {
	display: block;
	font-size: 14px;
	color: #fff;
	white-space: nowrap;
}

/* button */
.cta-outer {
	font-size: 0;
	text-align: center;
}
.btn {
	position: relative;
	z-index: 2;
	display: inline-block;
	min-width: 210px;
	height: 50px;
	margin-right: 5px;
	padding: 0 15px;
	border: 1px solid #007fa8;
}
.btn:only-child {
	margin-right: 0;
}
.btn:focus,
.btn:active {
	outline: 1px solid #000;
}
.btn:nth-child(even) {
	margin: 0 0 0 5px;
}
.btn span {
	-webkit-transition: color .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: color .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	position: relative;
	z-index: 2;
	display: inline-block;
	font-size: 14px;
	color: #007fa8;
	vertical-align: middle;
}
.btn:hover span {
	-webkit-transition: color .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: color .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	color: #fff;
}
.btn.btn-type02:hover span {
	color: #007fa8;
}
.btn span:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.btn:after {
	content: '';
	-webkit-transition: background-color, right .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: background-color, right .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 100%;
	z-index: -1;
	background-color: #007fa8;
}
.btn:hover:after {
	-webkit-transition: background-color, right .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: background-color, right .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	right: 0;
}
.btn.btn-type02 {
	background-color: #007fa8;
}

.btn.btn-type02:after {
	background-color: #fff;
}
.btn.btn-type02 span {
	color: #fff;
}
.btn.btn-type03 span {
	position: relative;
	padding-left: 30px;
}
.btn.btn-type03 span:before {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 20px;
	height: 20px;
	background: url(../images/common/ico_download.png) no-repeat center center;
	background-size: cover;
}
.btn.btn-disabled {
	pointer-events: none;
	outline: none;
}
.btn.btn-disabled {
	border-color: #bbb;
}
.btn.btn-disabled span {
	color: #bbb;
}
.btn.btn-disabled span:after {
	content: none;
}
.btn.btn-type02.btn-disabled {
	background-color: #ddd;
}
.btn.btn-type02.btn-disabled span {
	color: #888;
}
.btn.btn-type03.btn-disabled span:before {
	opacity: .3;
}
@media screen and (max-width: 767px) {
	.cta-outer {
		margin: 0;
	}
	.btn,
	.btn:nth-child(even) {
		display: block;
		width: 100%;
		margin: 0;
	}
	.btn + .btn {
		margin-top: 10px;
	}
	.btn span {
		width: 100%;
	}
}

/* align */
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/* tab */
.tab-box-outer {
	position: relative;
}
.tab-box-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width:100%;
}
.tab-box-list li {
	position: relative;
	width: 100%;
	border: 1px solid #666;
	background: #fff;
}
.tab-box-list li a {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	display: block;
	padding: 7px 10px;
}
.tab-box-list li a:active,
.tab-box-list li a:focus {
	background-color: rgba(244, 244, 244, .8);
	outline: none;
}
.tab-box-list li + li {
	border-left: 0;
}
.tab-box-list li:hover a {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background-color: rgba(244, 244, 244, .5);
}
.tab-box-list li.active a {
	background-color: rgba(244, 244, 244, .8);
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
	pointer-events: none;
}
.tab-box-list li.active a:focus {
	background-color: rgba(244, 244, 244, .8);
}
.tab-box-cont {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	overflow: hidden;
	position: relative;
	z-index: 15;
	margin-top: 5px;
	padding: 10px;
	border: 1px solid #666;
}
.tab-box-cont .tab-box-item {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	position: absolute;
	opacity: 0;
	z-index: -1;
	overflow: hidden;
	width: calc(100% - 20px);
	font-size: 12px;
	line-height: 18px;
}
.tab-box-cont .tab-box-item.active {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 1;
	z-index: 2;
}

/* parallax scroll */
.parallax-cont {
	overflow: hidden;
}
.parallax-cont.prx-type02 {
	overflow: visible;
}
.parallax-cont img {
	position: relative;
	top: 50%;
	width: 100%;
}
.ie11 .parallax-cont .prx-item,
.ie11 .parallax-cont .prx-item * {
	-webkit-transition: all .05s linear;
	transition: all .05s linear;
}

/* layer Popup */
.layer-popup-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	overflow-y: auto;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	text-align: center;
}
.layer-popup-wrap .tar-loop {
	position: absolute;
	top: -999px;
	z-index: -1;
}
.layer-popup-body {
	position: relative;
	height: 100%;
	padding: 50px 0;
}
.layer-popup-body:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.layer-popup-cont {
	position: relative;
	display: inline-block;
	min-width: 500px;
	/* max-width: calc(100% - 100px); */
	max-width: 800px;
	box-shadow: 7px 7px 2px 2px rgba(0, 0, 0, .1);
	background: #fff;
	text-align: left;
	vertical-align: middle;
}
.layer-popup-cont:focus {
	outline: 1px solid #ccc;
}
.layer-popup-body .layer-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background: rgba(187, 187, 187, .5);
	text-align: center;
	font-size: 18px;
	text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
	line-height: 26px;
}
.layer-popup-body .layer-cont {
	overflow-y: auto;
	height: 100%;
	padding: 71px 25px 25px 25px;
}
.layer-popup-body .btn-close-popup {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 20px;
	height: 20px;
	font-size: 0;
	line-height: 0;
}
.layer-popup-body .btn-close-popup:active,
.layer-popup-body .btn-close-popup:focus {
	outline: none;
}
.layer-popup-body .btn-close-popup:before,
.layer-popup-body .btn-close-popup:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 1px;
	margin-left: -10px;
	background: #aaa;
}
.layer-popup-body .btn-close-popup:before {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.layer-popup-body .btn-close-popup:after {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.layer-popup-body .btn-close-popup:hover:before,
.layer-popup-body .btn-close-popup:hover:after {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background-color: #777;
}
.layer-popup-body .btn-close-popup:active:before,
.layer-popup-body .btn-close-popup:active:after,
.layer-popup-body .btn-close-popup:focus:before,
.layer-popup-body .btn-close-popup:focus:after {
	background-color: #ff0000;
}

@media (max-width: 767px) {
	.layer-popup-cont {
		min-width: auto;
		width: calc(100% - 50px);
		max-width: 100%;
	}
}

/* responsive font-size - Uncomment if necessary */
/* @media screen and (min-width: 640px) and (max-width: 767px) {
	html, body {
		font-size: 1em;
	}
}
@media screen and (min-width: 600px) and (max-width: 639px) {
	html, body {
		font-size: 0.938em;
	}
}
@media screen and (min-width: 560px) and (max-width: 599px) {
	html, body {
		font-size: 0.875em;
	}
}
@media screen and (min-width: 520px) and (max-width: 559px) {
	html, body {
		font-size: 0.813em;
	}
}
@media screen and (min-width: 480px) and (max-width: 519px) {
	html, body {
		font-size: 0.75em;
	}
}
@media screen and (min-width: 440px) and (max-width: 479px) {
	html, body {
		font-size: 0.688em;
	}
}
@media screen and (min-width: 400px) and (max-width: 439px) {
	html, body {
		font-size: 0.625em;
	}
} */

/* ja initializing font style */
[lang="ja"],
[lang="ja"] body {
	font-family: 'Noto-Sans-JP', sans-serif;
}
[lang="ja"] button,
[lang="ja"] input,
[lang="ja"] select,
[lang="ja"] textarea {
	font-family: 'Noto-Sans-JP', sans-serif;
}
[lang="ja"] pre,
[lang="ja"] code,
[lang="ja"] kbd,
[lang="ja"] samp {
	font-family: 'Noto-Sans-JP', sans-serif;
}