.main .hmj-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
.main .hmj-header .header-outer {
    background: #191919;
    border: none;
    transition: 0.3s;
}
.main .hmj-header.on .header-outer {
    background: rgba(25,25,25,0.7);
}
.main .hmj-container {
    min-height: auto;
    padding-bottom: 0;
}
.main .hmj-header .gnb-mid-menu .mid-list li a {
    color: #fff;
}
.section-wrap > div .top-tit-cont {
    padding: 120px 0 72px;
    text-align: center;
}
.section-wrap > div .top-tit-cont h2 {
    font-size: 56px;
    font-weight: 500;
    line-height: 1.61;
    color: #191919;
}
.section-wrap > div .top-tit-cont .tit-txt {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.58;
    color: #191919;
}
.media-wrap {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.media-wrap .video-cont {
    width: 100%;
    height: 100%;
}
.media-wrap .video-cont video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.media-wrap .txt-cont {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.media-wrap .txt-cont .tit {
    display: block;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.61;
    color: #fff;
}
.media-wrap .txt-cont .tit-txt {
    margin-top: 4px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.63;
    color: #fff;
}
.media-wrap .txt-cont .cta-outer {
    width: 100%;
    margin-top: 56px;
}
.media-wrap .txt-cont .cta-outer .btn {
    min-width: 260px;
    background: transparent;
    border: 1px solid #e9e9e9;
}
.media-wrap .txt-cont .cta-outer .btn span {
    color:#ccc
}
.media-wrap .txt-cont .cta-outer .btn.btn-type2 {
    background: #e9e9e9;
}
.media-wrap .txt-cont .cta-outer .btn.btn-type2 span {
    color: #191919;
}

.brand-list-cont {
    min-width: 1120px;
    padding: 0 0 0 120px;
    margin-bottom: 120px;
}
.brand-list-cont .swiper-slide {
    position: relative;
    width: 28.072916%;
    border-radius: 8px;
    overflow: hidden;
}
.brand-list-cont .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand-list-cont .swiper-slide .tit-cont {
    position: absolute;
    left: 40px;
    bottom: 40px;
}
.brand-list-cont .swiper-slide .tit-cont .tit {
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.58;
}
.brand-list-cont .swiper-slide .tit-cont .btn {
    min-width: 260px;
    margin-top: 24px;
}
.brand-list-cont .swiper-button-prev,
.brand-list-cont .swiper-button-next {
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -8px 0 0 0;
    color: transparent;
    border-top: 2px solid #191919;
    border-right: 2px solid #191919;
}
.brand-list-cont .swiper-button-prev {
    left: 75px;
    transform: translateY(-50%) rotate(-135deg);
}
.brand-list-cont .swiper-button-next {
    right: 75px;
    transform: translateY(-50%) rotate(45deg);
}
.brand-list-cont .swiper-button-next.swiper-button-disabled, 
.brand-list-cont .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}