@charset "utf-8";

/* common */
/* .my .cont-center {
	padding-top:60px;
} */

/* S: my Coupon */
.my-coupon .list-coupon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap:wrap;	
}
.my-coupon .list-coupon .item {
	margin-top: 56px;
	width:calc((100% - 32px) / 2);
}
.my-coupon .list-coupon .item:first-child,
.my-coupon .list-coupon .item:nth-child(2) {
	margin-top:0;
}
.my-coupon .list-coupon .item:nth-child(even) {
	margin-left: 32px;
}

.my-coupon .coupon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 152px;
	max-height: 152px;
	box-shadow: 0 2px 2px 0 rgba(0, 44, 95, 0.1);
}
.my-coupon .coupon .box-detail {
	width:100%;
	padding: 15px;
	border:1px solid #ccc;
	border-right:none;
}
.my-coupon .coupon .box-detail .text-num {
	margin-top: 12px;
	font-size: 24px;
	font-weight: 500;
	line-height: 38px;
}
.my-coupon .coupon .box-detail .text-detail {
	margin-top: 8px;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 12px;
	color: #333;
	line-height:20px;
}

.my-coupon .coupon .box-day {
	position:relative;
	padding-left:12px;
	min-width:92px;
	text-align: center;
	background-color: #0793ea;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
}
.my-coupon .coupon .box-day::before {
	content:'';
	position:absolute;
	top: 0;
	left: -1px;
	width:24px;
	height:160px;
	background: transparent url('../images/common/bg_coupon.jpg') no-repeat center;
	background-size: 24px auto;
}

.my-coupon .coupon .box-day .img-calendar {
	display:inline-block;
}
.my-coupon .coupon .box-day .text-day {
	background: transparent url('../images/common/ico_coupon_day.svg') no-repeat center top;
	background-size: 24px auto;
	padding-top: 28px;
	font-size:12px;
	font-weight: 500;
	color:#FFF;
	line-height: 20px;
}
.my-coupon .item .info {
	margin-top:16px;
}
.my-coupon .item .info li {
	line-height:20px;
	font-size:12px;
	font-family: 'HyundaiSansTextJP';
	color: #333;
}
.my-coupon .item .info li + li {
	padding-top: 3px;
}

.my-coupon .item.disabled  {
	color:#999;		
}
.my-coupon .item.disabled .coupon {
	box-shadow: none;	
}
.my-coupon .item.disabled .coupon .box-detail .text-detail {
	color: #ccc;	
}
.my-coupon .item.disabled .coupon .box-detail .text-num {
	color: #999;
}
.my-coupon .item.disabled .coupon .box-detail {
	border-color: #e9e9e9;
}
.my-coupon .item.disabled .coupon .box-day {
	background-color: #ccc;		
}
.my-coupon .item.disabled .coupon .box-day::before {
	background-image: url('../images/common/bg_coupon_off.jpg');
}
.my-coupon .item.disabled .info li {
	color: #666;
}
.my-coupon .no-data::before {	
	background: url('../images/common/ico_nodata_coupon.svg') no-repeat center;
}

@media screen and (max-width: 1119px) {
	.my .cont-center {
		padding-top:20px;
	}
	.my-coupon .list-coupon .item {
		position: relative;
		width:100%;
		margin-top: 0;
		padding: 16px 20px 28px;
	}
	.my-coupon .list-coupon .item:nth-child(even) {
		margin-left:0;
	}
	.my-coupon .list-coupon .item::after {
		content: '';
		height: 12px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		background-color: #f5f5f5;
	}
	.my-coupon .list-coupon .item:last-child {
		padding-bottom: 32px;
	}
	.my-coupon .list-coupon .item:last-child::after {
		content: none;
	}
	.my-coupon .coupon .box-day {
		min-width: 74px;
	}
	.my-coupon .coupon .box-day .text-day {
		padding-top: 20px;
		background: url('../images/mo/ico_coupon_day.svg') no-repeat center top;
		background-size: 16px auto;
	}
}

/* E: my Coupon */

/* referal Code */
/* FE-RC-101 */
.my-rc .banner-cont {	
	margin-bottom: 32px;
	width: 100%;
	height:120px;		
}
.my-rc .banner-cont a {
	position:relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius:8px;	
	overflow: hidden;
}
.my-rc .banner-cont img {
	display:block;
	min-width:832px;
}
.my-rc .banner-cont .text {
	position:absolute;
	top:45px;
	left:40px;	
	color:#fff;
	line-height:30px;
	font-size:18px;
	font-weight:500;
}

.my-rc .toggle .cont {
	padding:48px 0;
}

.my-rc .recommend-code .referral-data {
	text-align:center;
	font-weight:500;
}
.my-rc .recommend-code .period-box {
	display:flex;
	margin-top:32px;
	padding:32px;
	box-sizing: border-box;
	border:1px solid #e9e9e9;
	border-radius:8px;
}

/* S :: Graph */
.my-rc .scr-item {
	-webkit-transition: top .5s ease-in-out;
	transition: top .5s ease-in-out;
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	height: 100%;
}
.my-rc .scr-item.active {
	-webkit-transition: top .5s ease-in-out;
	transition: top .5s ease-in-out;
	top: 0;
}

.my-rc .svg-outer-box {
	position: relative;
	width: 104px;
	height: 104px;
	/* margin: 0 40px; */
}
.my-rc .svg-outer-box.mo-only {
	width: 120px;
	height: 120px;
}
.my-rc .progress {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.ios .progress {
	-webkit-transform: rotate(-90deg) scaleY(-1);
	transform: rotate(-90deg) scaleY(-1);
}
.ie11 .progress {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.my-rc .progress-meter,
.my-rc .progress-ing,
.my-rc .progress-bottom,
.my-rc .progress-top {
	fill: none;
}
.my-rc .progress-meter {
	stroke: #e9e9e9;
}
.my-rc .progress-ing {
	stroke: #0793ea;
	stroke-linecap: round;
}
.my-rc .progress-bottom,
.my-rc .progress-top {
	stroke: #fff;
	stroke-linecap: round;
}
.my-rc .progress-top {
	stroke-dashoffset: 931.646px;
}
.my-rc .mo-only .progress-top {
	stroke-dashoffset: 1082.646px;
}
.my-rc .progress-bottom {
	stroke-dashoffset: -727.646px;
}

.my-rc .progress-num {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-align: center;
	font-size: 16px;
	line-height: 104px;
}
.my-rc .mo-only .progress-num {
	line-height: 120px;
}

/* E :: Graph */

.my-rc .recommend-code .period-box .info-box {
	padding: 7px 0 7px 32px;
	color:#666;
}

.my-rc .recommend-code .period-box .detail li::before {
	content:'';
	display:inline-block;
	margin-right:8px;
	width:16px;
	height:16px;
	vertical-align: -3px;
}

.my-rc .period-box .detail li span {
	padding-left:16px;
	font-weight: 500;
}
.my-rc .period-box .detail li.date span {
	color:#191919;
}
.my-rc .period-box .detail li.date::before {
	background:url('../images/common/ico_rc_calendar.svg');
}
.my-rc .period-box .detail li.time {
	margin-top: 8px;
}
.my-rc .period-box .detail li.time span {
	color:#002c5f;
}
.my-rc .period-box .detail li.time::before {
	background:url('../images/common/ico_rc_clock.svg');
}
.my-rc .period-box .text-info {
	margin-top: 16px;	
}

.my-rc .recommend-code .caution {
	margin-top:16px;
}
.my-rc .recommend-code .cta-outer {
	margin-top:40px;
}

.my-rc .my-code .cont {
	padding:48px;
	background:#fafafa;
	text-align:center;
}
.my-rc .my-code .no-data {
	min-height: 0;
	padding: 0;
}
.my-rc .no-data::before {	
	background: url('../images/common/ico_no_rc_car.svg') no-repeat center;
}
.my-rc .my-code .no-data .copy {
	margin-top: 8px;
	color:#666;
}
.my-rc .my-code .no-data .box-info {
	width: 100%;
	margin-top: 24px;
	padding:16px;
	box-sizing: border-box;
	background:#fff;
	border:1px solid #e9e9e9;
	border-radius: 8px;
}
.my-rc .my-code .no-data .box-info .sub-copy {
	color:#666;
}
.my-rc .my-code .no-data .box-info .sub-copy span {
	color:#191919;
}
.my-rc .my-code .my-rc-code .img-box {
	margin:0 auto 8px;
	width:352px;
	height:168px;
}
.my-rc .my-code .my-rc-code .img-box img {
	display:block;
	width: 100%;
}
.my-rc .my-code .my-rc-code .text-code {
	display:inline-block;
	font-weight:500;
}

.my-rc .my-code .my-rc-code .text {
	margin-top: 8px;
	color:#666;
}
.my-rc .my-code .my-rc-code .box-code-share {
	position :relative;
	display: flex;
	margin: 24px auto 0;
	width:640px;
}
.my-rc .my-code .my-rc-code .box-code-share::before {
	content:'';
	position:absolute;
	left: 15px;
	top: 15px;
	width:24px;
	height:24px;
	background:url('../images/common/ico_url_copy.svg')no-repeat center;
}
.my-rc .my-code .my-rc-code .box-code-share .btn-share {
	display:none;
}
.my-rc .my-code .my-rc-code .box-code-share .inp-url {
	flex:auto;
	padding: 0 24px 0 56px;
	height:56px;
	border:1px solid #ccc;
	border-radius:8px 0 0 8px;
	color:#191919;
	line-height:26px;
	text-overflow: ellipsis;
	font-size:16px;
}
.my-rc .my-code .my-rc-code .box-code-share .btn-copy {
	width:114px;
	height:56px;
	background:#002c5f;
	border-radius:0 8px 8px 0;
	color:#fff;
	line-height:26px;
	font-weight:500;
	font-size:16px;
}

.my-rc .reward-status {
	position:relative;	
}
.my-rc .sub-tit {
	font-weight:500;
}
.my-rc .reward-status .text-date {
	position:absolute;
	top:10px;
	right:0;
	color:#666;
	line-height:22px;
	font-size:14px;
}
.my-rc .reward-status .reward-data {
	display:flex;
	margin-top: 24px;
	padding:24px 0;
	box-sizing: border-box;
	border:1px solid #e9e9e9;
	border-radius:8px;
}
.my-rc .reward-status li {
	position:relative;
	flex:1;
	padding:6px 0 0 128px;	
}
.my-rc .reward-status li::after {
	content:'';
	position:absolute;
	top:0;
	left:24px;	
	width:80px;
	height:80px;
}
.my-rc .reward-status li:first-child::after {
	background-image:url('../images/common/ico_rc_reward01.svg');
}
.my-rc .reward-status li:last-child::after {
	background-image:url('../images/common/ico_rc_reward02.svg');
}
.my-rc .reward-status li:last-child::before {
	content:'';
	position:absolute;
	top:8px;
	left:0;	
	width:1px;
	height:64px;
	background:#e9e9e9;
}

.my-rc .reward-status li .tit {
	color:#666;
}

.my-rc .reward-status li .data {
	margin-top:8px;
}

.my-rc .reward-status li .num {
	margin-right:8px;
	line-height:38px;
	font-size:24px;
	font-weight:500;
}
.my-rc .reward-status li .data span:not(.num) {
	color:#666;
	line-height:22px;
	font-size:14px;
}

.my-rc .my-reward {
	margin-top: 48px;
}
.my-rc .my-reward .sub-tit .num {
	margin-left:8px;
}
.my-rc .my-reward .list-reward {
	margin-top: 24px;
}
.my-rc .my-reward .list-reward li {
	margin-top:8px;
	padding:0 32px;
	display:flex;
	align-items: center;
	height:74px;
	background:#fafafa;
	border-radius:8px;
}
.my-rc .my-reward .list-reward li:first-child {
	margin-top:0;
}
.my-rc .my-reward .list-reward li p {
	flex:1 auto;	
}
.my-rc .my-reward .list-reward .product-name {	
	min-width:520px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.my-rc .my-reward .list-reward .name {
	padding-left:32px;
	color:#999;
	line-height:22px;
	font-size:14px;
}

.my-rc .my-reward .list-reward .date {
	text-align: right;
	color:#999;
	line-height:22px;
	font-size:14px;	
}

@media screen and (max-width: 1119px) {
	.my-rc .toggle .cont {
		padding:40px 20px;
	}
	.my-rc .banner-cont {
		padding:0 20px;
		margin-bottom:24px;
		height:80px;
	}
	.my-rc .banner-cont img {
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50% , -50%);
		min-width:1118px;
	}
	.my-rc .banner-cont .text {
		top:30px;
		left:16px;
		line-height:20px;
		font-size:12px;
	}
	.my-rc .recommend-code .period-box {
		margin-top:24px;
		padding:24px;
		flex-direction: column;
		align-items: center;
	}
	.my-rc .recommend-code .period-box .info-box {
		margin-top: 24px;
		padding:0;
		width:100%;
	}
	.my-rc .recommend-code .cta-outer {
		margin-top:32px;
	}
	.my-rc .my-code .my-rc-code .img-box {
		width: 100%;
		text-align: center;
	}
	.my-rc .my-code .my-rc-code .img-box {
		width: auto;
		height: 100%;
	}
	.my-rc .my-code .my-rc-code .text {
		font-size:12px;
		line-height:20px;
	}
	.my-rc .my-code .my-rc-code .box-code-share {
		width:100%;
		flex-wrap: wrap;
	}
	.my-rc .my-code .my-rc-code .box-code-share .inp-url {
		padding:0 16px 0 40px;
		width:calc(100% - 68px);
		height:48px;
		font-size:12px;
		line-height:20px;
	}
	.my-rc .my-code .my-rc-code .box-code-share::before {
		width:16px;
		height:16px;
		background-size:18px;
	}
	.my-rc .my-code .my-rc-code .box-code-share .btn-copy {
		width:68px;
		height:48px;
		line-height:20px;
		font-size:12px;
	}
	.my-rc .my-code .my-rc-code .box-code-share .btn-share {
		display:block;
		padding-top:16px;
		width: 100%;		
	}
	
	.my-rc .my-code .my-rc-code .box-code-share .btn-share button {
		color:#666;		
		line-height:20px;
		vertical-align: middle;
		font-size:12px;
	}
	.my-rc .my-code .my-rc-code .box-code-share .btn-share button::before {
		content:'';
		display:inline-block;
		margin-right:8px;
		width:16px;
		height:16px;
		background:url('../images/common/ico_url_share.svg') no-repeat;
		vertical-align: middle;
	}

	.my-rc .reward-status {
		margin:0 20px;
	}
	.my-rc .reward-status .reward-data {
		display:block;
		margin-top: 16px;
		padding:0;
		border:none;
	}

	.my-rc .reward-status .reward-data li {
		padding:16px 16px 16px 80px;
		border:1px solid #e9e9e9;
		border-radius:8px;
	}
	.my-rc .reward-status li::after {
		top:16px;
		left:16px;
		width:64px;
		height:64px;
		background-size: 64px;
	}
	.my-rc .reward-status li:last-child {
		margin-top:8px;
	}
	.my-rc .reward-status li:last-child::before {
		display:none;
	}
	.my-rc .reward-status li .tit {
		text-align: right;
	}
	.my-rc .reward-status li .data {
		margin-top: 4px;
		text-align: right;
	}
	.my-rc .reward-status li .data span:not(.num) {
		line-height:20px;
		font-size:12px;
	}
	.my-rc .reward-status .text-date {
		position:static;
		margin-top:8px;
		line-height:20px;
		text-align: right;
		font-size:12px;		
	}
	.my-rc .my-reward {
		margin-top:40px;
	}
	.my-rc .my-reward .sub-tit {
		margin:0 20px;
	}
	.my-rc .my-reward .list-reward {
		margin:16px 20px 32px;
	}
	.my-rc .my-reward .list-reward li {
		flex-wrap: wrap;
		padding:16px;
		height:auto;
	}
	.my-rc .my-reward .list-reward .product-name {
		margin-bottom:8px;
		min-width:100%;
	}
	.my-rc .my-reward .list-reward .name {
		padding-left:0;
		line-height:20px;
		font-size:12px;		
	}
	.my-rc .my-reward .list-reward .date {
		line-height:20px;
		font-size:12px;
	}
	

	.my-rc .svg-outer-box.mo-only .progress-num {
		line-height:120px;
	}
	.my-rc .svg-outer-box.mo-only {
		display:block;
	}
}

/* S : My main MP-100 */
.my-main .main-visual {
	z-index: -1;
	position:relative;
	width:100%;
	height:320px;	
	overflow: hidden;
}
.my-main .main-visual img {
	display: block;
	width: 100%;	
}
.pc .my-main .main-visual img {
	min-width: 1920px;
}
.mo .my-main .main-visual img {
	max-height: 960px;
	min-height: 320px;
}
.my-main .dashboard {
	margin-top:-162px !important;
}

.my-main .dashboard .intro {
	position:relative;
	color:#fff;
}
.my-main .dashboard .intro h3 {
	display:inline-block;
}
.my-main .dashboard .intro .name {
	display:inline-block;
	margin-right:auto;
	padding-left:16px;
	line-height:38px;
	font-size:16px;	
}
.my-main .dashboard .intro .name::after {
	content:'';
	display:inline-block;
	margin-top:-3px;
	width:16px;
	height:16px;
	background:url('../images/common/ico_mm_arrow.svg') no-repeat center;
	vertical-align: middle;
}
.my-main .dashboard .intro .name span {
	font-weight:500;
}
.my-main .dashboard .intro .btn-alarm {
	position:absolute;	
	top:10px;
	right:0;
	width: 48px;
	height: 48px;
	padding-top:8px;
	text-align: center;
}
.my-main .dashboard .intro .btn-alarm img {
	display:inline-block;	
}
.my-main .dashboard .intro .btn-alarm .num {
	position:absolute;
	top:9px;
	right:0;
	display:flex;
	align-items: center;
	justify-content: center;
	width:24px;
	height:20px;
	background:#0793ea;
	border-radius:10px;
	text-align: center;	
	font-size:12px;
	font-weight:500;
}
.my-main .dashboard .intro .btn-alarm .num span {
	display: block;	
	line-height:1px;
}
.my-main .dashboard .box-dashboard {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top:32px;
	background:#fff;
	border-radius:8px;
	border:1px solid #f5f5f5;
	box-shadow: 0 4px 8px -1px rgba(10, 22, 70, 0.1), 0 0 1px 0 rgba(10, 22, 70, 0.06);
	overflow:hidden;
}
.my-main .dashboard .box-dashboard li {
	flex:1 1 30%;
	height: 78px;
	border-right:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5;
	transition:all 0.2s ease-in-out;
}
.my-main .dashboard .box-dashboard li:hover {
	background-color:#fafafa;
}

.my-main .dashboard .box-dashboard li:nth-child(4),
.my-main .dashboard .box-dashboard li:nth-child(5),
.my-main .dashboard .box-dashboard li:last-child {
	border-bottom:none;
}
.my-main .dashboard .box-dashboard a {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:0 24px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.my-main .dashboard .box-dashboard .title {
	line-height:22px;
	font-size:14px;
}
.my-main .dashboard .box-dashboard .title::before {
	content:'';
	display:inline-block;
	margin-right:8px;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	background:no-repeat center;
}
.my-main .dashboard .box-dashboard .config::before {
	background-image:url('../images/common/ico_dash01.svg');
}
.my-main .dashboard .box-dashboard .test::before {
	background-image:url('../images/common/ico_dash02.svg');
}
.my-main .dashboard .box-dashboard .consult::before {
	background-image:url('../images/common/ico_dash03.svg');
}
.my-main .dashboard .box-dashboard .wish::before {
	background-image:url('../images/common/ico_dash04.svg');
}
.my-main .dashboard .box-dashboard .coupon::before {
	background-image:url('../images/common/ico_dash05.svg');
}
.my-main .dashboard .box-dashboard .service::before {
	background-image:url('../images/common/ico_dash06.svg');
}
.my-main .dashboard .box-dashboard .num {
	display:block;
	width: 38px;
	color:#0793ea;
	line-height:38px; 
	text-align: center;
	font-size:24px;
	font-weight:500;
}
.my-main .cont-left{
	padding-top:80px;
}

.my-main .cont-main > div {
	margin-top:80px;
}
.my-main .cont-main .top {
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}
.my-main .cont-main .top + section {
	margin-top:24px;
}

.my-main .cont-main h4 {
	font-weight:500;
}
.my-main .cont-main h4 .num {
	padding-left:8px;
	color:#1c6bba;
}

.my-main .box-caution {
	padding:12px 15px 12px 32px;	
	background:#f5f5f5;
}
.my-main .list-my-car .swiper-container {
	border:1px solid #e9e9e9;
	border-radius: 8px;		
}
.pc .swiper-wrapper {
	display:block;
}


.my-main .list-my-car .slide-item + .slide-item {
	border-top:1px solid #e9e9e9;
}
.my-main .list-my-car .cont-box {
	position:relative;
	padding:32px;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: space-between;
	width: 100%;
	min-height:340px;
}

.my-main .list-my-car .item-tit {
	width: 100%;
	line-height:32px;
	font-size:20px;
	font-weight:500;
}
.my-main .list-my-car .car-detail .num {
	margin-top:8px;
	line-height:22px;
	font-size:14px;
}
.my-main .list-my-car .img-box {
	position:absolute;	
	top:64px;
	right:64px;
	width:320px;
	height:180px;
}
.my-main .list-my-car .img-box img {
	display:block;
	width: 100%;
	height: 100%;
}
.my-main .list-my-car .info {
	display: flex;	
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-end;
	margin-top: 24px;
	width: 260px;	
	height:82px;
	line-height:22px;
	font-size:14px;
}
.my-main .list-my-car .info dt:first-of-type,
.my-main .list-my-car .info dd:first-of-type {
	margin-top:0;
}
.my-main .list-my-car .info dt {
	margin-top: 8px;
	min-width: 160px;
	color:#999;	
}
.my-main .list-my-car .info dd {
	margin-top: 8px;
}
.my-main .list-my-car .info dd.fc-color4 {
	font-weight:500;
}
.my-main .list-my-car .full-type {
	position:absolute;
	bottom:32px;
	left:32px;
	right:32px;
}
.pc .my-main .swiper-pagination {		
	visibility: hidden;
	font-size:0;
}	


.my-main .car-order .list-order {
	border:1px solid #e9e9e9;
	border-radius:8px;
}
.my-main .car-order .list-order .item {
	position:relative;
	padding:32px;
}
.my-main .car-order .list-order .item + .item {
	border-top:1px solid #e9e9e9;
}
.my-main .car-order .list-order .detail {
	width: 100%;
}

.my-main .car-order .item-tit {
	line-height:32px;
	font-size:20px;
	font-weight:500;
}
.my-main .car-order .item-sub-tit {
	padding-left:8px;
	line-height:22px;
	font-size:14px;
}
.my-main .car-order .img-box {
	position:absolute;
	top:32px;
	right:64px;
	width:320px;
	height:180px;
}
.my-main .car-order .img-box img {
	display: block;
	width: 100%;
	height: 100%;
}
.my-main .car-order .info {
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
	width: 260px;	
	font-size:14px;
	line-height:22px;
}
.my-main .car-order .info dt:first-of-type,
.my-main .car-order .info dd:first-of-type {
	margin-top:0;
}
.my-main .car-order .info dt {
	margin-top: 8px;
	min-width: 160px;
	color:#999;
}
.my-main .car-order .info dd {
	margin-top: 8px;
}
.my-main .car-order .box-status {
	display:flex;
	margin-top:88px;
	width: 100%;
}
.my-main .car-order .box-status li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:16px 24px;
	width:calc((100% - 8px) / 2);
	background:#fafafa;
	border-radius:4px;
}
.my-main .car-order .box-status li:first-child {
	margin-right:8px;
}
.my-main .car-order .box-status .text {
	display:inline-block;
	line-height:22px;
	font-size:14px;
}



.my-main .shop-order h4 .htr {
	padding-left:8px;
	color:#333;
	line-height:22px;
	vertical-align: middle;
	font-size:14px;
	font-weight:400;
}

.my-main .shop-order .list-order li:last-child {
	border-bottom:1px solid #e9e9e9;
}
.my-main .shop-order .top-area {
	padding:0 16px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	height:58px;
	background:#fafafa;
	border-top:1px solid #999;	
	border-bottom:1px solid #e9e9e9;
}
.my-main .shop-order .top-area .cont-text {
	font-weight:500;
}
.my-main .shop-order .top-area .htr {
	color:#666;
	line-height:22px;
	font-size:14px;
}
.my-main .shop-order .bottom-area {
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding:24px 0 32px;
	line-height:0;
}
.my-main .shop-order .thumbnail {
	width: 160px;
	height: 160px;
	border:1px solid #e9e9e9;
}
.my-main .shop-order .thumbnail img {
	display: block;
	width: 100%;
	height: 100%;
}
.my-main .shop-order .detail {
	margin-bottom:auto;
	width:352px;
}
.my-main .shop-order .detail .name {
	line-height:22px;
	font-weight:500;
	font-size:14px;
}
.my-main .shop-order .detail .count {
	margin-top:8px;
	color:#999;
	line-height:22px;
	font-family: 'HyundaiSansTextJP', sans-serif;
	font-size:14px;
}
.my-main .shop-order .detail .count span + span::before {
	content:'';
	display:inline-block;
	margin:0 16px;
	width: 1px;
	height: 8px;
	background:#cccccc;
	vertical-align: middle;
}
.my-main .shop-order .detail .cont-text {
	margin-top:16px;
	font-weight:500;
}
.my-main .shop-order .status {
	width: 144px;
	text-align: center;
	line-height:26px;
	font-size:16px;
}

.my-main .shop-order .btn-box {
	margin:0;
	line-height:normal;
}
.my-main .shop-order .btn-box button {
	display: block;
	margin-top:8px;
}
.my-main .shop-order .btn-box button:first-child {
	margin-top:0;
}


.my-main .info-box section {
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
	margin-top:24px;
	padding:40px 64px 0 40px;
	border:1px solid #e9e9e9;
	border-radius:8px;
}
.pc .mo-btn,
.pc .mo-title,
.pc .mo-text {
	display:none;
}
.mo .mo-btn,
.mo .mo-title,
.mo .mo-text {
	display:block;
}
.mo .pc-title,
.mo .pc-tel {
	display:none;
}

.my-main .info-box .box-tel {
	min-width: 300px;
	margin-right:auto;
}

.my-main .info-box .box-tel .pc-tel {
	padding-left:28px;
	background:url('../images/common/ico_tel.svg') no-repeat left center;
	line-height:30px;
	font-size:18px;
	font-weight:500;
}
.my-main .info-box .mo-btn .ico img {
	vertical-align: middle;
}


.my-main .info-box .box-tel .htr {
	margin-top:4px;
	color:#666;
	line-height:20px;
	font-size:12px;
}
.my-main .info-box .box-consult {
	width:240px;
}
.my-main .info-box .box-caution {
	margin:40px -64px 0 -40px;
	flex:1 1 auto;
}

.my-main .no-data {
	position:relative;
	padding:74px 0 122px;
	min-height:342px;
	background:#fff;
	border:1px solid #e9e9e9;
	border-radius:8px;
}
.my-main .no-data::before {
	background:url('../../assets/images/@ico_mm_nodata.png') no-repeat center;
	background-size:64px;
}
.my-main .no-data .box-caution {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
.my-main .no-data .box-caution .htr {
	color:#999;
	line-height:20px;
	font-size:12px;
}
.my-main .no-data .box-caution .tooltip-box {
	text-align: left;
}
.my-main .box-no-data .box-banner {
	margin-top: 80px;
}

.my-main .box-no-data .swiper-slide {
	position:relative;
	width: 100%;
	height:120px;
	border-radius:8px ;
	overflow: hidden;
}
.my-main .box-no-data .swiper-slide .img {
	position:relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.my-main .box-no-data .swiper-slide .img img {
	position:absolute;
	top:50%;
	left:50%;	
	min-width: 832px;
	height: 100%;
	transform: translate(-50% , -50%);
}
.my-main .box-no-data .swiper-slide .text {
	position:absolute;
	top:23px;
	left:32px;
	color:#fff;	
}
.my-main .box-no-data .swiper-slide .tit {
	max-width:240px;
	line-height:30px;
	height: 30px;
	overflow: hidden;
	font-size:18px;
	font-weight:500;
}
.my-main .box-no-data .swiper-slide .desc {
	margin-top: 4px;
	max-width:240px;
	max-height: 40px;
	line-height:20px;
	overflow: hidden;
	font-size:13px;
}

.my-main .box-no-data .type02 .swiper-wrapper {
	display:flex;
	flex-flow:wrap row;
}
.my-main .box-no-data .type01 .swiper-wrapper .swiper-slide + .swiper-slide {
	margin-top:8px;
}
.my-main .box-no-data .type02 .swiper-slide {
	position:relative;	
	width:calc((100% - 8px) / 2);
	margin-top:8px;
}
.my-main .box-no-data .type02 .swiper-slide img {
	min-width: 640px;
}
.my-main .box-no-data .type02 .swiper-slide:nth-child(even) {
	margin-left:8px;
}
.my-main .box-no-data .type02 .swiper-wrapper .swiper-slide:first-child,
.my-main .box-no-data .type02 .swiper-wrapper .swiper-slide:nth-child(2) {
	margin-top:0;
}



@media screen and (max-width: 1119px) {
	.my-main .dashboard {
		margin-top:-200px !important;
		padding:0 20px !important;
	}
	.my-main .dashboard .intro {
		flex-wrap: wrap;
	}
	.my-main .dashboard .intro h3 {
		line-height:38px;
		font-size:24px;
	}
	.my-main .dashboard .intro .name {
		display:block;
		padding-left: 0;
		margin-top:4px;
		line-height:26px;
	}
	.my-main .dashboard .intro .btn-alarm {
		top:14px;
	}
	.my-main .dashboard .box-dashboard {
		margin-top:24px;
		border:none;
	}
	.my-main .dashboard .box-dashboard li {
		height:auto;
	}
	.my-main .dashboard .box-dashboard a {
		padding:16px 0 15px;
		flex-direction: column;
		text-align: center;
	}
	.my-main .dashboard .box-dashboard .title {
		font-size:12px;
		line-height:20px;
	}
	.my-main .dashboard .box-dashboard .title::before {
		display:block;
		margin:0 auto;
	}
	.my-main .dashboard .box-dashboard .num {
		line-height:26px;
		font-size:16px;
	}
	.my-main .cont-left {
		padding-top:0;
	}

	.my-main .cont-main > div {
		margin-top:48px;
		padding:0 20px;
	}

	.my-main .cont-main .top + section {
		margin-top:16px;
	}
	.my-main .cont-main h4 {
		line-height:26px;
		font-size:16px;
	}
	.my-main .cont-main h4 .num {
		padding-left:7px;
	}	
	.my-main .cont-main > div.my-car {
		padding:0;
	}
	.my-main .cont-main .my-car .top {
		padding:0 20px;		
	}
	.my-main .box-caution {
		padding:12px 32px 12px 24px;
	}


	.my-main .list-my-car .slide-item {	
		border-top:none;
		border:1px solid #e9e9e9;
		position:relative;
		flex-direction: column;
		min-height:572px;
	}
	.my-main .list-my-car .slide-item + .slide-item {
		border-left:none;
	}
	.my-main .list-my-car .slide-item:first-child {
		border-radius:8px 0 0 8px;
	}
	.my-main .list-my-car .slide-item:last-child {
		border-radius: 0 8px 8px 0 ;
	}
	
	.my-main .list-my-car .cont-box {
		padding:24px;
	}
	.my-main .list-my-car .item-tit {
		line-height:26px;
		font-size:16px;
	}
	.my-main .list-my-car .detail-box {
		min-height:166px;
		width: 100%;
	}
	.my-main .list-my-car .car-detail {
		width:100%;
	}
	.my-main .list-my-car .info {
		margin-top:16px;
		justify-content: space-between;
		width: 100%;
		height:68px;
		line-height:20px;
		font-size:12px;
	}
	.my-main .list-my-car .info dt {
		margin-top:4px;
		min-width:50%;
	}
	.my-main .list-my-car .info dd {
		margin-top:4px;
		width:50%;
		text-align: right;
	}
	.my-main .list-my-car .img-box {
		position:relative;
		top:0;
		left: 0;
		margin:0 auto;
		width:100%;
		padding:0 40px;
		height:auto;
	}
	.my-main .list-my-car .full-type {
		position:static;
		margin-top:24px;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height:216px;
	}
	
	.my-main .list-my-car .box-caution {
		position:absolute;
		bottom:0;
		margin:0;		
	}
	.my-main .list-my-car .swiper-container {
		border:none;
		padding:0 20px;
	}
	
	.my-main .swiper-pagination {
		margin-top:16px;
		position:static;
		line-height:8px;
	}
	.my-main .swiper-pagination-clickable .swiper-pagination-bullet {		
		margin:0 4px;
	}	


	.my-main .car-order .list-order .item {
		padding:24px;
	}
	.my-main .car-order .item-tit {
		line-height:26px;
		font-size:16px;
	}
	.my-main .car-order .item-sub-tit {
		display:block;
		padding-left:0;
		margin-top:4px;
		line-height:20px;
		font-size:13px;
		font-weight:500;
	}
	.my-main .car-order .info {
		margin-top:12px;
		width:100%;
		line-height:20px;
		font-size:12px;
	}
	.my-main .car-order .info dt {
		margin-top: 4px;
		min-width: 50%;
	}
	.my-main .car-order .info dd {
		margin-top: 4px;
		width: 50%;
		text-align: right;
	}
	.my-main .car-order .img-box {
		position:static;
		margin:32px auto 0;
		padding:0 40px;
		width: auto;
		height: auto;
	}
	.my-main .car-order .box-status {
		margin-top:16px;
		flex-direction: column;
	}
	.my-main .car-order .box-status .text {
		line-height:20px;
		font-size:13px;
	}
	.my-main .car-order .box-status li {
		width: 100%;
		margin-top:8px;
		padding:13px 16px;
		border-radius:8px;
		line-height:20px;
		font-size:13px;
	}
	.my-main .car-order .box-status li:first-child {
		margin-right:0;
		margin-top:0;
	}

	.my-main .shop-order h4 .htr {
		font-size:12px;
		line-height:20px;
	}
	.my-main .shop-order .list-order li:last-child {
		border-bottom:none;
	}
	.my-main .shop-order .list-order li:last-child .bottom-area {
		padding-bottom:0;
	}
	.my-main .shop-order .top-area {
		margin:0 -20px;
		padding:0 20px;
	}
	.my-main .shop-order .top-area .htr {
		line-height:20px;
		font-size:12px;
	}
	.my-main .shop-order .bottom-area {
		position:relative;
		padding:58px 0 48px;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.my-main .shop-order .status {
		position:absolute;
		top:24px;
		left:0;
		width: auto;
	}
	.my-main .shop-order .thumbnail {
		width: 96px;
		height: 96px;
	}	
	.my-main .shop-order .detail {
		width: calc(100% - 112px);
		padding-left:16px;
	}
	.my-main .shop-order .detail .name {
		line-height:20px;
		font-size:13px;
	}
	.my-main .shop-order .detail .count {
		margin-top:5px;
		line-height:20px;
		font-size:12px;
	}
	.my-main .shop-order .detail .count span + span::before {
		margin:0 8px;
	}
	.my-main .shop-order .detail .cont-text {
		margin-top: 8px;
	}
	.my-main .shop-order .btn-box {
		margin-top: 24px;
		width: 100%;
	}
	.my-main .shop-order .btn-box span {
		line-height:20px;
	}
	
	
	.my-main .cont-main > div.info-box {
		margin-top:80px;
	}
	.my-main .info-box section {
		padding:0;
		flex-flow: column wrap;
	}
	.my-main .info-box .box-tel {
		padding:32px 24px;
		min-width: 100%;
	}
	.mo .mo-btn {
		display:flex;
	}
	.my-main .info-box .box-tel .htr {
		margin-top: 12px;
		text-align: center;
	}
	.my-main .info-box .box-consult {
		padding:32px 24px;
		width: 100%;
		border-top:1px solid #e9e9e9;
	}
	.my-main .info-box .cta-outer {
		margin-top:16px;
	}
	.my-main .info-box .box-caution {
		margin:0;
	}


	.my-main .no-data {
		margin:0 20px;
		padding:72px 0 136px;
	}	
	.my-main .no-data .cta-outer {
		padding:0 24px;
	}
	.my-main .box-no-data .box-banner {
		margin-top:48px;
	}
	.my-main .box-no-data .type01 .swiper-wrapper .swiper-slide + .swiper-slide {
		margin-top:0;
	}
	.my-main .box-no-data .swiper-container {
		padding:0 20px;
	}
	.my-main .box-no-data .type02 .swiper-wrapper {
		flex-flow:nowrap row;
	}
	.my-main .box-no-data .type02 .swiper-slide {
		width:100%;
	}
	.my-main .box-no-data .type02 .swiper-slide:nth-child(even) {
		margin-left:0;
	}
	.my-main .box-no-data .swiper-slide .img img {
		width: 100%;
		height: auto;
	}
	.my-main .box-no-data .swiper-slide .text {
		top:21px;
		left:24px;
	}
	.my-main .box-no-data .swiper-slide .tit {
		font-size:14px;
		line-height:22px;
	}
	.my-main .box-no-data .swiper-slide .desc {
		line-height:20px;
		font-size:12px;
	}
}





/* E : My main MP-100 */


@charset "utf-8";

/* S: my order */
.my-order .ask {
    height: 56px;
}
.my-order .ask .search-form {
    display: inline-flex;
}
.my-order .ask .search-form .month-list {
    margin-right:7px;
    font-size: 12px;
    line-height: 20px;
}
.my-order .ask .search-form .month-list button {
    padding-right:16px;
    line-height: 40px;
    color:#666;
}
.my-order .ask .search-form .month-list button.on {
    color: #1c6bba;
    font-weight:500;
}
.my-order .ask .search-form .month-list button:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    margin-right: 16px;
    background-color: #e9e9e9;
}
.my-order .ask .search-form .date {
    min-width: 398px;
}
.my-order .ask .search-form .inp-item.date-picker {
    max-width: 140px;
}
.my-order .ask .slt-box {
    float: right;
}
.my-order .order-list > .info:not(:first-child) {
    margin-top:48px
}
.my-order .order-list > .info {
    height: 58px;
    line-height: 58px;
    border-top: 2px solid #191919;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fafafa;
}
.my-order .order-list > .info .date {
    font-size:16px;
    font-weight:500;
}
.my-order .order-list > .info a {
    display: block;
    padding:0 16px;
}
.my-order .order-list > .info .order-num {
    float:right;
    color:#666;
}
.my-order .order-list .item > li {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    padding:24px 0;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #e9e9e9;
}
.my-order .order-list .item li .goods {
    flex: auto;
    position: relative;
    width: 352px;
    min-height: 160px;
    padding-left: 176px;
}
.my-order .order-list .item li .goods .thumb {
    position: absolute;
    top: 0;
    left: 0;
}
.my-order .order-list .item li .goods .thumb img {
    width: 160px;
    height: 160px;
    border: 1px solid #e9e9e9;
}
.my-order .order-list .item li .goods .thumb {
    position: absolute;
    top: 0;
    left: 0;
}
.my-order .order-list .item li .goods .name {
    font-weight: 500;
    line-height: 22px;
}
.my-order .order-list .item li .goods .text {
    margin: 8px 0 16px;
    color: #999;
}
.my-order .order-list .item li .goods .text .option:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    margin: 0 16px;
    background-color: #ccc;
}
.my-order .order-list .item li .goods .price {
    font-size:16px;
    line-height:26px;
    font-weight:500;
}
.my-order .order-list .item li .status {
    width: 144px;
    margin: 0 16px;
    font-size: 16px;
    text-align: center;
}
.my-order .order-list .item li .status span {
    line-height: 26px;
}
.my-order .order-list .item li .status span:not(.return) {
    color: #1c6bba;
}
.my-order .order-list .item li .status span.return {
    color: #666;
}
.my-order .order-list .item li .status .btn-text {
    display: block;
}
.my-order .order-list .item li .cta-outer {
    width: 132px;
}
.my-order .order-detail > .cta-outer {
    margin: 40px 20px 80px;
}
.my-order .order-list .store {
    width: 100%;
    height: 70px;
    padding: 24px 0 16px;
    border-bottom: 1px solid #333;
}
.my-order .order-list .store .name {
    font-size: 18px;
    font-weight: 500;
}
.my-order .order-list .detail-list > li {
    margin-bottom: 40px;
}
.my-order .order-list .store:after {
    content: '';
    clear: both; 
    overflow: hidden;
}
.my-order .order-list .store .tooltip-outer {
    float: left;
    line-height: 30px;
}
.my-order .order-list .store .btn-icon {
    float: right;
    margin-top: 5px;
}
.my-order .order-list .store .tooltip-cont dl.info {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    line-height: 20px;
    font-size: 12px;
}
.my-order .order-list .store .tooltip-cont .info dt {
    padding-right:16px;
    color: #999;
}
.my-order .order-list .delivery-price {
    padding-top: 8px;
    text-align: right;
}
.my-order .order-list .delivery-price .s-text {
    color: #999;
    font-size: 12px;
}

.my-order .order-list .mo-toggle .tit-btn {
    display: none;
}
.my-order .order-list .mo-toggle {
    margin: 24px 0 -24px;
    border-top: 1px solid #e9e9e9;
    background-color: #fafafa;
}
.my-order .order-list .mo-toggle .item > .cont {
    padding: 0 16px;
}
.my-order .order-list .mo-toggle .cont .item {
    overflow: hidden;
    padding: 24px 0;
}
.my-order .order-list .mo-toggle .cont .item:not(:first-child) {
    border-top: 1px solid #e9e9e9;
}
.my-order .order-list .mo-toggle .cont .item ul {
    display: flex;
    flex-wrap: wrap;
}
.my-order .order-list .mo-toggle .cont .item li:not(:last-child) {
    width: 50%;
}
.my-order .order-list .mo-toggle .cont .item li {
    display: flex;
}
.my-order .order-list .mo-toggle .cont .item .cont-text {
    font-weight: 500;
    margin-bottom: 16px;
}
.my-order .order-list .mo-toggle .cont .item > li{
    margin-bottom: 16px;
}
.my-order .order-list .mo-toggle .cont .item li .tit {
    /* float: left; */
}
.my-order .order-list .mo-toggle .cont .item li.full {
    width: 100%;
    padding-top: 16px;
}
.my-order .order-list .mo-toggle .cont .item li.full span {
    display: block;
}
.my-order .order-list .mo-toggle .cont .item li.full span.s-tit {
    font-weight: 500;
}
.my-order .item .list-type1 .tit {
    color: #999;
}
.my-order .item .list-type1 .cont {
    flex: 1;
    color: #333;
    line-height: 22px;
}
.my-order .order-list .mo-toggle .cont .item li:not(.payment) .tit {
    width: 96px;
    padding-right:16px;
}
.my-order .order-list .mo-toggle .cont .item li.payment .price {
    display: inline-block;
    padding: 0 16px;
    font-weight: 500;
}
.my-order .order-list .mo-toggle .cont .item li.payment .price::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    margin-right: 16px;
    background-color: #ccc;
}
.my-order .order-list .mo-toggle .cont .item li.payment .date {
    display: inline-block;
    font-size: 12px;
    color:#999;
}
.my-order .order-list .mo-toggle .cont .caution.type2 {
    margin-top: 0;
    padding: 24px 16px;  
}
.my-order .item .title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
.my-order .order-detail .info-list .title {
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
}
.my-order .order-detail .info-list .item {
    margin-top: 80px;
}
.my-order .order-detail .info-list .item .list-type1 {
    margin-top: 24px;
}
.my-order .order-detail .info-list .item .list-type1 .tit {
    width: 144px;
    padding-right: 24px;
}
.my-order .order-detail .info-list .item .cont {
    flex: 1;
}
.my-order .order-detail .info-list .item .list-type1 li {
    display: flex;
    margin-top: 16px;
}
.my-order .order-detail .list-payment {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e9e9e9;
}
.my-order .order-detail .list-payment > li {
    flex-basis: 277px;
}
.my-order .order-detail .list-payment > li:nth-child(2) {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
.my-order .order-detail .list-payment > li:last-child {
    background-color: #fafafa;
}
.my-order .order-detail .list-payment li:first-child > .tit {
    margin-bottom: 8px;
    font-size: 16px;
    line-height:26px;
    font-weight: 500;
}
.my-order .order-detail .list-payment li:first-child > .price {
    font-size: 18px;
    line-height: 30px;
}
.my-order .order-detail .list-payment li:first-child .tit .s-text {
    font-size: 14px;
    font-weight: 400;
}
.my-order .order-detail .list-payment ul li:first-child {
    border-bottom:1px solid #e9e9e9;
}
.my-order .order-detail .list-payment ul li:last-child {
    padding-bottom: 34px;
}
.my-order .order-detail .list-payment ul li {
    padding: 24px;
    color: #333;
    line-height: 22px;
}
.my-order .order-detail .list-payment ul li:nth-child(2) {
    padding-bottom: 0;
}
.my-order .order-detail .list-payment li:not(:last-child) li:not(:first-child) .tit {
    color: #999;
}
.my-order .order-detail .list-payment .price {
    margin-top: 4px;
    font-weight: 500;
}
.my-order .order-detail .list-payment .date {
    font-size: 12px;
    color: #999;
}
.my-order .order-detail .item .caution-txt {
    text-align: right;
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}

.my-order .no-data::before {
    background: url(../images/common/ico_nodata_order.svg) no-repeat center;
}

@media screen and (max-width: 1119px) {
    .mo-block {
        display: block;
    }
    .my-order .ask {
        margin-top: 32px
    }
    .my-order .ask .search-form {
        display: none;
    }
    .my-order .ask .slt-box {
        margin-right: 20px;
    }
    .my-order .order-list > .info:not(:first-child) {
        margin-top: 24px;
    }
    .my-order .order-list > .info {
        border-top: 1px solid #191919;
        height: 54px;
        line-height: 54px;
    }
    .my-order .order-list > .info a {
        padding: 0 20px;
    }
    .my-order .order-list > .info .date {
        font-size: 14px;
    }
    .my-order .order-list > .info .order-num {
        font-size: 12px;
    }

    .my-order .order-list .item li {
        display: block;
        position: relative;
        border-bottom: none;
    }
    .my-order .cont-center:not(.order-detail) .order-list .item li {
        padding: 24px 20px;
    }
    .my-order .order-list .item > li:not(:first-child) {
        border-top:1px solid #e9e9e9;
    }
    .my-order .order-list .item li .goods {
        flex: unset;
        display: block;
        width: 100%;
        min-height: 96px;
        margin-top: 34px;
        padding-left: 112px;
    }
    .my-order .order-list .item li .goods .thumb img {
        width: 96px;
        height: 96px;
    }
    .my-order .order-list .item li .goods .name {
        font-size: 13px;
        line-height: 20px;
    }
    .my-order .order-list .item li .goods .text {
        margin: 4px 0 8px;
        font-size: 12px;
    }
    .my-order .order-list .item li .goods .text .option:after {
        margin: 0 8px;
    }
    .my-order .order-list .item li .goods .price {
        font-size: 14px;
        line-height: 22px;
    }
    .my-order .order-list .item li .status {
        position: absolute;
        top: 24px;
        left: 20px;
        width: 100%;
        margin: 0;
        font-size: 14px;
        text-align: left;
    }

    .my-order .order-list .store {
        height: 64px;
        padding: 32px 0 8px;
    }
    .my-order .order-list .store .name {
        font-size: 14px;
        line-height: 22px;
    }
    .my-order .order-detail .order-list .item li .status {
        left: 0;
    }
    .my-order .order-list .item li .cta-outer {
        width: 100%;
    }
    .my-order .order-list .item li .cta-outer button:first-child {
        margin-top: 24px;
    }
    .my-order .order-list .detail-list > li:not(:first-child) {
        margin-top: 40px;
        padding-top: 20px;
    }
    .my-order .order-list .detail-list > li {
        position: relative;
        padding: 0 20px;
    }
    .my-order .order-list .detail-list > li:not(:first-child)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: #f5f5f5;
    }
    .my-order .order-list .item li .status .btn-text {
        position: absolute;
        top: 0;
        right: 0;
    }
    .my-order .order-list .delivery-price {
        border-top: 1px solid #e9e9e9;
        font-size: 11px;
    }
    .my-order .order-list .delivery-price .s-text {
        font-size: 10px;
    }
    .my-order .order-list .mo-toggle {
        margin: 24px -20px -25px;
        padding: 0;
    }
    .my-order .order-list .mo-toggle .cont .item {
        font-size: 13px;
    }
    .my-order .order-list .mo-toggle .cont .item:first-child li.full {
        display: block;
    }
    .my-order .order-list .mo-toggle .cont .item li:not(.payment) {
        width: 100%;
    }
    .my-order .order-list .mo-toggle .cont .item li:not(:first-child) {
        padding-top: 16px;
    }
    .my-order .order-detail .item .list-type1 .tit {
        width: 96px;
        padding-right: 24px;
    }
    .my-order .order-detail .item .list-type1 .cont {
        text-align: right;
    }
    .my-order .order-list .mo-toggle .cont .item:first-child li.full .tit {
        margin-bottom: 4px;
    }
    .my-order .order-list .mo-toggle .cont .item:first-child li.full .cont {
        width: 100%;
        text-align: left;
    }
    .my-order .order-list .mo-toggle .cont .item li.payment {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .my-order .order-list .mo-toggle .cont .item li.payment .price {
        width: calc(100% - 120px);
        padding: 0;
        text-align: right;
    }
    .my-order .order-list .mo-toggle .cont .item li.payment .price::before {
        content: none;    
    }
    .my-order .order-list .mo-toggle .cont .item li.payment .date {
        display: block;
        font-size: 10px;
    }
    .my-order .order-list .mo-toggle .cont .item li.payment .cont {
        width: 100%;
    }
    .my-order .order-list .mo-toggle .cont .item:not(:first-child) li.full .cont {
        float:right;
    }
    .my-order .order-list .mo-toggle .tit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e9e9e9;
    }
    .my-order .order-list .mo-toggle .tit-btn::before {
        content: unset;
    }
    .my-order .order-list .mo-toggle .tit-btn:after {
		content: '';
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		width: 24px;
		height: 24px;
		background: transparent url(../images/mo/icon_arrows_down.svg) no-repeat center center;
	}
	.my-order .order-list .mo-toggle .active .tit-btn:after {
		-webkit-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
    
    .my-order .order-list .mo-toggle .item > .cont {
        padding: 0 20px;
    }
    .my-order .order-list .mo-toggle .cont .caution.type2 {
        padding: 24px 0;
    }
    .my-order .item .title {
        font-size: 16px;
        line-height: 26px;
    }
    .my-order .order-detail .info-list > .item {
        position: relative;
        margin-top:40px;
        padding:52px 20px 0;
        font-size: 13px;
    }
    .my-order .order-detail .info-list > .item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: #f5f5f5;
    }
    .my-order .order-detail .list-payment {
        display: block;
    }
    .my-order .order-detail .list-payment > li {
        padding: 24px 0;
    }
    .my-order .order-detail .list-payment ul li {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0 !important;
        border: none !important;
    }
    .my-order .order-detail .list-payment > li:nth-child(2) {
        border: none;
        border-top: 1px dashed #ccc;
        border-bottom: 1px dashed #ccc;
    }
    .my-order .order-detail .list-payment > li:last-child {
        margin: 0 -20px;
        padding: 24px 20px;
    }
    .my-order .order-detail .list-payment ul li:not(:first-child) {
        color: #999;
        font-size: 12px;
        line-height: 20px;
        font-weight: 4000;
    }
    .my-order .order-detail .list-payment li:first-child > .tit {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 22px;
    }
    .my-order .order-detail .list-payment li:first-child > .price {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
    }
    .my-order .order-detail .list-payment .tit {
        margin: 0;
        font-size: 12px;
    }
    .my-order .order-detail .list-payment .price {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
    }
    .my-order .order-detail .list-payment .date {
        clear: both;
        font-size: 10px;
        line-height: 16px;
    }
    .my-order .order-detail .list-payment > li:last-child li:not(:first-child) {
        display: block;
        position: relative;
    }
    .my-order .order-detail .list-payment > li:last-child li:not(:first-child) .price {
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
    }
    .my-order .order-detail .list-payment ul li:nth-child(2) {
        margin: 16px 0 8px;
    }
    .my-order .order-detail .list-payment  > li:last-child ul li:nth-child(2) {
        margin-bottom: 0;
    }
    .my-order .order-detail .list-payment  > li:last-child ul li:nth-child(3) {
        margin-top: 16px;
    }
    .my-order .order-detail .item .caution-txt {
        margin-top: 16px;
        font-size: 11px;
        line-height: 18px;
        text-align: left;
    }
    .my-order .order-detail > .cta-outer {
        margin-bottom: 56px;
    }
}

/* layer popup */
.pop-my-order .title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
.pop-my-order .title,
.pop-my-order .order-num {
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
    font-weight: 500;
}
.pop-my-order .order-num {
    font-size: 14px;
    line-height: 26px;
}
.pop-my-order .layer-cont > div:not(.prod-list) .title {
    margin-top: 48px;
    margin-bottom: 0;
}
.pop-my-order .all-chk {
    padding: 24px 0 16px;
    line-height: 22px;
    border-bottom: 1px solid #e9e9e9;
}
.pop-my-order .all-chk + .item {
    border-bottom: 1px solid #e9e9e9; 
}
.pop-my-order .prod-list .item > li {
    padding: 16px 0;
}
.pop-my-order .prod-list .item > li:not(:first-child) {
    border-top: 1px solid #e9e9e9;
}
.pop-my-order .prod-list .item li .goods {
    position: relative;
    min-height: 120px;
    padding: 0 136px;
}
.pop-my-order .prod-list .item .thumb {
    position: absolute;
    top: 0;
    left: 0;
}
.pop-my-order .prod-list .item .thumb .chk input + span {
    padding-left: 0;
}
.pop-my-order .prod-list .item .thumb img {
    width: 120px;
    height: 120px;
}
.pop-my-order .prod-list .item .name {
    font-weight: 500;
}
.pop-my-order .prod-list .item .goods > .option {
    margin-top: 8px;
    color: #999;
    line-height: 22px;
}
.pop-my-order .prod-list .item .amount-calc {
    margin-top: 16px;
}
.pop-my-order .prod-list .item .price {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -14px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.pop-my-order .form-area .select-group {
    padding: 24px 0 8px;
}
.pop-my-order .title {
    padding-bottom: 8px;
    border-bottom: 1px solid #333;
    font-weight: 500;
}
.pop-my-order .list-payment {
    margin: 24px 0 48px;
}
.pop-my-order .list-payment .title {
    margin-bottom: 8px;
}
.pop-my-order .list-payment .s-txt {
    font-size: 14px;
    font-weight: 400;
}
.pop-my-order .list-payment ul {
    padding: 16px 0 8px;
    border-bottom: 1px dotted #ccc;
}
.pop-my-order .list-payment > ul:last-child {
    border-bottom: 1px dotted #ccc;
}
.pop-my-order .list-payment li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.pop-my-order .list-payment li:not(:first-child) {
    margin-bottom: 8px;
    color: #999;   
}
.pop-my-order .list-payment li:first-child {
    margin-bottom: 16px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.pop-my-order .total {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top:16px;
    color: #e63312;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}
.pop-my-order .total .price {
    font-size: 20px;
}
.pop-my-order .prod-list + .total {
    margin-bottom: 32px;
    border-top: 1px dotted #ccc;
}
.pop-my-order .check-terms {
    padding: 32px 0 16px;
    text-align: center;
}
.layer-popup-wrap .pop-my-order .bottom-fixed .cta-outer {
    margin-top: 0;
}
.pop-my-order .info-list {
    margin-top: 16px;
    padding: 24px 16px;
    border-radius: 8px;
    background-color: #fafafa;
}
.pop-my-order .info-list .tit {
    width: 96px;
    padding-right: 16px;
    color: #999;
}
.pop-my-order .info-list .cont {
    flex: 1;
    color: #333;
    line-height: 22px;
}
.pop-my-order .info-list li {
    display: flex;
    flex-wrap: nowrap;
}
.pop-my-order .info-list li:not(:first-child) {
    margin-top: 16px;
}
.pop-my-order .complete-area {
    margin-bottom: 64px;
    text-align: center;
}
.pop-my-order .complete-area h4 {
    font-weight: 500;
}
.pop-my-order .complete-area::before {
    content: '';
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 16px;
    background: url(../images/common/ico_complete_order.svg) no-repeat center;
}
.pop-my-order .complete-area p.text-type1 {
    margin-top: 8px;
    color: #999;
    font-size: 16px;
    line-height: 26px;
}
.pop-my-order .prod-list .item .goods .text {
    margin-top: 8px;
    color: #999;
    line-height: 22px;
}
.pop-my-order .prod-list .item .goods .text .option:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 8px;
    margin: 0 16px;
    background-color: #ccc;
}
.pop-my-order div.caution.type2 li.accent {
    font-family: 'HyundaiSansHeadJP-Regular';
    color: #333;
}
@media screen and (max-width: 1119px) {
    .pop-my-order .form-area {
        margin: 16px -20px 0;
        padding: 0 20px 40px;
        border-top: 8px solid #f5f5f5;
        border-bottom: 8px solid #f5f5f5;
    }
    .pop-my-order .title {
        font-size: 16px;
        line-height: 26px;
    }
    .pop-my-order .layer-cont > div:not(.prod-list) .title {
        margin-top: 40px;
    }
    .pop-my-order .all-chk .chk input + span {
        font-size: 12px;
    }
    .pop-my-order .all-chk + .item {
        border-bottom: none;
    }
    .pop-my-order .prod-list .item > li {
        min-height: 96px;
        padding: 24px 0;
    }
    .pop-my-order .prod-list .item li .goods {
        min-height: 96px;
        padding-left: 112px;
        padding-right: 0;
    }
    .pop-my-order .prod-list .item li:last-child {
        border-bottom: none;
    }
    .pop-my-order .prod-list .item .thumb img {
        width: 96px;
        height: 96px;
    }
    .pop-my-order .prod-list .item .name {
        font-size: 13px;
    }
    .pop-my-order .prod-list .item .option {
        font-size: 12px;
    }
    .pop-my-order .prod-list .item .price-info {
        position: relative;
    }
    .pop-my-order .prod-list .item .price-info .price {
        top: unset;
        bottom: 0;
        font-size: 14px;
    }
    .pop-my-order .prod-list .item .goods .text + .price {
        position: relative;
        margin-top: 8px;
        font-size: 14px;
        line-height: 22px;    
    }
    .pop-my-order .prod-list .item .goods .text {
        font-size: 12px;
        line-height: 20px;
    }
    .pop-my-order .info-list {
        font-size: 12px;
    }
    .pop-my-order .info-list .cont {
        text-align: right;
    }
    .pop-my-order .form-area .select-group {
        padding-top: 16px;
    }
    .pop-my-order .list-payment {
        margin-bottom: 40px;
    }
    .pop-my-order .list-payment .s-txt {
        font-size: 12px;
    }
    .pop-my-order .list-payment li:first-child {
        font-size: 14px;
    }
    .pop-my-order .list-payment li:not(:first-child) {
        font-size: 12px; 
    }
    .pop-my-order .total {
        font-size: 14px;
        line-height: 26px;
    }
    .pop-my-order .total .price {
        font-size: 16px;
    }
    .pop-my-order .check-terms {
        padding: 16px 0;
        font-size: 12px;
        text-align: left;
    }
    .pop-my-order div.caution.type2 {
        margin: 0 -20px;
    }
    .pop-my-order .complete-area {
        margin-bottom: 48px;
    }
    .pop-my-order .complete-area::before {
        width: 64px;
        height: 64px;
        background-size: 64px;
    }
    .pop-my-order .complete-area p.text-type1 {
        font-size: 13px;
        line-height: 20px;
    }
}

/* E: my order */