@charset "utf-8";

/* common */
.my .cont-center {
	padding-top:60px;
}

/* S: my Coupon */
.my-coupon .list-coupon {
	display:flex;
	margin-bottom: 40px;	
	flex-wrap:wrap;	
}
.my-coupon .list-coupon .item {
	margin-top:40px;
	width:calc((100% - 40px) / 2);
}
.my-coupon .list-coupon .item:first-child,
.my-coupon .list-coupon .item:nth-child(2) {
	margin-top:0;
}
.my-coupon .list-coupon .item:nth-child(even) {
	margin-left:40px;
}

.my-coupon .coupon {
	display:flex;
	padding:20px 18px 20px 20px;
	border:1px solid #ccc;
}
.my-coupon .coupon .box-detail {
	display:flex;
	flex-direction: column;
	width:100%;
	height:114px;
}
.my-coupon .coupon .box-detail .text-flag {
	width:72px;
}
.my-coupon .coupon .box-detail .text-num {
	margin-top: 10px;
	height:42px;
	font-family: 'HyundaiSansHeadOffice';
	font-size:34px;
	font-weight:700;
}
.my-coupon .coupon .box-detail .text-num .text-yen {
	font-size: 32px;
	font-family: 'Noto Sans JP';
}
.my-coupon .coupon .box-detail .text-detail {
	margin-top:auto;
	max-height:42px;
	line-height:21px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.my-coupon .coupon .box-day {
	position:relative;
	padding-top:56px;
	padding-left:47px;
	min-width:82px;
	text-align: center;
}
.my-coupon .coupon .box-day::before {
	content:'';
	position:absolute;
	top:-22px;
	left:21px;
	width:16px;
	height:158px;
	background:#fff url('../images/common/ico_coupon_border.svg') no-repeat center;
}
.my-coupon .coupon .box-day::after {
	content:'';
	position:absolute;
	top:37px;
	left:55px;
	width:20px;
	height:20px;
	background:url('../images/common/ico_coupon_calendar.svg') no-repeat;
}

.my-coupon .coupon .box-day .img-calendar {
	display:inline-block;
}
.my-coupon .coupon .box-day .text-day {
	color:#00aad2;
	font-size:12px;
}

.my-coupon .item .info {
	margin-top:10px;
}
.my-coupon .item .info li {
	line-height:20px;
	font-size:12px;
	font-weight:300;
}
.my-coupon .item.disabled  {
	color:#999;		
}
.my-coupon .item.disabled .coupon .box-day::after {
	top:46px;
	background:url('../images/common/ico_coupon_calendar_disalbed.svg');
}

.my-coupon .item.disabled .coupon .box-day .text-day {
	display:none;
}

.my-coupon .hmj-pagination {
	border-top:1px solid #ccc;
}

.none-data {
	width:100%;
	height:410px;
	padding-top:145px;
	padding-bottom:20px;
	text-align: center;
}
.none-data .text-info::before {
	content:'';
	display:block;
	margin: 0 auto 20px;
	width:80px;
	height:80px;
	background:url('../images/common/ico_none-coupon.svg') no-repeat;
}
.none-data .text-info {
	font-weight:300;
}
.my-coupon .caution {
	margin-top:40px;
}

@media screen and (max-width: 1119px) {
	.my .cont-center {
		padding-top:20px;
	}
	.my-coupon .list-coupon .item {
		width:100%;
	}
	.my-coupon .list-coupon .item:nth-child(even) {
		margin-left:0;
	}
	.my-coupon .list-coupon .item:nth-child(2) {
		margin-top:40px;
	}
	.my-coupon .coupon {
		padding:20px 12px 20px 20px;
	}
	.my-coupon .coupon .box-day {
		min-width: 68px;
		padding-top:58px;
		padding-left:33px;
	}
	.my-coupon .coupon .box-day::before {
		left:13px;
	}
	.my-coupon .coupon .box-day::after {
		left:41px;
	}

	.none-data {
		padding-top:20px;		
		height:auto;
	}
	.none-data .text-info::before {
		margin:0 auto 16px;
	}
}

/* E: my Coupon */