@charset "utf-8";

/* Test Drive */
.test-drive .map {
	line-height: 0;
}
.intro-map {
	position: relative;
	margin-bottom: -200px;
}
.intro-map .search {
	padding: 20px;
	background-color: #fff;
	position: absolute;
	top: 40px;
	left: 40px;
	width: 360px;
	background-color: #FFF;
}
.intro-map .search .slt-box {
	margin-bottom: 6px;
}
.intro-map .map {
	height: 100%;
}
.intro-map .result {
	position: absolute;
	top: 188px;
	left: 40px;
	width: 360px;
	height: calc(100% - 228px);
	background-color: #FFF;
	padding: 20px 0;
}
.intro-map .result .scroll-area {
	height: calc(100% - 96px);
	overflow-y: auto;
}
.intro-map .result .branch-info {
	padding-left: 20px;
	width: 340px;
}
.intro-map .result .cta-outer {
	padding: 40px 20px 0;
}


.branch-info .text-flag {
	margin-bottom: 10px;
}
.branch-info .name {
	font-size: 24px;
	color: #002c5f;
	line-height: 1.47;
	margin-bottom: 20px;
}
.branch-info .detail li{
	line-height: 1.5;
	padding-left: 28px;
	background-size: 18px 18px;
	display: table;
}
.branch-info .detail li + li {
	margin-top: 16px;
}
.branch-info .detail li > span{
	color: #777;
	display: table-cell;
	width: 96px;
	padding-right: 40px;
}
.branch-info .detail .address {
	background: transparent url('../images/common/ico_branch_map.svg') no-repeat left 2px;
}
.branch-info .detail .call {
	background: transparent url('../images/common/ico_branch_call.svg') no-repeat left 2px;
}
.branch-info .detail .hour {
	background: transparent url('../images/common/ico_branch_hour.svg') no-repeat left 2px;
}
.branch-info .detail .service {
	background: transparent url('../images/common/ico_branch_car.svg') no-repeat left 2px;
}
.branch-info .detail .date {
	background: transparent url('../images/common/ico_branch_date.svg') no-repeat left 2px;
}

/* .intro-map .result .cta-outer {	
	position: absolute;
	bottom: 0;
} */

.test-drive .service-step {
	text-align: center;
	height:60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 60px;
}
.test-drive .request .map {
	margin: 20px 0;
	height: 400px;
}
.test-drive .request .caution {
	margin: 40px 0;
}
.test-drive .request .cta-outer {
	margin-top: 40px;
}
.test-drive .request .car-select label {
	display: block;
	margin-right: 0;
	margin-bottom: 20px;
}
.test-drive .request .inp-outer-box2:not(:first-child) {
	margin-top: 40px;
}
.test-drive .request .select-hour {
	display: flex;
	flex-wrap: wrap;
	margin-right: -8px;
	margin-bottom: -8px;
}
.test-drive .request .select-hour .btn-select {
	width: 228px;
	margin-right: 8px;
	margin-bottom: 8px;
}
.request-info {}
.request-info ul {
	border-top: 1px solid #000;
}
.request-info li {
	display: flex;
	padding: 15px 0;
	align-items: baseline;
	border-bottom: 1px dotted #ccc;
}
.request-info li:last-child {
	border-bottom-style: solid;
}
.request-info .item {
	color: #666;
	width: 135px;
	padding-right: 20px;
}
.request-info .txt {
	flex: 1 0;
}
.request-info + .check-terms {
	margin-top: 20px;
}

.layer-cont.pop-hold-car,
.layer-cont.pop-location  {
	padding-top: 0;
}
.pop-hold-car .list li{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0;
	border-bottom: 1px dotted #ccc;
}
.pop-hold-car .list li:last-child{
	border-bottom-style: solid;
}
.pop-hold-car .list li .thumb {
	width: 134px;
	height: 72px;
	margin-right: 20px;
}
.pop-hold-car .list li .info p {
	line-height: 21px;
}
.pop-hold-car .list li .info .name {
	font-weight: 500;
}

.pop-location .map {
	margin: 0 -40px 40px;
	height: 286px;
}




@media screen and (max-width: 1119px) {
	.intro-map {
		margin-bottom: 0;
	}
	.intro-map .search, .intro-map .result {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
	.intro-map .map {
		height: 55.56vw;
	}
	.intro-map .result {
		padding-bottom: 0;
	}

	.test-drive .service-step {
		margin-bottom: 20px;
	}
	.test-drive .request .map {
		height: 200px;
	}
	.test-drive .request .select-hour .btn-select {
		width: calc(50% - 8px)
	}

	.pop-location .map {
		margin: 0 -20px 20px;
		height: 55.56vw;
	}
}