@charset "utf-8";
/* Main shop-visual */
.shop-visual {
    width: 100%;
    max-width: 1920px;
    height: 536px;
    max-height: 536px;
    margin: 0 auto 72px;
    position: relative;
}
.shop-visual .copy-area {
    width: 1120px;
    position: absolute;
    left: 50%;
    top: 141px;
    margin-left: -560px;
    z-index: 2;
    color: #FFF;
}
.shop-visual .copy-area .tit {
    font-size: 40px;
    font-weight: 500;
    line-height: 64px;
    margin-bottom: 16px;
}
.shop-visual .copy-area .txt {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 8px;
}
.shop-visual .img-area {
    position: relative;
    width: 100%;
    height: 536px;
    overflow: hidden;
}
.shop-visual .img-area img {
    min-width: 1920px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.shop-visual .control-area {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 363px;
    height: 40px;
    margin-right: -560px;
    padding: 0 16px;
    background-color: rgba(25,25,25,.5);
    border-radius: 20px;
    position: absolute;
    right: 50%;
    bottom: 40px;
    z-index: 2;
}
.shop-visual [class*='swiper-button-'] {
    width: 24px;
    height: 24px;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
}
.shop-visual [class*='swiper-button-']::after {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../images/common/ico_play_arrow.svg') no-repeat center;
}
.shop-visual .swiper-button-prev::after {
    transform: rotate(-180deg);
}
.shop-visual .swiper-control {
    width: 24px;
    height: 24px;
    background: url('../images/common/ico_play_stop.svg') no-repeat center;
    font-size: 0;
}
.shop-visual .swiper-control.stop {
    background-image: url('../images/common/ico_play_start.svg');
}
.shop-visual .swiper-pagination-custom {
    width: auto;
    flex: 1 auto;
    display: flex;
    align-items: center;
    position: relative;
    bottom: auto;
    color: #FFF;
}
.shop-visual [class*='swiper-page-'] {
    width: 21px;
    display: inline-block;
    font-size: 12px;
    margin-top: 1px;
}
.shop-visual .bar-progress {
    width: 185px;
    height: 1px;
    background-color: rgba(255,255,255,.4);
    margin: 0 8px;
    text-align: left;
    position: relative;
}
.shop-visual .bar-ing {
    display: block;
    height: 100%;
    background-color: #fff;
    -webkit-animation: progressbar 3.4s ease-out forwards;
    animation: progressbar 3.4s ease-out forwards;
}

@keyframes progressbar{
    0% {width:0}
    to {width:100%}
}
@-webkit-keyframes progressbar{
    0% {width:0}
    to {width:100%}
}

@media screen and (max-width: 1119px) {
    .shop-visual {
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin: 0;
        border-bottom: 12px solid #f5f5f5;
    }
    .shop-visual .swiper-container {
        height: 100%;
    }
    .shop-visual .copy-area {
        width: calc(100% - 32px);
        margin-left: 0;
        margin-bottom: -24px;
        padding: 24px;
        background-color: #fff;
        color: #191919;
        position: relative;
        left: 32px;
        top: -24px;
    }
    .shop-visual .copy-area .tit {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 32px;
    }
    .shop-visual .copy-area .txt {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 20px;
    }
    .shop-visual .copy-area .etc {
        font-size: 13px;
    }
    .shop-visual .img-area {
        max-width: 100%;
        height: 71.111vw;
        max-height: 450px;
    }
    .shop-visual .img-area img{
        -o-object-fit: cover;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }
    .shop-visual .control-area {
        width: calc(100% - 32px);
        height: 32px;
        margin-right: 0;
        padding: 0 20px 0 24px;
        position: relative;
        left: 32px;
        right: auto;
        bottom: auto;
        margin-bottom: 24px;
        background-color: transparent;
    }
    .shop-visual [class*='swiper-button-'] {
        width: 32px;
        height: 32px;
    }
    .shop-visual [class*='swiper-button-']::after {
        background-image: url('../images/mo/ico_play_arrow.svg');
    }
    .shop-visual .swiper-control {
        width: 32px;
        height: 32px;
        background-image: url('../images/mo/ico_play_stop.svg')
    }
    .shop-visual .swiper-control.stop {
        background-image: url('../images/mo/ico_play_start.svg');
    }
    .shop-visual .swiper-pagination-custom {
        color: #666
    }
    .shop-visual [class*='swiper-page-'] {
        width: 19px;
        font-size: 13px;
        line-height: 20px;
    }
    .shop-visual .bar-progress {
        width: 97px;
        height: 2px;
        background-color: #e9e9e9;
    }
    .shop-visual .bar-ing {
       background-color: #666; 
    }
}
.shop-main {
    color: #000;
}
.shop-main h3 {
    font-weight: 500;
    margin-bottom: 64px;
    text-align: center;
}
@media screen and (max-width: 1119px) {
    .shop-main h3 {
        margin: 32px 0 16px;
        text-align: left;
    }
}

/* Main curation-list */
.curation-list {
    margin-bottom: 112px;
}
.curation-list img {
    width: 100%;
    height: auto;
}
.curation-list .swiper-wrapper {
    flex-direction: column;
}
.curation-list ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.curation-list ul li + li {
    margin-top: 72px;
}
.curation-list .cont-area {
    width: 544px;
    margin-right: 32px;
}
.curation-list .cont-area .tit {
    height: 32px;
    margin: 16px 0 8px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.curation-list .cont-area .txt {
    width: 100%;
    max-height: 66px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 14px;
    line-height: 22px;
}
.curation-list .goods-list {
    flex: 1 1;
    margin-top: -24px;
}
.curation-list .goods-list .item {
    border-bottom: 1px solid #e9e9e9;
    padding: 24px 0;
}
.curation-list .goods-list .item > a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: url('../images/common/ico_arrow_right_gray4.svg') no-repeat right 91px;
}
.curation-list .goods-list .item .thumb {
    width: 136px;
    height: 136px;
}
.curation-list .goods-list .item .info {
    flex: 1 1;
    margin-left: 16px;
}
.curation-list .cta-outer {
    margin-top: 32px;
}
.curation-list .swiper-pagination {
    visibility: hidden;
}

.goods-list .info .tit {
    height: 52px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.goods-list .info .price .real {
    font-size: 16px;
    line-height: 26px;
    color: #999;
    text-decoration: line-through;
}
.goods-list .info .price .sale {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 32px;
}
.goods-list .info .price .rate {
    color: #0793ea;
    margin-right: 16px;
    font-weight: 500;
}
.goods-list .info .price .final {
    margin-right: 8px;
    font-weight: 500;
}
.goods-list .info .price .tax {
    font-size: 12px;
    line-height: 20px;
}

@media screen and (max-width: 1119px) {
    .curation {
        padding: 0 20px !important;
    }
    .curation-list {
        margin-bottom: 40px;
    }
    .curation-list .swiper-wrapper {
        flex-direction: row;
    }
    .curation-list ul li {
        flex-direction: column;
    }
    .curation-list ul li + li {
        margin-top: 0;
    }
    .curation-list .cont-area {
        width: 100%;
    }
    .curation-list .cont-area .tit {
        width: calc(100% - 52px);
        height: 54px;
        padding-top: 24px;
        margin-top: -24px;
        background-color: #FFF;
        font-size: 18px;
        line-height: 30px;
        position: relative;
        z-index: 1;
    }
    .curation-list .cont-area .txt {
        font-size: 13px;
        line-height: 20px;
    }
    .curation-list .goods-list {
        margin-top: 24px;
        border-top: 1px solid #e9e9e9;
    }
    .curation-list .goods-list .item > a {
        background: none;
    }
    .curation-list .goods-list .item .thumb {
        width: 96px;
        height: 96px;
    }
    .curation-list .goods-list .info .tit {
        font-size: 14px;
        line-height: 22px;
        height: 44px;
        margin-bottom: 6px;
    }
    .curation-list .goods-list .info .price .real {
        font-size: 12px;
        line-height: 20px;
    }
    .curation-list .goods-list .info .price .sale {
        font-size: 16px;
        line-height: 26px;
    }
    .curation-list .cta-outer {
        margin-top: 24px;
    }
    .curation-list .swiper-pagination {
        margin-top: 26px;
        position: static;
    }
    .curation-list .swiper-pagination-bullet {
        margin: 0 4px;
    }
}

/* Main shop-cate */
.cont-outer.shop-cate {
    background-color: #f6f3f2;
}
.cont-outer.shop-cate h3 {
    padding-top: 56px;
}
.cont-outer.shop-cate .cont-inner {
    padding-bottom: 32px;
}   
.shop-cate .cate-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.shop-cate .cate-list li {
    margin-bottom: 24px;
}
.shop-cate .cate-list li + li {
    margin-left: 24px;
}
.shop-cate .cate-list li a {
    display: block;
    width: 204px;
    height: 128px;
    background: #FFF;
    border-radius: 4px;
    padding:16px;
    position: relative;
}
.shop-cate .cate-list li a::after {
    content: '';
    display: block;
    width: 62px;
    height:32px;
    background: url('../images/common/ico_arrow_right_gray.svg') no-repeat right bottom;
    position: absolute;
    bottom: 16px;
    right: 16px;
    opacity: .45;
}
.shop-cate .cate-list li a:hover {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.08);
}
.shop-cate .cate-list li a:hover::after {
    background: url('../images/common/ico_shop_cate1.svg') no-repeat right bottom;
    opacity: 1;
}
.shop-cate .cate-list li a span {
    display: inline-block;
    width: 140px;
    font-size: 20px;
    line-height: 32px;
}

@media screen and (max-width: 1119px) {
    .cont-outer.shop-cate {
        padding: 0 20px !important;
    }
    .cont-outer.shop-cate h3 {
        padding-top: 32px;
        margin-top: 0;
    }
    .shop-cate .cate-list {
        flex-direction: column;
    }
    .shop-cate .cate-list li {
        margin-bottom: 0;
    }
    .shop-cate .cate-list li + li {
        margin-left: 0;
        margin-top: 8px;
    }
    .shop-cate .cate-list li a {
        width: 100%;
        height: 64px;
        padding: 0 16px;
    }
    .shop-cate .cate-list li a span {
        font-size: 14px;
        line-height: 64px;
    }
}