<div class="cm-apply-info">
    <div class="cm-apply-info__inner">
        <!-- 구매 상담 신청 내역 확인 -->
        <div class="cm-apply-info__content">
            <div class="cm-layout__header">
                <strong class="info-title"><span class="el-name">차대현</span>님께서 상담 신청하신 차량은 <span class="el-model">G80</span>입니다.</strong>
                <p class="info-desc">고객님의 상담 신청 내역을 확인하세요.<br>신청 완료 버튼 선택 시, 상담 신청이 정상적으로 완료됩니다.</p>
            </div>
            <div class="cm-layout__table">
                <div class="cm-table type-row">
                    <table>
                        <caption>구매 상담 신청 내역</caption>
                        <tbody>
                            <tr>
                                <th scope="row">신청자 이름</th>
                                <td>차대현</td>
                            </tr>
                            <tr>
                                <th scope="row">휴대폰</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th scope="row">이메일</th>
                                <td>genesis@hyundai.com</td>
                            </tr>
                            <tr>
                                <th scope="row">구매 희망 차량</th>
                                <td>
                                    <div class="info-option">
                                        <em>모델명</em>GV80 2.5 가솔린 4WD 5인승 22인치<br>
                                        <em>외장색</em>리마 레드<br>
                                        <em>내장색</em>울트라마린 블루/듄 베이지 투톤(올리브 애쉬)<br>
                                        <em>옵션&amp;패키지</em>컨비니언스패키지, 드라이빙 어시스턴스 패키지 Ⅱ, 파퓰러패키지, 파노라마썬루프, 빌트인 캠 패키지
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">신청 지점</th>
                                <td>삼성지점 / 02-556-5105 / 서울특별시 강남구 영동대로 706</td>
                            </tr>
                            <tr>
                                <th scope="row">담당 카마스터</th>
                                <td>미지정 (센터 자동 배정)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn type-white">
                    <span class="text">이전</span>
                    <span class="masker"><span>이전</span></span>
                </a>
                <a href="#" class="cm-btn">
                    <span class="text">신청 완료</span>
                    <span class="masker"><span>신청 완료</span></span>
                </a>
            </div>
        </div>
        <!-- // 구매 상담 신청 내역 확인 -->
        <!-- 구매 상담 신청 접수 실패 -->
        <div class="cm-apply-info__content">
            <div class="cm-layout__notify">
                <strong class="notify-title">구매 상담 신청이<br>정상적으로 이루어지지 않았습니다.</strong>
                <p class="notify-desc">구매 상담 신청을 다시 진행해주세요.<br>불편을 드려 죄송합니다.</p>
            </div>
            <div class="cm-layout__cta">
                <a href="#" class="cm-btn">
                    <span class="text">구매 상담 신청</span>
                    <span class="masker"><span>구매 상담 신청</span></span>
                </a>
            </div>
        </div>
        <!-- // 구매 상담 신청 접수 실패 -->
        <!-- 구매 상담 신청 내역 조회 -->
        <div class="cm-apply-info__content">
            <div class="cm-layout__header">
                <strong class="info-title"><span class="el-name">차대현</span>님께서 시승 신청하신 차량은 <span class="el-model">G80</span>입니다.</strong>
            </div>
            <div class="cm-layout__table">
                <div class="cm-table type-row">
                    <table>
                        <caption>구매 상담 신청 내역</caption>
                        <tbody>
                            <tr>
                                <th scope="row">신청자 이름</th>
                                <td>차대현</td>
                            </tr>
                            <tr>
                                <th scope="row">휴대폰</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th scope="row">이메일</th>
                                <td>genesis@hyundai.com</td>
                            </tr>
                            <tr>
                                <th scope="row">구매 희망 차량</th>
                                <td>
                                    <div class="info-option">
                                        <em>모델명</em>GV80 2.5 가솔린 4WD 5인승 22인치<br>
                                        <em>외장색</em>리마 레드<br>
                                        <em>내장색</em>울트라마린 블루/듄 베이지 투톤(올리브 애쉬)<br>
                                        <em>옵션&amp;패키지</em>컨비니언스패키지, 드라이빙 어시스턴스 패키지 Ⅱ, 파퓰러패키지, 파노라마썬루프, 빌트인 캠 패키지
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">신청 지점</th>
                                <td>삼성지점 / 02-556-5105 / 서울특별시 강남구 영동대로 706</td>
                            </tr>
                            <tr>
                                <th scope="row">담당 카마스터</th>
                                <td>미지정 (센터 자동 배정)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn type-white">
                    <span class="text">견적 내기</span>
                    <span class="masker"><span>견적 내기</span></span>
                </a>
                <a href="#" class="cm-btn js-layer-opener" data-layer-target="#confirm-cancell-layer">
                    <span class="text">구매 상담 취소</span>
                    <span class="masker"><span>구매 상담 취소</span></span>
                </a>
            </div>
        </div>
        <!-- // 구매 상담 신청 내역 조회 -->
        <!-- 구매 상담 신청 내역 조회 (내역없음) -->
        <div class="cm-apply-info__content">
            <div class="cm-layout__notify">
                <strong class="notify-title">구매 상담 신청 이력이 없습니다.</strong>
            </div>
            <!-- [D] Mobile 버튼 순서가 PC와 다를 경우 : .is-mo-revers 클래스 추가 -->
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn">
                    <span class="text">구매 상담 신청</span>
                    <span class="masker"><span>구매 상담 신청</span></span>
                </a>
            </div>
        </div>
        <!-- // 구매 상담 신청 내역 조회 (내역없음) -->
        <!-- 구매 상담 신청 내역 조회 (취소) -->
        <div class="cm-apply-info__content">
            <div class="cm-layout__notify">
                <strong class="notify-title">구매 상담 신청이 취소 되었습니다.</strong>
            </div>
            <!-- [D] Mobile 버튼 순서가 PC와 다를 경우 : .is-mo-revers 클래스 추가 -->
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn">
                    <span class="text">구매 상담 신청</span>
                    <span class="masker"><span>구매 상담 신청</span></span>
                </a>
            </div>
        </div>
        <!-- // 구매 상담 신청 내역 조회 (취소) -->
        <!-- 구매 상담 신청 내역 조회 (중복 신청) -->
        <div class="cm-apply-info__content">
            <div class="cm-layout__header">
                <strong class="info-title">이미 구매 상담 신청하신 이력이 있습니다.</strong>
                <p class="info-desc">구매상담의 재신청 가능일은 2020-04-17 입니다.</p>
            </div>
            <div class="cm-layout__table">
                <div class="cm-table type-row">
                    <table>
                        <caption>시승 신청 내역</caption>
                        <tbody>
                            <tr>
                                <th scope="row">신청자 이름</th>
                                <td>차대현</td>
                            </tr>
                            <tr>
                                <th scope="row">휴대폰</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th scope="row">이메일</th>
                                <td>genesis@hyundai.com</td>
                            </tr>
                            <tr>
                                <th scope="row">구매 희망 차량</th>
                                <td>
                                    <div class="info-option">
                                        <em>모델명</em>GV80 2.5 가솔린 4WD 5인승 22인치<br>
                                        <em>외장색</em>리마 레드<br>
                                        <em>내장색</em>울트라마린 블루/듄 베이지 투톤(올리브 애쉬)<br>
                                        <em>옵션&amp;패키지</em>컨비니언스패키지, 드라이빙 어시스턴스 패키지 Ⅱ, 파퓰러패키지, 파노라마썬루프, 빌트인 캠 패키지
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">신청 지점</th>
                                <td>삼성지점 / 02-556-5105 / 서울특별시 강남구 영동대로 706</td>
                            </tr>
                            <tr>
                                <th scope="row">담당 카마스터</th>
                                <td>미지정 (센터 자동 배정)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn type-white">
                    <span class="text">견적 내기</span>
                    <span class="masker"><span>견적 내기</span></span>
                </a>
                <a href="#" class="cm-btn">
                    <span class="text">구매 상담 취소</span>
                    <span class="masker"><span>구매 상담 취소</span></span>
                </a>
            </div>
        </div>
        <!-- // 구매 상담 신청 내역 조회 (중복 신청) -->
    </div>
</div>