<div class="cm-apply-info">
    <div class="cm-apply-info__inner">
        <!-- [D] 비활성화 시 : display:none 처리 -->
        <!-- 신청 내역 확인 -->
        <!-- [D] 시승센터 이용고객 유의 사항 활성화시 .has-precaution 클래스 추가-->
        <div class="cm-apply-info__content page-apply" style="display:block;">
            <div class="cm-layout__header">
                <strong class="info-title"><span class="el-name">차대현</span>님께서 시승 신청하신 차량은 <span class="el-model">G70</span>입니다.</strong>
                <p class="info-desc">고객님의 시승 신청 내역을 확인하세요.<br> 신청 완료 버튼 선택 시, 시승 신청이 정상적으로 완료됩니다.</p>
            </div>
            <div class="cm-layout__table">
                <div class="cm-table type-row">
                    <table>
                        <caption>시승 신청 내역</caption>
                        <tbody>
                            <tr>
                                <th scope="row">신청자 이름</th>
                                <td>차대현</td>
                            </tr>
                            <tr>
                                <th scope="row">휴대폰</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th scope="row">시승 희망 차량</th>
                                <td>G70 자가용 가솔린 3.3T Prestige AWD 20MY</td>
                            </tr>
                            <tr>
                                <th scope="row">신청일</th>
                                <td>2020년 3월 19일 / 12시</td>
                            </tr>
                            <tr>
                                <th scope="row">신청 지점</th>
                                <td>삼성지점 / <br class="mo-space">02-556-5105 <br class="mo-space">/ 서울특별시 강남구 영동대로 706</td>
                            </tr>
                            <tr>
                                <th scope="row">시승 구분</th>
                                <td>찾아가는 시승서비스</td>
                            </tr>
                            <tr>
                                <th scope="row">방문 위치</th>
                                <td>서울 강남구 삼성로126길 5 23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- [D] Mobile 버튼 순서가 PC와 다를 경우 : .is-mo-revers 클래스 추가 -->
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn type-white">
                    <span class="text">이전</span>
                    <span class="masker"><span>이전</span></span>
                </a>
                <a href="#" class="cm-btn">
                    <span class="text">신청 완료</span>
                    <span class="masker"><span>신청 완료</span></span>
                </a>
            </div>
            <div class="cm-layout__notice">
                <div class="cm-layout__notice__inner">
                    <strong class="notice-title">시승센터 이용고객 유의 사항</strong>
                    <ul class="notice-list">
                    <li class="list-text">1. 시승 전 운전면허증을 확인하오니, 운전면허증을 꼭 지참해 주시기 바랍니다.</li>
                    <li class="list-text">2. 보험 적용 기준에 따라 만21세 이상의 고객님만 시승이 가능합니다.</li>
                    <li class="list-text">3. 다음 시승 예약 고객님을 위해 시승 예약 시간을 준수해 주시기 바랍니다.
                        <ul class="notice-sub-list">
                        <li class="list-text">예약 변동사항이 있을 경우 시승센터 혹은 담당 카마스터(영업사원)에게 사전 연락을 부탁 드립니다. </li>
                        <li class="list-text">고객님과의 연락이 두절되는 경우 시승예약이 자동 취소될 수 있습니다.</li>
                        <li class="list-text">시승시간은 차량 준비 및 이동시간을 포함하여 총 2시간 입니다. <br class="pc-space">단, 주말 오후 5시 타임 시승은 1시간 입니다.(17:00~18:00)</li>
                        </ul>
                    </li>
                    <li class="list-text">4. 현대자동차를 이미 구매하셨거나 현재 계약 상담을 진행하고 있으신 경우 시승센터에서 문의 시 말씀 부탁 드립니다.</li>
                    <li class="list-text">5. 시승 고객님의 안전한 운행을 위해 시승 시에는 카마스터가 동승합니다. 과속,위험운전 및 기타 운행이 불가능하다고 판단될 경우 고객님의 안전을 위해 시승이 제한 될 수 있습니다.</li>
                    <li class="list-text">6. 시승서비스는 고객님께서 차량을 구매하기 전 관심차종을 경험할 수 있는 기회를 드리고자 제공되는 서비스입니다. 따라서 개인적 용도로 시승차를 이용하려는 경우 시승이 제한 될 수 있습니다.
                        <ul class="notice-sub-list">
                        <li class="list-text">시승구간은 시승희망지 주변 코스이며, 시승 후에는 출발지로 돌아와야 합니다.</li>
                        </ul>
                    </li>
                    <li class="list-text">7. 많은 고객님께 시승서비스를 제공하기 위해 고객님 한분당 연간 6회까지 시승 신청이 가능합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- // 신청 내역 확인 -->
        <!-- 신청 내역 확인 (실패) -->
        <div class="cm-apply-info__content page-fail" style="display:block;">
            <div class="cm-layout__notify">
                <strong class="notify-title">시승 신청이 정상적으로 이루어지지 않았습니다.</strong>
                <p class="notify-desc">시승 신청을 다시 진행해주세요. <br class="mo-space">불편을 드려 죄송합니다.</p>
            </div>
            <div class="cm-layout__cta">
                <a href="#" class="cm-btn">
                    <span class="text">시승 신청</span>
                    <span class="masker"><span>시승 신청</span></span>
                </a>
            </div>
        </div>
        <!-- // 신청 내역 확인 (실패) -->
        <!-- 신청 내역 조회 -->
        <!-- [D] 시승센터 이용고객 유의 사항 활성화시 .has-precaution 클래스 추가-->
        <div class="cm-apply-info__content page-apply has-precaution" style="display:block;">
            <div class="cm-layout__header">
                <strong class="info-title"><span class="el-name">차대현</span>님께서 시승 신청하신 차량은 <span class="el-model">G70</span>입니다.</strong>
            </div>
            <div class="cm-layout__table">
                <div class="cm-table type-row">
                    <table>
                        <caption>시승 신청 내역</caption>
                        <tbody>
                            <tr>
                                <th scope="row">신청자 이름</th>
                                <td>차대현</td>
                            </tr>
                            <tr>
                                <th scope="row">휴대폰</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th scope="row">시승 희망 차량</th>
                                <td>G70 자가용 가솔린 3.3T Prestige AWD 20MY</td>
                            </tr>
                            <tr>
                                <th scope="row">신청일</th>
                                <td>2020년 3월 19일 / 12시</td>
                            </tr>
                            <tr>
                                <th scope="row">신청 지점</th>
                                <td>삼성지점 / <br class="mo-space">02-556-5105 <br class="mo-space">/ 서울특별시 강남구 영동대로 706</td>
                            </tr>
                            <tr>
                                <th scope="row">시승 구분</th>
                                <td>찾아가는 시승서비스</td>
                            </tr>
                            <tr>
                                <th scope="row">방문 위치</th>
                                <td>서울 강남구 삼성로126길 5 23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- [D] Mobile 버튼 순서가 PC와 다를 경우 : .is-mo-revers 클래스 추가 -->
            <div class="cm-layout__cta">
                <a href="#" class="cm-btn type-white js-layer-opener" data-layer-target="#testdrive-total-history-layer">
                    <span class="text">전체 내역 보기</span>
                    <span class="masker"><span>전체 내역 보기</span></span>
                </a>
                <a href="#" class="cm-btn js-layer-opener" data-layer-target="#confirm-cancell-layer">
                    <span class="text">시승 신청 취소</span>
                    <span class="masker"><span>시승 신청 취소</span></span>
                </a>
            </div>
            <div class="cm-layout__notice">
                <div class="cm-layout__notice__inner">
                    <strong class="notice-title">시승센터 이용고객 유의 사항</strong>
                    <ul class="notice-list">
                    <li class="list-text">1. 시승 전 운전면허증을 확인하오니, 운전면허증을 꼭 지참해 주시기 바랍니다.</li>
                    <li class="list-text">2. 보험 적용 기준에 따라 만21세 이상의 고객님만 시승이 가능합니다.</li>
                    <li class="list-text">3. 다음 시승 예약 고객님을 위해 시승 예약 시간을 준수해 주시기 바랍니다.
                        <ul class="notice-sub-list">
                        <li class="list-text">예약 변동사항이 있을 경우 시승센터 혹은 담당 카마스터(영업사원)에게 사전 연락을 부탁 드립니다. </li>
                        <li class="list-text">고객님과의 연락이 두절되는 경우 시승예약이 자동 취소될 수 있습니다.</li>
                        <li class="list-text">시승시간은 차량 준비 및 이동시간을 포함하여 총 2시간 입니다. <br class="pc-space">단, 주말 오후 5시 타임 시승은 1시간 입니다.(17:00~18:00)</li>
                        </ul>
                    </li>
                    <li class="list-text">4. 현대자동차를 이미 구매하셨거나 현재 계약 상담을 진행하고 있으신 경우 시승센터에서 문의 시 말씀 부탁 드립니다.</li>
                    <li class="list-text">5. 시승 고객님의 안전한 운행을 위해 시승 시에는 카마스터가 동승합니다. 과속,위험운전 및 기타 운행이 불가능하다고 판단될 경우 고객님의 안전을 위해 시승이 제한 될 수 있습니다.</li>
                    <li class="list-text">6. 시승서비스는 고객님께서 차량을 구매하기 전 관심차종을 경험할 수 있는 기회를 드리고자 제공되는 서비스입니다. 따라서 개인적 용도로 시승차를 이용하려는 경우 시승이 제한 될 수 있습니다.
                        <ul class="notice-sub-list">
                        <li class="list-text">시승구간은 시승희망지 주변 코스이며, 시승 후에는 출발지로 돌아와야 합니다.</li>
                        </ul>
                    </li>
                    <li class="list-text">7. 많은 고객님께 시승서비스를 제공하기 위해 고객님 한분당 연간 6회까지 시승 신청이 가능합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- // 신청 내역 조회 -->
        <!-- 신청 내역 조회 (내역없음) -->
        <div class="cm-apply-info__content page-no-details" style="display:block;">
            <div class="cm-layout__notify">
                <strong class="notify-title">현재 진행 중인 시승 신청 내역이 없습니다.</strong>
            </div>
            <!-- [D] Mobile 버튼 순서가 PC와 다를 경우 : .is-mo-revers 클래스 추가 -->
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn type-white js-layer-opener" data-layer-target="#testdrive-total-history-layer">
                    <span class="text">전체 내역 보기</span>
                    <span class="masker"><span>전체 내역 보기</span></span>
                </a>
                <a href="#" class="cm-btn">
                    <span class="text">시승 신청</span>
                    <span class="masker"><span>시승 신청</span></span>
                </a>
            </div>
        </div>
        <!-- // 신청 내역 조회 (내역없음) -->
        <!-- 신청 내역 조회 (취소) -->
        <div class="cm-apply-info__content page-cancel" style="display:block;">
            <div class="cm-layout__notify">
                <strong class="notify-title">시승 신청이 정상적으로 취소되었습니다.</strong>
            </div>
            <!-- [D] Mobile 버튼 순서가 PC와 다를 경우 : .is-mo-revers 클래스 추가 -->
            <div class="cm-layout__cta is-mo-revers">
                <a href="#" class="cm-btn type-white js-layer-opener" data-layer-target="#testdrive-total-history-layer">
                    <span class="text">전체 내역 보기</span>
                    <span class="masker"><span>전체 내역 보기</span></span>
                </a>
                <a href="#" class="cm-btn">
                    <span class="text">시승 신청</span>
                    <span class="masker"><span>시승 신청</span></span>
                </a>
            </div>
        </div>
        <!-- // 신청 내역 조회 (취소) -->
        <!-- 신청 내역 조회 (횟수 초과) -->
        <div class="cm-apply-info__content page-excess" style="display:block;">
            <div class="cm-layout__notify">
                <strong class="notify-title">올해 가능한 시승서비스를 모두 사용하셨습니다.</strong>
                <p class="notify-desc">보다 많은 고객님께 시승서비스를 제공하기 위해 고객님 한 분당 연간 6회까지 시승 신청이 가능합니다. <br class="pc-space">아쉽지만 내년에 다시 신청해주세요.</p>
            </div>
            <div class="cm-layout__cta">
                <a href="#" class="cm-btn js-layer-opener" data-layer-target="#testdrive-total-history-layer">
                    <span class="text">전체 내역 보기</span>
                    <span class="masker"><span>전체 내역 보기</span></span>
                </a>
            </div>
        </div>
        <!-- // 신청 내역 조회 (횟수 초과) -->
        <!-- 신청 내역 조회 (중복 신청) -->
        <!-- [D] 시승센터 이용고객 유의 사항 활성화시 .has-precaution 클래스 추가-->
        <div class="cm-apply-info__content page-reapply has-precaution" style="display:block;">
            <div class="cm-layout__header">
                <strong class="info-title">이미 시승 신청하신 이력이 있습니다.</strong>
                <p class="info-desc">최근 10일 이내 시승서비스를 신청하신 이력이 있습니다. 시승서비스를 다시 신청하시려면 시승을 원하시는 시승센터로 전화 연락 부탁드립니다. 시승 신청 서비스는 1년 6회까지 가능합니다.</p>
            </div>
            <div class="cm-layout__table">
                <div class="cm-table type-row">
                    <table>
                        <caption>시승 신청 내역</caption>
                        <tbody>
                            <tr>
                                <th scope="row">신청자 이름</th>
                                <td>차대현</td>
                            </tr>
                            <tr>
                                <th scope="row">휴대폰</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th scope="row">시승 희망 차량</th>
                                <td>G70 자가용 가솔린 3.3T Prestige AWD 20MY</td>
                            </tr>
                            <tr>
                                <th scope="row">신청일</th>
                                <td>2020년 3월 19일 / 12시</td>
                            </tr>
                            <tr>
                                <th scope="row">신청 지점</th>
                                <td>삼성지점 / <br class="mo-space">02-556-5105 <br class="mo-space">/ 서울특별시 강남구 영동대로 706</td>
                            </tr>
                            <tr>
                                <th scope="row">시승 구분</th>
                                <td>찾아가는 시승서비스</td>
                            </tr>
                            <tr>
                                <th scope="row">방문 위치</th>
                                <td>서울 강남구 삼성로126길 5 23</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cm-layout__cta">
                <a href="#" class="cm-btn type-white js-layer-opener" data-layer-target="#testdrive-total-history-layer">
                    <span class="text">전체 내역 보기</span>
                    <span class="masker"><span>전체 내역 보기</span></span>
                </a>
                <a href="#" class="cm-btn js-layer-opener" data-layer-target="#confirm-cancell-layer">
                    <span class="text">시승 신청 취소</span>
                    <span class="masker"><span>시승 신청 취소</span></span>
                </a>
            </div>
            <div class="cm-layout__notice">
                <div class="cm-layout__notice__inner">
                    <strong class="notice-title">시승센터 이용고객 유의 사항</strong>
                    <ul class="notice-list">
                    <li class="list-text">1. 시승 전 운전면허증을 확인하오니, 운전면허증을 꼭 지참해 주시기 바랍니다.</li>
                    <li class="list-text">2. 보험 적용 기준에 따라 만21세 이상의 고객님만 시승이 가능합니다.</li>
                    <li class="list-text">3. 다음 시승 예약 고객님을 위해 시승 예약 시간을 준수해 주시기 바랍니다.
                        <ul class="notice-sub-list">
                        <li class="list-text">예약 변동사항이 있을 경우 시승센터 혹은 담당 카마스터(영업사원)에게 사전 연락을 부탁 드립니다. </li>
                        <li class="list-text">고객님과의 연락이 두절되는 경우 시승예약이 자동 취소될 수 있습니다.</li>
                        <li class="list-text">시승시간은 차량 준비 및 이동시간을 포함하여 총 2시간 입니다. <br class="pc-space">단, 주말 오후 5시 타임 시승은 1시간 입니다.(17:00~18:00)</li>
                        </ul>
                    </li>
                    <li class="list-text">4. 현대자동차를 이미 구매하셨거나 현재 계약 상담을 진행하고 있으신 경우 시승센터에서 문의 시 말씀 부탁 드립니다.</li>
                    <li class="list-text">5. 시승 고객님의 안전한 운행을 위해 시승 시에는 카마스터가 동승합니다. 과속,위험운전 및 기타 운행이 불가능하다고 판단될 경우 고객님의 안전을 위해 시승이 제한 될 수 있습니다.</li>
                    <li class="list-text">6. 시승서비스는 고객님께서 차량을 구매하기 전 관심차종을 경험할 수 있는 기회를 드리고자 제공되는 서비스입니다. 따라서 개인적 용도로 시승차를 이용하려는 경우 시승이 제한 될 수 있습니다.
                        <ul class="notice-sub-list">
                        <li class="list-text">시승구간은 시승희망지 주변 코스이며, 시승 후에는 출발지로 돌아와야 합니다.</li>
                        </ul>
                    </li>
                    <li class="list-text">7. 많은 고객님께 시승서비스를 제공하기 위해 고객님 한분당 연간 6회까지 시승 신청이 가능합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- // 신청 내역 조회 (중복 신청) -->
    </div>
</div>