<!DOCTYPE html>
<html lang="ko">
<head>
<title>Tabs</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div style="font-size:16px;padding:20px 0">
        <dl>
        <dt>Column 옵션</dt>
        <dd>- 2 Column : .type-2column</dd>
        <dd>- 3 Column : .type-3column</dd>
        <dd>- 4 Column ~ : .type-4column</dd>
        </dl>
    </div>

    <!-- component (2 Column) -->
    <div class="type-light">
        <div class="cp-tabs type-2column">
            <div class="cp-tabs__inner">
                <div class="cp-tabs__list">
                    <div class="cp-tabs__item is-active">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
    <div style="height:100px;"></div>
    <!-- component (3 Column) -->
    <div class="type-light">
        <div class="cp-tabs type-3column">
            <div class="cp-tabs__inner">
                <div class="cp-tabs__list">
                    <div class="cp-tabs__item is-active">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
    <div style="height:100px;"></div>
    <!-- component (4 Column) -->
    <div class="type-light">
        <div class="cp-tabs type-4column">
            <div class="cp-tabs__inner">
                <div class="cp-tabs__list">
                    <div class="cp-tabs__item is-active">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                    <div class="cp-tabs__item">
                        <a href="#">
                            <span class="display-pc">작고 바이며, 바이며, 교향악이다.</span>
                            <span class="display-mo">작고 바이며, 바이며, 교향악이다.</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
