<!DOCTYPE html>
<html>
<head>
<title>Full Width Image & Text</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="font-size:16px;padding:20px 0">
        <p>1) 상/중/하 정렬 : .align-top / .align-middle / .align-bottom</p>
        <p>2) 좌/중/우 정렬 : .align-left / .align-center / .align-right</p>
        <p>3) (모바일) 애니메이션 페이드/스크롤 타입  : (default) / data-parallax-type 속성추가</p>
    </div>

    <!-- component -->
    <div class="type-dark">
        <div class="cp-text-module align-top align-left">
            <div class="cp-text-module__parallax">
                <div class="cp-text-module__parallax-wrap">
                    <div class="cp-text-module__parallax-space">
                        <div class="cp-text-module__inner">
                            <div class="cp-text-module__img">
                                <div class="js-picture">
                                    <div class="js-img-bg" data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1920x960"></div>
                                    <div class="js-img-bg" data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x1280"></div>
                                </div>
                            </div>
                            <div class="cp-text-module__content">
                                <div class="cp-text-module__content-inner">
                                    <div class="cp-text-module__eyebrow js-animate">
                                        <p class="el-eyebrow">Genesis global text</p>
                                    </div>
                                    <div class="cp-text-module__title js-animate">
                                        <h2 class="el-title">Genesis global text</h2>
                                    </div>
                                    <div class="cp-text-module__sub-title js-animate">
                                        <strong class="el-sub-title">Genesis global text</strong>
                                    </div>
                                    <div class="cp-text-module__desc js-animate">
                                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs 
                                            <span class="cm-tooltip js-tooltip">
                                                <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                <span class="cm-tooltip-layer">
                                                    <span class="cm-tooltip-layer__inner">
                                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                        <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                    </span>
                                                </span>
                                            </span>
                                            the globe
                                        </p>
                                    </div>
                                    <div class="cp-text-module__cta js-animate">
                                        <a href="#" class="cm-btn">
                                            <span class="text">Primary Button</span>
                                            <span class="masker"><span>Primary Button</span></span>
                                        </a>
                                        <a href="#" class="cm-btn type-white">
                                            <span class="text">Secondary Button</span>
                                            <span class="masker"><span>Secondary Button</span></span>
                                        </a>
                                    </div>
                                    <div class="cp-text-module__disclaimer js-animate">
                                        <p class="el-disclaimer">* We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- component -->
    <div class="type-dark">
        <!-- [D] 모바일 모션타입이 텍스트와 이미지가 겹치지 않을 경우 data-parallax-type 추가 -->
        <div class="cp-text-module align-top align-left" data-parallax-type>
            <div class="cp-text-module__parallax">
                <div class="cp-text-module__parallax-wrap">
                    <div class="cp-text-module__parallax-space">
                        <div class="cp-text-module__inner">
                            <div class="cp-text-module__img">
                                <div class="js-picture">
                                    <div class="js-img-bg" data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1920x960"></div>
                                    <div class="js-img-bg" data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x1280"></div>
                                </div>
                            </div>
                            <div class="cp-text-module__content">
                                <div class="cp-text-module__content-inner">
                                    <div class="cp-text-module__eyebrow js-animate">
                                        <p class="el-eyebrow">Genesis global text</p>
                                    </div>
                                    <div class="cp-text-module__title js-animate">
                                        <h2 class="el-title">Genesis global text</h2>
                                    </div>
                                    <div class="cp-text-module__sub-title js-animate">
                                        <strong class="el-sub-title">Genesis global text</strong>
                                    </div>
                                    <div class="cp-text-module__desc js-animate">
                                        <p class="el-desc">We strive to create the finest automobiles and related products and services for connoisseurs 
                                            <span class="cm-tooltip js-tooltip">
                                                <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                <span class="cm-tooltip-layer">
                                                    <span class="cm-tooltip-layer__inner">
                                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                        <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                    </span>
                                                </span>
                                            </span>
                                            the globe
                                        </p>
                                    </div>
                                    <div class="cp-text-module__cta js-animate">
                                        <a href="#" class="cm-btn">
                                            <span class="text">Primary Button</span>
                                            <span class="masker"><span>Primary Button</span></span>
                                        </a>
                                        <a href="#" class="cm-btn type-white">
                                            <span class="text">Secondary Button</span>
                                            <span class="masker"><span>Secondary Button</span></span>
                                        </a>
                                    </div>
                                    <div class="cp-text-module__disclaimer js-animate">
                                        <p class="el-disclaimer">* We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <div style="height:1000px"></div>
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
