<div class="cm-layer type-alert financial-program-popup js-cm-layer" id="financial-program-layer">
    <span class="cm-layer__dimmed"></span>
    <div class="cm-layer__body">
        <div class="cm-layer__wrapper" role="dialog">
            <div class="cm-layer__title">
                <strong>제네시스 구매 프로그램 전체보기</strong>
            </div>
            <div class="cm-layer__content">
                <div class="financial-program-popup__table">
                    <div class="financial-program-popup__table-pc">
                        <div class="cm-table type-column">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">할부유형</th>
                                        <th scope="col">GV80</th>
                                        <th scope="col">G70</th>
                                        <th scope="col">G80</th>
                                        <th scope="col">G90</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>표준형</td>
                                        <td>월 62.2만원</td>
                                        <td>월 39.5만원</td>
                                        <td>월 54.3만원</td>
                                        <td>월 81.0만원</td>
                                    </tr>
                                    <tr>
                                        <td>잔가보장형</td>
                                        <td>월 30.6만원</td>
                                        <td>월 24.5만원</td>
                                        <td>월 33.8만원</td>
                                        <td>월 50.1만원</td>
                                    </tr>
                                    <tr>
                                        <td>거치형</td>
                                        <td>월 15.8만원 (이후 월 100.8만원)</td>
                                        <td>월 10.0만원 (이후 월 63.9 만원)</td>
                                        <td>월 13.8만원 (이후 월 88.1 만원)</td>
                                        <td>월 20.6만원 (이후 월 131.4만원)</td>
                                    </tr>
                                    <tr>
                                        <td>유예형</td>
                                        <td>월 15.3만원</td>
                                        <td>월 9.7만원</td>
                                        <td>월 13.3만원</td>
                                        <td>월 19.9만원</td>
                                    </tr>
                                    <tr>
                                        <td>차량가</td>
                                        <td>6,067만원 (2.5T 기본모델)</td>
                                        <td>3,848만원 (2.0T 어드밴스드)</td>
                                        <td>5,291만원 (2.5T 기본모델)</td>
                                        <td>7,903만원 (3.8 럭셔리)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="financial-program-popup__table-mo">
                        <div class="cm-table type-row">
                            <strong class="table-caption">표준형</strong>
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row">GV80</th>
                                        <td>월 62.2만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G70</th>
                                        <td>월 39.5만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G80</th>
                                        <td>월 54.3만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G90</th>
                                        <td>월 81.0만원</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cm-table type-row">
                            <strong class="table-caption">잔가보장형</strong>
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row">GV80</th>
                                        <td>월 30.6만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G70</th>
                                        <td>월 24.5만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G80</th>
                                        <td>월 33.8만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G90</th>
                                        <td>월 50.1만원</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cm-table type-row">
                            <strong class="table-caption">거치형</strong>
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row">GV80</th>
                                        <td>월 15.8만원 <br>(이후 월 100.8만원)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G70</th>
                                        <td>월 10.0만원 <br>(이후 월 63.9만원)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G80</th>
                                        <td>월 13.8만원 <br>(이후 월 88.1만원)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G90</th>
                                        <td>월 20.6만원 <br>(이후 월 131.4만원)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cm-table type-row">
                            <strong class="table-caption">유예형</strong>
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row">GV80</th>
                                        <td>월 15.3만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G70</th>
                                        <td>월 9.7만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G80</th>
                                        <td>월 13.3만원</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G90</th>
                                        <td>월 19.9만원</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cm-table type-row">
                            <strong class="table-caption">차량가</strong>
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row">GV80</th>
                                        <td>6,067만원 <br>(2.5T 기본모델)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G70</th>
                                        <td>3,848만원 <br>(2.0T 어드밴스드)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G80</th>
                                        <td>5,291만원 <br>(2.5T 기본모델)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">G90</th>
                                        <td>7,903만원 (3.8 럭셔리)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="financial-program-popup__content">
                    <div class="financial-program-popup__info-wrap">
                        <div class="financial-program-popup__info">
                            <strong class="info-title">금리 / 선수율(공통)</strong>
                            <p class="info-desc">표준형 : 4.5%, 잔가보장형/유예형 : 5.5%, 거치형 : 5.7% / 선수율 45%</p>
                        </div>
                        <div class="financial-program-popup__info">
                            <strong class="info-title">잔가보장형/유예형 유예율</strong>
                            <p class="info-desc">잔가보장형 : 승용 40%, RV 45% / 유예형 : 55%</p>
                        </div>
                        <div class="financial-program-popup__info">
                            <strong class="info-title">할부기간</strong>
                            <p class="info-desc">표준형 : 60개월 / 잔가보장형/유예형 : 36개월 / 거치형 : 1년 거치 + 3년 상환</p>
                        </div>
                    </div>
                    <div class="financial-program-popup__disc">
                        <p class="financial-disc">＊ 제네시스 구매 프로그램 관련 자세한 내용은 가까운 지점/대리점에서 상담 바랍니다.</p>
                    </div>
                </div>
                <div class="cm-layer__cta">
                    <button type="button" class="cm-btn js-layer-closer">
                        <span class="text">확인</span>
                        <span class="masker"><span>확인</span></span>
                    </button>
                </div>
            </div>
            <div class="cm-layer__close-wrap">
                <button type="button" class="js-layer-closer">
                    <span class="js-svg-icon" data-icon="svg-cross"></span>
                    <span class="blind">Close popup</span>
                </button>
            </div>
        </div>
    </div>
</div>
