<!DOCTYPE html>
<html>
<head>
<title>Change your Region</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="cp-change-region spread-fix" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="cp-change-region__inner">
                <div class="region-accordion">
                    <div class="region-accordion-list">
                        <div class="region-accordion-item">
                            <button type="button" class="accordion-btn">Asia &amp; Pacific<span class="blind"></span><span class="ico-accordion"></span></button>
                            <div class="region-accordion-panel">
                                <div class="accordion-panel-inner">
                                    <ul class="cp-change-region__list">
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-china.jpg" alt=""></div>
                                            <div class="region-title"><strong>China</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/cn" class="el-desc" target="_blank">http://www.genesis.com/cn</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">12, Heolleung-ro, Seocho-gu, Seoul, Korea</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+82-2-3464-1114</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-korea.jpg" alt=""></div>
                                            <div class="region-title"><strong>South Korea</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/kr" class="el-desc" target="_blank">http://www.genesis.com/kr</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">12, Heolleung-ro, Seocho-gu, Seoul, Korea</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+82-2-3464-1114</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+82-2-3464-3477</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-au.jpg" alt=""></div>
                                            <div class="region-title"><strong>Australia</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/au" class="el-desc" target="_blank">http://www.genesis.com/au</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">Locked Bag 2018, North Ryde BC, NSW 1670</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+61-2-8873-6000</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+61-2-8873-6005</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="region-accordion-item">
                            <button type="button" class="accordion-btn">Middle East<span class="blind"></span><span class="ico-accordion"></span></button>
                            <div class="region-accordion-panel">
                                <div class="accordion-panel-inner">
                                    <ul class="cp-change-region__list">
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-bh.jpg" alt=""></div>
                                            <div class="region-title"><strong>Bahrain</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/bh" class="el-desc" target="_blank">http://www.genesis.com/bh</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">Building 90, Road 3402, Block 634, Ma’ameer - Kingdom of Bahrain</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+973 17 121 121</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-kw.jpg" alt=""></div>
                                            <div class="region-title"><strong>Kuwait</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/kw" class="el-desc" target="_blank">http://www.genesis.com/kw</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">P.O. Box 25908, Safat 13120, Kuwait</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+965-180-8444</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+965-483-9265</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-om.jpg" alt=""></div>
                                            <div class="region-title"><strong>Oman</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/om" class="el-desc" target="_blank">http://www.genesis.com/om</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">P.O. Box 175, Muscat, Sultanate of Oman</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+968-92-760-369</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+968-24-561-925</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-qa.jpg" alt=""></div>
                                            <div class="region-title"><strong>Qatar</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/qa" class="el-desc" target="_blank">http://www.genesis.com/qa</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">Al Waab Complex - Salwa Road (From decoration intersection)</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">4489 1100 | 4489 1111</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-sa.jpg" alt=""></div>
                                            <div class="region-title"><strong>Saudi Arabia</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/sa-dammam" class="el-desc" target="_blank">http://www.genesis.com/sa-dammam</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">P.O. Box 336, Damman 31411, KSA</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+966-3-819-8430</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+966-3-843-7874</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-sa.jpg" alt=""></div>
                                            <div class="region-title"><strong>Saudi Arabia</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/sa-jeddah" class="el-desc" target="_blank">http://www.genesis.com/sa-jeddah</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">P.O. Box 704, Jeddah 21421, KSA</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+966-504-594-602</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+966-2-640-3329</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-sa.jpg" alt=""></div>
                                            <div class="region-title"><strong>Saudi Arabia</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/sa-jeddah" class="el-desc" target="_blank">http://www.genesis.com/sa-riyadh</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">P.O. Box 3176, Riyadh 11471, KSA</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+966-9200-09884</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+966-11-493-2238</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-ae.jpg" alt=""></div>
                                            <div class="region-title"><strong>UAE</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/ae" class="el-desc" target="_blank">http://www.genesis.com/ae</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">P.O. Box 156, Al Ittihad Road, Deira, Dubai UAE</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+971-4-605-6666</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+971-4-269-0784</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-logo.jpg" alt=""></div>
                                            <div class="region-title"><strong>Other Countries</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/middleeast" class="el-desc" target="_blank">http://www.genesis.com/middleeast</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="region-accordion-item">
                            <button type="button" class="accordion-btn">North America<span class="blind"></span><span class="ico-accordion"></span></button>
                            <div class="region-accordion-panel">
                                <div class="accordion-panel-inner">
                                    <ul class="cp-change-region__list">
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-ca.jpg" alt=""></div>
                                            <div class="region-title"><strong>Canada</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/ca" class="el-desc" target="_blank">http://www.genesis.com/ca</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">75 Frontenac Drive, Markham, Ontario L3R 6H2, Canada</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+1-866-999-9895</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Email</p></div>
                                                <div class="info-desc"><a href="mailto:experience@genesis.ca" class="el-desc">experience@genesis.ca</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-us.jpg" alt=""></div>
                                            <div class="region-title"><strong>USA</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/us" class="el-desc" target="_blank">http://www.genesis.com/us</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">P.O.Box 20850 Fountain Valley, CA 92728-0850 United States of America</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+1-714-965-3000</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+1-714-965-3816</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-logo.jpg" alt=""></div>
                                            <div class="region-title"><strong>Worldwide</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/worldwide" class="el-desc" target="_blank">http://www.genesis.com/worldwide</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="region-accordion-item">
                            <button type="button" class="accordion-btn">Europe<span class="blind"></span><span class="ico-accordion"></span></button>
                            <div class="region-accordion-panel">
                                <div class="accordion-panel-inner">
                                    <ul class="cp-change-region__list">
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-ru.jpg" alt=""></div>
                                            <div class="region-title"><strong>Russia</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/ru" class="el-desc" target="_blank">http://www.genesis.com/ru</a></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Address</p></div>
                                                <div class="info-desc"><p class="el-desc">123317 Moscow, Russia, ul.Testovskaya, 10, North Tower</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Phone</p></div>
                                                <div class="info-desc"><p class="el-desc">+7-495-988-4714</p></div>
                                            </div>
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Fax</p></div>
                                                <div class="info-desc"><p class="el-desc">+7-495-988-4715</p></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-logo.jpg" alt=""></div>
                                            <div class="region-title"><strong>Worldwide</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/worldwide" class="el-desc" target="_blank">http://www.genesis.com/worldwide</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="region-accordion-item">
                            <button type="button" class="accordion-btn">Africa<span class="blind"></span><span class="ico-accordion"></span></button>
                            <div class="region-accordion-panel">
                                <div class="accordion-panel-inner">
                                    <ul class="cp-change-region__list">
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-logo.jpg" alt=""></div>
                                            <div class="region-title"><strong>Worldwide</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/worldwide" class="el-desc" target="_blank">http://www.genesis.com/worldwide</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="region-accordion-item">
                            <button type="button" class="accordion-btn">Central &amp; <br class="br-mo">South America<span class="blind"></span><span class="ico-accordion"></span></button>
                            <div class="region-accordion-panel">
                                <div class="accordion-panel-inner">
                                    <ul class="cp-change-region__list">
                                    <li>
                                        <div class="cp-change-region__title">
                                            <div class="region-ico"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-logo.jpg" alt=""></div>
                                            <div class="region-title"><strong>Worldwide</strong></div>
                                        </div>
                                        <div class="cp-change-region__info">
                                            <div class="info-list">
                                                <div class="info-title"><p class="el-title">Website</p></div>
                                                <div class="info-desc info-url"><a href="http://www.genesis.com/worldwide" class="el-desc" target="_blank">http://www.genesis.com/worldwide</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
