<div class="cm-form-check type-purchase">
    <div class="cm-form-check__inner">
        <div class="cm-form-check__header">
            <div class="cm-form-check__title">
                <h3 class="el-title">개인정보의 수집, 이용, 처리위탁에 관한 동의</h3>
            </div>
            <div class="cm-form-check__desc">
                <p class="el-desc">현대자동차 주식회사(이하 ‘회사’)는 다음과 같이 고객님의 개인정보를 수집·이용·처리위탁 합니다.<br>다음의 내용을 충분히 읽어보신 후, 동의 여부에 체크하여 주시기 바랍니다.</p>
            </div>
        </div>
        <div class="cm-form-check__body">
            <form action="#">
                <div class="cm-form-check__agree">
                    <ul class="el-agree-list">
                    <!-- [D] 활성화 시 : .is-active 클래스 추가 -->
                    <!-- [D] 전체 선택 타입 : .type-checkall 클래스 추가 -->
                    <li class="type-checkall">
                        <div class="el-agree-list__check">
                            <!-- [D] 에러 시 : .has-error 클래스 추가 -->
                            <div class="cm-input-wrap">
                                <!-- [D] 체크 시 : .is-checked 클래스 추가 및 input에 checked 속성 추가-->
                                <div class="cm-checkbox js-chkbox-wrap">
                                    <input type="checkbox" id="agreeCheck" name="agreeCheck" class="cm-checkbox__input">
                                    <label for="agreeCheck" class="cm-checkbox__label"><span class="s-box"></span><span class="s-label">개인정보 수집, 이용, 처리위탁, 광고성 정보 수신에 모두 동의합니다.</span></label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="is-active">
                        <div class="el-agree-list__check">
                            <!-- [D] 에러 시 : .has-error 클래스 추가 -->
                            <div class="cm-input-wrap has-error">
                                <!-- [D] 체크 시 : .is-checked 클래스 추가 및 input에 checked 속성 추가-->
                                <div class="cm-checkbox js-chkbox-wrap">
                                    <input type="checkbox" id="agreeCheck01" name="agreeCheck" class="cm-checkbox__input">
                                    <label for="agreeCheck01" class="cm-checkbox__label"><span class="s-box"></span><span class="s-label">1. 개인정보 수집·이용에 대하여 동의합니다. <span class="s-txt-highlight">(필수)</span></span></label>
                                </div>
                                <div class="cm-input-message">
                                    <!-- [D] 에러/유효성 메세지 노출 시 : display:block 처리 -->
                                    <p class="cm-message-error" style="display:block">개인정보 수집, 이용에 동의해주세요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="el-agree-list__info">
                            <div class="el-agree-list__info-box">
                                <ul>
                                <li>&#9632; 개인정보의 수집·이용 목적
                                    <ul>
                                    <li>- 구매상담 신청 확인, 구매상담</li>
                                    </ul>
                                </li>
                                <li>&#9632; 수집하는 개인정보의 항목
                                    <ul>
                                    <li>- 이름, 휴대전화 번호, 이메일, 구매상담 희망 차종, 구매상담 희망 지역(지점/대리점)</li>
                                    </ul>
                                </li>
                                <li>&#9632; 개인정보의 보유·이용 기간
                                    <ul>
                                    <li>- 고객님 개인정보는 신청일 기준 1년간 보관되며, 기간 만료 후 자동 폐기됩니다.</li>
                                    </ul>
                                </li>
                                </ul>
                                <p>&#8251; 위 개인정보 수집·이용에 동의하지 않으실 수 있으나, 동의 거부시 구매상담 진행이 불가할 수 있습니다.</p>
                            </div>
                        </div>
                    </li>
                    <li class="is-active">
                        <div class="el-agree-list__check">
                            <!-- [D] 에러 시 : .has-error 클래스 추가 -->
                            <div class="cm-input-wrap">
                                <div class="cm-checkbox js-chkbox-wrap">
                                    <input type="checkbox" id="agreeCheck02" name="agreeCheck" class="cm-checkbox__input">
                                    <label for="agreeCheck02" class="cm-checkbox__label"><span class="s-box"></span><span class="s-label">2. 개인정보의 처리위탁에 대하여 동의합니다. <span class="s-txt-highlight">(필수)</span></span></label>
                                </div>
                                <div class="cm-input-message">
                                    <!-- [D] 에러/유효성 메세지 노출 시 : display:block 처리 -->
                                    <p class="cm-message-error" style="display:none">개인정보의 처리위탁에 동의해주세요.</p>
                                </div>
                            </div>
                        </div>
                        <div class="el-agree-list__info">
                            <div class="el-agree-list__info-box">
                                <p>회사는 원활한 업무처리를 위하여 개인정보 처리업무를 다음과 같이 위탁하고 있습니다.</p>
                                <p>&#8251; 회사는 차량 구매상담을 판매대리점에 위탁하고 있습니다. 고객님이 특정지점/대리점을 지정하신 경우에는 지정하신 지점/대리점, 특정 지점/대리점을 지정하시지 않은 경우에는 임의의 지점/대리점이 구매상담을 진행하게 됩니다.</p>
                                <div class="cm-table type-column">
                                    <table>
                                        <caption>위탁 업무 상세표</caption>
                                        <colgroup>
                                            <col style="width:50%">
                                            <col style="width:50%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="col">수탁자</th>
                                                <th scope="col">위탁 업무의 내용</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>현대자동차 주식회사 판매대리점</td>
                                                <td>차량 구매상담</td>
                                            </tr>
                                            <tr>
                                                <td>현대오토에버 주식회사</td>
                                                <td>시스템 유지 보수</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="is-active type-expand">
                        <div class="el-agree-list__check">
                            <!-- [D] 에러 시 : .has-error 클래스 추가 -->
                            <div class="cm-input-wrap">
                                <div class="cm-checkbox js-chkbox-wrap">
                                    <input type="checkbox" id="agreeCheck03" name="agreeCheck" class="cm-checkbox__input">
                                    <label for="agreeCheck03" class="cm-checkbox__label"><span class="s-box"></span><span class="s-label">3. 개인정보의 수집·이용(마케팅 등 활용 목적) 및 광고성 정보 수신에 대하여 동의합니다. <span class="s-txt-highlight">(선택)</span></span></label>
                                </div>
                            </div>
                        </div>
                        <div class="el-agree-list__info">
                            <div class="el-agree-list__info-box">
                                <ul>
                                <li>&#9632; 개인정보 수집 및 이용 목적
                                    <ul>
                                    <li>- 신규 서비스 및 제품 안내, 이벤트 안내, 시장조사 등 마케팅 목적 활용</li>
                                    <li>- 전자적 전송매체 및 우편 등을 이용한 영리목적의 광고성 정보 전송</li>
                                    </ul>
                                </li>
                                <li>&#9632; 수집하는 개인정보의 항목
                                    <ul>
                                    <li>- 이름, 휴대전화 번호, 이메일, 구매상담 희망 차종</li>
                                    </ul>
                                </li>
                                <li>&#9632; 개인정보의 보유·이용 기간
                                    <ul>
                                    <li>- 동의일로부터 1년</li>
                                    </ul>
                                </li>
                                </ul>
                                <p>&#8251; 위 개인정보 수집·이용에 동의하지 않으실 수 있으며, 동의를 거부하더라도 불이익 사항은 없습니다.</p>
                            </div>
                        </div>
                    </li>
                    </ul>
                </div>
                <div class="cm-form-check__cta">
                    <button type="button" class="cm-btn type-white">
                        <span class="text">이전</span>
                        <span class="masker"><span>이전</span></span>
                    </button>
                    <button type="button" class="cm-btn js-layer-opener" data-layer-target="#purchase-info-layer">
                        <span class="text">다음</span>
                        <span class="masker"><span>다음</span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
