.site-footer__inner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 140px;
  padding: 0 14rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-footer__info {
  height: 60px;
  height: 6rem;
  border-top: 1px solid #1e1e1e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-footer__info .site-footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.site-footer__disclaimer {
  border-top: 1px solid #1e1e1e;
}

.site-footer__util .util-share {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
	display: inline-flex;
	display: none; /* cn disable */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-footer__util .util-title {
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  line-height: 18px;
  line-height: 1.8rem;
}

.site-footer__util .util-list {
  margin-left: 15px;
  margin-left: 1.5rem;
}

.site-footer__util .util-list li {
  display: inline-block;
  position: relative;
  padding: 0 7px;
  padding: 0 0.7rem;
  vertical-align: middle;
}

.site-footer__util .util-list a {
  display: block;
}

.site-footer__util .util-list a:hover [data-icon], .site-footer__util .util-list a:focus [data-icon] {
  fill: #ad7b61;
}

.site-footer__util .util-list a:hover .ico-util-url, .site-footer__util .util-list a:focus .ico-util-url {
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-util-url-active.png");
}

.site-footer__util [data-icon] {
  width: 30px;
  width: 3rem;
  height: 30px;
  height: 3rem;
  fill: #808080;
  vertical-align: middle;
}

.site-footer__util .ico-util {
  padding: 7px;
  padding: 0.7rem;
}

.site-footer__util .ico-util span {
  display: inline-block;
  width: 16px;
  width: 1.6rem;
  height: 16px;
  height: 1.6rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
}

.site-footer__util .ico-util-url {
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-util-url-gray.png");
}

.site-footer__util .cm-clipboard__alert {
  top: -2px;
  left: 100%;
  width: 135px;
  width: 13.5rem;
}

.site-footer__util .cm-clipboard__alert-area {
  padding: 10px 6px;
  padding: 1rem 0.6rem;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
}

.site-footer .btn-share {
  display: none;
}

.site-footer .btn-top {
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  line-height: 18px;
  line-height: 1.8rem;
}

.site-footer .btn-top:after {
  display: inline-block;
  position: relative;
  width: 11px;
  width: 1.1rem;
  height: 7px;
  height: 0.7rem;
  margin-left: 10px;
  margin-left: 1rem;
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-arrow-top.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
  content: '';
}

.site-footer__disclaimer .site-footer__inner {
  margin: 0 auto;
  padding-top: 96px;
  padding-top: 9.6rem;
  padding-bottom: 94px;
  padding-bottom: 9.4rem;
}

.site-footer__disclaimer p {
  margin-top: 23px;
  margin-top: 2.3rem;
  font-size: 14px;
  font-size: 1.4rem;
  color: #999;
  line-height: 1.571;
}

.site-footer__disclaimer p:first-child {
  margin-top: 0;
}

.site-footer__notice {
  border-top: 1px solid #1e1e1e;
}

.site-footer__notice .site-footer__inner {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-footer__notice-item {
  display: none;
}

.site-footer__notice-item:first-child {
  display: block;
}

.site-footer__notice-list {
  position: relative;
  width: 100%;
}

.site-footer__notice-list .swiper-container {
  height: 100%;
}

.site-footer__notice-list .swiper-slide {
  height: 80px;
}

.site-footer__notice-link {
  display: block;
  padding: 31px 15px 31px 0;
  padding: 3.1rem 1.5rem 3.1rem 0;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.125;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-footer__notice p {
  overflow: hidden;
  position: relative;
}

.site-footer__notice .text-notice {
  float: left;
  padding-right: 7px;
  padding-right: 0.7rem;
}

.site-footer__notice-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 84px;
  -ms-flex-preferred-size: 84px;
  flex-basis: 84px;
  -webkit-flex-basis: 8.4rem;
  -ms-flex-preferred-size: 8.4rem;
  flex-basis: 8.4rem;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.site-footer__notice-controls .btn-controls {
  padding: 10px;
  padding: 1rem;
}

.site-footer__notice-controls .btn-controls:after {
  display: block;
  width: 11px;
  width: 1.1rem;
  height: 11px;
  height: 1.1rem;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: '';
}

.site-footer__notice-controls .btn-controls.btn-prev:after, .site-footer__notice-controls .btn-controls.btn-next:after {
  width: 7px;
  width: 0.7rem;
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-arrow-white.png");
}

.site-footer__notice-controls .btn-controls.btn-prev {
  margin-left: -10px;
}

.site-footer__notice-controls .btn-controls.btn-next {
  margin-right: -10px;
}

.site-footer__notice-controls .btn-controls.btn-pause:after {
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-pause-white-type2.png");
}

.site-footer__notice-controls .btn-controls.btn-play:after {
  width: 9px;
  width: 0.9rem;
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-play-white-type3.png");
}

.site-footer__notice-controls .btn-controls.btn-next:after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.site-footer__top {
  background-color: #151515;
}

.site-footer__sitemap {
  padding: 55px 0 83px;
  padding: 5.5rem 0 8.3rem;
  font-size: 0;
}

.site-footer__sitemap-list {
  margin-top: 19px;
  margin-top: 1.9rem;
}

.site-footer__sitemap-item {
  display: inline-block;
  width: 25.6%;
  min-height: 260px;
  min-height: 26rem;
  padding: 41px 40px 0 0;
  padding: 4.1rem 4rem 0 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-footer__sitemap-item:nth-child(4n) {
  width: 23.2%;
  padding-right: 0;
}

.site-footer__sitemap .sitemap-title, .site-footer__sitemap .sitemap-title a {
  font-family: "genesis-Head-office", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
}

.site-footer__sitemap .sitemap-title a {
  -webkit-transition: color .4s;
  transition: color .4s;
}

.site-footer__sitemap .sitemap-title a:hover, .site-footer__sitemap .sitemap-title a:focus {
  color: #ad7b61;
}

.site-footer__sitemap .sitemap-item {
  margin-top: 12px;
  margin-top: 1.2rem;
}

.site-footer__sitemap .sitemap-link {
  display: block;
  font-size: 16px;
  font-size: 1.6rem;
  color: #ccc;
  line-height: 1.6;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.site-footer__sitemap .sitemap-link:hover, .site-footer__sitemap .sitemap-link:focus {
  color: #ad7b61;
}

.site-footer__sitemap .sitemap-title-cta {
  display: none;
}

.site-footer__sitemap .sitemap-title-cta .blind {
  display: none;
}

.site-footer__row-top .site-footer__inner, .site-footer__row-middle .site-footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-footer__row-middle, .site-footer__row-bottom {
  border-top: 1px solid #1e1e1e;
}

.site-footer__row-top {
  padding: 24px 0;
  padding: 2.4rem 0;
}

.site-footer__row-top .site-footer__inner {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.site-footer__row-middle {
  padding: 32px 0 31px;
  padding: 3.2rem 0 3.1rem;
}

.site-footer__row-middle .site-footer__inner {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.site-footer__regal {
  font-size: 0;
}

.site-footer__regal-list {
  display: inline-block;
  margin-left: -48px;
  margin-left: -4.8rem;
}

.site-footer__regal-item {
  display: inline-block;
  position: relative;
  margin-left: 48px;
  margin-left: 4.8rem;
  padding: 13px 0;
  padding: 1.3rem 0;
}

.site-footer__regal-item:last-child:before {
  display: none;
}

.site-footer__regal-item:before {
  display: inline-block;
  position: absolute;
  right: -24px;
  right: -2.4rem;
  height: 15px;
  height: 1.5rem;
  border-right: 1px solid #1e1e1e;
  content: '';
}

.site-footer__regal-item.point a {
  color: #ad7b61;
}

.site-footer__regal-item a {
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  color: #ccc;
  line-height: 1;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.site-footer__regal-item a:hover, .site-footer__regal-item a:focus {
  color: #ad7b61;
}

.site-footer__sns {
	font-size: 0;
}

.site-footer__sns-list-tit {
	display: inline-block;
	margin-right: 15px;
	margin-right: 1.5rem;
	font-size: 18px;
	font-size: 1.8rem;
	color: #ccc;
	line-height: 1;
	vertical-align: middle;
}

.site-footer__sns-list {
	display: inline-block;
  padding: 0 10px;
  padding: 0 1rem;
	font-size: 0;
	vertical-align: middle;
}

.site-footer__sns-item {
  display: inline-block;
  margin-left: 12px;
  margin-left: 1.2rem;
}

.site-footer__sns-item:first-child {
  margin-left: 0;
}

.site-footer__sns-link {
  display: block;
  width: 42px;
  width: 4.2rem;
  height: 42px;
  height: 4.2rem;
}

.site-footer__sns .js-svg-icon {
  width: 100%;
  height: 100%;
}

.site-footer__sns .js-svg-icon svg {
  fill: #ad7b61;
}

.site-footer__family-list {
  margin-left: -48px;
  margin-left: -4.8rem;
  padding-top: 4px;
  padding-top: 0.4rem;
  font-size: 0;
}

.site-footer__family-item {
  display: inline-block;
  margin-left: 48px;
  margin-left: 4.8rem;
}

.site-footer__family .cm-btn-text {
  font-size: 15px;
  font-size: 1.5rem;
  -webkit-transition: color .4s, background-image .4s;
  transition: color .4s, background-image .4s;
}

.site-footer__family .cm-btn-text:hover, .site-footer__family .cm-btn-text:focus {
  color: #ad7b61;
}

.site-footer__family .cm-btn-text.type-newwindow:hover:before, .site-footer__family .cm-btn-text.type-newwindow:focus:before {
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-new-window-point.png");
}

.site-footer__family .cm-btn-text.type-worldwide:hover:before, .site-footer__family .cm-btn-text.type-worldwide:focus:before {
  background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-worldwide-point.png");
}

.site-footer__language {
	display: none; /* cn disable */
  font-size: 0;
}

.site-footer__language-cta {
  display: inline-block;
}

.site-footer__language-cta.is-selected a {
  background-color: #ad7b61;
}

.site-footer__language-cta a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 80px;
  min-width: 8rem;
  height: 36px;
  height: 3.6rem;
  padding: 11px;
  padding: 1.1rem;
  background-color: #1e1e1e;
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-footer__language-cta a:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.site-footer__language-cta span {
  display: inline-block;
  position: relative;
  top: 2px;
  top: 0.2rem;
  vertical-align: middle;
}

.site-footer__copyrights {
  padding: 55px 0 53px;
  padding: 5.5rem 0 5.3rem;
  text-align: center;
}

.site-footer__copyrights-logo img {
  width: 133px;
  width: 13.3rem;
}

.site-footer__copyrights-text {
  margin-top: 26px;
  margin-top: 2.6rem;
}

.site-footer__copyrights-text p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #ccc;
  line-height: 1.428;
}

.site-footer .br-mo {
  display: none;
}

@media (max-width: 1919px) {
  .site-footer__inner {
    padding: 0 120px;
    padding: 0 12rem;
  }
  .site-footer__row-top {
    padding: 28px 0;
    padding: 2.8rem 0;
  }
  .site-footer__regal {
    width: 65%;
  }
  .site-footer__regal-item {
    padding: 9px 0;
    padding: 0.9rem 0;
  }
  .site-footer__sns {
    margin-top: -3px;
  }
}

@media (max-width: 1599px) {
  .site-footer__inner {
    padding: 0 100px;
    padding: 0 10rem;
  }
  .site-footer__util .util-title {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem;
  }
  .site-footer .btn-top {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 16px;
    line-height: 1.6rem;
  }
  .site-footer__disclaimer .site-footer__inner {
    padding-top: 96px;
    padding-top: 9.6rem;
    padding-bottom: 95px;
    padding-bottom: 9.5rem;
  }
  .site-footer__disclaimer p {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.666;
  }
  .site-footer__notice-link {
    padding: 32px 15px 33px 0;
    padding: 3.2rem 1.5rem 3.3rem 0;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .site-footer__sitemap {
    padding: 14px 0 93px;
    padding: 1.4rem 0 9.3rem;
  }
  .site-footer__sitemap-list {
    margin-top: 20px;
    margin-top: 2rem;
  }
  .site-footer__sitemap-item {
    width: 25.86%;
    padding: 86px 40px 0 0;
    padding: 8.6rem 4rem 0 0;
  }
  .site-footer__sitemap-item:nth-child(4n) {
    width: 22.42%;
  }
  .site-footer__sitemap .sitemap-title {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .site-footer__sitemap .sitemap-item {
    margin-top: 14px;
    margin-top: 1.4rem;
  }
  .site-footer__sitemap .sitemap-link {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .site-footer__row-top {
    padding: 30px 0;
    padding: 3rem 0;
  }
  .site-footer__row-middle {
    padding: 34px 0 30px;
    padding: 3.4rem 0 3rem;
  }
  .site-footer__row-middle .site-footer__inner {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }
  .site-footer__regal {
    width: 60%;
  }
  .site-footer__regal-list {
    margin-left: -40px;
    margin-left: -4rem;
  }
  .site-footer__regal-item {
    margin-left: 40px;
    margin-left: 4rem;
    padding: 8px 0;
    padding: 0.8rem 0;
  }
  .site-footer__regal-item:before {
    right: -20px;
    right: -2rem;
  }
  .site-footer__regal-item a {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .site-footer__family {
    width: 60%;
  }
  .site-footer__family-list {
    margin-left: -31px;
    margin-left: -3.1rem;
    padding-top: 0;
  }
  .site-footer__family-item {
    margin-left: 31px;
    margin-left: 3.1rem;
    padding: 9px 0;
    padding: 0.9rem 0;
  }
  .site-footer__family .cm-btn-text {
    font-size: 13px;
    font-size: 1.3rem;
  }
  .site-footer__language {
    margin-top: -2px;
    margin-top: -0.2rem;
  }
}

@media (max-width: 1359px) {
  .site-footer__inner {
    padding: 0 76px;
    padding: 0 7.6rem;
  }
  .site-footer__disclaimer .site-footer__inner {
    padding-top: 97px;
    padding-top: 9.7rem;
  }
  .site-footer__disclaimer p {
    margin-top: 23px;
    margin-top: 2.3rem;
  }
  .site-footer__sitemap-item {
    width: 26.14%;
  }
  .site-footer__sitemap-item:nth-child(4n) {
    width: 21.58%;
  }
  .site-footer__regal {
    width: 70%;
  }
  .site-footer__regal-list {
    margin-left: -20px;
    margin-left: -2rem;
  }
  .site-footer__regal-item {
    margin-left: 20px;
    margin-left: 2rem;
  }
  .site-footer__regal-item:before {
    right: -10px;
    right: -1rem;
  }
  .site-footer__sns {
    margin-top: -5px;
  }
  .site-footer__family {
    width: 70%;
  }
}

@media (max-width: 1023px) {
  .site-footer {
    position: relative;
  }
  .site-footer .display-pc {
    display: none;
  }
  .site-footer .display-mo {
    display: block;
  }
  .site-footer__inner {
    padding: 0 30px;
    padding: 0 3rem;
  }
  .site-footer__util .util-share {
    margin-left: -10px;
    margin-left: -1rem;
  }
  .site-footer__util .util-share.is-open .util-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
  }
  .site-footer__util .util-share.is-open .btn-default {
    display: none;
  }
  .site-footer__util .util-share.is-open .btn-close {
    display: block;
  }
  .site-footer__util .util-share .util-title {
    display: none;
  }
  .site-footer__util .util-list {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100%;
    height: 150px;
    height: 15rem;
    margin-left: 0;
    background-color: #111;
  }
  .site-footer__util .util-list li {
    position: static;
  }
  .site-footer__util .util-list a {
    display: inline-block;
    width: 60px;
    width: 6rem;
    height: 60px;
    height: 6rem;
    text-align: center;
  }
  .site-footer__util .util-list a:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
  .site-footer__util [data-icon] {
    fill: #fff;
  }
  .site-footer__util [data-icon="svg-facebook"] {
    width: 60px;
    width: 6rem;
    height: 60px;
    height: 6rem;
  }
  .site-footer__util [data-icon="svg-twitter"] {
    width: 55px;
    width: 5.5rem;
    height: 55px;
    height: 5.5rem;
	}
	.site-footer__util [data-icon="svg-weibo"] {
    width: 60px;
    width: 6rem;
    height: 50px;
    height: 5rem;
  }
  .site-footer__util [data-icon="svg-wechat"] {
    width: 55px;
    width: 5.5rem;
    height: 50px;
    height: 5rem;
  }
  .site-footer__util .ico-util {
    padding: 0;
  }
  .site-footer__util .ico-util span {
    width: 30px;
    width: 3rem;
    height: 30px;
    height: 3rem;
  }
  .site-footer__util .ico-util-url {
    background-image: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-util-url-white.png");
  }
  .site-footer__util .cm-clipboard__alert {
    top: auto;
    right: 0;
    left: 0;
    bottom: 27px;
    bottom: 2.7rem;
    width: 100%;
  }
  .site-footer__util .cm-clipboard__alert-area {
    padding: 0 5px;
    padding: 0 0.5rem;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 20px;
    line-height: 2rem;
  }
  .site-footer .btn-share {
    display: block;
    width: 36px;
    width: 3.6rem;
    height: 36px;
    height: 3.6rem;
  }
  .site-footer .btn-default {
    display: block;
  }
  .site-footer .btn-default [data-icon] {
    width: 16px;
    width: 1.6rem;
    height: 16px;
    height: 1.6rem;
  }
  .site-footer .btn-close {
    display: none;
  }
  .site-footer .btn-close [data-icon] {
    width: 17px;
    width: 1.7rem;
    height: 17px;
    height: 1.7rem;
  }
  .site-footer .btn-top {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .site-footer__disclaimer .site-footer__inner {
    padding-top: 48px;
    padding-top: 4.8rem;
    padding-bottom: 48px;
    padding-bottom: 4.8rem;
  }
  .site-footer__disclaimer p {
    margin-top: 15px;
    margin-top: 1.5rem;
    line-height: 1.33;
  }
  .site-footer__notice .site-footer__inner {
    display: block;
    padding: 10px 30px 24px;
    padding: 1rem 3rem 2.4rem;
  }
  .site-footer__notice-link {
    padding: 27px 0;
    padding: 2.7rem 0;
    font-size: 16px;
    font-size: 1.6rem;
  }
  .site-footer__notice .text-notice {
    padding-right: 9px;
    padding-right: 0.9rem;
  }
  .site-footer__notice-controls {
    width: 113px;
    width: 11.3rem;
    margin: 6px auto 0;
  }
  .site-footer__notice-controls .btn-controls {
    padding: 5px;
    padding: 0.5rem;
  }
  .site-footer__notice-controls .btn-controls:after {
    width: 10px;
    width: 1rem;
    height: 10px;
    height: 1rem;
  }
  .site-footer__notice-controls .btn-controls.btn-prev, .site-footer__notice-controls .btn-controls.btn-next {
    margin: 0;
  }
  .site-footer__notice-controls .btn-controls.btn-prev:after, .site-footer__notice-controls .btn-controls.btn-next:after {
    width: 6px;
    width: 0.6rem;
  }
  .site-footer__notice-controls .btn-controls.btn-play:after {
    width: 8px;
    width: 0.8rem;
  }
  .site-footer__top .site-footer__inner, .site-footer__row-middle .site-footer__inner {
    padding: 0;
  }
  .site-footer__sitemap {
    padding: 0;
    border-top: 1px solid #1e1e1e;
  }
  .site-footer__sitemap-list {
    overflow: hidden;
    height: 0;
    margin-top: 0;
  }
  .site-footer__sitemap-list ul {
    padding: 0 30px 13px;
    padding: 0 3rem 1.3rem;
  }
  .site-footer__sitemap-item {
    width: 100%;
    min-height: auto;
    padding: 0;
    border-bottom: 1px solid #1e1e1e;
  }
  .site-footer__sitemap-item:last-child {
    border: none;
  }
  .site-footer__sitemap-item:nth-child(4) {
    width: 100%;
  }
  .site-footer__sitemap-item.has-no-panel .sitemap-title {
    display: block;
  }
  .site-footer__sitemap-item.has-no-panel .sitemap-title a {
    position: relative;
  }
  .site-footer__sitemap-item.has-no-panel .sitemap-title a:after {
    display: none;
  }
  .site-footer__sitemap-item.is-active .sitemap-title-cta:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .site-footer__sitemap .sitemap-title {
    display: none;
  }
  .site-footer__sitemap .sitemap-title a {
    display: block;
    padding: 20px 68px 20px 30px;
    padding: 2rem 6.8rem 2rem 3rem;
    font-size: 15px;
    font-size: 1.5rem;
  }
  .site-footer__sitemap .sitemap-title-cta {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 68px 20px 30px;
    padding: 2rem 6.8rem 2rem 3rem;
    font-family: "genesis-Head-office", sans-serif;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .site-footer__sitemap .sitemap-title-cta:after {
    position: absolute;
    top: 24px;
    top: 2.4rem;
    right: 30px;
    right: 3rem;
    bottom: 0;
    width: 6px;
    width: 0.6rem;
    height: 6px;
    height: 0.6rem;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
  }
  .site-footer__sitemap .sitemap-item {
    margin-top: 0;
    padding: 9px 14px;
    padding: 0.9rem 1.4rem;
  }
  .site-footer__sitemap .sitemap-item:first-child {
    padding-top: 0;
  }
  .site-footer__row-top .site-footer__inner, .site-footer__row-middle .site-footer__inner {
    display: block;
  }
  .site-footer__row-top {
    padding: 25px 0 33px;
    padding: 2.5rem 0 3.3rem;
  }
  .site-footer__row-middle {
    padding: 0 0 40px;
    padding: 0 0 4rem;
    border: none;
  }
  .site-footer__regal {
    width: 100%;
    max-width: 315px;
    max-width: 31.5rem;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .site-footer__regal-list {
    margin-left: 0;
  }
  .site-footer__regal-item {
    margin: 0;
    padding: 0;
  }
  .site-footer__regal-item:before {
    top: 50%;
    right: 0;
    height: 10px;
    height: 1rem;
    margin-top: -5px;
    margin-top: -0.5rem;
    border-color: #292929;
  }
  .site-footer__regal-item.new-line {
    display: block;
    clear: both;
  }
  .site-footer__regal-item a {
    padding: 15px 11px;
    padding: 1.5rem 1.1rem;
    font-size: 12px;
    font-size: 1.2rem;
  }
  .site-footer__sns {
    margin-top: 21px;
    margin-top: 2.1rem;
    text-align: center;
  }
  .site-footer__sns-list {
    padding: 0 30px;
    padding: 0 3rem;
  }
  .site-footer__sns-item {
    margin-left: 18px;
    margin-left: 1.8rem;
  }
  .site-footer__sns-link {
    width: 40px;
    width: 4rem;
    height: 41px;
    height: 4.1rem;
  }
  .site-footer__family {
    width: 100%;
    padding: 0 20px;
    padding: 0 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .site-footer__family-list {
    margin-left: 0;
  }
  .site-footer__family-item {
    width: 100%;
    margin-left: 0;
    padding: 0;
    border-bottom: 1px solid #1e1e1e;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .site-footer__family .cm-btn-text {
    display: block;
    position: relative;
    padding: 15px 10px;
    padding: 1.5rem 1rem;
    font-size: 14px;
    font-size: 1.4rem;
  }
  .site-footer__family .cm-btn-text:before {
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-right: 1rem;
    margin-top: 1px;
  }
  .site-footer__language {
    margin: 41px 0 0 0;
    margin: 4.1rem 0 0 0;
    padding: 0 30px;
    padding: 0 3rem;
  }
  .site-footer__language-cta {
    width: 50%;
  }
  .site-footer__language-cta a {
    height: 50px;
    height: 5rem;
    font-size: 15px;
    font-size: 1.5rem;
  }
  .site-footer__copyrights {
    padding: 40px 20px 29px;
    padding: 4rem 2rem 2.9rem;
  }
  .site-footer__copyrights-logo img {
    width: 125px;
    width: 12.5rem;
  }
  .site-footer__copyrights-text p {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.33;
  }
  .site-footer .br-mo {
    display: block;
  }
}
