<!DOCTYPE html>
<html lang="ko">
<head>
<title>Error 500</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="cm-layout__error">
            <div class="cm-layout__error-header">
                <div class="cm-layout__error-header-inner">
                    <div class="logo">
                        <a href="#" title="Genesis"><img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="cm-layout__error-content">
                <div class="cp-error-500">
                    <div class="cp-error-500__inner">
                        <div class="cp-error-500__content">
                            <div class="cp-error-500__content-inner">
                                <strong class="cp-error-500__title">서비스가 원활하지 않습니다.</strong>
                                <div class="cp-error-500__desc">
                                    <p>서비스 이용에 불편을 드려 죄송합니다. <br>요청하신 서비스가 정상 처리 되지 않았습니다. <br>잠시 후 다시 시도해 주십시요.</p>
                                    <p>여러분에게 보다 정확하고 편리한 서비스를 제공할 수 있도록 <br>최선을 다하겠습니다. 감사합니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cm-layout__error-footer">
                <div class="cm-layout__error-footer-inner">
                    <p>&copy; Copyright 2020 Hyundai Motor Company. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>