<!DOCTYPE html>
<html lang="ko">
<head>
<title>Footer</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div style="height: 200px;"></div>
    <!-- component -->
    <div class="type-dark">
        <footer class="site-footer" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse",
            "Play" : "Play",
            "Pause" : "Pause"
        }'>
            <div class="site-footer__info cm-clipboard js-copy-clipboard">
                <div class="site-footer__inner">
                    <div class="site-footer__util">
                        <!-- [F] (모바일 구간) 활성화 시 : .is-open 클래스 추가 -->
                        <div class="util-share">
                            <span class="util-title">Share</span>
                            <!-- [F] 활성화 시 : aria-expanded 속성값 'true'로 변경 -->
                            <button type="button" class="btn-share" aria-haspopup="true" aria-expanded="false">
                                <span class="btn-default">
                                    <span class="js-svg-icon" data-icon="svg-share"></span><span class="blind">Share</span>
                                </span>
                                <span class="btn-close">
                                    <span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">Close</span>
                                </span>
                            </button>
                            <ul class="util-list" role="menu">
                            <!-- <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-facebook"></span><span class="blind">Facebook</span></a></li>
                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-twitter"></span><span class="blind">Twitter</span></a></li> -->
                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-wechat"></span><span class="blind">Wechat</span></a></li>
                            <li role="presentation"><a href="#" role="menuitem"><span class="js-svg-icon" data-icon="svg-weibo"></span><span class="blind">weibo</span></a></li>
                            <li role="presentation">
                                <a href="#" role="menuitem" class="ico-util cm-clipboard__btn"><span class="ico-util-url"></span><span class="blind">URL</span></a>
                                <input type="text" class="cm-clipboard__input">
                                <!-- [F] 활성화 시 : .is-show 클래스 추가 -->
                                <div class="cm-clipboard__alert">
                                    <div class="cm-clipboard__alert-area">
                                        <p>클립보드에 복사되었습니다.</p>
                                    </div>
                                </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="btn-top">Top</button>
                </div>
            </div>
            <div class="site-footer__disclaimer">
                <div class="site-footer__inner">
                    <p>* 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 나는 생명을 동산에는 불어 가슴이 때문이다. 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 나는 생명을 동산에는 불어 가슴이 때문이다.</p>
                    <p>* 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 나는 생명을 동산에는 불어 가슴이 때문이다. 작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 나는 생명을 동산에는 불어 가슴이 때문이다.</p>
                </div>
            </div>
            <div class="site-footer__notice">
                <div class="site-footer__inner">
                    <div class="site-footer__notice-list">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="site-footer__notice-item">
                                        <a href="#" class="site-footer__notice-link">
                                            <span class="text-notice">[공지]</span><p>Genesis Connected Services 개인정보 처리방침 개정 공지</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="site-footer__notice-item">
                                        <a href="#" class="site-footer__notice-link">
                                            <span class="text-notice">[공지]</span><p>Genesis Connected Services 개인정보 처리방침 개정 공지</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="site-footer__notice-item">
                                        <a href="#" class="site-footer__notice-link">
                                            <span class="text-notice">[공지]</span><p>Genesis Connected Services 개인정보 처리방침 개정 공지</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="site-footer__notice-controls">
                        <button type="button" class="btn-controls btn-prev"><span class="blind">Previous</span></button>
                        <!--/* [F] play : .btn-play 클래스 추가
                                   pause : .btn-pause 클래스 추가
                                   global text 변경 */-->
                        <button type="button" class="btn-controls btn-pause"><span class="blind">Pause</span></button>
                        <button type="button" class="btn-controls btn-next"><span class="blind">Next</span></button>
                    </div>
                </div>
            </div>
            <div class="site-footer__top">
                <div class="site-footer__inner">
                    <div class="site-footer__sitemap-wrap">
                        <div class="site-footer__sitemap">
                            <div class="site-footer__sitemap-item">
                                <strong class="sitemap-title">모델</strong>
                                <a href="#" class="sitemap-title-cta">모델<span class="blind"></span></a>
                                <div class="site-footer__sitemap-list">
                                    <ul class="sitemap-item-wrap">
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="GV80">GV80</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="G70">G70</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="G80">G80</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="G90">G90</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="site-footer__sitemap-item">
                                <strong class="sitemap-title">구매</strong>
                                <a href="#" class="sitemap-title-cta">구매<span class="blind"></span></a>
                                <div class="site-footer__sitemap-list">
                                    <ul class="sitemap-item-wrap">
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="구매 프로그램">구매 프로그램</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="견적 내기">견적 내기</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="구매 상담 신청">구매 상담 신청</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="사양 조회하기">사양 조회하기</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="site-footer__sitemap-item">
                                <strong class="sitemap-title">체험</strong>
                                <a href="#" class="sitemap-title-cta">체험<span class="blind"></span></a>
                                <div class="site-footer__sitemap-list">
                                    <ul class="sitemap-item-wrap">
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="스페이스">스페이스</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="시승 신청">시승 신청</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="전시장 찾기">전시장 찾기</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="site-footer__sitemap-item">
                                <strong class="sitemap-title">멤버스</strong>
                                <a href="#" class="sitemap-title-cta">멤버스<span class="blind"></span></a>
                                <div class="site-footer__sitemap-list">
                                    <ul class="sitemap-item-wrap">
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="멤버십">멤버십</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="제네시스 커넥티드 서비스">제네시스 커넥티드 서비스</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="디지털 서비스">디지털 서비스</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="차량관리 서비스">차량관리 서비스</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="site-footer__sitemap-item">
                                <strong class="sitemap-title">제네시스</strong>
                                <a href="#" class="sitemap-title-cta">제네시스<span class="blind"></span></a>
                                <div class="site-footer__sitemap-list">
                                    <ul class="sitemap-item-wrap">
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="브랜드">브랜드</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="컨셉카">컨셉카</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="모터쇼">모터쇼</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="로드트립">로드트립</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="site-footer__sitemap-item">
                                <strong class="sitemap-title">고객센터</strong>
                                <a href="#" class="sitemap-title-cta">고객센터<span class="blind"></span></a>
                                <div class="site-footer__sitemap-list">
                                    <ul class="sitemap-item-wrap">
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="고객센터">고객센터</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="공지사항">공지사항</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="이벤트">이벤트</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="자주 묻는 질문">자주 묻는 질문</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="다운로드 센터">다운로드 센터</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="서비스 센터">서비스 센터</a></li>
                                    <li class="sitemap-item"><a href="#" class="sitemap-link" title="PR센터">PR센터</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="site-footer__sitemap-item has-no-panel">
                                <strong class="sitemap-title"><a href="#" title="마이 페이지">마이 페이지</a></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__row-top">
                    <div class="site-footer__inner">
                        <div class="site-footer__regal">
                            <ul class="site-footer__regal-list">
                            <li class="site-footer__regal-item"><a href="#" title="사이트맵">사이트맵</a></li>
                            <li class="site-footer__regal-item"><a href="#" title="이용약관">이용약관</a></li>
                            <li class="site-footer__regal-item point"><a href="#" title="개인정보 처리방침">개인정보 처리방침</a></li>
                            <li class="site-footer__regal-item"><a href="#" title="자동차 교환 및 환불 중재 규정 안내">자동차 교환 및 환불 중재 규정 안내</a></li>
                            <li class="site-footer__regal-item"><a href="#" title="하자 재발 통보 안내">하자 재발 통보 안내</a></li>
                            <li class="site-footer__regal-item"><a href="#" title="보증안내">보증안내</a></li>
                            </ul>
                        </div>
                        <div class="site-footer__sns">
														<div class="site-footer__sns-list-tit">Follow Us</div>
                            <ul class="site-footer__sns-list">
                            <!-- <li class="site-footer__sns-item">
                                <a href="https://www.facebook.com/GenesisWorldwide" class="site-footer__sns-link" target="_blank" title="Facebook : Open in a new window">
                                    <span class="blind">Facebook</span>
                                    <span class="js-svg-icon" data-icon="svg-facebook"></span>
                                </a>
                            </li>
                            <li class="site-footer__sns-item">
                                <a href="https://www.instagram.com/genesisworldwide" class="site-footer__sns-link" target="_blank" title="Instagram : Open in a new window">
                                    <span class="blind">Instagram</span>
                                    <span class="js-svg-icon" data-icon="svg-instagram"></span>
                                </a>
                            </li>
                            <li class="site-footer__sns-item">
                                <a href="https://www.youtube.com/genesisworldwide" class="site-footer__sns-link" target="_blank" title="Youtube : Open in a new window">
                                    <span class="blind">Youtube</span>
                                    <span class="js-svg-icon" data-icon="svg-youtube"></span>
                                </a>
														</li> -->
														<li class="site-footer__sns-item">
															<a href="https://www.wechat.com/genesisworldwide" class="site-footer__sns-link" target="_blank" title="Wechat : Open in a new window">
																<span class="blind">Youtube</span>
																<span class="js-svg-icon" data-icon="svg-wechat"></span>
															</a>
														</li>
														<li class="site-footer__sns-item">
															<a href="https://www.weibo.com/genesisworldwide" class="site-footer__sns-link" target="_blank" title="Weibo : Open in a new window">
																	<span class="blind">Instagram</span>
																	<span class="js-svg-icon" data-icon="svg-weibo"></span>
															</a>
														</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="site-footer__row-middle">
                    <div class="site-footer__inner">
                        <div class="site-footer__family">
                            <ul class="site-footer__family-list">
                            <li class="site-footer__family-item">
                                <a href="#" class="cm-btn-text type-newwindow" title="Genesis Championship : Open in a new window" target="_blank"><span class="text">제네시스 챔피언십</span></a>
                            </li>
                            <li class="site-footer__family-item">
                                <a href="#" class="cm-btn-text type-newwindow" title="Genesis Members Mall : Open in a new window" target="_blank"><span class="text">제네시스 멤버스몰</span></a>
                            </li>
                            <li class="site-footer__family-item">
                                <a href="#" class="cm-btn-text type-newwindow" title="Navigation Update : Open in a new window" target="_blank"><span class="text">네비게이션 업데이트</span></a>
                            </li>
                            <li class="site-footer__family-item">
                                <a href="#" class="cm-btn-text type-worldwide" title="Genesis Worldwide : Open in a new window" target="_blank"><span class="text">제네시스 월드와이드</span></a>
                            </li>
                            </ul>
                        </div>
                        <div class="site-footer__language">
                            <div class="site-footer__language-cta is-selected">
                                <a href="#" title="English"><span>Eng</span></a>
                            </div>
                            <div class="site-footer__language-cta">
                                <a href="#" title="Korean"><span>Kor</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-footer__row-bottom">
                    <div class="site-footer__inner">
                        <div class="site-footer__copyrights">
                            <div class="site-footer__copyrights-logo">
                                <picture>
                                    <img src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/footer-logo.png" alt="">
                                </picture>
                            </div>
                            <div class="site-footer__copyrights-text">
                                <p>&copy; Copyright 2020 Hyundai Motor Company. <br class="br-mo">All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
