<div class="cm-nav js-cm-nav">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="cm-nav__inner" role="group" aria-label="progress">
                    <ol>
                    <!-- [D] 활성화 스텝 : is-active 클래스 추가, aria-current="true" 추가 -->
                    <li class="el-step-item is-active" aria-current="true"><span>시승센터 선택</span></li>
                    <li class="el-step-item"><span>시승일정</span></li>
                    <li class="el-step-item"><span>유의사항</span></li>
                    <li class="el-step-item"><span>신청내역 확인</span></li>
                    <li class="el-step-item"><span>신청완료</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- [F] dimmed 활성화 : is-dimmed 클래스 추가 -->
    <div class="swiper-btn-prev is-dimmed">
        <button type="button" class="btn-prev">
            <span class="ico-prev"></span>
            <span class="blind">prev</span>
        </button>
    </div>
    <div class="swiper-btn-next is-dimmed">
        <button type="button" class="btn-next">
            <span class="ico-next"></span>
            <span class="blind">next</span>
        </button>
    </div>
</div>
