<!DOCTYPE html>
<html>
<head>
<title>Support : Notice Detail</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">

</head>
<body>
<div id="wrap">

    <!-- component -->
    <div class="type-light">
        <div class="cp-notice-detail">
            <div class="cp-notice-detail__inner">
                <div class="cm-sup-detailhead">
                    <div class="cm-sup-detailhead__label">
                        <div class="cm-label"><span class="text">GV80</span></div>
                        <div class="cm-label type-white"><span class="text">Ongoing</span></div>
                    </div>
                    <div class="cm-sup-detailhead__title">
                        <h2 class="el-title">We strive to create the finest automobiles and related products</h2>
                    </div>
                    <div class="cm-sup-detailhead__info">
                        <span class="cm-sup-detailhead__date">2020.04.09</span>
                    </div>
                </div>
                <div class="cp-notice-detail__body">
                    <!-- [D] 에디터 입력 내용 영역 -->
                    @ 에디터 영역
                </div>
                <div class="cm-sup-detailnav">
                    <div class="cm-sup-detailnav__list">
                        <!-- [D] 이전 글 있는 경우 : show-arrow 클래스 추가 -->
                        <div class="cm-sup-detailnav__item type-prev show-arrow">
                            <a href="#">
                                <div class="cm-sup-detailnav__eyebrow">
                                    <strong class="el-nav-eyebrow">Previous</strong>
                                </div>
                                <div class="cm-sup-detailnav__title">
                                    <p class="el-nav-title">We strive to create the finest automobiles and related products</p>
                                </div>
                            </a>
                        </div>
                        <!-- [D] 다음 글 있는 경우 : show-arrow 클래스 추가 -->
                        <div class="cm-sup-detailnav__item type-next show-arrow">
                            <a href="#">
                                <div class="cm-sup-detailnav__eyebrow">
                                    <strong class="el-nav-eyebrow">Next</strong>
                                </div>
                                <div class="cm-sup-detailnav__title">
                                    <p class="el-nav-title">We strive to create the finest products</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="cm-sup-detailnav__cta">
                        <a href="#" class="cm-btn">
                            <span class="text">List</span>
                            <span class="masker"><span>List</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* support js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
