<!DOCTYPE html>
<html>
<head>
<title>Table</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1920px;margin:0 auto; font-size:16px;padding:20px 0">
        <dl>
        <dt>1) width옵션 (Add to .cm-table)</dt>
        <dd>- 1600 : .type-layout1</dd>
        <dd>- 1080 : .type-layout2</dd>
        <dt style="margin-top:10px">2) 컬럼 정렬 (Add to .cm-table)</dt>
        <dd>- 가운데 정렬 : default</dd>
        <dd>- 왼쪽 정렬 : .left-align-1 / .left-align-2 .left-align-3 / .left-align-4</dd>
        </dl>
    </div>
    
    <!-- component -->
    <div class="type-dark">
        <div class="cp-table type-layout1">
            <div class="cp-table__inner">
                <div class="cp-table__item">
                    <h2 class="table-title">Genesis global text</h2>
                    <p class="table-sub-title">We strive to create the finest automobiles</p>
                    <!-- [D] 컬럼별 왼쪽 정렬 : .left-align-1, .left-align-2, .left-align-3, .left-align-4 클래스 추가-->
                    <div class="cm-table type-column">
                        <table>
                            <caption>Table Name</caption>
                            <!-- [D] 컬럼 가로 크기 조절 : style=" "안에 가로 값 입력, 만약 필요 없다면 colgroup 태그 구조 제거 -->
                            <colgroup>
                                <col style="">
                                <col style="">
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">Genesis global text</th>
                                    <th scope="col">Genesis global text</th>
                                    <th scope="col">Genesis global text</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                                <tr>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="table-desc">* We strive to create the finest automobiles and related products and services</p>
                </div>
                <div class="cp-table__item">
                    <h2 class="table-title">Genesis global text</h2>
                    <p class="table-sub-title">We strive to create the finest automobiles</p>
                    <!-- [D] 컬럼별 왼쪽 정렬 : .left-align-1, .left-align-2, .left-align-3, .left-align-4 클래스 추가-->
                    <div class="cm-table type-row">
                        <table>
                            <caption>Table Name</caption>
                            <!-- [D] 컬럼 가로 크기 조절 : style=" "안에 가로 값 입력, 만약 필요 없다면 colgroup 태그 구조 제거 -->
                            <colgroup>
                                <col style="">
                                <col style="">
                                <col style="">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">Genesis global text</th>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                                <tr>
                                    <th scope="row">Genesis global text</th>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                                <tr>
                                    <th scope="row">Genesis global text</th>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="table-desc">* We strive to create the finest automobiles and related products and services</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

     <!-- component -->
    <div class="type-light">
        <div class="cp-table type-layout2">
            <div class="cp-table__inner">
                <div class="cp-table__item">
                    <h2 class="table-title">Genesis global text</h2>
                    <p class="table-sub-title">We strive to create the finest automobiles</p>
                    <!-- [D] 컬럼별 왼쪽 정렬 : .left-align-1, .left-align-2, .left-align-3, .left-align-4 클래스 추가-->
                    <div class="cm-table type-column">
                        <table>
                            <caption>Table Name</caption>
                            <!-- [D] 컬럼 가로 크기 조절 : style=" "안에 가로 값 입력, 만약 필요 없다면 colgroup 태그 구조 제거 -->
                            <colgroup>
                                <col style="">
                                <col style="">
                                <col style="">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">Genesis global text</th>
                                    <th scope="col">Genesis global text</th>
                                    <th scope="col">Genesis global text</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                                <tr>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="table-desc">* We strive to create the finest automobiles and related products and services</p>
                </div>
                <div class="cp-table__item">
                    <h2 class="table-title">Genesis global text</h2>
                    <p class="table-sub-title">We strive to create the finest automobiles</p>
                    <!-- [D] 컬럼별 왼쪽 정렬 : .left-align-1, .left-align-2, .left-align-3, .left-align-4 클래스 추가-->
                    <div class="cm-table type-row left-align-2 left-align-3">
                        <table>
                            <caption>Table Name</caption>
                            <!-- [D] 컬럼 가로 크기 조절 : style=" "안에 가로 값 입력, 만약 필요 없다면 colgroup 태그 구조 제거 -->
                            <colgroup>
                                <col style="width:50%;">
                                <col style="width:25%;">
                                <col style="width:25%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">Genesis global text</th>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                                <tr>
                                    <th scope="row">Genesis global text</th>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                                <tr>
                                    <th scope="row">Genesis global text</th>
                                    <td>Genesis global text</td>
                                    <td>Genesis global text</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="table-desc">* We strive to create the finest automobiles and related products and services</p>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>