<!DOCTYPE html>
<html>
<head>
<title>Hero</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-dark">
        <div class="cp-hero">
            <div class="cp-hero__inner">
                <div class="cp-hero__bg">
                    <!-- [D] 비디오 (mp4) 영역 -->
                    <div class="cp-hero__bg-video">
                        <div class="js-picture-video">
                            <div class="video-container" data-media="(min-width: 768px)">
                                <video muted playsinline loop preload="none" width="1" height="1">
                                    <source src="/apps/components/pip-overview-hero/imgs/@video1.mp4" type="video/mp4">
                                </video>
                            </div>
                            <div class="video-container" data-media="(min-width: 0px)">
                                <video muted playsinline loop preload="none" width="1" height="1">
                                    <source src="/apps/components/pip-overview-hero/imgs/@video1.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="el-dimmed"></div>
                    </div>
                </div>
                <div class="cp-hero__content">
                    <div class="cp-hero__content-inner">
                        <div class="cp-overview-hero__content-top">
                            <div class="cp-hero__eyebrow js-animate">
                                <p class="el-eyebrow">Genesis</p>
                            </div>
                            <div class="cp-hero__title js-animate">
                                <h2 class="el-title">Genesis global text Global text</h2>
                            </div>
                            <div class="cp-hero__desc js-animate">
                                <p class="el-desc">We strive to create the finest automobiles and related products and services We strive to create the finest automobiles</p>
                            </div>
                        </div>
                        <div class="cp-overview-hero__content-bottom">
                            <div class="cp-hero__cta js-animate">
                                <div class="cp-hero__cta-row">
                                    <a href="#" class="cm-btn type-white" title="Primary Button"><span class="text">Primary Button</span><span class="masker"><span>Primary Button</span></span></a>
                                    <a href="#" class="cm-btn" title="Primary Button"><span class="text">Secondary Button</span><span class="masker"><span>Secondary Button</span></span></a>
                                </div>
                                <div class="cp-hero__cta-row">
                                    <a href="#" class="cm-btn-more type-white is-default" title="Learn more"><span>Learn more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-hero__scroll-btn">
                        <button type="button" class="el-btn-arrow"><span class="blind">Scroll down</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>