.cp-search__relevant-cta .cm-btn:not(.type-white) {
  background-color: #111;
}

.cp-search__relevant-cta .cm-btn:not(.type-white):after {
  z-index: 10;
  border-color: #111;
}

.cp-search__relevant-cta .cm-btn:not(.type-white) .text {
  color: #fff;
}

.cp-search__relevant-cta .cm-btn:not(.type-white) .masker {
  background-color: #fff;
}

.cp-search__relevant-cta .cm-btn:not(.type-white) .masker:after {
  z-index: 10;
  border-color: #111;
}

.cp-search__relevant-cta .cm-btn:not(.type-white) .masker span {
  color: #000;
}

.cp-search__inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 80px;
  padding: 0 8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-search__head {
  width: 600px;
  width: 60rem;
  margin: 0 auto;
}

.cp-search__head .search-title {
  font-family: "genesis-head-office-light", sans-serif;
  font-weight: normal;
  font-size: 50px;
  font-size: 5rem;
  letter-spacing: -0.015em;
  line-height: 46px;
  line-height: 4.6rem;
  text-align: center;
}

.cp-search__search {
  margin-top: 56px;
  margin-top: 5.6rem;
}

.cp-search__search .cm-input-text:after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: #000;
  content: '';
}

.cp-search__search .cm-input-text__input, .cp-search__search .cm-input-text__label, .cp-search__search .cm-input-text.type-search .ico-search {
  height: 47px;
  height: 4.7rem;
}

.cp-search__search .cm-input-text__input, .cp-search__search .cm-input-text__label {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
}

.cp-search__search .cm-input-text__label {
  width: 100%;
  padding-right: 43px;
  padding-right: 4.3rem;
}

.cp-search__search .cm-input-text.type-search .ico-search {
  padding-top: 10px;
  padding-top: 1rem;
}

.cp-search__search .cm-input-text.has-focus:after {
  width: 100%;
  -webkit-transition: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cp-search__search-popular {
  display: table;
  width: 512px;
  width: 51.2rem;
  margin: 4px auto 0;
  margin: 0.4rem auto 0;
}

.cp-search__search-popular-title, .cp-search__search-popular-item {
  display: table-cell;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-search__search-popular-title {
  position: relative;
  width: 101px;
  width: 10.1rem;
  padding: 0 18px;
  padding: 0 1.8rem;
  font-family: "genesis-text-office-medium", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #996449;
  line-height: 45px;
  line-height: 4.5rem;
}

.cp-search__search-popular-title em {
  font-style: normal;
}

.cp-search__search-popular-title:after {
  position: absolute;
  top: 17px;
  top: 1.7rem;
  right: 0;
  width: 1px;
  height: 13px;
  height: 1.3rem;
  background-color: #996449;
  content: '';
}

.cp-search__search-popular-item {
  padding: 0 10px;
  padding: 0 1rem;
  font-size: 0;
}

.cp-search__search-popular-item .search-item {
  padding: 0 10px;
  padding: 0 1rem;
  font-size: 14px;
  font-size: 1.4rem;
  color: #262626;
  line-height: 45px;
  line-height: 4.5rem;
}

.cp-search__body {
  margin-top: 91px;
  margin-top: 9.1rem;
}

.cp-search__relevant {
  margin-top: 137px;
  margin-top: 13.7rem;
}

.cp-search__relevant:first-child {
  margin-top: 0;
}

.cp-search__relevant-title {
  padding-bottom: 15px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e5e5e5;
  font-family: "genesis-head-office-light", sans-serif;
  font-weight: normal;
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: -0.025em;
  line-height: 54px;
  line-height: 5.4rem;
}

.cp-search__relevant-title .color-point {
  font-style: normal;
  color: #996449;
}

.cp-search__relevant-cta {
  margin-top: 60px;
  margin-top: 6rem;
  text-align: center;
}

.cp-search__addinfo-list {
  margin: 50px -20px 0;
  margin: 5rem -2rem 0;
  font-size: 0;
}

.cp-search__addinfo-item {
  display: inline-block;
  width: 33.33%;
  margin-top: 40px;
  margin-top: 4rem;
  padding: 0 20px;
  padding: 0 2rem;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-search__addinfo-item:nth-child(-n+3) {
  margin-top: 0;
}

.cp-search__addinfo-link {
  display: block;
  position: relative;
  height: 120px;
  height: 12rem;
  padding: 20px 16% 20px 12.2%;
  padding: 2rem 16% 2rem 12.2%;
  background-color: #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-search__addinfo-link:after {
  position: absolute;
  top: 50%;
  right: 12%;
  width: 9px;
  width: 0.9rem;
  height: 16px;
  height: 1.6rem;
  margin-top: -8px;
  margin-top: -0.8rem;
  background: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-arrow-right-black.png") center center no-repeat;
  background-size: 100% auto;
  content: '';
}

.isNotTouchDevice .cp-search__addinfo-link:hover .cp-search__addinfo-text {
  color: #996449;
}

.cp-search__addinfo-container {
  display: table;
  width: 100%;
  height: 100%;
}

.cp-search__addinfo-icon, .cp-search__addinfo-text {
  display: table-cell;
  vertical-align: middle;
}

.cp-search__addinfo-icon {
  width: 17%;
}

.cp-search__addinfo-icon img {
  max-width: 100%;
  width: 100%;
}

.cp-search__addinfo-text {
  padding-left: 7.7%;
  font-size: 18px;
  font-size: 1.8rem;
  color: #000;
  line-height: 28px;
  line-height: 2.8rem;
}

.cp-search__media-list {
  margin: 50px -20px 0;
  margin: 5rem -2rem 0;
  font-size: 0;
}

.cp-search__media-item {
  display: inline-block;
  width: 33.33%;
  margin-top: 40px;
  margin-top: 4rem;
  padding: 0 20px;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp-search__media-item:nth-child(-n+3) {
  margin-top: 0;
}

.cp-search__media-item .video-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 16.21%;
  height: 0;
  margin: auto;
  padding-top: 16.21%;
}

.cp-search__media-item .video-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url("/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/ico-play-default.png") center center no-repeat;
  background-size: 100% auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
}

.cp-search__media-item.is-video .video-icon {
  display: block;
}

.cp-search__media-link {
  display: block;
  overflow: hidden;
  position: relative;
}

.cp-search__media-img {
  position: relative;
  padding-top: 57.06%;
}

.cp-search__media-img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
}

.cp-search__results-item {
  padding: 47px 15px 42px 0;
  padding: 4.7rem 1.5rem 4.2rem 0;
  border-bottom: 1px solid #e5e5e5;
}

.cp-search__results .page-title {
  font-family: "genesis-Head-office", sans-serif;
  font-weight: normal;
  font-size: 24px;
  font-size: 2.4rem;
  color: #262626;
  letter-spacing: -0.025em;
}

.cp-search__results .page-desc {
  display: -webkit-box;
  overflow: hidden;
  max-height: 52px;
  max-height: 5.2rem;
  margin-top: 18px;
  margin-top: 1.8rem;
  font-size: 14px;
  font-size: 1.4rem;
  color: #262626;
  line-height: 26px;
  line-height: 2.6rem;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cp-search__results .page-link {
  margin-top: 16px;
  margin-top: 1.6rem;
  font-size: 14px;
  font-size: 1.4rem;
  color: #666;
  line-height: 26px;
  line-height: 2.6rem;
  word-break: break-word;
}

.cp-search__results .cm-results-section {
  border-top: 0;
}

.cp-search__results-pagination {
  margin-top: 47px;
  margin-top: 4.7rem;
  text-align: center;
}

.cp-search__results-pagination .is-mo {
  display: none;
}

@media (max-width: 1023px) {
  .cp-search__inner {
    padding: 0 58px;
    padding: 0 5.8rem;
  }
}

@media screen and (max-width: 767px) {
  .cp-search__inner {
    padding: 0 30px;
    padding: 0 3rem;
  }
  .cp-search__head {
    width: 100%;
  }
  .cp-search__head .search-title {
    font-size: 40px;
    font-size: 4rem;
    text-align: left;
  }
  .cp-search__search {
    margin-top: 16px;
    margin-top: 1.6rem;
  }
  .cp-search__search .cm-input-text__input, .cp-search__search .cm-input-text__label, .cp-search__search .cm-input-text.type-search .ico-search {
    height: 43px;
    height: 4.3rem;
  }
  .cp-search__search .cm-input-text__input, .cp-search__search .cm-input-text__label {
    font-size: 16px;
    font-size: 1.6rem;
    text-align: left;
  }
  .cp-search__search .cm-input-text__input {
    padding: 0;
  }
  .cp-search__search .cm-input-text__label {
    padding: 12px 28px 0 0;
    padding: 1.2rem 2.8rem 0 0;
  }
  .cp-search__search .cm-input-text.type-search .ico-search {
    padding-top: 8px;
    padding-top: 0.8rem;
  }
  .cp-search__search .cm-input-text.type-search .ico-search:before {
    width: 20px;
    width: 2rem;
    height: 20px;
    height: 2rem;
  }
  .cp-search__search-popular {
    width: 100%;
    margin-top: 11px;
    margin-top: 1.1rem;
  }
  .cp-search__search-popular-title {
    width: 80px;
    width: 8rem;
    padding: 0 20px 0 0;
    padding: 0 2rem 0 0;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-search__search-popular-title:after {
    top: 7px;
    top: 0.7rem;
    height: 12px;
    height: 1.2rem;
  }
  .cp-search__search-popular-item {
    padding: 0 0 0 9px;
    padding: 0 0 0 0.9rem;
  }
  .cp-search__search-popular-item .search-item {
    padding: 0 11px;
    padding: 0 1.1rem;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-search__body {
    margin-top: 57px;
    margin-top: 5.7rem;
  }
  .cp-search__relevant {
    margin-top: 73px;
    margin-top: 7.3rem;
  }
  .cp-search__relevant-title {
    padding-bottom: 17px;
    padding-bottom: 1.7rem;
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 26px;
    line-height: 2.6rem;
  }
  .cp-search__relevant-cta {
    margin-top: 30px;
    margin-top: 3rem;
  }
  .cp-search__addinfo-list {
    margin: 30px 0 0;
    margin: 3rem 0 0;
  }
  .cp-search__addinfo-item {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-top: 2rem;
    padding: 0;
  }
  .cp-search__addinfo-item, .cp-search__addinfo-item:nth-child(-n+3) {
    margin-top: 10px;
    margin-top: 1rem;
  }
  .cp-search__addinfo-item:first-child {
    margin-top: 0;
  }
  .cp-search__addinfo-link {
    height: 80px;
    height: 8rem;
    padding: 10px 38px 10px 26px;
    padding: 1rem 3.8rem 1rem 2.6rem;
  }
  .cp-search__addinfo-link:after {
    right: 25px;
    right: 2.5rem;
    width: 7px;
    width: 0.7rem;
    height: 10px;
    height: 1rem;
    margin-top: -5px;
    margin-top: -0.5rem;
  }
  .cp-search__addinfo-icon {
    width: 30px;
    width: 3rem;
  }
  .cp-search__addinfo-text {
    padding-left: 18px;
    padding-left: 1.8rem;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 18px;
    line-height: 1.8rem;
  }
  .cp-search__media-list {
    margin: 30px -10px 0;
    margin: 3rem -1rem 0;
  }
  .cp-search__media-item {
    width: 50%;
    padding: 0 10px;
    padding: 0 1rem;
  }
  .cp-search__media-item, .cp-search__media-item:nth-child(-n+3) {
    margin-top: 20px;
    margin-top: 2rem;
  }
  .cp-search__media-item:nth-child(-n+2) {
    margin-top: 0;
  }
  .cp-search__media-item .video-icon {
    width: 23.05%;
    padding-top: 23.05%;
  }
  .cp-search__results-item {
    padding: 28px 0 23px;
    padding: 2.8rem 0 2.3rem;
  }
  .cp-search__results .page-title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-search__results .page-desc {
    margin-top: 11px;
    margin-top: 1.1rem;
    max-height: 69px;
    max-height: 6.9rem;
    line-height: 24px;
    line-height: 2.4rem;
    -webkit-line-clamp: 3;
  }
  .cp-search__results .page-link {
    margin-top: 9px;
    margin-top: 0.9rem;
    line-height: 24px;
    line-height: 2.4rem;
  }
  .cp-search__results-pagination {
    margin-top: 26px;
    margin-top: 2.6rem;
  }
  .cp-search__results-pagination .is-pc {
    display: none;
  }
  .cp-search__results-pagination .is-mo {
    display: block;
  }
}
