<!DOCTYPE html>
<html lang="ko">
<head>
<title>Test Drive Schedule Closure Popup</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="cm-layer type-alert test-drive-schedule-closure-popup js-cm-layer" id="test-drive-schedule-closure-popup">
        <span class="cm-layer__dimmed"></span>
        <div class="cm-layer__body">
            <div class="cm-layer__wrapper" role="dialog">
                <div class="cm-layer__title">
                    <strong>일정 마감</strong>
                </div>
                <div class="cm-layer__content">
                    <div class="cm-layer__message">
                        <p>선택하신 시승 일정이 마감되었습니다.<br> 다른 일정을 선택해주세요.</p>
                    </div>
                    <div class="cm-layer__cta">
                        <button type="button" class="cm-btn js-layer-closer">
                            <span class="text">확인</span>
                            <span class="masker"><span>확인</span></span>
                        </button>
                    </div>
                </div>
                <div class="cm-layer__close-wrap">
                    <button type="button" class="js-layer-closer">
                        <span class="js-svg-icon" data-icon="svg-cross"></span>
                        <span class="blind">Close popup</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
<script>
$(function () {
    //open
    $('#test-drive-schedule-closure-popup').trigger('openLayer');
    //close
    // $('#test-drive-schedule-closure-popup').trigger('closeLayer');
});
</script>
</body>
</html>
