<!DOCTYPE html>
<html>
<head>
<title>Tab Accordion</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1920px;margin:0 auto; font-size:16px;padding:20px 0">
        <p>1) 너비 옵션 : 1600-> .type-layout1 / 1080-> .type-layout2</p>
        <p>2) 이미지 좌/우 정렬 : (default 정렬) / .align-img-right</p>
    </div>

    <!-- component -->
    <div class="type-light">
        <div class="cp-accordion type-layout2" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="cp-accordion__inner">
                <div class="cp-accordion__media js-animate">
                    <div class="cp-accordion__media-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cp-accordion__content">
                    <div class="cp-accordion__eyebrow js-animate">
                        <strong class="el-eyebrow">Genesis global text</strong>
                    </div>
                    <div class="cp-accordion__accordion">
                        <div class="cm-accordion type-notoggle">
                            <div class="cm-accordion-list">
                                <div class="cm-accordion-item js-animate is-active">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs
                                                <span class="cm-tooltip js-tooltip tooltip-type-light">
                                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                    <span class="cm-tooltip-layer">
                                                        <span class="cm-tooltip-layer__inner">
                                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                        </span>
                                                    </span>
                                                </span>
                                                the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-accordion__cta js-animate">
                        <a href="#" class="cm-btn">
                            <span class="text">Primary Button</span>
                            <span class="masker"><span>Primary Button</span></span>
                        </a>
                    </div>
                    <div class="cp-accordion__disclaimer js-animate">
                        <p class="el-disclaimer">* we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cp-accordion type-layout2 align-img-right" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="cp-accordion__inner">
                <div class="cp-accordion__media js-animate">
                    <div class="cp-accordion__media-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/660x660" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cp-accordion__content">
                    <div class="cp-accordion__eyebrow js-animate">
                        <strong class="el-eyebrow">Genesis global text</strong>
                    </div>
                    <div class="cp-accordion__accordion">
                        <div class="cm-accordion type-notoggle">
                            <div class="cm-accordion-list">
                                <div class="cm-accordion-item js-animate is-active">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs
                                                <span class="cm-tooltip js-tooltip tooltip-type-light">
                                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                    <span class="cm-tooltip-layer">
                                                        <span class="cm-tooltip-layer__inner">
                                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                        </span>
                                                    </span>
                                                </span>
                                                the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-accordion__cta js-animate">
                        <a href="#" class="cm-btn">
                            <span class="text">Primary Button</span>
                            <span class="masker"><span>Primary Button</span></span>
                        </a>
                    </div>
                    <div class="cp-accordion__disclaimer js-animate">
                        <p class="el-disclaimer">* we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-light">
        <div class="cp-accordion type-layout1" data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="cp-accordion__inner">
                <div class="cp-accordion__media js-animate">
                    <div class="cp-accordion__media-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/940x900" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/940x900" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/940x900" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/940x900" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cp-accordion__content">
                    <div class="cp-accordion__eyebrow js-animate">
                        <strong class="el-eyebrow">Genesis global text</strong>
                    </div>
                    <div class="cp-accordion__accordion">
                        <div class="cm-accordion type-notoggle">
                            <div class="cm-accordion-list">
                                <div class="cm-accordion-item js-animate is-active">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs
                                                <span class="cm-tooltip js-tooltip tooltip-type-light">
                                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                    <span class="cm-tooltip-layer">
                                                        <span class="cm-tooltip-layer__inner">
                                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                        </span>
                                                    </span>
                                                </span>
                                                the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-accordion__cta js-animate">
                        <a href="#" class="cm-btn">
                            <span class="text">Primary Button</span>
                            <span class="masker"><span>Primary Button</span></span>
                        </a>
                    </div>
                    <div class="cp-accordion__disclaimer js-animate">
                        <p class="el-disclaimer">* we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-dark">
        <div class="cp-accordion type-layout1 align-img-right"  data-global-text='{
            "Expand" : "Click to expand",
            "Collapse" : "Click to collapse"
        }'>
            <div class="cp-accordion__inner">
                <div class="cp-accordion__media js-animate">
                    <div class="cp-accordion__media-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="video-container">
                                            <video muted playsinline preload="none">
                                                <source src="/apps/components/tab-accordion/imgs/@dummy-video.mp4" type="video/mp4">
                                            </video>
                                            <div class="video-button-play"><button type="button"><span class="blind">Play video</span></button></div>
                                            <div class="video-button-pause"><button type="button"><span class="blind">Pause video</span></button></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/940x900" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/940x900" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="slide-inner">
                                        <div class="js-picture">
                                            <img data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/940x900" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/630x472" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cp-accordion__content">
                    <div class="cp-accordion__eyebrow js-animate">
                        <strong class="el-eyebrow">Genesis global text</strong>
                    </div>
                    <div class="cp-accordion__accordion">
                        <div class="cm-accordion type-notoggle">
                            <div class="cm-accordion-list">
                                <div class="cm-accordion-item js-animate is-active">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and <span class="cm-tooltip js-tooltip">
                                                <a href="#" class="cm-tooltip-opener" aria-expanded="false">around</a>
                                                <span class="cm-tooltip-layer">
                                                    <span class="cm-tooltip-layer__inner">
                                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                        <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                                    </span>
                                                </span>
                                            </span> for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cm-accordion-item js-animate">
                                    <a href="#" class="cm-accordion-btn">Genesis global text<span class="blind"></span><span class="ico-accordion"></span></a>
                                    <div class="cm-accordion-panel">
                                        <div class="cm-accordion-panel-inner">
                                            <p>we strive to create the finest automobiles and related products and services for connoisseurs around the globe we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cp-accordion__cta js-animate">
                        <a href="#" class="cm-btn">
                            <span class="text">Primary Button</span>
                            <span class="masker"><span>Primary Button</span></span>
                        </a>
                    </div>
                    <div class="cp-accordion__disclaimer js-animate">
                        <p class="el-disclaimer">* we strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
