<!DOCTYPE html>
<html>
<head>
<title>Full Width Image & Quote</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="cp-text-quote">
            <div class="cp-text-quote__inner">
                <div class="cp-text-quote__img">
                    <div class="js-picture js-animate-picture">
                        <div class="js-img-bg" data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1920x960"></div>
                        <div class="js-img-bg" data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x1120"></div>
                    </div>
                </div>
                <div class="cp-text-quote__content">
                    <div class="cp-text-quote__content-inner">
                        <div class="cp-text-quote__eyebrow js-animate">
                            <p class="el-eyebrow">Genesis global text</p>
                        </div>
                        <div class="cp-text-quote__title js-animate">
                            <h2 class="el-title">
                                <span class="display-pc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</span>
                                <span class="display-mo">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</span>
                            </h2>
                        </div>
                        <div class="cp-text-quote__cta js-animate">
                            <a href="#" class="cm-btn">
                                <span class="text">Primary Button</span>
                                <span class="masker"><span>Primary Button</span></span>
                            </a>
                            <a href="#" class="cm-btn">
                                <span class="text">Secondary Button</span>
                                <span class="masker"><span>Secondary Button</span></span>
                            </a>
                        </div>
                        <div class="cp-text-quote__disclaimer js-animate">
                            <p class="el-disclaimer">* We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                        </div>
                    </div>
                    <div class="cp-text-quote__img-right js-animate">
                        <div class="js-picture">
                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/660x370" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->

    <!-- component -->
    <div class="type-dark">
        <div class="cp-text-quote">
            <div class="cp-text-quote__inner">
                <div class="cp-text-quote__img">
                    <div class="js-picture js-animate-picture">
                        <div class="js-img-bg" data-media="(min-width: 768px)" data-srcset="http://via.placeholder.com/1920x960"></div>
                        <div class="js-img-bg" data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/750x1120"></div>
                    </div>
                </div>
                <div class="cp-text-quote__content">
                    <div class="cp-text-quote__content-inner">
                        <div class="cp-text-quote__eyebrow js-animate">
                            <p class="el-eyebrow">Genesis global text</p>
                        </div>
                        <div class="cp-text-quote__title js-animate">
                            <h2 class="el-title">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</h2>
                        </div>
                        <div class="cp-text-quote__cta js-animate">
                            <a href="#" class="cm-btn">
                                <span class="text">Primary Button</span>
                                <span class="masker"><span>Primary Button</span></span>
                            </a>
                            <a href="#" class="cm-btn">
                                <span class="text">Secondary Button</span>
                                <span class="masker"><span>Secondary Button</span></span>
                            </a>
                        </div>
                        <div class="cp-text-quote__disclaimer js-animate">
                            <p class="el-disclaimer">* We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                        </div>
                    </div>
                    <div class="cp-text-quote__img-right js-animate">
                        <div class="js-picture">
                            <img data-media="(min-width: 0px)" data-srcset="http://via.placeholder.com/660x370" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<script src="clientlibs/js/main.js"></script>
</body>
</html>
