<!DOCTYPE html>
<html lang="ko">
<head>
<title>Test Drive Total History Popup</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
<style>
    .js-layer-opener { display:inline-block; padding: 10px 3px; font-size: 18px; }
</style>
</head>
<body>
<div id="wrap" style="background: #fff;">
    <a href="#" class="js-layer-opener" data-layer-target="#testdrive-total-history-layer">Test Drive Total History Popup</a>
    <!-- component -->
    <div class="cm-layer type-alert testdrive-total-history-popup js-cm-layer" id="testdrive-total-history-layer">
        <span class="cm-layer__dimmed"></span>
        <div class="cm-layer__body">
            <div class="cm-layer__wrapper" role="dialog">
                <div class="cm-layer__title">
                    <strong>전체 내역 보기</strong>
                </div>
                <div class="cm-layer__content">
                    <div class="testdrive-total-history-popup__content">
                        <div class="testdrive-total-history-popup__desc">
                            <p>최근 3개월 동안의 시승 신청 이력입니다</p>
                        </div>
                        <div class="testdrive-total-history-popup__history-wrap">
                            <div class="testdrive-total-history-popup__history">
                                <div class="testdrive-total-history-popup__info">
                                    <em class="history-date">2020.03.10</em>
                                    <p class="history-info">
                                        <span class="history-time">10:00 ~ 12:00</span>
                                        <span class="history-place">강남 (02-3452-7365)</span>
                                    </p>
                                </div>
                                <div class="testdrive-total-history-popup__table cm-table type-column">
                                    <table>
                                        <caption>시승 신청 이력</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">시승 차량</th>
                                                <th scope="col">시승 구분</th>
                                                <th scope="col">상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>G70</td>
                                                <td>방문 시승</td>
                                                <td>취소</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="testdrive-total-history-popup__history">
                                <div class="testdrive-total-history-popup__info">
                                    <em class="history-date">2020.03.10</em>
                                    <p class="history-info">
                                        <span class="history-time">10:00 ~ 12:00</span>
                                        <span class="history-place">강남 (02-3452-7365)</span>
                                    </p>
                                </div>
                                <div class="testdrive-total-history-popup__table cm-table type-column">
                                    <table>
                                        <caption>시승 신청 이력</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">시승 차량</th>
                                                <th scope="col">시승 구분</th>
                                                <th scope="col">상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>G70</td>
                                                <td>찾아가는 시승</td>
                                                <td>완료</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="testdrive-total-history-popup__history">
                                <div class="testdrive-total-history-popup__info">
                                    <em class="history-date">2020.03.10</em>
                                    <p class="history-info">
                                        <span class="history-time">10:00 ~ 12:00</span>
                                        <span class="history-place">강남 (02-3452-7365)</span>
                                    </p>
                                </div>
                                <div class="testdrive-total-history-popup__table cm-table type-column">
                                    <table>
                                        <caption>시승 신청 이력</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">시승 차량</th>
                                                <th scope="col">시승 구분</th>
                                                <th scope="col">상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>G70</td>
                                                <td>방문 시승</td>
                                                <td>마감 (미방문)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="testdrive-total-history-popup__history">
                                <div class="testdrive-total-history-popup__info">
                                    <em class="history-date">2020.03.10</em>
                                    <p class="history-info">
                                        <span class="history-time">10:00 ~ 12:00</span>
                                        <span class="history-place">강남 (02-3452-7365)</span>
                                    </p>
                                </div>
                                <div class="testdrive-total-history-popup__table cm-table type-column">
                                    <table>
                                        <caption>시승 신청 이력</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">시승 차량</th>
                                                <th scope="col">시승 구분</th>
                                                <th scope="col">상태</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>G70</td>
                                                <td>방문 시승</td>
                                                <td>대기</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cm-layer__cta">
                        <button type="button" class="cm-btn type2 js-layer-closer">
                            <span class="text">확인</span>
                            <span class="masker"><span>확인</span></span>
                        </button>
                    </div>
                </div>
                <div class="cm-layer__close-wrap">
                    <button type="button" class="js-layer-closer">
                        <span class="js-svg-icon" data-icon="svg-cross"></span>
                        <span class="blind">Close popup</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
