<!DOCTYPE html>
<html lang="ko">
<head>
<title>Image Links With Cta</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="guide" style="max-width:1920px;margin:0 auto; font-size:16px;padding:20px 0">
        <dl>
        <dt style="margin-top:10px">1) width 옵션 (Add to .cp-image-links-cta)</dt>
        <dd>- 1600 : .type-layout1</dd>
        <dd>- 1080 : .type-layout2</dd>
        <dt style="margin-top:10px">2) color theme</dt>
        <dd>- type-dark (width 1600 옵션일 경우 선택가능)</dd>
        <dd>- type-light</dd>
        <dt style="margin-top:10px">3) text align (Add to .cp-image-links-cta)</dt>
        <dd>- Top : (default)</dd>
        <dd>- Bottom : .text-align-bottom</dd>
        </dl>
    </div>

    <!-- component -->
    <div class="type-light">
        <div class="cp-image-links-cta type-layout1">
            <div class="cp-image-links-cta__inner">
                <ul class="cp-image-links-cta__item-list">
                <li class="cp-image-links-cta__item">
                    <div class="cp-image-links-cta__item-inner">
                        <div class="cp-image-links-cta__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 1024px)" data-srcset="imgs/@image-pc1.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="imgs/@image-mo1.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links-cta__content">
                            <div class="cp-image-links-cta__content-inner">
                                <strong class="el-title">
                                    <span class="display-pc">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                    <span class="display-mo">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                </strong>
                                <p class="el-desc">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아
                                    <span class="cm-tooltip js-tooltip tooltip-type-light">
                                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">얼음이</a>
                                        <span class="cm-tooltip-layer">
                                            <span class="cm-tooltip-layer__inner">까다롭게 엄선된 오픈포어 리얼우드를 적용하여 부드러우면서도 실제 천연 원목의 질감을 살려 프리미엄함을 연출합니다.
                                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                            </span>
                                        </span>
                                    </span>
                                    곳이 약동하다. 가장 이상은 많이 내는 생명을</p>
                                <a href="#" class="cm-btn-more type-white is-default" title="자세히 보기"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cp-image-links-cta__item">
                    <div class="cp-image-links-cta__item-inner">
                        <div class="cp-image-links-cta__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 1024px)" data-srcset="imgs/@image-pc2.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="imgs/@image-mo2.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links-cta__content">
                            <div class="cp-image-links-cta__content-inner">
                                <strong class="el-title">
                                    <span class="display-pc">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                    <span class="display-mo">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                </strong>
                                <p class="el-desc">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 
                                    <span class="cm-tooltip js-tooltip tooltip-type-light">
                                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">사막이다.</a>
                                        <span class="cm-tooltip-layer">
                                            <span class="cm-tooltip-layer__inner">까다롭게 엄선된 오픈포어 리얼우드를 적용하여 부드러우면서도 실제 천연 원목의 질감을 살려 프리미엄함을 연출합니다.
                                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                            </span>
                                        </span>
                                    </span>
                                    봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을</p>
                                <a href="#" class="cm-btn-more type-white is-default" title="자세히 보기"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height:100px;"></div>
    <div class="type-dark">
        <div class="cp-image-links-cta type-layout1 text-align-bottom">
            <div class="cp-image-links-cta__inner">
                <ul class="cp-image-links-cta__item-list">
                <li class="cp-image-links-cta__item">
                    <div class="cp-image-links-cta__item-inner">
                        <div class="cp-image-links-cta__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 1024px)" data-srcset="http://via.placeholder.com/960x540" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x1000" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links-cta__content">
                            <div class="cp-image-links-cta__content-inner">
                                <strong class="el-title">
                                    <span class="display-pc">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                    <span class="display-mo">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                </strong>
                                <p class="el-desc">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, <span class="cm-tooltip js-tooltip">
                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">과실이</a>
                                    <span class="cm-tooltip-layer">
                                        <span class="cm-tooltip-layer__inner">까다롭게 엄선된 오픈포어 리얼우드를 적용하여 부드러우면서도 실제 천연 원목의 질감을 살려 프리미엄함을 연출합니다.
                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                        </span>
                                    </span>
                                </span>
                                오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을</p>
                                <a href="#" class="cm-btn-more type-white is-default" title="자세히 보기"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cp-image-links-cta__item">
                    <div class="cp-image-links-cta__item-inner">
                        <div class="cp-image-links-cta__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 1024px)" data-srcset="http://via.placeholder.com/960x540" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/750x1000" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links-cta__content">
                            <div class="cp-image-links-cta__content-inner">
                                <strong class="el-title">
                                    <span class="display-pc">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                    <span class="display-mo">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                </strong>
                                <p class="el-desc">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을</p>
                                <a href="#" class="cm-btn-more type-white is-default" title="자세히 보기"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="height:100px;"></div>
    <div class="type-light">
        <div class="cp-image-links-cta type-layout2">
            <div class="cp-image-links-cta__inner">
                <ul class="cp-image-links-cta__item-list">
                <li class="cp-image-links-cta__item">
                    <div class="cp-image-links-cta__item-inner">
                        <div class="cp-image-links-cta__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 1024px)" data-srcset="http://via.placeholder.com/520x390" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x840" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links-cta__content">
                            <div class="cp-image-links-cta__content-inner">
                                <strong class="el-title">
                                    <span class="display-pc">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                    <span class="display-mo">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                </strong>
                                <p class="el-desc">작고 바이며, 바이며, 교향악이다. 싹이 <span class="cm-tooltip js-tooltip tooltip-type-light">
                                    <a href="#" class="cm-tooltip-opener" aria-expanded="false">별과</a>
                                    <span class="cm-tooltip-layer">
                                        <span class="cm-tooltip-layer__inner">까다롭게 엄선된 오픈포어 리얼우드를 적용하여 부드러우면서도 실제 천연 원목의 질감을 살려 프리미엄함을 연출합니다.
                                            <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                                        </span>
                                    </span>
                                </span>
                                기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을</p>
                                <a href="#" class="cm-btn-more type-white is-default" title="자세히 보기"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cp-image-links-cta__item">
                    <div class="cp-image-links-cta__item-inner">
                        <div class="cp-image-links-cta__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 1024px)" data-srcset="http://via.placeholder.com/520x390" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="http://via.placeholder.com/630x840" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links-cta__content">
                            <div class="cp-image-links-cta__content-inner">
                                <strong class="el-title">
                                    <span class="display-pc">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                    <span class="display-mo">작고 바이며, 바이며, 교향악이다. 싹이</span>
                                </strong>
                                <p class="el-desc">작고 바이며, 바이며, 교향악이다. 싹이 별과 기쁘며, 과실이 오직 사막이다. 봄날의 물방아 얼음이 곳이 약동하다. 가장 이상은 많이 내는 생명을</p>
                                <a href="#" class="cm-btn-more type-white is-default" title="자세히 보기"><span>자세히 보기</span></a>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>