<!DOCTYPE html>
<html>
<head>
<title>Title 2 Column Text</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div style="font-size:16px;padding:20px 0">
        <p>1) desc 옵션 : (default) / .type-2desc (Primiry Column Description이 존재할 경우) </p>
        <p>2) color theme : type-dark / type-light</p>
    </div>

    <!-- component (Primary Column Description 존재하지 않을 경우) -->
    <div class="type-dark">
        <div class="two-column">
            <div class="two-column__inner">
                <strong class="two-column__title">Genesis global text</strong>
                <div class="two-column-secondary">
                    <p class="two-column__desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe <span class="cm-tooltip js-tooltip">
                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">text</a>
                        <span class="cm-tooltip-layer">
                            <span class="cm-tooltip-layer__inner">We strive to create the finest automobiles and related products and services for connoisseurs around the globe
                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                            </span>
                        </span>
                    </span> We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    <div class="two-column__bullet-title">Genesis global text</div>
                    <ul class="two-column__bullet-list">
                    <li class="two-column__bullet-item"><span class="cm-tooltip js-tooltip">
                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">text</a>
                        <span class="cm-tooltip-layer">
                            <span class="cm-tooltip-layer__inner">We strive to create the finest automobiles and related products and services for connoisseurs around the globe
                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                            </span>
                        </span>
                    </span> Genesis global text</li>
                    <li class="two-column__bullet-item">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</li>
                    <li class="two-column__bullet-item">Genesis global text</li>
                    <li class="two-column__bullet-item">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
    <!-- component (Primary Column Description 존재할 경우) -->
    <div class="type-light">
        <div class="two-column type-2desc">
            <div class="two-column__inner">
                <strong class="two-column__title">Genesis global text</strong>
                <!-- [D] Primary Column Description이 존재할 경우 -->
                <!-- Primary Column Description -->
                <div class="two-column-primary">
                    <p class="two-column__desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    <div class="two-column__bullet-title">Genesis global text</div>
                    <ul class="two-column__bullet-list">
                    <li class="two-column__bullet-item"><span class="cm-tooltip js-tooltip">
                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">text</a>
                        <span class="cm-tooltip-layer">
                            <span class="cm-tooltip-layer__inner">We strive to create the finest automobiles and related products and services for connoisseurs around the globe
                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                            </span>
                        </span>
                    </span> Genesis global text</li>
                    <li class="two-column__bullet-item">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</li>
                    <li class="two-column__bullet-item">Genesis global text</li>
                    <li class="two-column__bullet-item">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</li>
                    </ul>
                </div>
                <!-- //Primary Column Description -->
                <div class="two-column-secondary">
                    <p class="two-column__desc">We strive to create the finest automobiles and related products and services for connoisseurs around the globe <span class="cm-tooltip js-tooltip">
                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">text</a>
                        <span class="cm-tooltip-layer">
                            <span class="cm-tooltip-layer__inner">We strive to create the finest automobiles and related products and services for connoisseurs around the globe
                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                            </span>
                        </span>
                    </span> We strive to create the finest automobiles and related products and services for connoisseurs around the globe</p>
                    <div class="two-column__bullet-title">Genesis global text</div>
                    <ul class="two-column__bullet-list">
                    <li class="two-column__bullet-item"><span class="cm-tooltip js-tooltip">
                        <a href="#" class="cm-tooltip-opener" aria-expanded="false">text</a>
                        <span class="cm-tooltip-layer">
                            <span class="cm-tooltip-layer__inner">We strive to create the finest automobiles and related products and services for connoisseurs around the globe
                                <a href="#" class="cm-tooltip-close"><span class="js-svg-icon" data-icon="svg-cross"></span><span class="blind">close tooltip</span></a>
                            </span>
                        </span>
                    </span> Genesis global text</li>
                    <li class="two-column__bullet-item">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</li>
                    <li class="two-column__bullet-item">Genesis global text</li>
                    <li class="two-column__bullet-item">We strive to create the finest automobiles and related products and services for connoisseurs around the globe</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
</body>
</html>
