<!DOCTYPE html>
<html>
<head>
<title>Image Links</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-dark">
        <div class="cp-image-links">
            <div class="cp-image-links__inner">
                <ul class="cp-image-links__item-list">
                <li class="cp-image-links__item">
                    <a href="#" class="cp-image-links__item-link" title="Lorem ipsum">
                        <div class="cp-image-links__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="imgs/@img1.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="imgs/@img1.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links__content">
                            <div class="cp-image-links__content-inner">
                                <p class="el-eyebrow">Genesis global text</p>
                                <strong class="el-title">Genesis global text</strong>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="cp-image-links__item">
                    <a href="#" class="cp-image-links__item-link" title="Lorem ipsum">
                        <div class="cp-image-links__img">
                            <div class="js-picture">
                                <img data-media="(min-width: 768px)" data-srcset="imgs/@img2.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                                <img data-media="(min-width: 0)" data-srcset="imgs/@img2.jpg" src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/resources/images/blank.gif" alt="">
                            </div>
                        </div>
                        <div class="cp-image-links__content">
                            <div class="cp-image-links__content-inner">
                                <p class="el-eyebrow">Genesis global text</p>
                                <strong class="el-title">Genesis global text</strong>
                            </div>
                        </div>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- // component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
