<!DOCTYPE html>
<html lang="ko">
<head>
<title>Customer Notice</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* support css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-supportpage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <!-- component -->
    <div class="type-light">
        <div class="customer-notice">
            <div class="customer-notice__inner">
                <ul class="customer-notice__list">
                <li class="customer-notice__item">
                    <div class="customer-notice__label">
                        <em class="cm-label"><span class="text">GV80</span></em>
                        <em class="cm-label"><span class="text">G70</span></em>
                    </div>
                    <strong class="customer-notice__title"><a href="#">호주에 상륙한 제네시스 열기! 제네시스, 2019 프레지던츠컵 공식 차량 후원 성료 제네시스</a></strong>
                    <p class="customer-notice__desc">IIHS는 1959년 설립된 비영리단체로, 매년 출시된 수 백대의 차량의 충돌 안정 성능과 충돌 예방 성능을 종합적으로 평가해 결과를 발표 IIHS는 1959년 설립된 비영리단체로, 매년 출시된 수 백대의 차량의 충돌 안정 성능과 충돌 예방 성능을 종합적으로 평가해 결과를 발표</p>
                    <div class="customer-notice__date">2020.03.09</div>
                </li>
                <li class="customer-notice__item">
                    <div class="customer-notice__label">
                        <em class="cm-label"><span class="text">GV80</span></em>
                        <em class="cm-label"><span class="text">G70</span></em>
                    </div>
                    <strong class="customer-notice__title"><a href="#">제네시스 커넥티드 서비스 신규 로그인 이벤트</a></strong>
                    <p class="customer-notice__desc">IIHS는 1959년 설립된 비영리단체로, 매년 출시된 수 백대의 차량의 충돌 안정 성능과 충돌 예방 성능을 종합적으로 평가해 결과를 발표 IIHS는 1959년 설립된 비영리단체로, 매년 출시된 수 백대의 차량의 충돌 안정 성능과 충돌 예방 성능을 종합적으로 평가해 결과를 발표</p>
                    <div class="customer-notice__date">2020.03.09</div>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //component -->
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
</body>
</html>
