<!DOCTYPE html>
<html lang="ko">
<head>
<title>신청 완료</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!--/* common css */-->
<link rel="stylesheet" type="text/css" href="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/css/main.css">
<!--/* component css */-->
<link rel="stylesheet" type="text/css" href="clientlibs/css/main.css">
</head>
<body>
<div id="wrap">
    <div class="cm-apply-complete">
        <div class="cm-apply-complete__inner">
            <div class="cm-apply-complete__content">
                <div class="cm-layout__notify is-success">
                    <strong class="notify-title">시승 신청이 완료되었습니다.</strong>
                    <p class="notify-desc">시승센터에서 예약 확인을 위해 <br class="mo-space">연락드릴 예정입니다. <br class="pc-space">감사합니다.</p>
                </div>
                <div class="cm-layout__cta">
                    <a href="#" class="cm-btn js-layer-opener" data-layer-target="#testdrive-history-layer">
                        <span class="text">신청 내역 조회 / 취소</span>
                        <span class="masker"><span>신청 내역 조회 / 취소</span></span>
                    </a>
                </div>
                <div class="cm-layout__btn">
                    <div class="cm-layout__btn-inner">
                        <a href="#" class="cm-btn-more is-default"><span>제네시스만의 특별한 멤버십 혜택</span></a>
                    </div>
                    <div class="cm-layout__btn-inner">
                        <a href="#" class="cm-btn-more is-default"><span>이달의 구매 프로모션</span></a>
                    </div>
                    <div class="cm-layout__btn-inner">
                        <a href="#" class="cm-btn-more is-default"><span>매월 바꿔 타는 구독 프로그램</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/* common js */-->
<script src="/etc.clientlibs/gmc/global/clientlibs/clientlib-basepage/js/main.js"></script>
<!--/* component js */-->
<!-- <script src="clientlibs/js/main.js"></script> -->
</body>
</html>
